Repository marigold-ui/marigold, changes with the labels that .github/labeler.yml gives for each.
All labels: type:feature, type:infrastructure, type:docs

.github/labeler.yml:

'type:feature':
  - packages/*
  - packages/**/*
  - themes/**/src/index.ts

'type:infrastructure':
  - config/*
  - config/**/*

'type:docs':
  - docs/*
  - docs/**/*

Revert "fix(deps): update typescript-eslint monorepo to v4.25.0" (#1085)
  config/eslint/package.json
Labels: type:infrastructure

Revert "chore(deps): update dependency typescript to v4.3.2 (#1067)"
  config/jest/package.json
  package.json
Labels: type:infrastructure

Revert "chore(deps): update dependency typescript to v4.3.2" (#1086)
  config/jest/package.json
  package.json
Labels: type:infrastructure

fix repo
  yarn.lock
Labels: none

chore(renovate): Remove kodiak and let renovate automerge
  .github/renovate.json
  .kodiak.toml
  renovate.json
Labels: none

feat: Move pages out of source (#1088)
  .github/renovate.json
  .kodiak.toml
  renovate.json
Labels: none

yarn lock update
  yarn.lock
Labels: none

change mdx files folder structure + start page (#1063)
  docs/content/foundation/design-language/theming.mdx
  docs/content/foundation/design-tokens/colors.mdx
  docs/content/foundation/design-tokens/icons.mdx
  docs/content/start.mdx
  docs/src/components/Navigation.tsx
  docs/src/pages/index.tsx
Labels: type:docs

remove navi links without page
  docs/src/components/Navigation.tsx
Labels: type:docs

docs: change showHideButton style
  docs/src/components/ShowHideButton.tsx
Labels: type:docs

docs: add component pages without useStylesHook (#1078)
  docs/content/components/alert.mdx
  docs/content/components/badge.mdx
  docs/content/components/box.mdx
  docs/content/components/button.mdx
  docs/content/components/divider.mdx
  docs/content/components/heading.mdx
  docs/content/components/input.mdx
  docs/content/components/label.mdx
  docs/content/components/link.mdx
  docs/content/components/menuItem.mdx
  docs/content/components/message.mdx
  docs/content/components/select.mdx
  docs/content/components/slider.mdx
  docs/content/components/text.mdx
  docs/content/components/textarea.mdx
  docs/content/components/validationMessage.mdx
  docs/src/components/Navigation.tsx
Labels: type:docs

docs: change showHideButton style (#1089)
  docs/src/components/ShowHideButton.tsx
Labels: type:docs

fix(eslint): Repair weird eslint incompatibilities
  .yarn/releases/yarn-2.4.1.cjs
  .yarnrc.yml
  config/eslint/index.js
  config/eslint/package.json
  package.json
  yarn.lock
Labels: type:infrastructure

fix(deps): update dependency gatsby to v3.6.2
  docs/package.json
  yarn.lock
Labels: type:docs

fix(deps): update typescript-eslint monorepo to v4.26.0
  config/eslint/package.json
  yarn.lock
Labels: type:infrastructure

fix(deps): update jest monorepo
  config/jest/package.json
  yarn.lock
Labels: type:infrastructure

chore(deps): update all
  config/eslint/package.json
  config/jest/package.json
  docs/package.json
  package.json
  packages/types/package.json
Labels: type:feature, type:infrastructure, type:docs

fix error
  config/jest/package.json
Labels: type:infrastructure

chore(deps): update all
  config/eslint/package.json
  config/jest/package.json
  docs/package.json
  package.json
  packages/types/package.json
Labels: type:feature, type:infrastructure, type:docs

add column
  docs/content/components/column.mdx
  docs/src/components/Navigation.tsx
Labels: type:docs

fix(eslint): Repair weird eslint incompatibilities (#1090)
  .yarn/releases/yarn-2.4.1.cjs
  .yarnrc.yml
  config/eslint/index.js
  config/eslint/package.json
  package.json
  yarn.lock
Labels: type:infrastructure

chore(deps): update all
  config/jest/package.json
  package.json
  yarn.lock
Labels: type:infrastructure

docs: add mdx pages to gatsby marigold
  docs/content/components/column.mdx
  docs/content/components/columns.mdx
  docs/content/components/container.mdx
  docs/content/components/dialog.mdx
  docs/content/components/field.mdx
  docs/content/components/hidden.mdx
  docs/content/components/menu.mdx
  docs/content/components/radio.mdx
  docs/content/components/stack.mdx
  docs/src/components/Navigation.tsx
Labels: type:docs

wip: checkbox
  docs/content/components/checkbox.mdx
  packages/components/src/Checkbox/Checkbox.stories.mdx
Labels: type:feature, type:docs

docs: make CodeBlock better + more flexible
  docs/content/components/badge.mdx
  docs/src/components/CodeBlock.tsx
  docs/src/components/ShowHideButton.tsx
Labels: type:docs

fix
  docs/content/components/badge.mdx
Labels: type:docs

docs: add mdx component pages to gatsby marigold (#1097)
  docs/content/components/column.mdx
  docs/content/components/columns.mdx
  docs/content/components/container.mdx
  docs/content/components/dialog.mdx
  docs/content/components/field.mdx
  docs/content/components/hidden.mdx
  docs/content/components/menu.mdx
  docs/content/components/radio.mdx
  docs/content/components/stack.mdx
  docs/src/components/Navigation.tsx
Labels: type:docs

docs: make CodeBlock better + more flexible (#1098)
  docs/src/components/CodeBlock.tsx
  docs/src/components/ShowHideButton.tsx
Labels: type:docs

Revert "docs: make CodeBlock better + more flexible (#1098)"
  docs/src/components/CodeBlock.tsx
  docs/src/components/ShowHideButton.tsx
Labels: type:docs

chore(deps): pin dependency eslint to v7.27.0
  package.json
  yarn.lock
Labels: none

fix(deps): update typescript-eslint monorepo to v4.26.1
  config/eslint/package.json
  yarn.lock
Labels: type:infrastructure

fix(deps): update gatsby monorepo
  docs/package.json
  yarn.lock
Labels: type:docs

change to version 0.0.3
  packages/components/package.json
  packages/icons/package.json
  packages/images/package.json
  packages/server/package.json
  packages/system/package.json
  packages/types/package.json
  themes/theme-b2b/package.json
  themes/theme-unicorn/package.json
Labels: type:feature

chore: change to version 0.0.3 (#1107)
  packages/components/package.json
  packages/icons/package.json
  packages/images/package.json
  packages/server/package.json
  packages/system/package.json
  packages/types/package.json
  themes/theme-b2b/package.json
  themes/theme-unicorn/package.json
Labels: type:feature

chore(deps): update all
  config/eslint/package.json
  config/jest/package.json
  docs/package.json
  package.json
  packages/types/package.json
Labels: type:feature, type:infrastructure, type:docs

chore(deps): update all
  config/jest/package.json
  package.json
  yarn.lock
Labels: type:infrastructure

Create gentle-cows-sip.md
  .changeset/gentle-cows-sip.md
Labels: none

chore: Upgrade `yarn` to v 3.0.0-r2
  .yarn/releases/yarn-2.4.1.cjs
  .yarn/releases/yarn-3.0.0-rc.2.cjs
  .yarnrc.yml
  yarn.lock
Labels: none

chore: Upgrade `yarn` to v 3.0.0-r2 (#1108)
  .yarn/releases/yarn-2.4.1.cjs
  .yarn/releases/yarn-3.0.0-rc.2.cjs
  .yarnrc.yml
  yarn.lock
Labels: none

fix checkbox test
  packages/components/src/Checkbox/Checkbox.test.tsx
Labels: type:feature
