Repository marigold-ui/marigold, changes with the labels that .github/labeler.yml gives for each.
All labels: type:feature, type:infrastructure, type:docs

.github/labeler.yml:

'type:feature':
  - packages/*
  - packages/**/*
  - themes/**/src/index.ts

'type:infrastructure':
  - config/*
  - config/**/*

'type:docs':
  - docs/*
  - docs/**/*

feat(types): Clarify and improve as prop related types
  packages/components/src/Box/Box.tsx
  packages/types/package.json
  packages/types/src/example.tsx
  packages/types/src/index.ts
Labels: type:feature

add changeset
  .changeset/spicy-months-behave.md
Labels: none

ignore types to collect test coverage
  jest.config.js
Labels: none

cherry pick new types
  packages/components/src/Box/Box.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/Text/Text.tsx
  packages/types/src/index.ts
Labels: type:feature

improve box types
  packages/components/src/Box/Box.tsx
  packages/components/src/Text/Text.tsx
Labels: type:feature

cleanup
  packages/components/src/Link/Link.tsx
  packages/components/src/Text/Text.tsx
Labels: type:feature

remove format and test, rename files
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/typecheck.yml
Labels: none

feat(docs): switch themes functionality
  docs/src/components/CodeBlock.tsx
  docs/src/components/Layout.tsx
  docs/src/components/ThemeSelect.tsx
  docs/src/components/ThemeSwitch.tsx
Labels: type:docs

Create happy-toes-boil.md
  .changeset/happy-toes-boil.md
Labels: none

Create unlucky-kings-suffer.md
  .changeset/unlucky-kings-suffer.md
Labels: none

feat(types): Clarify and improve as prop related types (#1131)
  .changeset/spicy-months-behave.md
  jest.config.js
  packages/components/src/Box/Box.tsx
  packages/types/package.json
  packages/types/src/example.tsx
  packages/types/src/index.ts
Labels: type:feature

try other caching strategy
  .github/workflows/coverage.yml
Labels: none

add changeset
  .changeset/weak-months-bathe.md
Labels: none

try yarn --prefer-offline
  .github/workflows/coverage.yml
Labels: none

fix changeset typo
  .changeset/weak-months-bathe.md
Labels: none

try with node_modules
  .github/workflows/coverage.yml
Labels: none

css changes + rename themes
  docs/src/components/Layout.tsx
  docs/src/components/ThemeSelect.tsx
Labels: type:docs
