Repository marigold-ui/marigold, changes with the labels that .github/labeler.yml gives for each.
All labels: type:feature, type:infrastructure, type:docs

move mdx to content folder
  docs/content/foundation/theming.mdx
  docs/content/themes/b2b.mdx
  docs/src/pages/foundation/colours.mdx
  docs/src/pages/themes/unicorn.mdx
Labels: type:docs

remove inline style + edit codeBlock text view
  docs/src/components/CodeBlock.tsx
Labels: type:docs

docs: copy button variant to ghost.small (#1060)
  docs/src/components/CopyButton.tsx
Labels: type:docs

fix layout columns
  docs/src/components/Layout.tsx
Labels: type:docs

docs: remove inline style + edit codeBlock text view (#1061)
  docs/src/components/CodeBlock.tsx
Labels: type:docs

move to content
  docs/content/themes/unicorn.mdx
  docs/src/pages/foundation/icons.mdx
Labels: type:docs

docs: Theming (#1015)
  docs/content/foundation/theming.mdx
  docs/content/themes/b2b.mdx
  docs/content/themes/unicorn.mdx
  docs/src/components/Navigation.tsx
Labels: type:docs

add list tags to gatsby mdx components
  docs/gatsby-browser.js
Labels: type:docs

change mdx files folder structure + start page
  docs/content/foundation/design-language/theming.mdx
  docs/content/foundation/design-tokens/colors.mdx
  docs/content/foundation/design-tokens/icons.mdx
  docs/content/start.mdx
  docs/src/components/Navigation.tsx
  docs/src/pages/index.tsx
Labels: type:docs

docs: add list tags to gatsby mdx components (#1062)
  docs/gatsby-browser.js
Labels: type:docs

chore(deps): update dependency @types/node to v14.17.1
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency @types/react to v17.0.8
  docs/package.json
  packages/types/package.json
  yarn.lock
Labels: type:feature, type:docs

fix(deps): update dependency jest-watch-typeahead to v0.6.4
  config/jest/package.json
  yarn.lock
Labels: type:infrastructure

chore(deps): update dependency typescript to v4.3.2
  config/jest/package.json
  package.json
Labels: type:infrastructure

fix(deps): update dependency @theme-ui/css to v0.9.1
  packages/system/package.json
Labels: type:feature

fix(deps): update dependency gh-pages to v3.2.0
  docs/package.json
Labels: type:docs

fix(deps): update gatsby monorepo
  docs/package.json
Labels: type:docs

fix(deps): update typescript-eslint monorepo to v4.25.0
  config/eslint/package.json
Labels: type:infrastructure

chore(deps): update dependency @testing-library/react-hooks to v7
  package.json
Labels: none

fix(deps): update dependency ts-jest to v27
  config/jest/package.json
Labels: type:infrastructure

fix(deps): update jest monorepo to v27
  config/jest/package.json
Labels: type:infrastructure

fix(deps): update dependency babel-jest to v27.0.2
  config/jest/package.json
Labels: type:infrastructure

fix(deps): update dependency eslint-plugin-import to v2.23.4
  config/eslint/package.json
Labels: type:infrastructure

fix(deps): update dependency eslint-plugin-react to v7.24.0
  config/eslint/package.json
Labels: type:infrastructure

docs: add component pages without useStylesHook
  docs/content/components/alert.mdx
  docs/content/components/badge.mdx
  docs/content/components/box.mdx
  docs/content/components/button.mdx
  docs/content/components/divider.mdx
  docs/content/components/heading.mdx
  docs/content/components/input.mdx
  docs/content/components/label.mdx
  docs/content/components/link.mdx
  docs/content/components/menuItem.mdx
  docs/content/components/message.mdx
  docs/content/components/select.mdx
  docs/content/components/slider.mdx
  docs/content/components/text.mdx
  docs/content/components/textarea.mdx
  docs/content/components/validationMessage.mdx
  docs/src/components/Navigation.tsx
Labels: type:docs

wip: image and menu
  docs/content/components/image.mdx
  docs/content/components/menu.mdx
Labels: type:docs

delete files
  docs/content/components/image.mdx
  docs/content/components/menu.mdx
Labels: type:docs

Revert "fix(deps): update dependency eslint-plugin-react to v7.24.0 (#1077)"
  config/eslint/package.json
Labels: type:infrastructure

Revert "fix(deps): update dependency eslint-plugin-react to v7.24.0" (#1079)
  config/eslint/package.json
Labels: type:infrastructure

Revert "fix(deps): update dependency eslint-plugin-import to v2.23.4 (#1076)"
  config/eslint/package.json
Labels: type:infrastructure

Revert "fix(deps): update dependency eslint-plugin-import to v2.23.4" (#1080)
  config/eslint/package.json
Labels: type:infrastructure

Revert "fix(deps): update dependency babel-jest to v27.0.2 (#1075)"
  config/jest/package.json
Labels: type:infrastructure

Revert "fix(deps): update dependency babel-jest to v27.0.2" (#1081)
  config/jest/package.json
Labels: type:infrastructure

Revert "fix(deps): update jest monorepo to v27 (#1074)"
  config/jest/package.json
Labels: type:infrastructure

Revert "fix(deps): update jest monorepo to v27 (major)" (#1082)
  config/jest/package.json
Labels: type:infrastructure

Revert "fix(deps): update dependency ts-jest to v27 (#1073)"
  config/jest/package.json
Labels: type:infrastructure

Revert "fix(deps): update dependency ts-jest to v27" (#1083)
  config/jest/package.json
Labels: type:infrastructure

Revert "chore(deps): update dependency @testing-library/react-hooks to v7 (#1072)"
  package.json
Labels: none

Revert "chore(deps): update dependency @testing-library/react-hooks to v7" (#1084)
  package.json
Labels: none

Revert "fix(deps): update typescript-eslint monorepo to v4.25.0 (#1071)"
  config/eslint/package.json
Labels: type:infrastructure

.github/labeler.yml:

'type:feature':
  - packages/*
  - packages/**/*
  - themes/**/src/index.ts

'type:infrastructure':
  - config/*
  - config/**/*

'type:docs':
  - docs/*
  - docs/**/*
