Repository marigold-ui/marigold, changes with the labels that .github/labeler.yml gives for each.
All labels: type:feature, type:infrastructure, type:docs

edit existing checkbox component like Radio
  packages/components/src/Checkbox/Checkbox.stories.mdx
  packages/components/src/Checkbox/Checkbox.tsx
Labels: type:feature

add checkbox to docs
  docs/content/components/checkbox.mdx
  docs/src/components/Navigation.tsx
Labels: type:docs

change live code example
  docs/content/components/checkbox.mdx
Labels: type:docs

fix checkbox things
  docs/content/components/checkbox.mdx
  packages/components/src/Checkbox/Checkbox.stories.mdx
  packages/components/src/Checkbox/Checkbox.tsx
Labels: type:feature, type:docs

fix+docs: fix checkbox component + add to docs (#1109)
  docs/content/components/checkbox.mdx
  docs/src/components/Navigation.tsx
  packages/components/src/Checkbox/Checkbox.stories.mdx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
Labels: type:feature, type:docs

extract mdx comps from gatsby browser to own file
  docs/gatsby-browser.js
  docs/src/components/MdxComponents.tsx
Labels: type:docs

chore+docs: extract mdx comps from gatsby browser to own file (#1113)
  docs/gatsby-browser.js
  docs/src/components/MdxComponents.tsx
Labels: type:docs

chore: Update prettier to 2.3.1
  package.json
  yarn.lock
Labels: none

chore: Update prettier to 2.3.1 (#1114)
  package.json
  yarn.lock
Labels: none

wrap this!
  docs/gatsby-browser.js
  docs/gatsby-ssr.js
  docs/package.json
  docs/src/wrapper.tsx
  yarn.lock
Labels: type:docs

clean up mdx
  docs/src/mdx.tsx
  docs/src/wrapper.tsx
Labels: type:docs

del
  docs/src/components/MdxComponents.tsx
Labels: type:docs

wip
  docs/content/index.mdx
  docs/src/components/Navigation.tsx
Labels: type:docs

move provider to where it belongs
  docs/src/components/Layout.tsx
  docs/src/wrapper.tsx
Labels: type:docs

parse navigation gql
  docs/src/components/Layout.tsx
  docs/src/components/Navigation.tsx
Labels: type:docs

docs: Unify Gatsby's element wrapper (#1117)
  docs/gatsby-browser.js
  docs/gatsby-ssr.js
  docs/package.json
  docs/src/components/Layout.tsx
  docs/src/components/MdxComponents.tsx
  docs/src/mdx.tsx
  docs/src/wrapper.tsx
  yarn.lock
Labels: type:docs

create new navigation
  docs/src/components/Link/Link.tsx
  docs/src/components/Link/index.ts
  docs/src/components/Navigation/Navigation.tsx
  docs/src/components/Navigation/index.ts
  docs/src/components/Navigation/useNavigation.ts
Labels: type:docs

chore(deps): pin dependency @types/mdx-js__react to 1.5.3
  docs/package.json
  yarn.lock
Labels: type:docs

fix(deps): update dependency gatsby to v3.7.2
  docs/package.json
  yarn.lock
Labels: type:docs

fix(deps): update typescript-eslint monorepo to v4.27.0
  config/eslint/package.json
  yarn.lock
Labels: type:infrastructure

fix(deps): update dependency @theme-ui/css to v0.10.1
  packages/system/package.json
  yarn.lock
Labels: type:feature

chore(deps): update all
  config/eslint/package.json
  config/jest/package.json
  docs/package.json
  package.json
  packages/types/package.json
  yarn.lock
Labels: type:feature, type:infrastructure, type:docs

fix packages
  config/eslint/package.json
  config/jest/package.json
  docs/package.json
  yarn.lock
Labels: type:infrastructure, type:docs

polymorphic text component
  packages/components/src/Box/Box.test.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
Labels: type:feature

use text component for links
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/Text/Text.test.tsx
Labels: type:feature

link with text
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Link/Link.tsx
Labels: type:feature

fix(docs): Add missing children to inlineCode comoponent
  docs/src/mdx.tsx
Labels: type:docs

bugfix: give children to inlineCode
  docs/src/mdx.tsx
Labels: type:docs

bugfix: give children to inlineCode (#1126)
  docs/src/mdx.tsx
Labels: type:docs

Update README.md
  README.md
Labels: none

chore: fix new yarn build
  config/storybook/main.js
Labels: type:infrastructure

chore: update setup in readme (#1127)
  README.md
Labels: none

chore: fix new yarn build (#1128)
  config/storybook/main.js
Labels: type:infrastructure

add new, sorted actions with caching
  .github/workflows/format.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
Labels: none

remove old actions
  .github/workflows/coveralls.yml
  .github/workflows/validate.yml
Labels: none

hash node modules
  .github/workflows/format.yml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
Labels: none

add ignore patterns for prettier
  .prettierignore
Labels: none

prettier
  .github/ISSUE_TEMPLATE/1.issue.md
  .github/ISSUE_TEMPLATE/2.bug.md
  .github/ISSUE_TEMPLATE/3.design-update.md
  .yarnrc.yml
  README.md
  contributing.md
  docs/README.md
  docs/content/foundation/design-language/theming.mdx
  docs/src/pages/{mdx.slug}.tsx
  packages/components/src/Badge/Badge.stories.mdx
  packages/components/src/Box/Box.stories.mdx
  packages/components/src/Columns/Columns.tsx
  packages/components/src/ValidationMessage/ValidationMessage.stories.mdx
  packages/system/src/useStyles.ts
Labels: type:feature, type:docs

chore(prettier): add ignore patterns for prettier (#1130)
  .github/ISSUE_TEMPLATE/1.issue.md
  .github/ISSUE_TEMPLATE/2.bug.md
  .github/ISSUE_TEMPLATE/3.design-update.md
  .prettierignore
  .yarnrc.yml
  README.md
  contributing.md
  docs/README.md
  docs/content/foundation/design-language/theming.mdx
  docs/src/pages/{mdx.slug}.tsx
  packages/components/src/Badge/Badge.stories.mdx
  packages/components/src/Box/Box.stories.mdx
  packages/components/src/Columns/Columns.tsx
  packages/components/src/ValidationMessage/ValidationMessage.stories.mdx
  packages/system/src/useStyles.ts
Labels: type:feature, type:docs

yay accessible link
  packages/components/package.json
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/Text/Text.tsx
  packages/types/src/index.ts
  yarn.lock
Labels: type:feature

.github/labeler.yml:

'type:feature':
  - packages/*
  - packages/**/*
  - themes/**/src/index.ts

'type:infrastructure':
  - config/*
  - config/**/*

'type:docs':
  - docs/*
  - docs/**/*
