Repository marigold-ui/marigold, changes with the labels that .github/labeler.yml gives for each.
All labels: type:feature, type:infrastructure, type:docs

headline styles
  docs-next/package.json
  docs-next/src/mdx.tsx
  docs-next/src/theme/components/Headline.style.ts
Labels: none

layout structure for pages
  docs-next/content/index.mdx
  docs-next/content/introduction/about.mdx
  docs-next/content/introduction/concepts.mdx
  docs-next/content/introduction/getting-started.mdx
  docs-next/content/introduction/theming.mdx
  docs-next/src/components/GradientHeadline.tsx
  docs-next/src/components/Layout.tsx
  docs-next/src/components/index.ts
  docs-next/src/mdx.tsx
  docs-next/src/pages/[[...slug]].tsx
  docs-next/src/theme/colors.ts
  docs-next/src/theme/components/Header.style.ts
  docs-next/src/theme/components/Headline.style.ts
  docs-next/src/theme/components/Navigation.style.ts
  docs-next/src/theme/components/Text.style.ts
  docs-next/src/theme/components/index.ts
  docs-next/src/theme/root.ts
  packages/tokens/src/typography.ts
Labels: type:feature

saves
  docs-next/src/mdx.tsx
  docs-next/src/theme/components/Text.style.ts
Labels: none

feat: new component list
  docs-next/content/components/list.mdx
  packages/components/src/List/Context.ts
  packages/components/src/List/List.stories.tsx
  packages/components/src/List/List.test.tsx
  packages/components/src/List/List.tsx
  packages/components/src/List/ListItem.tsx
  packages/components/src/List/index.ts
  packages/components/src/theme.ts
  themes/theme-b2b/src/components/List.style.ts
Labels: type:feature

remove spelling mistake
  packages/components/src/List/List.tsx
Labels: type:feature

fix lint error
  packages/components/src/List/List.test.tsx
Labels: type:feature

feat: new component list (#2230)
  docs-next/content/components/list.mdx
  packages/components/src/List/Context.ts
  packages/components/src/List/List.stories.tsx
  packages/components/src/List/List.test.tsx
  packages/components/src/List/List.tsx
  packages/components/src/List/ListItem.tsx
  packages/components/src/List/index.ts
  packages/components/src/theme.ts
  themes/theme-b2b/src/components/List.style.ts
Labels: type:feature

docs: display version correctly (#2227)
  .changeset/bright-boats-fetch.md
  .changeset/calm-ears-refuse.md
  .changeset/olive-buttons-itch.md
  .changeset/thick-drinks-rest.md
  docs-next/next.config.mjs
  docs-next/src/components/Layout.tsx
  docs-next/src/components/Version.tsx
  docs-next/src/theme/components/Text.style.ts
  docs-next/src/theme/components/index.ts
  pnpm-lock.yaml
Labels: none

link styles in index
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

feat: callout component
  packages/components/src/Callout/Callout.stories.tsx
  packages/components/src/Callout/Callout.tsx
  packages/components/src/Callout/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
  themes/theme-b2b/src/components/Callout.style.ts
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

optimize style
  packages/components/src/Callout/Callout.tsx
  themes/theme-b2b/src/components/Callout.style.ts
Labels: type:feature

mh
  packages/components/src/Callout/Callout.tsx
  themes/theme-b2b/src/components/Callout.style.ts
Labels: type:feature

feat: Introduce `<List>` component
  packages/components/src/index.ts
Labels: type:feature

Create weak-buttons-share.md
  .changeset/weak-buttons-share.md
Labels: none

Create eight-lions-think.md
  .changeset/eight-lions-think.md
Labels: none

fix: list styles in index (#2231)
  .changeset/eight-lions-think.md
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

feat: Introduce `<List>` component (#2233)
  .changeset/weak-buttons-share.md
  packages/components/src/index.ts
Labels: type:feature

save
  docs-next/src/mdx.tsx
Labels: none

list for docu content
  docs-next/content/introduction/about.mdx
  docs-next/src/components/Navigation/Navigation.tsx
  docs-next/src/mdx.tsx
  docs-next/src/theme/components/List.style.ts
  docs-next/src/theme/components/index.ts
  docs-next/src/theme/root.ts
  packages/components/src/List/List.test.tsx
  packages/components/src/List/List.tsx
Labels: type:feature

remove
  docs-next/content/introduction/about.mdx
Labels: none

version on the right side
  docs-next/src/components/Layout.tsx
Labels: none

index page not shown in navigation
  docs-next/src/components/Navigation/Navigation.tsx
Labels: none

remove double title from page
  docs-next/content/foundation/box-primitive.mdx
  docs-next/content/foundation/css-in-js.mdx
  docs-next/content/foundation/icons.mdx
  docs-next/content/foundation/themes-variants.mdx
Labels: none

fix snapshot tests
  packages/create-theme/src/create-theme.test.ts
  packages/tokens/src/index.test.ts
Labels: type:feature

list style
  docs-next/src/components/Navigation/Navigation.tsx
  docs-next/src/theme/components/List.style.ts
Labels: none

anchor links
  docs-next/content/components/aside.mdx
  docs-next/content/introduction/getting-started.mdx
  docs-next/package.json
  docs-next/src/pages/[[...slug]].tsx
  docs-next/src/theme/components/Headline.style.ts
  docs-next/src/theme/components/Link.style.ts
  docs-next/src/theme/root.ts
  pnpm-lock.yaml
Labels: none

fix typecheck
  docs-next/src/theme/root.ts
Labels: none

Table for Props
  docs-next/content/components/aside.mdx
  docs-next/src/components/PropsTable.tsx
  docs-next/src/pages/_app.tsx
Labels: none

unique key
  docs-next/src/components/PropsTable.tsx
Labels: none

feat: improve styling options of <List>
  packages/components/src/List/List.test.tsx
  packages/components/src/List/List.tsx
Labels: type:feature

Create lucky-donuts-wait.md
  .changeset/lucky-donuts-wait.md
Labels: none

feat: improve styling options of <List> (#2236)
  .changeset/lucky-donuts-wait.md
  packages/components/src/List/List.test.tsx
  packages/components/src/List/List.tsx
Labels: type:feature

saves for propsTable
  docs-next/content/components/aside.mdx
  docs-next/src/components/PropsTable.tsx
  docs-next/src/pages/_app.tsx
  docs-next/src/theme/components/Table.style.ts
  docs-next/src/theme/components/index.ts
Labels: none

aside proptable
  docs-next/content/components/aside.mdx
  docs-next/src/theme/components/Table.style.ts
Labels: none

chore: Fix docs deployment
  .github/workflows/release.yml
  package.json
Labels: type:infrastructure

PropsTable in TextField
  docs-next/content/components/text-field.mdx
  docs-next/src/pages/_app.tsx
Labels: none

Create olive-bananas-cheat.md
  .changeset/olive-bananas-cheat.md
Labels: none

chore: don't format changesets with prettier
  .prettierignore
Labels: none

chore: styled mdx content (#2219)
  docs-next/content/components/aside.mdx
  docs-next/content/foundation/box-primitive.mdx
  docs-next/content/foundation/css-in-js.mdx
  docs-next/content/foundation/icons.mdx
  docs-next/content/foundation/themes-variants.mdx
  docs-next/content/index.mdx
  docs-next/content/introduction/about.mdx
  docs-next/content/introduction/concepts.mdx
  docs-next/content/introduction/getting-started.mdx
  docs-next/content/introduction/theming.mdx
  docs-next/package.json
  docs-next/src/components/GradientHeadline.tsx
  docs-next/src/components/Layout.tsx
  docs-next/src/components/Logo/Logo.tsx
  docs-next/src/components/Logo/index.ts
  docs-next/src/components/Logo/marigold-boxy.svg
  docs-next/src/components/Navigation/Navigation.tsx
  docs-next/src/components/index.ts
  docs-next/src/mdx.tsx
  docs-next/src/pages/[[...slug]].tsx
  docs-next/src/pages/_app.tsx
  docs-next/src/theme/colors.ts
  docs-next/src/theme/components/Header.style.ts
  docs-next/src/theme/components/Headline.style.ts
  docs-next/src/theme/components/Link.style.ts
  docs-next/src/theme/components/List.style.ts
  docs-next/src/theme/components/Navigation.style.ts
  docs-next/src/theme/components/Text.style.ts
  docs-next/src/theme/components/index.ts
  docs-next/src/theme/root.ts
  docs-next/src/theme/typography.ts
  packages/create-theme/src/create-theme.test.ts
  packages/tokens/src/index.test.ts
  packages/tokens/src/typography.ts
  pnpm-lock.yaml
Labels: type:feature

udpate table
  docs-next/content/components/text-field.mdx
  docs-next/next.config.mjs
  docs-next/src/components/PropsTable.tsx
  docs-next/src/theme/colors.ts
  docs-next/src/theme/components/Table.style.ts
Labels: none

.github/labeler.yml:

'type:feature':
  - packages/*
  - packages/**/*
  - themes/**

'type:infrastructure':
  - config/*
  - config/**/*
  - .github/*
  - .github/**/*

'type:docs':
  - docs/*
  - docs/**/*
