Repository marigold-ui/marigold, pull requests merged in 2020-03, with the labels that each got.

#73 feat(system): Introduce <Box> component
  package.json
  packages/system/package.json
  packages/system/src/Box.test.tsx
  packages/system/src/Box.tsx
  packages/system/src/categories.ts
  packages/system/src/emotion.ts
  packages/system/src/index.ts
  packages/system/yarn-error.log
  packages/types/README.md
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/sink.d.ts
  tsconfig.json
  yarn.lock
Labels: enhancement

#106 feat(system): Add `system` helper
  packages/system/src/Box.tsx
  packages/system/src/system.test.tsx
  packages/system/src/system.tsx
Labels: enhancement

#122 chore: Add a build and clean up script
  .gitignore
  package.json
  yarn.lock
Labels: infrastructure

#136 feat: package for sharable tsconfig
  config/tsconfig/README.md
  config/tsconfig/package.json
  config/tsconfig/tsconfig.base.json
  package.json
  tsconfig.json
Labels: enhancement

#135 chore: Remove coveralls as dependency
  .circleci/config.yml
  package.json
  yarn.lock
Labels: infrastructure

#137 chore: add react as peer dependency
  packages/components/package.json
  packages/system/package.json
  yarn.lock
Labels: infrastructure

#133 chore: normalize theme names + fix build
  LICENSE
  package.json
  packages/components/package.json
  packages/components/src/index.ts
  packages/components/src/theme.ts
  packages/components/tsconfig.build.json
  packages/system/package.json
  packages/system/src/system.test.tsx
  packages/system/tsconfig.build.json
  packages/types/package.json
  themes/reservixb2btheme/README.md
  themes/reservixb2btheme/package.json
  themes/reservixb2btheme/src/index.ts
  themes/reservixdevelopertheme/README.md
  themes/reservixdevelopertheme/package.json
  themes/reservixdevelopertheme/src/index.ts
  themes/theme-b2b/README.md
  themes/theme-b2b/package.json
  themes/theme-b2b/src/index.ts
  themes/theme-b2b/tsconfig.build.json
  themes/theme-unicorn/README.md
  themes/theme-unicorn/package.json
  themes/theme-unicorn/src/index.ts
  themes/theme-unicorn/tsconfig.build.json
  tsconfig.json
Labels: infrastructure

#143 fix: correctly extend tsconfig
  packages/components/tsconfig.build.json
  packages/system/tsconfig.build.json
  themes/theme-b2b/tsconfig.build.json
  themes/theme-unicorn/tsconfig.build.json
Labels: bug, infrastructure

#142 fix(jest): Make workspace aliasing work
  jest.config.js
  packages/components/src/TestComponent/testComponent.test.tsx
Labels: bug, infrastructure

#148 feat: introduce @marigold/eslint-config
  .eslintignore
  .eslintrc
  config/eslint-config/README.md
  config/eslint-config/index.js
  config/eslint-config/package.json
  package.json
  yarn.lock
Labels: enhancement, infrastructure

#149 feat: introduce @marigold/jest-config
  config/jest-config/README.md
  config/jest-config/index.js
  config/jest-config/jest.setup.ts
  config/jest-config/package.json
  jest.config.js
  package.json
  tsconfig.json
Labels: enhancement, infrastructure

#150 feat: introduce @marigold/prettier-config
  .dependabot/config.yml
  .prettierignore
  .prettierrc
  config/eslint/README.md
  config/eslint/index.js
  config/eslint/package.json
  config/jest/README.md
  config/jest/index.js
  config/jest/jest.setup.ts
  config/jest/package.json
  config/prettier/README.md
  config/prettier/index.json
  config/prettier/package.json
  package.json
  packages/system/src/Box/Box.stories.mdx
  packages/system/src/Box/Box.test.tsx
  yarn.lock
Labels: enhancement, infrastructure

#156 fix: make storybook use source files instead of build files
  .storybook/main.js
  config/jest/package.json
  package.json
  packages/components/package.json
  packages/system/package.json
  themes/theme-b2b/package.json
  themes/theme-unicorn/package.json
  yarn.lock
Labels: bug, infrastructure

#166 chore: better fix for emotion typings
  .yarnclean
  packages/system/src/emotion.ts
  packages/types/package.json
  packages/types/src/sink.d.ts
  tsconfig.json
Labels: infrastructure

#174 feat: remove marigold specific settings from jest config
  config/jest/index.js
  config/jest/package.json
  jest.config.js
  yarn.lock
Labels: enhancement, infrastructure

#177 chore(eslint): small cleanup to remove warnings
  .eslintignore
  config/eslint/package.json
  package.json
  yarn.lock
Labels: enhancement, infrastructure

#176 feat: implement <Label/> component
  packages/components/src/Label/Label.stories.mdx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/Label/index.ts
  themes/theme-b2b/src/index.ts
Labels: enhancement
