Repository marigold-ui/marigold, pull requests merged in 2020-12, with the labels that each got.

#608 use new useStyles hook in Text component
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Text/Text.stories.mdx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
  packages/system/src/index.ts
  packages/system/src/useClassname.test.tsx
  packages/system/src/useClassname.ts
  packages/system/src/useStyles.test.tsx
  packages/system/src/useStyles.tsx
Labels: enhancement

#622 fix useStyles export error
  packages/system/src/useStyles.ts
  yarn.lock
Labels: enhancement

#441 feat: add field component
  packages/components/src/Field/Field.stories.mdx
  packages/components/src/Field/Field.test.tsx
  packages/components/src/Field/Field.tsx
  packages/components/src/Field/index.ts
  packages/components/src/index.ts
  themes/theme-b2b/src/index.ts
Labels: enhancement

#632 chore: add auto approve review
  .github/dependabot.yml
  .kodiak.toml
Labels: infrastructure

#631 change useStyles hook to concat custom classNames and edit Text, Alert and Badge component
  packages/components/src/Alert/Alert.stories.mdx
  packages/components/src/Alert/Alert.test.tsx
  packages/components/src/Alert/Alert.tsx
  packages/components/src/Badge/Badge.test.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Text/Text.tsx
  packages/system/src/useStyles.test.tsx
  packages/system/src/useStyles.ts
Labels: automerge, enhancement

#641 refa: make <Select> use `useStyles` hook instead of <Box>
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
Labels: automerge, enhancement

#647 refa:use add className to styles hook
  packages/components/src/Badge/Badge.stories.mdx
  packages/components/src/Checkbox/Checkbox.stories.mdx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Container/Container.stories.mdx
  packages/components/src/Container/Container.test.tsx
  packages/components/src/Container/Container.tsx
  packages/components/src/Divider/Divider.stories.mdx
  packages/components/src/Divider/Divider.test.tsx
  packages/components/src/Divider/Divider.tsx
  packages/components/src/Heading/Heading.test.tsx
  packages/components/src/Heading/Heading.tsx
  packages/components/src/Hidden/Hidden.stories.mdx
  packages/components/src/Hidden/Hidden.test.tsx
  packages/components/src/Hidden/Hidden.tsx
  packages/components/src/Image/Image.stories.mdx
  packages/components/src/Image/Image.test.tsx
  packages/components/src/Image/Image.tsx
  packages/components/src/Input/Input.stories.mdx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/Label/Label.stories.mdx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/Link/Link.stories.mdx
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/Message/Message.stories.mdx
  packages/components/src/Message/Message.test.tsx
  packages/components/src/Message/Message.tsx
  packages/components/src/Radio/Radio.stories.mdx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Slider/Slider.stories.mdx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Textarea/Textarea.stories.mdx
  packages/components/src/Textarea/Textarea.test.tsx
  packages/components/src/Textarea/Textarea.tsx
  packages/components/src/ValidationMessage/ValidationMessage.stories.mdx
  packages/components/src/ValidationMessage/ValidationMessage.test.tsx
  packages/components/src/ValidationMessage/ValidationMessage.tsx
Labels: enhancement

#652 fix: Use correct JSX in <Field>
  packages/components/src/Field/Field.tsx
Labels: automerge, enhancement

#651 refa: Remove <Box> and <MarigoldProvider>. Remove @emotion/core dependency!
  packages/components/src/index.ts
  packages/system/package.json
  packages/system/src/Box/Box.stories.mdx
  packages/system/src/Box/Box.test.tsx
  packages/system/src/Box/Box.tsx
  packages/system/src/Box/index.ts
  packages/system/src/MarigoldProvider.test.tsx
  packages/system/src/MarigoldProvider.tsx
  packages/system/src/emotion.ts
  packages/system/src/index.ts
  yarn.lock
Labels: automerge, enhancement

#668 rewrite button component and remove createStyles
  packages/components/src/Button/Button.stories.mdx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
  packages/system/src/createStyles.test.tsx
  packages/system/src/createStyles.tsx
  packages/system/src/index.ts
Labels: enhancement
