Repository marigold-ui/marigold, pull requests merged in 2020-09, with the labels that each got.

#468 rename TextInput to Input
  packages/components/src/Input/Input.stories.mdx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/Input/index.ts
  packages/components/src/TextInput/index.ts
  packages/components/src/index.ts
Labels: enhancement

#425 feat: add hidden component
  packages/components/src/Hidden/Hidden.stories.mdx
  packages/components/src/Hidden/Hidden.test.tsx
  packages/components/src/Hidden/Hidden.tsx
  packages/components/src/Hidden/index.ts
  packages/components/src/index.ts
  themes/theme-b2b/src/index.ts
Labels: enhancement

#478 updates of all package.jsons after storybook upgrade to 6
  config/eslint/package.json
  config/jest/package.json
  config/storybook/package.json
  package.json
  packages/components/package.json
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/layout/package.json
  themes/theme-b2b/package.json
  themes/theme-unicorn/package.json
  yarn.lock
Labels: enhancement, infrastructure

#486 chore: Update dependencies
  yarn.lock
Labels: infrastructure

#487 refa: Use Box instead of span
  packages/components/src/Button/Button.tsx
Labels: enhancement
