Repository marigold-ui/marigold, pull requests merged in 2020-05, with the labels that each got.

#214 chore: add icons package with social icons
  packages/icons/README.md
  packages/icons/package.json
  packages/icons/src/Icons.stories.mdx
  packages/icons/src/social/Facebook.tsx
  packages/icons/src/social/Google.tsx
  packages/icons/src/social/Instagram.tsx
  packages/icons/src/social/Share.tsx
  packages/icons/src/social/Twitter.tsx
  packages/icons/src/social/Whatsapp.tsx
  packages/icons/src/social/index.ts
Labels: enhancement

#243 bugfix: storybook error because of missing index.ts in icons
  packages/icons/src/index.ts
Labels: bug

#217 chore: add UI-icons
  packages/icons/src/Icons.stories.mdx
  packages/icons/src/index.ts
  packages/icons/src/ui/Add.tsx
  packages/icons/src/ui/ArrowDown.tsx
  packages/icons/src/ui/ArrowDownA.tsx
  packages/icons/src/ui/ArrowLeft.tsx
  packages/icons/src/ui/ArrowLeftA.tsx
  packages/icons/src/ui/ArrowRight.tsx
  packages/icons/src/ui/ArrowRightA.tsx
  packages/icons/src/ui/ArrowUp.tsx
  packages/icons/src/ui/ArrowUpA.tsx
  packages/icons/src/ui/BurgerMenu.tsx
  packages/icons/src/ui/Check.tsx
  packages/icons/src/ui/Circle0.tsx
  packages/icons/src/ui/Circle1.tsx
  packages/icons/src/ui/Close.tsx
  packages/icons/src/ui/Delete.tsx
  packages/icons/src/ui/ExternalLink.tsx
  packages/icons/src/ui/Filter.tsx
  packages/icons/src/ui/IconMore.tsx
  packages/icons/src/ui/Remove.tsx
  packages/icons/src/ui/Search.tsx
  packages/icons/src/ui/SettingDots.tsx
  packages/icons/src/ui/SquareO.tsx
  packages/icons/src/ui/SquareOChecked.tsx
  packages/icons/src/ui/index.ts
Labels: enhancement

#220 chore: add Ticketing-Icons
  packages/icons/src/Icons.stories.mdx
  packages/icons/src/index.ts
  packages/icons/src/ticketing/Deal.tsx
  packages/icons/src/ticketing/DesignTicket.tsx
  packages/icons/src/ticketing/GiftCard.tsx
  packages/icons/src/ticketing/Membership.tsx
  packages/icons/src/ticketing/Pickup.tsx
  packages/icons/src/ticketing/Price.tsx
  packages/icons/src/ticketing/Resale.tsx
  packages/icons/src/ticketing/Scanner.tsx
  packages/icons/src/ticketing/Seat.tsx
  packages/icons/src/ticketing/Selling.tsx
  packages/icons/src/ticketing/Ticket.tsx
  packages/icons/src/ticketing/TicketInsurance.tsx
  packages/icons/src/ticketing/Turnstile.tsx
  packages/icons/src/ticketing/index.ts
Labels: enhancement

#221 chore: add User-Icons
  packages/icons/src/Icons.stories.mdx
  packages/icons/src/index.ts
  packages/icons/src/user/Cart.tsx
  packages/icons/src/user/CreditCard.tsx
  packages/icons/src/user/Group.tsx
  packages/icons/src/user/Id.tsx
  packages/icons/src/user/SmilieDissatisfied.tsx
  packages/icons/src/user/SmilieNeutral.tsx
  packages/icons/src/user/SmilieSatisfied.tsx
  packages/icons/src/user/SmilieVeryDissatisfied.tsx
  packages/icons/src/user/SmilieVerySatisfied.tsx
  packages/icons/src/user/User.tsx
  packages/icons/src/user/index.ts
Labels: enhancement

#218 feat: add info icons
  packages/icons/src/Icons.stories.mdx
  packages/icons/src/index.ts
  packages/icons/src/info/Accessible.tsx
  packages/icons/src/info/AutoRenew.tsx
  packages/icons/src/info/Banned.tsx
  packages/icons/src/info/Bus.tsx
  packages/icons/src/info/Calendar.tsx
  packages/icons/src/info/Camera.tsx
  packages/icons/src/info/Clock.tsx
  packages/icons/src/info/Direction.tsx
  packages/icons/src/info/Email.tsx
  packages/icons/src/info/EventDate.tsx
  packages/icons/src/info/Exclamation.tsx
  packages/icons/src/info/Feedback.tsx
  packages/icons/src/info/Food.tsx
  packages/icons/src/info/Globe.tsx
  packages/icons/src/info/Home.tsx
  packages/icons/src/info/Info.tsx
  packages/icons/src/info/Marker.tsx
  packages/icons/src/info/MobilePhone.tsx
  packages/icons/src/info/Notification.tsx
  packages/icons/src/info/Parking.tsx
  packages/icons/src/info/Phone.tsx
  packages/icons/src/info/Print.tsx
  packages/icons/src/info/Required.tsx
  packages/icons/src/info/ResaleLogbook.tsx
  packages/icons/src/info/Spinner.tsx
  packages/icons/src/info/Thumb.tsx
  packages/icons/src/info/Truck.tsx
  packages/icons/src/info/index.ts
Labels: enhancement

#219 feat: add Action-icons
  packages/icons/src/Icons.stories.mdx
  packages/icons/src/action/Cancel.tsx
  packages/icons/src/action/Crop.tsx
  packages/icons/src/action/Edit.tsx
  packages/icons/src/action/FormatBold.tsx
  packages/icons/src/action/FormatItalic.tsx
  packages/icons/src/action/FormatSize.tsx
  packages/icons/src/action/HighlightOff.tsx
  packages/icons/src/action/Image.tsx
  packages/icons/src/action/Location.tsx
  packages/icons/src/action/Lock.tsx
  packages/icons/src/action/LockOpen.tsx
  packages/icons/src/action/Pause.tsx
  packages/icons/src/action/PauseAlt.tsx
  packages/icons/src/action/Play.tsx
  packages/icons/src/action/PlayAlt.tsx
  packages/icons/src/action/ResaleEdit.tsx
  packages/icons/src/action/RotateLeft.tsx
  packages/icons/src/action/RotateRight.tsx
  packages/icons/src/action/Save.tsx
  packages/icons/src/action/Sort.tsx
  packages/icons/src/action/SortDown.tsx
  packages/icons/src/action/SortUp.tsx
  packages/icons/src/action/Star.tsx
  packages/icons/src/action/Stop.tsx
  packages/icons/src/action/Underlined.tsx
  packages/icons/src/action/Zoom.tsx
  packages/icons/src/action/index.ts
  packages/icons/src/index.ts
Labels: enhancement

#248 fix: order of Button css prop
  packages/components/src/Button/Button.tsx
Labels: bug, enhancement

#262 chore: update yarn scripts
  .github/workflows/coveralls.yml
  package.json
Labels: infrastructure

#209 feat: update text component
  packages/components/src/Text/Text.stories.mdx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
  themes/theme-b2b/src/index.ts
Labels: enhancement

#250 refa: standardize tests
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Svg/Svg.test.tsx
  packages/components/src/Text/Text.stories.mdx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
  packages/system/src/Box/Box.test.tsx
  packages/system/src/MarigoldProvider.test.tsx
  packages/system/src/system.test.tsx
  themes/theme-b2b/src/index.ts
Labels: enhancement

#264 chore: Add empty package for layout components
  packages/layout/README.md
  packages/layout/package.json
  packages/layout/src/index.ts
  packages/layout/tsconfig.build.json
Labels: enhancement, infrastructure

#266 fix: correct repo token in stale workflow
  .github/workflows/stale.yml
Labels: infrastructure

#263 chore: add component template script
  README.md
  config/jest/index.js
  package.json
  scripts/create.ts
  scripts/template/Component.stories.mdx
  scripts/template/Component.test.tsx
  scripts/template/Component.tsx
  scripts/template/index.ts
  tsconfig.json
  yarn.lock
Labels: infrastructure

#279 feat: add new component to exports in component package
  scripts/create.ts
Labels: infrastructure

#280 fix: move react-app to root
  package.json
Labels: infrastructure

#261 feat: add a test for all icons
  packages/components/src/Svg/Svg.tsx
  packages/icons/src/Icon.test.tsx
  packages/icons/src/social/Facebook.tsx
Labels: enhancement, infrastructure
