Repository marigold-ui/marigold, pull requests merged in 2020-04, with the labels that each got.

#182 feat(storybook): allow to switch themes
  config/storybook/main.js
  config/storybook/package.json
  config/storybook/preview.js
  packages/components/src/Label/Label.stories.mdx
  packages/components/src/Text/Text.stories.mdx
  themes/theme-unicorn/src/index.ts
  yarn.lock
Labels: documentation, enhancement, infrastructure

#141 chore(setup): add changesets and action
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  yarn.lock
Labels: infrastructure

#184 chore: update button theming
  packages/components/src/Button/Button.stories.mdx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: enhancement

#197 chore: Remove `.dependabot`
  .dependabot/config.yml
Labels: infrastructure

#195 chore: Add "eslint-plugin-testing-library"
  config/eslint/index.js
  config/eslint/package.json
  package.json
  yarn.lock
Labels: infrastructure

#199 feat: Support "reduce-motion" media query
  jest.config.js
  packages/system/src/MarigoldProvider.test.tsx
  packages/system/src/MarigoldProvider.tsx
Labels: enhancement
