Repository marigold-ui/marigold, pull requests merged in 2020-11, with the labels that each got.

#561 chore: use classnames
  config/jest/package.json
  package.json
  packages/components/src/Text/Text.stories.mdx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
  packages/system/package.json
  packages/system/src/createStyles.test.tsx
  packages/system/src/createStyles.tsx
  packages/system/src/index.ts
  packages/system/src/useClassname.test.tsx
  packages/system/src/useClassname.ts
  packages/system/src/useTheme.test.tsx
  packages/system/src/useTheme.tsx
  yarn.lock
Labels: enhancement, infrastructure

#571 chore: storybook uses ThemeProvider
  config/storybook/preview.js
Labels: infrastructure

#572 Rewrite svg component
  packages/components/src/Svg/Svg.stories.mdx
  packages/components/src/Svg/Svg.tsx
Labels: enhancement

#573 Rewrite comps: Hidden, Message, Badge, Divider, Image
  packages/components/src/Badge/Badge.test.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Divider/Divider.stories.mdx
  packages/components/src/Divider/Divider.test.tsx
  packages/components/src/Divider/Divider.tsx
  packages/components/src/Hidden/Hidden.stories.mdx
  packages/components/src/Hidden/Hidden.test.tsx
  packages/components/src/Hidden/Hidden.tsx
  packages/components/src/Image/Image.stories.mdx
  packages/components/src/Image/Image.test.tsx
  packages/components/src/Image/Image.tsx
  packages/components/src/Message/Message.test.tsx
  packages/components/src/Message/Message.tsx
Labels: enhancement

#586 rewrite Alert
  packages/components/src/Alert/Alert.stories.mdx
  packages/components/src/Alert/Alert.test.tsx
  packages/components/src/Alert/Alert.tsx
Labels: enhancement

#587 rewrite Container
  packages/components/src/Container/Container.stories.mdx
  packages/components/src/Container/Container.test.tsx
  packages/components/src/Container/Container.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: enhancement

#588 Rewrite Slider and Textarea
  packages/components/src/Slider/Slider.stories.mdx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Textarea/Textarea.stories.mdx
  packages/components/src/Textarea/Textarea.test.tsx
  packages/components/src/Textarea/Textarea.tsx
Labels: enhancement

#589 Rewrite Label and Input
  packages/components/src/Input/Input.stories.mdx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/Label/Label.stories.mdx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Label/Label.tsx
Labels: enhancement

#590 Rewrite Heading and Link
  packages/components/src/Heading/Heading.stories.mdx
  packages/components/src/Heading/Heading.test.tsx
  packages/components/src/Heading/Heading.tsx
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Link/Link.tsx
Labels: enhancement

#592 rewrite ValidationMessage
  packages/components/src/ValidationMessage/ValidationMessage.stories.mdx
  packages/components/src/ValidationMessage/ValidationMessage.test.tsx
  packages/components/src/ValidationMessage/ValidationMessage.tsx
Labels: enhancement

#591 Rewrite Radio and Checkbox
  packages/components/src/Checkbox/Checkbox.stories.mdx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Radio/Radio.stories.mdx
  packages/components/src/Radio/Radio.tsx
Labels: enhancement

#593 Rewrite Button
  packages/components/src/Button/Button.stories.mdx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
Labels: enhancement
