Repository marigold-ui/marigold, pull requests merged in 2021-03, with the labels that each got.

#801 refa(components): Remove system helper from <Field>
  packages/components/src/Field/Field.tsx
Labels: enhancement

#820 refa: change Alert component & design
  packages/components/src/Alert/Alert.stories.mdx
  packages/components/src/Alert/Alert.test.tsx
  packages/components/src/Alert/Alert.tsx
  themes/theme-b2b/src/index.ts
Labels: automerge, enhancement

#837 chore: remove coveralls token
  .github/workflows/coveralls.yml
Labels: automerge

#811 feat: add Columns component
  package.json
  packages/components/src/Columns/Columns.stories.mdx
  packages/components/src/Columns/Columns.test.tsx
  packages/components/src/Columns/Columns.tsx
  packages/components/src/Columns/index.ts
  packages/components/src/index.ts
  yarn.lock
Labels: automerge, enhancement

#839 refa(components): Remove system helper from <Menu>
  packages/components/src/Menu/Menu.tsx
Labels: enhancement

#840 refa(components): Remove system helper from <MenuItem>
  packages/components/src/MenuItem/MenuItem.tsx
Labels: enhancement

#841 refa(components): Remove system helper from <Message>
  packages/components/src/Message/Message.tsx
Labels: enhancement

#823 refa(components): Remove system helper from <Label>
  packages/components/src/Field/Field.tsx
  packages/components/src/Label/Label.tsx
Labels: enhancement

#842 refa(components): Remove system helper from <Radio>
  packages/components/src/Radio/Radio.tsx
Labels: enhancement

#843 chore: Update ts-jest and @testing-library/react-hooks
  config/jest/package.json
  package.json
  yarn.lock
Labels: infrastructure

#844 refa(components): Remove system helper from <Select>
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
Labels: enhancement

#851 refa(components): Remove system helper from <Slider>
  packages/components/src/Slider/Slider.tsx
Labels: enhancement

#853 refa(components): Remove system helper from <Svg>
  packages/components/src/Svg/Svg.tsx
Labels: enhancement

#864 refa(components): Remove system helper from <ValidationMessage>
  packages/components/src/ValidationMessage/ValidationMessage.tsx
Labels: enhancement

#865 fix(Field): Fix color access
  packages/components/src/Field/Field.tsx
Labels: enhancement

#861 refa(components): Remove system helper from <Text>
  packages/components/src/Text/Text.tsx
Labels: enhancement

#815 refa: Textarea design and component change
  packages/components/src/Textarea/Textarea.stories.mdx
  packages/components/src/Textarea/Textarea.test.tsx
  packages/components/src/Textarea/Textarea.tsx
  themes/theme-b2b/src/index.ts
Labels: enhancement

#866 feat(system): Deprecate system helper
  packages/system/src/index.ts
  packages/system/src/system.test.tsx
  packages/system/src/system.tsx
Labels: enhancement

#868 chore: upgrade yarn to v2 (berry)
  .gitignore
  .npmrc
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
  package.json
  packages/components/package.json
  packages/icons/package.json
  themes/theme-b2b/package.json
  themes/theme-unicorn/package.json
  yarn.lock
Labels: enhancement

#881 chore(docs): Lint and use TS for pages
  config/jest/index.js
  config/jest/package.json
  docs/gatsby-config.js
  docs/src/pages/404.tsx
  docs/src/pages/index.tsx
  jest.config.js
  package.json
  yarn.lock
Labels: infrastructure

#869 feat: Introduce <Dialog>
  packages/components/src/Dialog/Dialog.stories.mdx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Dialog/index.ts
  packages/components/src/index.ts
  themes/theme-b2b/src/index.ts
Labels: enhancement

#889 docs: setup first component page
  config/jest/index.js
  docs/src/components/Layout.tsx
  docs/src/components/Navigation.tsx
  docs/src/pages/components/button.mdx
  docs/src/pages/designTokens/colours.mdx
  docs/src/pages/designTokens/icons.mdx
  docs/src/pages/index.js
  docs/src/pages/start.mdx
Labels: infrastructure
