Repository marigold-ui/marigold, pull requests merged in 2021-07, with the labels that each got.

#1149 feat(docs): Add dynamic navigation (based on mdx content)
  .changeset/tidy-mails-sneeze.md
  docs/content/components/menu-item.mdx
  docs/content/components/validation-message.mdx
  docs/content/foundation/colors.mdx
  docs/content/foundation/icons.mdx
  docs/content/foundation/theming.mdx
  docs/gatsby-config.js
  docs/package.json
  docs/src/components/Layout.tsx
  docs/src/components/Link.tsx
  docs/src/components/Logo/Logo.tsx
  docs/src/components/Logo/index.ts
  docs/src/components/Logo/logo.png
  docs/src/components/Navigation.tsx
  docs/src/components/Navigation/Navigation.tsx
  docs/src/components/Navigation/index.ts
  docs/src/components/Navigation/useNavigation.ts
  docs/src/components/ThemeSelect.tsx
  docs/src/components/ThemeSwitch.tsx
  docs/src/theme/components.ts
  docs/src/theme/typography.ts
  docs/src/wrapper.tsx
  yarn.lock
Labels: type:docs

#1158 fix(Text): Remove deprecated usage of `textColor`
  docs/content/components/badge.mdx
  packages/components/src/Text/Text.stories.mdx
Labels: type:docs, type:feature

#1150 chore(jest): Update jest to version 27
  config/jest/index.js
  config/jest/package.json
  package.json
  yarn.lock
Labels: type:infrastructure

#1148 feat(docs): add guides for installation and useStyles
  .changeset/lazy-candles-invite.md
  docs/content/foundation/iconography.mdx
  docs/content/foundation/themes-variants.mdx
  docs/content/guides/installation.mdx
  docs/content/guides/usestyles.mdx
  docs/src/mdx.tsx
Labels: type:docs

#1160 docs: complete icons mdx file
  .changeset/polite-sloths-laugh.md
  docs/content/foundation/iconography.mdx
Labels: type:docs

#1163 feat(system): Expose helper to transpile style object
  .changeset/quick-steaks-relax.md
  packages/components/src/Stack/Stack.tsx
  packages/system/src/useClassname.ts
  packages/system/src/useTheme.test.tsx
  packages/system/src/useTheme.tsx
Labels: type:feature

#1170 chore(deploy): add deploy script and index
  .changeset/perfect-pots-pump.md
  .github/workflows/deploy.yml
  docs/index.html
Labels: type:docs

#1161 feat(docs): Box primitive
  .changeset/curly-snakes-relate.md
  docs/content/components/box.mdx
  docs/content/components/link.mdx
  docs/content/components/stack.mdx
  docs/content/components/text.mdx
  docs/content/foundation/box-primitive.mdx
  docs/content/foundation/themes-variants.mdx
  docs/content/guides/installation.mdx
  docs/src/components/Navigation/Navigation.tsx
Labels: type:docs

#1177 fix: add withPrefix for correct image path
  docs/src/components/Logo/Logo.tsx
Labels: type:docs

#1178 fix: add withPrefix for correct image path
  .github/workflows/deploy.yml
  docs/src/components/Logo/Logo.tsx
Labels: type:docs

#1179 chore: update to v0.1.0
  config/eslint/package.json
  config/jest/package.json
  config/prettier/package.json
  config/storybook/package.json
  config/tsconfig/package.json
  docs/package.json
  package.json
  packages/components/package.json
  packages/icons/package.json
  packages/images/package.json
  packages/server/package.json
  packages/system/package.json
  packages/types/package.json
  themes/theme-b2b/package.json
  themes/theme-unicorn/package.json
Labels: type:docs, type:feature, type:infrastructure

#1181 make htmlFor from Label component optional
  packages/components/src/Label/Label.tsx
Labels: type:feature

#1182 improve Button component with react-aria
  .changeset/violet-news-relax.md
  docs/content/components/button.mdx
  packages/components/package.json
  packages/components/src/Button/Button.stories.mdx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
  yarn.lock
Labels: type:docs, type:feature

#1191 chore: Fix broken changeset
  .changeset/quick-steaks-relax.md
Labels: type:infrastructure

#1190 fix(system): List reset should not remove the enumeration
  .changeset/shaggy-roses-repair.md
  packages/system/src/reset.ts
Labels: type:feature

#1189 feat(components): <Stack> correctly uses whitespace and supports usage as list
  .changeset/calm-coats-applaud.md
  docs/content/components/stack.mdx
  docs/src/components/Layout.tsx
  packages/components/src/Stack/Stack.stories.mdx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
  themes/theme-b2b/src/index.ts
Labels: type:docs, type:feature

#1147 feat(components): improve <Select> with react-aria
  config/storybook/preview.js
  docs/content/components/select.mdx
  docs/src/components/CodeBlock.tsx
  docs/src/components/ThemeSelect.tsx
  docs/src/wrapper.tsx
  packages/components/package.json
  packages/components/src/Select/ListBox.tsx
  packages/components/src/Select/Option.tsx
  packages/components/src/Select/Popover.tsx
  packages/components/src/Select/Select.stories.mdx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/index.ts
  packages/system/package.json
  packages/system/src/MarigoldProvider.test.tsx
  packages/system/src/MarigoldProvider.tsx
  packages/system/src/index.ts
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
  yarn.lock
Labels: type:docs, type:feature, type:infrastructure
