Repository marigold-ui/marigold, pull requests merged in 2021-09, with the labels that each got.

#1254 Revert "fix(deps): update typescript-eslint monorepo to v4.31.0"
  config/eslint/package.json
  yarn.lock
Labels: type:infrastructure

#1230 feat: add GlobalStyles via theme
  .changeset/large-geckos-serve.md
  docs/content/foundation/themes-variants.mdx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
  packages/system/src/index.ts
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1259 fix(renovate): add yarn lock file maintenance to renovate config
  .github/renovate.json
Labels: type:infrastructure

#1229 refa(design): label component redesign
  .changeset/young-chairs-try.md
  docs/content/components/label.mdx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Field/Field.tsx
  packages/components/src/Label/Label.stories.mdx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Textarea/Textarea.test.tsx
  packages/components/src/Textarea/Textarea.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1227 bugfix: jumping border at Select button
  .changeset/old-seahorses-brush.md
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:bug, type:feature

#1261 fix: remove leaking theme-ui to other packages
  packages/components/src/Provider/MarigoldProvider.tsx
Labels: type:feature

#1262 Revert "fix: remove leaking theme-ui to other packages"
  packages/components/src/Provider/MarigoldProvider.tsx
Labels: type:feature

#1234 fix(comp): Dialog & Hidden examples + styles
  .changeset/nice-days-bathe.md
  docs/content/components/dialog.mdx
  docs/content/components/hidden.mdx
  packages/components/src/Dialog/Dialog.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1265 Revert "Revert "fix: remove leaking theme-ui to other packages""
  packages/components/src/Provider/MarigoldProvider.tsx
Labels: type:feature

#1267 fix: comment out globalstyles
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
Labels: type:feature

#1264 fix(comp): correct variant in Link and Menu component
  .changeset/shaggy-pots-provide.md
  docs/content/components/menu-item.mdx
  docs/content/components/menu.mdx
  packages/components/src/Menu/Menu.stories.mdx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/MenuItem/MenuItem.stories.mdx
  packages/components/src/MenuItem/MenuItem.test.tsx
  packages/components/src/MenuItem/MenuItem.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:bug, type:docs, type:feature

#1292 fix(deps): update deps by hand
  config/eslint/package.json
  config/jest/package.json
  config/storybook/package.json
  package.json
  packages/components/package.json
  packages/system/package.json
  yarn.lock
Labels: type:feature, type:infrastructure

#1236 Image component to gatsby docs
  .changeset/hungry-gifts-burn.md
  docs/content/components/image.mdx
Labels: type:docs

#1316 feat: Add and expose SSRProvider to support SSR
  .changeset/early-berries-speak.md
  docs/content/components/label.mdx
  docs/src/components/ThemeSelect.tsx
  docs/src/wrapper.tsx
  packages/components/package.json
  packages/components/src/Provider/index.ts
  yarn.lock
Labels: type:docs, type:feature

#1296 docs: initial core-theme
  .changeset/few-peas-cheat.md
  config/storybook/preview.js
  docs/content/themes/core.mdx
  docs/src/components/ThemeSwitch.tsx
  themes/theme-core/README.md
  themes/theme-core/package.json
  themes/theme-core/src/colors.ts
  themes/theme-core/src/index.ts
  themes/theme-core/tsconfig.build.json
  yarn.lock
Labels: type:docs, type:feature, type:infrastructure

#1269 feature: section to select component
  .changeset/big-eggs-compare.md
  docs/content/components/select.mdx
  packages/components/src/Select/ListBox.tsx
  packages/components/src/Select/ListBoxSection.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/index.ts
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1235 feature: ActionGroup - new component
  .changeset/flat-laws-obey.md
  docs/content/components/action-group.mdx
  packages/components/src/ActionGroup/ActionGroup.stories.mdx
  packages/components/src/ActionGroup/ActionGroup.test.tsx
  packages/components/src/ActionGroup/ActionGroup.tsx
  packages/components/src/ActionGroup/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature
