Repository marigold-ui/marigold, pull requests merged in 2021-11, with the labels that each got.

#1440 feature: use Element in Box + necessary fix changes
  .changeset/eight-deers-confess.md
  packages/components/src/ActionGroup/ActionGroup.tsx
  packages/components/src/Box/Box.tsx
  packages/components/src/Stack/Stack.tsx
  packages/components/src/Text/Text.tsx
Labels: type:feature

#1450 refa(comp): use Element in SVG + replace useStyles
  .changeset/wet-news-hope.md
  packages/icons/src/SVG/SVG.test.tsx
  packages/icons/src/SVG/SVG.tsx
Labels: type:feature

#1447 feat(comp): Card component
  .changeset/giant-spies-destroy.md
  docs/content/components/card.mdx
  packages/components/src/Card/Card.stories.mdx
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Card/Card.tsx
  packages/components/src/Card/index.ts
  packages/components/src/index.ts
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1441 refa(comp): replace useStyles usages in docs package
  .changeset/moody-buckets-fly.md
  docs/src/components/CodeBlock.tsx
  docs/src/mdx.tsx
Labels: type:docs

#1448 feat(comp): replace useStyles in Badge, Menu, Message, ValMes
  .changeset/nasty-donuts-hear.md
  packages/components/src/Badge/Badge.test.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/Message/Message.tsx
  packages/components/src/ValidationMessage/ValidationMessage.test.tsx
  packages/components/src/ValidationMessage/ValidationMessage.tsx
Labels: type:feature

#1449 refa(comp): replace useStyles in ListBox, Textarea, Field.test
  .changeset/unlucky-cars-brake.md
  packages/components/src/Field/Field.test.tsx
  packages/components/src/Select/ListBox.tsx
  packages/components/src/Select/ListBoxSection.tsx
  packages/components/src/Textarea/Textarea.tsx
Labels: type:feature

#1465 Revert "fix(deps): update gatsby monorepo"
  docs/package.json
  yarn.lock
Labels: type:docs

#1350 docs: foundation about css-in-js
  .changeset/poor-birds-argue.md
  docs/content/foundation/css-in-js.mdx
Labels: type:docs

#1468 feat: <Column> allows responsive width values
  docs/src/components/Layout.tsx
  packages/components/src/Column/Column.test.tsx
  packages/components/src/Column/Column.tsx
Labels: type:docs, type:feature

#1470 feat(docs): rename CodeBlock + create MarigoldTheme wrapper + use in button.mdx
  .changeset/grumpy-points-hunt.md
  docs/content/components/button.mdx
  docs/src/components/MarigoldTheme.tsx
  docs/src/components/Preview.tsx
  docs/src/mdx.tsx
  docs/src/wrapper.tsx
Labels: type:docs

#1451 bugfix: map Stack children in div and remove prop as to render ol/ul
  .changeset/itchy-seas-fix.md
  docs/content/components/stack.mdx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
Labels: type:bug, type:docs, type:feature

#1471 bugfix(docs): add MarigoldTheme wrapper to button.mdx
  .changeset/twenty-rocks-heal.md
  docs/content/components/button.mdx
Labels: type:docs

#1472 feat(docs): change copy and show/hide buttons + text color
  .changeset/tame-pillows-enjoy.md
  docs/content/components/button.mdx
  docs/src/components/CopyButton.tsx
  docs/src/components/Preview.tsx
  docs/src/components/ShowHideButton.tsx
  docs/src/theme/components.ts
  docs/src/theme/typography.ts
Labels: type:docs

#1473 test: remove deprecated test
  packages/components/src/ActionGroup/ActionGroup.test.tsx
Labels: type:feature

#1475 feat(docs): change navi, logo size and content width
  .changeset/red-dryers-clean.md
  docs/src/components/Layout.tsx
  docs/src/components/Link.tsx
  docs/src/components/Logo/Logo.tsx
  docs/src/pages/{mdx.slug}.tsx
  docs/src/theme/components.ts
  docs/src/theme/typography.ts
Labels: type:docs

#1474 refa: remove useStyles from <Alert>
  .changeset/wicked-flowers-guess.md
  packages/components/src/Alert/Alert.test.tsx
  packages/components/src/Alert/Alert.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:feature

#1476 chore: Update TS to 4.5
  package.json
  yarn.lock
Labels: type:dependencies

#1482 feat(comp): remove useStyles from Card
  .changeset/moody-dancers-eat.md
  packages/components/src/Card/Card.stories.mdx
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Card/Card.tsx
Labels: type:feature

#1485 feat(comp): remove useStyles from Label
  .changeset/sixty-pets-suffer.md
  packages/components/src/Label/Label.tsx
Labels: type:feature

#1484 feat(comp): remove useStyles from Select
  .changeset/wild-mirrors-speak.md
  packages/components/src/Select/Select.tsx
Labels: type:feature

#1483 feat(comp): remove useStyles from Checkbox + Radio
  .changeset/rare-humans-float.md
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Radio/Radio.tsx
Labels: type:feature

#1466 feat(docs): doAndDont + CodePreview component - e.g. button
  .changeset/smart-hornets-dance.md
  docs/content/components/button.mdx
  docs/src/components/DoAndDont.tsx
  docs/src/theme/colors.ts
  docs/src/theme/components.ts
  docs/src/theme/typography.ts
  packages/components/src/Card/Card.tsx
Labels: type:docs, type:feature

#1489 release(all): version 0.2.0
  config/eslint/package.json
  config/jest/package.json
  config/prettier/package.json
  config/storybook/package.json
  config/tsconfig/package.json
  docs/package.json
  package.json
  packages/components/package.json
  packages/icons/package.json
  packages/images/package.json
  packages/server/package.json
  packages/system/package.json
  packages/types/package.json
  themes/theme-b2b/package.json
  themes/theme-core/package.json
  themes/theme-unicorn/package.json
Labels: type:docs, type:feature, type:infrastructure

#1488 fix(comp): Select coverage
  .changeset/famous-poets-press.md
  packages/components/src/Select/Select.tsx
Labels: type:feature

#1313 feat(comp): Slider component - design update
  .changeset/giant-colts-move.md
  docs/content/components/slider.mdx
  packages/components/src/Slider/Slider.stories.mdx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1491 remove useStyles from Element
  .changeset/clever-swans-tie.md
  packages/system/src/Element.test.tsx
Labels: type:feature

#1492 feat(comp): remove useStyles from Columns
  .changeset/seven-shirts-doubt.md
  packages/components/src/Columns/Columns.tsx
Labels: type:feature

#1493 feat(comp): remove useStyles from Slider
  .changeset/lovely-coats-flow.md
  packages/components/src/Slider/Slider.tsx
Labels: type:feature

#1495 chore: remove unused gatsby plugin
  docs/package.json
  yarn.lock
Labels: type:docs

#1497 chore: remove @emotion/css and package marigold/server
  docs/gatsby-ssr.js
  docs/package.json
  packages/server/README.md
  packages/server/package.json
  packages/server/src/createStyleTag.test.tsx
  packages/server/src/createStyleTag.tsx
  packages/server/src/index.ts
  packages/server/src/renderStatic.test.tsx
  packages/server/src/renderStatic.ts
  packages/server/tsconfig.build.json
  packages/system/package.json
  packages/system/src/cache.ts
  packages/system/src/index.ts
  packages/system/src/reset.ts
  packages/system/src/useClassname.test.tsx
  packages/system/src/useClassname.ts
  packages/system/src/useStyles.stories.mdx
  packages/system/src/useStyles.test.tsx
  packages/system/src/useStyles.ts
  yarn.lock
Labels: type:docs, type:feature
