Repository marigold-ui/marigold, pull requests merged in 2021-05, with the labels that each got.

#995 bugfix: change breakpoints array type to string in basetheme
  packages/components/src/theme.ts
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: enhancement

#1023 feat(system): Improve types of `useStyles`
  packages/components/src/Alert/Alert.tsx
  packages/components/src/Badge/Badge.test.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Box/Box.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Columns/Columns.tsx
  packages/components/src/Field/Field.test.tsx
  packages/components/src/Field/Field.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/MenuItem/MenuItem.tsx
  packages/components/src/Message/Message.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
  packages/components/src/Textarea/Textarea.tsx
  packages/components/src/ValidationMessage/ValidationMessage.tsx
  packages/icons/src/SVG/SVG.test.tsx
  packages/icons/src/SVG/SVG.tsx
  packages/server/src/createStyleTag.test.tsx
  packages/server/src/renderStatic.test.tsx
  packages/system/src/useStyles.test.tsx
  packages/system/src/useStyles.ts
Labels: enhancement

#1024 chore(deps): Update eslint
  config/eslint/package.json
  yarn.lock
Labels: infrastructure

#1039 feat(docs): Load Inter font
  docs/package.json
  docs/src/components/Layout.tsx
  yarn.lock
Labels: type:docs

#1038 test(system): Add test that shows theme cascading
  packages/system/src/useTheme.test.tsx
Labels: enhancement

#1040 feat(docs): Remove unnecessary text node
  docs/src/components/Layout.tsx
Labels: type:docs

#1043 docs: marigold text components to mdx
  docs/gatsby-browser.js
  docs/src/components/CodeBlock.tsx
Labels: type:docs

#1058 fix(components): Export <Box> component
  packages/components/src/index.ts
Labels: type:bug

#1056 feat: move content pages out of source
  docs/content/components/button.mdx
  docs/content/design-tokens/colors.mdx
  docs/content/design-tokens/icons.mdx
  docs/gatsby-browser.js
  docs/gatsby-config.js
  docs/gatsby-ssr.js
  docs/src/components/Navigation.tsx
  docs/src/pages/index.tsx
  docs/src/pages/start.mdx
  docs/src/pages/{mdx.slug}.tsx
Labels: type:docs

#1059 refa: use type and switch/case in CodeBlock.js
  docs/content/components/button.mdx
  docs/content/design-tokens/icons.mdx
  docs/gatsby-browser.js
  docs/src/components/CodeBlock.tsx
Labels: type:docs

#1060 docs: copy button variant to ghost.small
  docs/src/components/CopyButton.tsx
Labels: type:docs

#1015 docs: Theming
  docs/content/foundation/theming.mdx
  docs/content/themes/b2b.mdx
  docs/content/themes/unicorn.mdx
  docs/src/components/Navigation.tsx
Labels: automerge, type:docs

#1062 docs: add list tags to gatsby mdx components
  docs/gatsby-browser.js
Labels: type:docs
