Repository marigold-ui/marigold, pull requests merged in 2021-02, with the labels that each got.

#733 bug: remove circular dependency
  packages/system/src/normalize.ts
Labels: automerge, enhancement

#735 feat(system): Expose type aliases from system
  packages/system/src/index.ts
  packages/system/src/types.ts
  packages/system/src/useClassname.ts
Labels: automerge, enhancement

#738 chore: update react to v17
  package.json
  yarn.lock
Labels: automerge

#736 chore: Update eslint and config to latest major
  config/eslint/index.js
  config/eslint/package.json
  package.json
  yarn.lock
Labels: infrastructure

#737 chore: Update to emotion 11, switch to @emotion/css
  package.json
  packages/system/package.json
  packages/system/src/useClassname.ts
  yarn.lock
Labels: enhancement

#741 Revert "chore: Update to emotion 11, switch to @emotion/css"
  package.json
  packages/system/package.json
  packages/system/src/useClassname.ts
  yarn.lock
Labels: enhancement

#742 chore: Update to emotion 11, switch to @emotion/css
  config/storybook/main.js
  package.json
  packages/system/package.json
  packages/system/src/useClassname.ts
  yarn.lock
Labels: automerge, enhancement, infrastructure

#752 chore: Remove layout package
  packages/layout/README.md
  packages/layout/package.json
  packages/layout/src/index.ts
  packages/layout/tsconfig.build.json
Labels: automerge, enhancement

#755 dep: Remove categories
  packages/system/src/categories.ts
  packages/system/src/index.ts
Labels: automerge, enhancement

#751 feat: <Box> layout component
  packages/components/src/Box/Box.stories.mdx
  packages/components/src/Box/Box.test.tsx
  packages/components/src/Box/Box.tsx
  packages/components/src/Box/index.ts
  packages/system/src/types.ts
  packages/types/package.json
  packages/types/src/array.ts
  packages/types/src/index.ts
  packages/types/src/object.ts
  packages/types/src/react.ts
  yarn.lock
Labels: automerge, enhancement

#762 remove createComponent script
  package.json
  scripts/create.ts
  scripts/template/Component.stories.mdx
  scripts/template/Component.test.tsx
  scripts/template/Component.tsx
  scripts/template/index.ts
Labels: automerge, infrastructure

#763 remove layout from components and themes
  packages/components/src/Column/Column.stories.mdx
  packages/components/src/Column/Column.test.tsx
  packages/components/src/Column/Column.tsx
  packages/components/src/Container/Container.stories.mdx
  packages/components/src/Container/Container.test.tsx
  packages/components/src/Container/Container.tsx
  packages/components/src/Hidden/Hidden.stories.mdx
  packages/components/src/Hidden/Hidden.test.tsx
  packages/components/src/Hidden/Hidden.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: automerge, enhancement

#764 bug: Make element a single elementtype and adjust tests
  packages/components/src/Box/Box.tsx
  packages/components/src/Message/Message.tsx
  packages/system/src/useStyles.test.tsx
  packages/system/src/useStyles.ts
  packages/system/src/writeComponent.stories.mdx
Labels: enhancement

#765 remove storybook console warnings
  config/storybook/preview.js
  packages/components/src/Alert/Alert.stories.mdx
  packages/components/src/Badge/Badge.stories.mdx
  packages/components/src/Box/Box.stories.mdx
  packages/components/src/Button/Button.stories.mdx
  packages/components/src/Checkbox/Checkbox.stories.mdx
  packages/components/src/Column/Column.stories.mdx
  packages/components/src/Container/Container.stories.mdx
  packages/components/src/Divider/Divider.stories.mdx
  packages/components/src/Field/Field.stories.mdx
  packages/components/src/Heading/Heading.stories.mdx
  packages/components/src/Hidden/Hidden.stories.mdx
  packages/components/src/Image/Image.stories.mdx
  packages/components/src/Input/Input.stories.mdx
  packages/components/src/Label/Label.stories.mdx
  packages/components/src/Link/Link.stories.mdx
  packages/components/src/Menu/Menu.stories.mdx
  packages/components/src/MenuItem/MenuItem.stories.mdx
  packages/components/src/Message/Message.stories.mdx
  packages/components/src/Radio/Radio.stories.mdx
  packages/components/src/Select/Select.stories.mdx
  packages/components/src/Slider/Slider.stories.mdx
  packages/components/src/Svg/Svg.stories.mdx
  packages/components/src/Text/Text.stories.mdx
  packages/components/src/Textarea/Textarea.stories.mdx
  packages/components/src/ValidationMessage/ValidationMessage.stories.mdx
  packages/icons/src/Icons.stories.mdx
  packages/system/src/Colors.stories.mdx
  packages/system/src/writeComponent.stories.mdx
  yarn.lock
Labels: automerge, enhancement, infrastructure

#785 feat(components): Let <Box> support variant prop
  packages/components/src/Box/Box.test.tsx
  packages/components/src/Box/Box.tsx
Labels: enhancement

#792 chore: update all packages to version 0.0.2
  packages/components/package.json
  packages/icons/package.json
  packages/images/package.json
  packages/system/package.json
  packages/types/package.json
  themes/theme-b2b/package.json
  themes/theme-unicorn/package.json
Labels: enhancement

#777 feat(types): Add helper type to easy add HTML props
  packages/types/src/array.ts
  packages/types/src/index.ts
  packages/types/src/object.ts
  packages/types/src/react.ts
Labels: enhancement

#774 refa(components): Remove system helper from <Alert>
  packages/components/src/Alert/Alert.tsx
Labels: automerge, enhancement

#775 refa(components): Remove system helper from <Badge>
  packages/components/src/Badge/Badge.test.tsx
  packages/components/src/Badge/Badge.tsx
Labels: automerge, enhancement

#795 feat: Make `ComponentWithAs` and HTMLProps more awesome
  packages/components/src/Alert/Alert.tsx
  packages/components/src/Badge/Badge.tsx
  packages/types/src/index.ts
Labels: automerge, enhancement

#771 add Stack component
  package.json
  packages/components/src/Stack/Stack.stories.mdx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
  packages/components/src/Stack/index.ts
  packages/components/src/index.ts
  packages/system/src/types.ts
  packages/system/src/useTheme.tsx
  yarn.lock
Labels: enhancement

#796 refa(components): Remove system helper from <Checkbox>
  package.json
  packages/components/src/Checkbox/Checkbox.tsx
  yarn.lock
Labels: enhancement

#800 refa(components): Remove system helper from <Divider>
  packages/components/src/Divider/Divider.tsx
Labels: enhancement

#797 chore: cleanup and fix package deps
  package.json
  packages/components/package.json
  packages/system/package.json
  yarn.lock
Labels: enhancement

#799 refa(components): Remove system helper from <Container>
  packages/components/src/Container/Container.tsx
Labels: enhancement

#798 refa(components): Remove system helper from <Column>
  packages/components/src/Column/Column.test.tsx
  packages/components/src/Column/Column.tsx
Labels: enhancement

#776 refa(components): Remove system helper from <Button>
  packages/components/src/Button/Button.tsx
Labels: automerge, enhancement

#803 refa(components): Remove system helper from <Heading>
  packages/components/src/Heading/Heading.tsx
Labels: enhancement

#804 refa(components): Remove system helper from <Hidden>
  packages/components/src/Hidden/Hidden.test.tsx
  packages/components/src/Hidden/Hidden.tsx
Labels: enhancement

#806 refa(components): Remove system helper from <Image>
  packages/components/src/Image/Image.tsx
Labels: enhancement

#813 add as prop to Heading
  packages/components/src/Heading/Heading.stories.mdx
  packages/components/src/Heading/Heading.test.tsx
  packages/components/src/Heading/Heading.tsx
Labels: enhancement

#814 complete rx b2b Button Design
  packages/components/src/Button/Button.stories.mdx
  themes/theme-b2b/src/index.ts
Labels: enhancement

#805 chore: Remove lerna + fix broken package setup
  lerna.json
  package.json
  packages/icons/package.json
  packages/icons/tsconfig.build.json
  packages/images/package.json
  packages/types/package.json
  yarn.lock
Labels: enhancement

#819 Add type exports and remove absolute imports
  packages/components/src/Alert/Alert.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Column/Column.tsx
  packages/components/src/Container/Container.tsx
  packages/components/src/Divider/Divider.tsx
  packages/components/src/Field/Field.tsx
  packages/components/src/Heading/Heading.tsx
  packages/components/src/Hidden/Hidden.tsx
  packages/components/src/Image/Image.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/MenuItem/MenuItem.tsx
  packages/components/src/Message/Message.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Stack/Stack.tsx
  packages/components/src/Svg/Svg.tsx
  packages/components/src/Text/Text.tsx
  packages/components/src/Textarea/Textarea.tsx
  packages/components/src/ValidationMessage/ValidationMessage.tsx
Labels: enhancement

#824 refa(components): Remove system helper from <Link>
  packages/components/src/Link/Link.tsx
Labels: enhancement

#822 refa(components): Remove system helper from <Input>
  packages/components/src/Input/Input.tsx
Labels: enhancement
