Repository marigold-ui/marigold, pull requests merged in 2021-01, with the labels that each got.

#669 add MenuItem and Menu component
  packages/components/src/Menu/Menu.stories.mdx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/Menu/index.ts
  packages/components/src/MenuItem/MenuItem.stories.mdx
  packages/components/src/MenuItem/MenuItem.test.tsx
  packages/components/src/MenuItem/MenuItem.tsx
  packages/components/src/MenuItem/index.ts
  packages/components/src/index.ts
  themes/theme-b2b/src/index.ts
Labels: enhancement

#684 field comp - remove concat things
  packages/components/src/Field/Field.tsx
Labels: enhancement

#694 docs: rewrite how 2 component guide
  packages/system/src/writeComponent.stories.mdx
Labels: enhancement

#680 Normalization for element types
  packages/system/src/normalize.ts
  packages/system/src/useStyles.test.tsx
  packages/system/src/useStyles.ts
Labels: automerge, enhancement

#685 add Label to Checkbox and Radio
  packages/components/src/Checkbox/Checkbox.stories.mdx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Radio/Radio.stories.mdx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/Radio.tsx
Labels: enhancement

#714 add new issue template
  .github/ISSUE_TEMPLATE/design-update.md
Labels: automerge

#721 Desgin update: message
  packages/components/src/Message/Message.stories.mdx
  packages/components/src/Message/Message.test.tsx
  packages/components/src/Message/Message.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/colors.ts
  themes/theme-unicorn/src/index.ts
Labels: automerge, enhancement

#726 add Column Component
  packages/components/src/Column/Column.stories.mdx
  packages/components/src/Column/Column.test.tsx
  packages/components/src/Column/Column.tsx
  packages/components/src/Column/index.ts
  packages/components/src/index.ts
Labels: enhancement
