Repository marigold-ui/marigold, pull requests merged in 2021-08, with the labels that each got.

#1198 feat(components): Move Marigold to components
  docs/src/wrapper.tsx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
  packages/components/src/Provider/index.ts
  packages/components/src/Select/Select.test.tsx
  packages/components/src/index.ts
  packages/system/package.json
  packages/system/src/index.ts
  yarn.lock
Labels: type:docs, type:feature

#1196 Add error and required prop to <Select>
  .changeset/lemon-timers-travel.md
  docs/content/components/select.mdx
  packages/components/src/Select/ListBox.tsx
  packages/components/src/Select/Select.stories.mdx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1205 fix(docs): remove pathPrefix
  .changeset/grumpy-buckets-help.md
  docs/gatsby-config.js
Labels: type:docs

#1217 fix(comp): correct import of MarigoldProvider
  config/storybook/preview.js
Labels: type:bug, type:infrastructure

#1222 bugfix: variant from Dialog component
  packages/components/src/Dialog/Dialog.tsx
Labels: type:bug

#1224 fix(comp): listbox opens above Select button
  packages/components/src/Select/Select.tsx
Labels: type:bug

#1221 feat(storybook): add Welcome stories and additional config
  .changeset/six-glasses-prove.md
  config/storybook/Welcome.stories.mdx
  config/storybook/assets/favicon.ico
  config/storybook/assets/icon.png
  config/storybook/assets/type_logo.png
  config/storybook/main.js
  config/storybook/manager-head.html
  config/storybook/manager.js
  config/storybook/preview.js
  package.json
  packages/icons/src/Icons.stories.mdx
  packages/icons/src/SVG/SVG.stories.mdx
  packages/system/src/Colors.stories.mdx
  packages/system/src/useStyles.stories.mdx
Labels: type:feature, type:infrastructure

#1216 feat(comp): add defaultSelected and disabledKeys prop to Select
  docs/content/components/select.mdx
  packages/components/src/Select/Option.tsx
  packages/components/src/Select/Select.stories.mdx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1228 docs: Use Select component in ThemeSelect
  .changeset/eleven-actors-speak.md
  docs/content/components/select.mdx
  docs/src/components/ThemeSelect.tsx
  docs/src/theme/colors.ts
  docs/src/theme/components.ts
  packages/components/src/Select/Select.stories.mdx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
Labels: type:docs, type:feature
