Repository marigold-ui/marigold, pull requests merged in 2021-12, with the labels that each got.

#1498 feat: add GlobalStyles
  .changeset/many-cooks-hope.md
  docs/src/theme/index.ts
  docs/src/theme/root.ts
  packages/components/src/Provider/GlobalStyles.tsx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
Labels: type:docs, type:feature

#1500 bugfix(storybook): set find-up version to 5
  config/storybook/package.json
  yarn.lock
Labels: type:bug, type:infrastructure

#1501 feat(storybook): remove use styles stories
  .changeset/popular-years-destroy.md
  config/storybook/Welcome.stories.mdx
  packages/components/src/Column/Column.stories.mdx
  packages/icons/src/Icons.stories.mdx
  packages/system/src/Colors.stories.mdx
Labels: type:feature, type:infrastructure

#1502 feat(docs): remove useStyles from docs mdx files
  .changeset/plenty-candles-poke.md
  docs/content/components/column.mdx
  docs/content/foundation/box-primitive.mdx
  docs/content/foundation/themes-variants.mdx
  docs/content/guides/usestyles.mdx
  docs/content/themes/b2b.mdx
  docs/content/themes/core.mdx
  docs/content/themes/unicorn.mdx
Labels: type:docs

#1499 feat: Update and simplify normalization
  .changeset/shy-masks-end.md
  docs/src/theme/components.ts
  packages/components/src/Stack/Stack.test.tsx
  packages/system/src/Element.tsx
  packages/system/src/normalize.test.tsx
  packages/system/src/normalize.ts
Labels: type:docs, type:feature

#1504 fix: remove padding from select list
  packages/components/src/Select/ListBox.tsx
Labels: type:feature

#1505 bugfix(docs): set root margin to fix ThemeSelect
  .changeset/young-mayflies-drum.md
  docs/src/theme/root.ts
Labels: type:bug, type:docs

#1506 infra(packages): add icons package as dependency to component package
  .changeset/shiny-bulldogs-lie.md
  packages/components/package.json
  packages/icons/package.json
  yarn.lock
Labels: type:feature

#1507 feat(docs): improve icons page
  .changeset/eighty-fishes-leave.md
  docs/content/foundation/iconography.mdx
Labels: type:docs

#1508 feat: Add default styling to `<Element>`
  .changeset/slow-dolphins-search.md
  packages/system/src/Element.test.tsx
  packages/system/src/Element.tsx
  packages/system/src/normalize.ts
Labels: type:feature

#1510 refa(comp): Stack
  .changeset/chilled-dodos-think.md
  docs/content/components/stack.mdx
  packages/components/src/Stack/Stack.stories.mdx
Labels: type:docs, type:feature

#1512 fix(docs): DoAndDont component
  .changeset/young-badgers-dance.md
  docs/content/components/button.mdx
  docs/src/components/DoAndDont.tsx
  docs/src/theme/components.ts
Labels: type:docs

#1514 feat(system): Use emotion's context
  .changeset/empty-ants-float.md
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
  packages/system/src/Element.tsx
  packages/system/src/useTheme.test.tsx
  packages/system/src/useTheme.tsx
Labels: type:feature

#1509 feat(comp): improve Column + Columns component
  .changeset/twenty-donkeys-smash.md
  docs/content/components/column.mdx
  docs/content/components/columns.mdx
  docs/src/components/Layout.tsx
  packages/components/src/Column/Column.stories.mdx
  packages/components/src/Columns/Columns.stories.mdx
  packages/components/src/Columns/Columns.test.tsx
  packages/components/src/Columns/Columns.tsx
Labels: type:docs, type:feature

#1513 feat(comp): inline Component
  .changeset/light-carrots-boil.md
  docs/content/components/inline.mdx
  packages/components/src/Inline/Inline.stories.mdx
  packages/components/src/Inline/Inline.test.tsx
  packages/components/src/Inline/Inline.tsx
  packages/components/src/Inline/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#1515 feat: add normalization for body and html & fix emotion leak
  .changeset/clean-cats-jog.md
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
  packages/components/src/Provider/index.ts
  packages/system/src/Global.test.tsx
  packages/system/src/Global.tsx
  packages/system/src/index.ts
Labels: type:feature

#1519 refa(docs): inline component props table
  .changeset/modern-bugs-warn.md
  docs/content/components/inline.mdx
Labels: type:docs

#1521 feat(comp/docs): change Inline component default align + use it in DoAndDont
  .changeset/heavy-pens-knock.md
  docs/content/components/inline.mdx
  docs/src/components/DoAndDont.tsx
  packages/components/src/Inline/Inline.tsx
Labels: type:docs, type:feature

#1522 feat(comp): use Inline in ActionGroup
  .changeset/young-years-carry.md
  docs/content/components/action-group.mdx
  packages/components/src/ActionGroup/ActionGroup.stories.mdx
  packages/components/src/ActionGroup/ActionGroup.test.tsx
  packages/components/src/ActionGroup/ActionGroup.tsx
Labels: type:docs, type:feature

#1538 fix(docs): theme had old button variant structure
  .changeset/five-bags-help.md
  docs/src/theme/components.ts
Labels: type:docs

#1539 feat(config): Add performance tools to storybook
  .changeset/wicked-mayflies-chew.md
  config/storybook/main.js
  config/storybook/package.json
  config/storybook/preview.js
  yarn.lock
Labels: type:infrastructure

#1541 feat(docs): redirect to a useful page instead of empty start page
  docs/gatsby-config.js
  docs/gatsby-node.js
  docs/src/pages/404.tsx
  docs/src/pages/index.tsx
Labels: type:docs

#1549 refa: use emotion's theme function in <Element>
  .changeset/angry-hats-protect.md
  packages/system/src/Element.tsx
  packages/system/src/useTheme.tsx
Labels: type:feature

#1550 feat: Merge <Box> and <Element>
  .changeset/tough-carrots-prove.md
  docs/src/pages/{mdx.slug}.tsx
  packages/components/src/Box.ts
  packages/components/src/Box/Box.stories.mdx
  packages/components/src/Box/Box.test.tsx
  packages/components/src/Box/Box.tsx
  packages/components/src/Box/index.ts
  packages/icons/src/SVG.stories.mdx
  packages/icons/src/SVG.test.tsx
  packages/icons/src/SVG.tsx
  packages/icons/src/SVG/SVG.tsx
  packages/icons/src/SVG/index.ts
  packages/system/src/Box.test.tsx
  packages/system/src/Box.tsx
  packages/system/src/Element.tsx
  packages/system/src/index.ts
Labels: type:docs, type:feature

#1556 feat(comp): remove span from button + add some styles incl. space prop to button
  .changeset/happy-peaches-arrive.md
  docs/content/components/button.mdx
  docs/content/components/inline.mdx
  packages/components/src/ActionGroup/ActionGroup.test.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
Labels: type:docs, type:feature

#1562 Revert "feat(docs): copy svg icon to clipboard (#1548)"
  .changeset/cool-deers-joke.md
  docs/content/components/icon.mdx
  docs/content/foundation/iconography.mdx
  docs/content/foundation/icons.mdx
  docs/package.json
  docs/src/components/CopyButton.tsx
  docs/src/components/CopySVGIcon.tsx
  docs/src/theme/components.ts
  yarn.lock
Labels: type:docs

#1558 design(docs): DoAndDont comp padding change
  .changeset/heavy-camels-shake.md
  docs/src/components/DoAndDont.tsx
Labels: type:docs

#1564 feat(docs): first version of copy icon svg
  .changeset/cool-deers-joke.md
  docs/content/components/icon.mdx
  docs/content/foundation/iconography.mdx
  docs/content/foundation/icons.mdx
  docs/package.json
  docs/src/components/CopyButton.tsx
  docs/src/components/CopySVGIcon.tsx
  docs/src/theme/components.ts
  yarn.lock
Labels: type:docs

#1563 feat: Introduce a `Theme` with all available scales
  .changeset/modern-mice-reply.md
  docs/src/components/MarigoldTheme.tsx
  packages/components/src/Alert/Alert.test.tsx
  packages/components/src/Badge/Badge.test.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Divider/Divider.test.tsx
  packages/components/src/Field/Field.test.tsx
  packages/components/src/Heading/Heading.test.tsx
  packages/components/src/Image/Image.test.tsx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/MenuItem/MenuItem.test.tsx
  packages/components/src/Message/Message.test.tsx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Textarea/Textarea.test.tsx
  packages/components/src/ValidationMessage/ValidationMessage.test.tsx
  packages/system/src/index.ts
  packages/system/src/theme.ts
  packages/system/src/types.ts
  packages/system/src/useTheme.tsx
Labels: type:docs, type:feature

#1565 feat(docs): add marigold tooltip style + bounce animation to svg copy
  .changeset/olive-bags-exist.md
  docs/package.json
  docs/src/components/CopySVGIcon.tsx
  yarn.lock
Labels: type:docs

#1566 feat: add purple colors to themes and docs
  .changeset/poor-swans-taste.md
  docs/content/foundation/colors.mdx
  packages/system/src/Colors.stories.mdx
  themes/theme-b2b/src/colors.ts
  themes/theme-core/src/colors.ts
  themes/theme-unicorn/src/colors.ts
Labels: type:docs, type:feature

#1573 Revert "feat: add purple colors to themes and docs"
  .changeset/poor-swans-taste.md
  docs/content/foundation/colors.mdx
  packages/system/src/Colors.stories.mdx
  themes/theme-b2b/src/colors.ts
  themes/theme-core/src/colors.ts
  themes/theme-unicorn/src/colors.ts
Labels: type:docs, type:feature

#1572 feat(components): Harden types in theme
  .changeset/wet-cobras-learn.md
  docs/content/foundation/themes-variants.mdx
  docs/src/components/ThemeSwitch.tsx
  docs/src/theme/colors.ts
  docs/src/theme/components.ts
  docs/src/theme/index.ts
  docs/src/theme/root.ts
  docs/src/theme/typography.ts
  packages/components/src/ActionGroup/ActionGroup.tsx
  packages/components/src/Alert/Alert.test.tsx
  packages/components/src/Alert/Alert.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/Card/Card.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Divider/Divider.tsx
  packages/components/src/Field/Field.tsx
  packages/components/src/Heading/Heading.test.tsx
  packages/components/src/Heading/Heading.tsx
  packages/components/src/Image/Image.test.tsx
  packages/components/src/Image/Image.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/MenuItem/MenuItem.tsx
  packages/components/src/Message/Message.test.tsx
  packages/components/src/Message/Message.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Text/Text.tsx
  packages/components/src/Textarea/Textarea.tsx
  packages/components/src/ValidationMessage/ValidationMessage.tsx
  packages/components/src/theme.ts
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/colors.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1576 fix(themes): Move heading styles to own heading section
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:feature

#1577 chore(jest): Fast, faster, SW---ducking-C!
  config/jest/index.js
  config/jest/package.json
  packages/components/src/Box.ts
  yarn.lock
Labels: type:infrastructure

#1578 fix: fix docs build
  packages/components/src/Box.ts
Labels: type:feature

#1580 chore(jest): Use ES2021 as target for swc
  config/jest/index.js
Labels: type:infrastructure

#1579 feat: remove Heading from marigold
  .changeset/new-dragons-tan.md
  config/storybook/Welcome.stories.mdx
  docs/content/components/heading.mdx
  docs/content/components/inline.mdx
  docs/content/components/stack.mdx
  docs/content/components/text.mdx
  docs/content/foundation/icons.mdx
  docs/content/themes/b2b.mdx
  docs/content/themes/core.mdx
  docs/content/themes/unicorn.mdx
  docs/src/components/DoAndDont.tsx
  docs/src/mdx.tsx
  docs/src/pages/404.tsx
  docs/src/theme/typography.ts
  packages/components/src/Card/Card.stories.mdx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Heading/Heading.stories.mdx
  packages/components/src/Heading/Heading.test.tsx
  packages/components/src/Heading/Heading.tsx
  packages/components/src/Heading/index.ts
  packages/components/src/Message/Message.tsx
  packages/components/src/Stack/Stack.stories.mdx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/index.ts
  packages/components/src/theme.ts
  packages/icons/src/Icons.stories.mdx
  packages/system/src/Box.test.tsx
  packages/system/src/Colors.stories.mdx
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature, type:infrastructure

#1590 feat(b2b-theme): split theme + make more consistent
  .changeset/chilly-pears-think.md
  themes/theme-b2b/src/components.ts
  themes/theme-b2b/src/index.ts
  themes/theme-b2b/src/typography.ts
Labels: type:feature
