Repository marigold-ui/marigold, pull requests merged in 2021-06, with the labels that each got.

#1079 Revert "fix(deps): update dependency eslint-plugin-react to v7.24.0"
  config/eslint/package.json
Labels: type:infrastructure

#1080 Revert "fix(deps): update dependency eslint-plugin-import to v2.23.4"
  config/eslint/package.json
Labels: type:infrastructure

#1063 change mdx files folder structure + start page
  docs/content/foundation/design-language/theming.mdx
  docs/content/foundation/design-tokens/colors.mdx
  docs/content/foundation/design-tokens/icons.mdx
  docs/content/start.mdx
  docs/src/components/Navigation.tsx
  docs/src/pages/index.tsx
Labels: type:docs

#1078 docs: add component pages without useStylesHook
  docs/content/components/alert.mdx
  docs/content/components/badge.mdx
  docs/content/components/box.mdx
  docs/content/components/button.mdx
  docs/content/components/divider.mdx
  docs/content/components/heading.mdx
  docs/content/components/input.mdx
  docs/content/components/label.mdx
  docs/content/components/link.mdx
  docs/content/components/menuItem.mdx
  docs/content/components/message.mdx
  docs/content/components/select.mdx
  docs/content/components/slider.mdx
  docs/content/components/text.mdx
  docs/content/components/textarea.mdx
  docs/content/components/validationMessage.mdx
  docs/src/components/Navigation.tsx
Labels: type:docs

#1089 docs: change showHideButton style
  docs/src/components/ShowHideButton.tsx
Labels: type:docs

#1090 fix(eslint): Repair weird eslint incompatibilities
  .yarn/releases/yarn-2.4.1.cjs
  .yarnrc.yml
  config/eslint/index.js
  config/eslint/package.json
  package.json
  yarn.lock
Labels: type:infrastructure

#1097 docs: add mdx component pages to gatsby marigold
  docs/content/components/column.mdx
  docs/content/components/columns.mdx
  docs/content/components/container.mdx
  docs/content/components/dialog.mdx
  docs/content/components/field.mdx
  docs/content/components/hidden.mdx
  docs/content/components/menu.mdx
  docs/content/components/radio.mdx
  docs/content/components/stack.mdx
  docs/src/components/Navigation.tsx
Labels: type:docs

#1098 docs: make CodeBlock better + more flexible
  docs/src/components/CodeBlock.tsx
  docs/src/components/ShowHideButton.tsx
Labels: type:docs

#1107 chore: change to version 0.0.3
  packages/components/package.json
  packages/icons/package.json
  packages/images/package.json
  packages/server/package.json
  packages/system/package.json
  packages/types/package.json
  themes/theme-b2b/package.json
  themes/theme-unicorn/package.json
Labels: type:feature

#1109 fix+docs: fix checkbox component + add to docs
  docs/content/components/checkbox.mdx
  docs/src/components/Navigation.tsx
  packages/components/src/Checkbox/Checkbox.stories.mdx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
Labels: type:docs, type:feature

#1113 chore+docs: extract mdx comps from gatsby browser to own file
  docs/gatsby-browser.js
  docs/src/components/MdxComponents.tsx
Labels: type:docs

#1117 docs: Unify Gatsby's element wrapper
  docs/gatsby-browser.js
  docs/gatsby-ssr.js
  docs/package.json
  docs/src/components/Layout.tsx
  docs/src/components/MdxComponents.tsx
  docs/src/mdx.tsx
  docs/src/wrapper.tsx
  yarn.lock
Labels: type:docs

#1126 bugfix: give children to inlineCode
  docs/src/mdx.tsx
Labels: type:docs

#1128 chore: fix new yarn build
  config/storybook/main.js
Labels: type:infrastructure

#1130 chore(prettier): add ignore patterns for prettier
  .github/ISSUE_TEMPLATE/1.issue.md
  .github/ISSUE_TEMPLATE/2.bug.md
  .github/ISSUE_TEMPLATE/3.design-update.md
  .prettierignore
  .yarnrc.yml
  README.md
  contributing.md
  docs/README.md
  docs/content/foundation/design-language/theming.mdx
  docs/src/pages/{mdx.slug}.tsx
  packages/components/src/Badge/Badge.stories.mdx
  packages/components/src/Box/Box.stories.mdx
  packages/components/src/Columns/Columns.tsx
  packages/components/src/ValidationMessage/ValidationMessage.stories.mdx
  packages/system/src/useStyles.ts
Labels: type:docs, type:feature

#1131 feat(types): Clarify and improve as prop related types
  .changeset/spicy-months-behave.md
  jest.config.js
  packages/components/src/Box/Box.tsx
  packages/types/package.json
  packages/types/src/example.tsx
  packages/types/src/index.ts
Labels: type:feature

#1132 feat(components): Make `<Text>` and `<Link>` polymorphic
  .changeset/weak-months-bathe.md
  docs/content/components/link.mdx
  docs/content/components/text.mdx
  packages/components/package.json
  packages/components/src/Box/Box.test.tsx
  packages/components/src/Box/Box.tsx
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
  packages/types/src/index.ts
  yarn.lock
Labels: type:docs, type:feature

#1134 feat(docs): add landing page and link in the nav
  .changeset/rare-foxes-act.md
  docs/content/start.mdx
  docs/src/components/Navigation.tsx
  docs/src/pages/index.tsx
Labels: type:docs

#1135 feat(components): Add `touchAction` to reset for button and anchors
  packages/system/src/reset.ts
Labels: type:feature

#1138 fix(system): Correctly export `ResponsiveStyleValue`
  packages/system/src/types.ts
Labels: type:feature

#1137 feat(docs): Inital theme for docs
  .changeset/honest-cooks-occur.md
  docs/package.json
  docs/src/components/CodeBlock.tsx
  docs/src/components/CopyButton.tsx
  docs/src/components/ShowHideButton.tsx
  docs/src/mdx.tsx
  docs/src/theme/colors.ts
  docs/src/theme/components.ts
  docs/src/theme/index.ts
  docs/src/theme/typography.ts
  docs/src/wrapper.tsx
Labels: type:docs

#1133 feat(docs): switch themes functionality
  .changeset/unlucky-kings-suffer.md
  docs/src/components/CodeBlock.tsx
  docs/src/components/Layout.tsx
  docs/src/components/ThemeSelect.tsx
  docs/src/components/ThemeSwitch.tsx
  docs/src/theme/components.ts
Labels: type:docs
