Repository marigold-ui/marigold, pull requests merged in 2022-03, with the labels that each got.

#1817 feat(system): Add textSizeAdjust to globals
  .changeset/brave-planes-turn.md
  packages/system/src/Global.test.tsx
  packages/system/src/Global.tsx
Labels: type:feature

#1815 1806 develop mode
  .changeset/afraid-cars-design.md
  docs/src/components/Layout.tsx
Labels: type:docs

#1820 feat(comp): Checkbox add indeterminate state + doc update
  .changeset/tame-geese-compete.md
  docs/content/components/checkbox.mdx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxIcon.tsx
Labels: type:docs, type:feature

#1822 feat(comp/docs): Alert update variant + docs
  .changeset/rich-tigers-thank.md
  docs/content/components/alert.mdx
  packages/components/src/Alert/Alert.stories.tsx
  packages/components/src/Alert/Alert.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1821 feat(docs): update button + card
  .changeset/shaggy-pens-return.md
  docs/content/components/button.mdx
  docs/content/components/card.mdx
Labels: type:docs

#1835 feat: Figma link for component
  docs/content/components/button.mdx
  docs/src/components/FigmaLink.tsx
  docs/src/components/Link.tsx
  docs/src/theme/typography.ts
Labels: type:docs

#1841 test: Remove console and add type declaration
  packages/components/src/Dialog/ModalDialog.tsx
  packages/system/src/Global.test.tsx
Labels: type:feature

#1842 feat: extend svg fill prop to handle theme color
  .changeset/plenty-tools-visit.md
  packages/components/src/Button/Button.test.tsx
  packages/icons/src/Icon.test.tsx
  packages/system/src/SVG.test.tsx
  packages/system/src/SVG.tsx
Labels: type:feature

#1844 Icon fix
  .changeset/five-lies-poke.md
  packages/icons/src/ticketing/Price.tsx
Labels: type:feature

#1807 feat(comp): add Tooltip component v1
  .changeset/spicy-pumas-grin.md
  docs/content/components/tooltip.mdx
  docs/src/theme/components.ts
  packages/components/package.json
  packages/components/src/Tooltip/Tooltip.stories.tsx
  packages/components/src/Tooltip/Tooltip.test.tsx
  packages/components/src/Tooltip/Tooltip.tsx
  packages/components/src/Tooltip/TooltipTrigger.tsx
  packages/components/src/Tooltip/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
  yarn.lock
Labels: type:docs, type:feature

#1809 feat(create-theme): Introduce helpers to create themes
  .changeset/honest-otters-sin.md
  packages/system/src/theme.ts
  themes/create-theme/README.md
  themes/create-theme/package.json
  themes/create-theme/src/__snapshots__/create-theme.test.ts.snap
  themes/create-theme/src/create-theme.test.ts
  themes/create-theme/src/create-theme.ts
  themes/create-theme/src/index.ts
  themes/create-theme/src/vars/aspect.stories.tsx
  themes/create-theme/src/vars/aspect.ts
  themes/create-theme/src/vars/border.stories.tsx
  themes/create-theme/src/vars/border.ts
  themes/create-theme/src/vars/color.stories.tsx
  themes/create-theme/src/vars/color.ts
  themes/create-theme/src/vars/index.test.ts
  themes/create-theme/src/vars/index.ts
  themes/create-theme/src/vars/layer.ts
  themes/create-theme/src/vars/opacity.stories.tsx
  themes/create-theme/src/vars/opacity.ts
  themes/create-theme/src/vars/shadow.stories.tsx
  themes/create-theme/src/vars/shadow.ts
  themes/create-theme/src/vars/size.stories.tsx
  themes/create-theme/src/vars/size.ts
  themes/create-theme/src/vars/typography.stories.tsx
  themes/create-theme/src/vars/typography.ts
  themes/create-theme/tsconfig.build.json
  themes/create-theme/tsup.config.json
  yarn.lock
Labels: type:feature

#1843 feat: landingpage
  .changeset/tiny-dogs-poke.md
  docs/content/components/alert.mdx
  docs/src/components/FigmaLink.tsx
  docs/src/components/Layout.tsx
  docs/src/components/Logo/Logo.tsx
  docs/src/pages/index.tsx
  docs/src/pages/{mdx.slug}.tsx
  docs/src/theme/index.ts
  docs/src/theme/typography.ts
  docs/src/wrapper.tsx
Labels: type:docs

#1819 feat(comp): add new Component Switch
  .changeset/bright-flies-wait.md
  docs/content/components/switch.mdx
  packages/components/package.json
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
  packages/components/src/Switch/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
  yarn.lock
Labels: type:docs, type:feature

#1849 chore: remove Alert
  .changeset/twelve-panthers-teach.md
  docs/content/components/alert.mdx
  docs/content/foundation/themes-variants.mdx
  packages/components/src/Alert/Alert.stories.tsx
  packages/components/src/Alert/Alert.test.tsx
  packages/components/src/Alert/Alert.tsx
  packages/components/src/Alert/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1852 refa(comp): fill prop instead of css or __baseCSS
  .changeset/witty-months-smell.md
  packages/components/src/Label/Label.tsx
  packages/components/src/Select/Select.tsx
Labels: type:feature

#1853 chore: check docs link external or internal
  .changeset/afraid-ants-behave.md
  docs/src/components/Link.tsx
  docs/src/mdx.tsx
Labels: type:docs

#1851 feat(comp): make Inline accepting fragment + standard text
  .changeset/sweet-geckos-doubt.md
  packages/components/src/ActionGroup/ActionGroup.test.tsx
  packages/components/src/Inline/Inline.test.tsx
  packages/components/src/Inline/Inline.tsx
Labels: type:feature

#1854 1739 add links to docs
  .changeset/sweet-kangaroos-retire.md
  docs/src/components/Navigation/Navigation.tsx
Labels: type:docs

#1856 refa: tokens and create-theme packages moved
  packages/create-theme/README.md
  packages/create-theme/package.json
  packages/create-theme/src/__snapshots__/create-theme.test.ts.snap
  packages/create-theme/src/create-theme.test.ts
  packages/create-theme/src/create-theme.ts
  packages/create-theme/src/index.ts
  packages/create-theme/tsconfig.build.json
  packages/create-theme/tsup.config.json
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/src/aspect.stories.tsx
  packages/tokens/src/aspect.ts
  packages/tokens/src/border.stories.tsx
  packages/tokens/src/border.ts
  packages/tokens/src/color.stories.tsx
  packages/tokens/src/color.ts
  packages/tokens/src/index.test.ts
  packages/tokens/src/index.ts
  packages/tokens/src/layer.ts
  packages/tokens/src/opacity.stories.tsx
  packages/tokens/src/opacity.ts
  packages/tokens/src/shadow.stories.tsx
  packages/tokens/src/shadow.ts
  packages/tokens/src/size.stories.tsx
  packages/tokens/src/size.ts
  packages/tokens/src/typography.stories.tsx
  packages/tokens/src/typography.ts
  packages/tokens/tsconfig.build.json
  packages/tokens/tsup.config.json
  pnpm-lock.yaml
  scripts/release.mjs
Labels: type:feature

#1857 feat(comp): remove flattenChildren from Inline
  packages/components/src/Inline/Inline.tsx
Labels: type:feature

#1867 feat(comp): improve Stack component with gap
  packages/components/src/ActionGroup/ActionGroup.test.tsx
  packages/components/src/Stack/Stack.stories.tsx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
  themes/create-theme/CHANGELOG.md
Labels: type:feature

#1858 chore: update eslint
  config/eslint/package.json
  package.json
  packages/components/src/ActionGroup/ActionGroup.test.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Field/Field.test.tsx
  packages/components/src/Inline/Inline.test.tsx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/MenuItem/MenuItem.test.tsx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Textarea/Textarea.test.tsx
  packages/components/src/utils/flatten-children.test.tsx
  packages/system/src/Global.test.tsx
  pnpm-lock.yaml
Labels: type:feature, type:infrastructure

#1869 feat: add size scale to themes
  .changeset/loud-birds-bathe.md
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:feature

#1868 feat(comp): renew Container component
  .changeset/smooth-ligers-dream.md
  docs/content/components/container.mdx
  packages/components/src/Container/Container.stories.tsx
  packages/components/src/Container/Container.test.tsx
  packages/components/src/Container/Container.tsx
Labels: type:docs, type:feature

#1872 docs: make all marigold components available in MDX
  docs/src/wrapper.tsx
Labels: type:docs

#1875 fix: Rename <Image> SVG
  docs/content/foundation/icons.mdx
  packages/icons/src/action/Picture.tsx
  packages/icons/src/action/index.ts
Labels: type:docs, type:feature

#1876 refa(docs): use image correctly in mdx
  docs/content/components/image.mdx
Labels: type:docs

#1881 Component: Aspect
  .changeset/slimy-walls-film.md
  docs/content/components/aspect.mdx
  packages/components/src/Aspect/Aspect.stories.tsx
  packages/components/src/Aspect/Aspect.test.tsx
  packages/components/src/Aspect/Aspect.tsx
  packages/components/src/Aspect/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#1882 feat(comp): introduce Tiles component
  .changeset/healthy-dolls-draw.md
  docs/content/components/tiles.mdx
  packages/components/src/Tiles/Tiles.stories.tsx
  packages/components/src/Tiles/Tiles.test.tsx
  packages/components/src/Tiles/Tiles.tsx
  packages/components/src/Tiles/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#1883 feat: rename scales
  .changeset/plenty-turkeys-jog.md
  packages/create-theme/src/__snapshots__/create-theme.test.ts.snap
  packages/create-theme/src/create-theme.test.ts
  packages/tokens/src/border.stories.tsx
  packages/tokens/src/border.ts
  packages/tokens/src/index.test.ts
  packages/tokens/src/shadow.ts
  packages/tokens/src/size.stories.tsx
  packages/tokens/src/size.ts
  packages/tokens/src/typography.stories.tsx
  packages/tokens/src/typography.ts
Labels: type:feature

#1884 fix: add marigold/tokens as dependency to marigold/components
  packages/components/package.json
  pnpm-lock.yaml
Labels: type:feature

#1887 docs: template for component docs
  docs/templates/component.mdx
Labels: type:docs

#1890 feat: add font urls to themes + docs
  .changeset/soft-hairs-behave.md
  docs/content/introduction/00-getting-started.mdx
  docs/content/introduction/02-concepts.mdx
  docs/content/introduction/03-theming.mdx
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1898 feat: `<Stack>` supports rendering as list
  .changeset/selfish-sheep-jam.md
  packages/components/src/Stack/Stack.stories.tsx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
Labels: type:feature

#1914 feat: Refactor <Label>
  packages/components/src/Field-Next/Label.stories.tsx
  packages/components/src/Field-Next/Label.test.tsx
  packages/components/src/Field-Next/Label.tsx
Labels: type:feature

#1915 feat(system): theme getter
  .changeset/gorgeous-eagles-enjoy.md
  packages/system/src/useTheme.test.tsx
  packages/system/src/useTheme.tsx
Labels: type:feature

#1919 feat: SVG supports size token from theme
  .changeset/lucky-dolls-hope.md
  packages/components/src/Button/Button.test.tsx
  packages/icons/src/Icon.test.tsx
  packages/system/src/SVG.test.tsx
  packages/system/src/SVG.tsx
Labels: type:feature

#1920 feat: Intorduce <HelperText> for fields
  packages/components/src/Field-Next/HelperText.stories.tsx
  packages/components/src/Field-Next/HelperText.test.tsx
  packages/components/src/Field-Next/HelperText.tsx
Labels: type:feature

#1921 fix: use correct role for icon
  packages/components/src/Field-Next/Label.test.tsx
  packages/components/src/Field-Next/Label.tsx
Labels: type:feature

#1922 docs: revmove colors page
  docs/content/foundation/colors.mdx
Labels: type:docs

#1924 chore: make storybook faster
  .changeset/flat-windows-think.md
  config/storybook/main.ts
  package.json
Labels: type:infrastructure

#1926 feat(comp): Container with grid
  .changeset/ten-waves-approve.md
  docs/content/components/container.mdx
  packages/components/src/Container/Container.test.tsx
  packages/components/src/Container/Container.tsx
Labels: type:docs, type:feature

#1927 refa: improvement to`<HelpText>` API
  packages/components/src/Field-Next/HelpText.stories.tsx
  packages/components/src/Field-Next/HelpText.test.tsx
  packages/components/src/Field-Next/HelpText.tsx
  packages/components/src/Field-Next/HelperText.stories.tsx
  packages/components/src/Field-Next/HelperText.test.tsx
  packages/components/src/Field-Next/HelperText.tsx
Labels: type:feature

#1928 feat(comp): improve Container component
  .changeset/eighty-sloths-brush.md
  docs/content/components/container.mdx
  packages/components/src/Container/Container.stories.tsx
  packages/components/src/Container/Container.test.tsx
  packages/components/src/Container/Container.tsx
Labels: type:docs, type:feature

#1931 feat: load google font in storybook
  .changeset/flat-ways-dress.md
  config/storybook/preview-head.html
Labels: type:infrastructure

#1932 fix: coverage to one hundred percent
  packages/components/src/Field-Next/Field.test.tsx
  packages/components/src/Field-Next/HelpText.test.tsx
Labels: type:feature

#1930 feat(comp): Introduce Breakout component
  .changeset/proud-drinks-marry.md
  docs/content/components/breakout.mdx
  packages/components/src/Breakout/Breakout.stories.tsx
  packages/components/src/Breakout/Breakout.test.tsx
  packages/components/src/Breakout/Breakout.tsx
  packages/components/src/Breakout/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#1870 feat(comp): Center component
  .changeset/tiny-insects-perform.md
  docs/content/components/center.mdx
  packages/components/src/Center/Center.stories.tsx
  packages/components/src/Center/Center.test.tsx
  packages/components/src/Center/Center.tsx
  packages/components/src/Center/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#1934 refa(docs): improve mdx pages
  .changeset/thirty-rings-sip.md
  docs/content/components/checkbox.mdx
  docs/content/components/switch.mdx
  docs/content/foundation/icons.mdx
  docs/content/themes/b2b.mdx
  docs/content/themes/core.mdx
  docs/content/themes/unicorn.mdx
  docs/src/components/CopySVGIcon.tsx
  docs/src/wrapper.tsx
Labels: type:docs

#1935 feat(comp): improve SVG to handle width and height prop
  .changeset/dirty-comics-swim.md
  packages/system/src/SVG.test.tsx
  packages/system/src/SVG.tsx
Labels: type:feature

#1925 feat(comp): Rewrite Columns and remove Column
  .changeset/tidy-eggs-try.md
  docs/content/components/column.mdx
  docs/content/components/columns.mdx
  docs/src/components/Layout.tsx
  docs/src/theme/index.ts
  packages/components/src/Column/Column.stories.tsx
  packages/components/src/Column/Column.test.tsx
  packages/components/src/Column/Column.tsx
  packages/components/src/Column/index.ts
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/Columns/Columns.test.tsx
  packages/components/src/Columns/Columns.tsx
  packages/components/src/index.ts
Labels: type:docs, type:feature

#1936 refa(docs): refactor Do and Dont component
  docs/src/components/DoAndDont.tsx
  docs/src/theme/components.ts
Labels: type:docs
