Repository marigold-ui/marigold, pull requests merged in 2022-06, with the labels that each got.

#2136 fix: revert to using TypeScript 4.6
  .changeset/wicked-paws-rule.md
  config/storybook/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#2138 chore: Add action to test if storybook still builds
  .github/workflows/storybook.yml
  config/storybook/package.json
  package.json
Labels: type:infrastructure

#2144 feat: Improve usage of Marigold when not used as a full page app
  .changeset/khaki-pumpkins-burn.md
  docs/content/components/provider.mdx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
  packages/components/src/theme.ts
  packages/system/src/components/Box/Box.stories.tsx
  packages/system/src/components/Box/Box.test.tsx
  packages/system/src/components/Box/Box.tsx
  packages/system/src/components/Box/selector.test.ts
  packages/system/src/components/Box/selector.ts
  packages/system/src/components/Global/Global.stories.tsx
  packages/system/src/components/Global/Global.test.tsx
  packages/system/src/components/Global/Global.tsx
  packages/system/src/components/Global/normalize.ts
  packages/system/src/components/SVG/SVG.test.tsx
  packages/system/src/components/SVG/SVG.tsx
  packages/system/src/index.ts
  packages/system/src/normalize.test.tsx
  packages/system/src/normalize.ts
  packages/system/src/types/theme.ts
Labels: type:docs, type:feature

#2146 feat: forward ref for `<Checkbox>`
  .changeset/short-wombats-relate.md
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
Labels: type:feature

#2147 feat: forward ref for `<FieldText>`
  .changeset/afraid-kids-stare.md
  packages/components/src/TextField/TextField.test.tsx
  packages/components/src/TextField/TextField.tsx
Labels: type:feature

#2148 feat: forward ref for `<TextArea>`
  .changeset/odd-pens-exist.md
  packages/components/src/TextArea/TextArea.stories.tsx
  packages/components/src/TextArea/TextArea.test.tsx
  packages/components/src/TextArea/TextArea.tsx
Labels: type:feature

#2149 feat: forward ref for `<Radio>`
  .changeset/mean-moose-grab.md
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/Radio.tsx
Labels: type:feature

#2150 feat: forward ref for `<Select>`
  .changeset/proud-dogs-attend.md
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
Labels: type:feature

#2152 feat: forward ref for `<Switch>`
  .changeset/brave-meals-hammer.md
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
Labels: type:feature

#2151 feat: forward ref for `<Slider>`
  .changeset/big-books-allow.md
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
Labels: type:feature

#2155 chore: Visual regression tests
  .changeset/lovely-mayflies-shop.md
  .github/workflows/chromatic.yml
  .gitignore
  config/storybook/package.json
  config/storybook/storybook-static/favicon.ico
  package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#2157 chore: Testing Chromatic
  .gitignore
  packages/components/src/Aspect/Aspect.stories.tsx
Labels: type:feature

#2164 refa: update to React 18
  .changeset/ten-adults-flow.md
  config/jest/package.json
  config/storybook/package.json
  docs/content/components/aspect.mdx
  docs/package.json
  docs/src/components/Preview.tsx
  docs/src/pages/{mdx.slug}.tsx
  docs/src/wrapper.tsx
  package.json
  packages/components/package.json
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/TextArea/TextArea.test.tsx
  packages/components/src/TextField/TextField.test.tsx
  packages/icons/package.json
  packages/system/package.json
  packages/types/package.json
  pnpm-lock.yaml
Labels: type:docs, type:feature, type:infrastructure

#2165 feat: Stacked layout in Storybook for Chromatic
  .changeset/soft-donuts-fix.md
  config/storybook/main.ts
  config/storybook/package.json
  config/storybook/preview.tsx
  pnpm-lock.yaml
  themes/theme-b2b/src/index.ts
Labels: type:feature, type:infrastructure
