Repository marigold-ui/marigold, pull requests merged in 2022-04, with the labels that each got.

#1937 refa: Redo `<Field>` now called `<TextField>`
  .changeset/long-penguins-decide.md
  packages/components/package.json
  packages/components/src/Field-Next/HelpText.test.tsx
  packages/components/src/Field-Next/HelpText.tsx
  packages/components/src/Field-Next/Label.test.tsx
  packages/components/src/Field-Next/Label.tsx
  packages/components/src/Field-Next/TextField.stories.tsx
  packages/components/src/Field-Next/TextField.test.tsx
  packages/components/src/Field-Next/TextField.tsx
  pnpm-lock.yaml
  themes/theme-b2b/src/components.ts
Labels: type:feature

#1969 refa(docs): add missing theme styles in docs
  docs/content/components/text-area.mdx
  docs/content/components/text-field.mdx
Labels: type:docs

#1967 refa(docs): update mdx pages with name r-v
  .changeset/selfish-rabbits-camp.md
  docs/content/components/radio.mdx
  docs/content/components/select.mdx
  docs/content/components/slider.mdx
  docs/content/components/stack.mdx
  docs/content/components/switch.mdx
  docs/content/components/text.mdx
  docs/content/components/tiles.mdx
  docs/content/components/tooltip.mdx
  docs/content/components/validation-message.mdx
  docs/content/components/visually-hidden.mdx
Labels: type:docs

#1939 refa(docs): update mdx pages with name a-c
  .changeset/dirty-ads-prove.md
  docs/content/components/action-group.mdx
  docs/content/components/aside.mdx
  docs/content/components/aspect.mdx
  docs/content/components/badge.mdx
  docs/content/components/box.mdx
  docs/content/components/breakout.mdx
  docs/content/components/button.mdx
  docs/content/components/card.mdx
  docs/content/components/center.mdx
  docs/content/components/checkbox.mdx
  docs/content/components/columns.mdx
  docs/content/components/container.mdx
Labels: type:docs

#1972 feat: introduce `useComponentStyles` hook
  .changeset/dull-eyes-walk.md
  packages/system/package.json
  packages/system/src/useComponentStyles.test.tsx
  packages/system/src/useComponentStyles.ts
  pnpm-lock.yaml
Labels: type:feature

#1973 refa: re-structure system files
  packages/system/src/components/Box/Box.test.tsx
  packages/system/src/components/Box/Box.tsx
  packages/system/src/components/Box/index.ts
  packages/system/src/components/Global/Global.test.tsx
  packages/system/src/components/Global/Global.tsx
  packages/system/src/components/Global/index.ts
  packages/system/src/components/SVG/SVG.stories.tsx
  packages/system/src/components/SVG/SVG.test.tsx
  packages/system/src/components/SVG/SVG.tsx
  packages/system/src/components/SVG/index.ts
  packages/system/src/components/index.ts
  packages/system/src/hooks/index.ts
  packages/system/src/hooks/useComponentStyles.test.tsx
  packages/system/src/hooks/useComponentStyles.ts
  packages/system/src/hooks/useResponsiveValue.ssr.test.tsx
  packages/system/src/hooks/useResponsiveValue.test.tsx
  packages/system/src/hooks/useResponsiveValue.ts
  packages/system/src/hooks/useTheme.test.tsx
  packages/system/src/hooks/useTheme.tsx
  packages/system/src/index.ts
  packages/system/src/types/index.ts
  packages/system/src/types/system.ts
  packages/system/src/types/theme.ts
Labels: type:feature

#1982 refa: Badge uses new styling solution
  .changeset/modern-berries-refuse.md
  docs/content/components/badge.mdx
  docs/src/theme/index.ts
  packages/components/src/Badge/Badge.stories.tsx
  packages/components/src/Badge/Badge.test.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/theme.ts
  packages/create-theme/src/create-theme.test.ts
  packages/create-theme/src/create-theme.ts
  themes/create-theme/CHANGELOG.md
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Badge.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components.ts
  themes/theme-core/src/components/Badge.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/colors.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Badge.style.ts
  themes/theme-unicorn/src/components/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#1979 feat: transform state to corresponding css selector and data-attr
  .changeset/cyan-ligers-sin.md
  packages/system/src/components/Box/Box.stories.tsx
  packages/system/src/components/Box/Box.test.tsx
  packages/system/src/components/Box/Box.tsx
  packages/system/src/components/Box/utils.test.ts
  packages/system/src/components/Box/utils.ts
  packages/system/src/hooks/useComponentStyles.test.tsx
  packages/system/src/hooks/useComponentStyles.ts
  packages/system/src/hooks/useStateProps.test.tsx
  packages/system/src/hooks/useStateProps.ts
Labels: type:feature

#1983 fix(docs): remove old Field component and replace with Textfield
  docs/content/components/card.mdx
Labels: type:docs

#1985 fix: export useStateHook from system
  packages/system/src/hooks/index.ts
Labels: type:feature

#1988 refa: Field Component restructure
  .changeset/popular-monkeys-move.md
  packages/components/package.json
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Field/FieldBase.stories.tsx
  packages/components/src/Field/FieldBase.test.tsx
  packages/components/src/Field/FieldBase.tsx
  packages/components/src/Field/HelpText.stories.tsx
  packages/components/src/Field/HelpText.test.tsx
  packages/components/src/Field/HelpText.tsx
  packages/components/src/Field/Label.stories.tsx
  packages/components/src/Field/Label.test.tsx
  packages/components/src/Field/Label.tsx
  packages/components/src/Field/index.ts
  packages/components/src/Image/Image.tsx
  packages/components/src/TextArea/TextArea.tsx
  packages/components/src/TextField/TextField.tsx
  packages/components/src/theme.ts
  packages/system/src/components/Box/Box.test.tsx
  packages/system/src/components/Box/utils.test.ts
  packages/system/src/components/Box/utils.ts
  packages/system/src/hooks/useStateProps.test.tsx
  packages/system/src/hooks/useStateProps.ts
  packages/system/src/types/system.ts
  packages/system/src/types/theme.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/HelpText.style.ts
  themes/theme-b2b/src/components/Label.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/components/HelpText.style.ts
  themes/theme-core/src/components/Label.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/components/HelpText.style.ts
  themes/theme-unicorn/src/components/Label.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:feature

#1990 refa: Input Component restyled and restructure
  .changeset/loud-ligers-destroy.md
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/TextField/TextField.test.tsx
  packages/components/src/TextField/TextField.tsx
  packages/components/src/theme.ts
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Input.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/Input.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Input.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:feature

#1991 refa: textarea restructure styles
  .changeset/cold-wolves-march.md
  packages/components/src/TextArea/TextArea.tsx
  packages/components/src/theme.ts
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/TextArea.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/TextArea.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/TextArea.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:feature

#1992 refa: Link styles
  .changeset/light-lobsters-tan.md
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/theme.ts
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Link.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/Link.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Link.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:feature

#1994 refa: card styles structur
  .changeset/lucky-bats-type.md
  docs/content/components/card.mdx
  packages/components/src/Card/Card.stories.tsx
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Card/Card.tsx
  packages/components/src/Field/FieldBase.tsx
  packages/components/src/theme.ts
  packages/system/src/hooks/useComponentStyles.ts
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Card.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Card.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#1997 feat: New component <Content>
  .changeset/pink-pigs-cross.md
  docs/content/components/card.mdx
  docs/content/components/content.mdx
  packages/components/src/Content/Content.stories.tsx
  packages/components/src/Content/Content.test.tsx
  packages/components/src/Content/Content.tsx
  packages/components/src/Content/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#1998 feat(comp): headline component
  .changeset/slow-rules-drop.md
  docs/content/components/headline.mdx
  packages/components/src/Content/Content.stories.tsx
  packages/components/src/Headline/Headline.stories.tsx
  packages/components/src/Headline/Headline.test.tsx
  packages/components/src/Headline/Headline.tsx
  packages/components/src/Headline/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
  themes/theme-b2b/src/components/Headline.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/typography.ts
  themes/theme-core/src/components/Headline.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-core/src/typography.ts
  themes/theme-unicorn/src/components/Headline.style.ts
  themes/theme-unicorn/src/components/index.ts
  themes/theme-unicorn/src/typography.ts
Labels: type:docs, type:feature

#1999 refa: divider restructure
  .changeset/fuzzy-eels-allow.md
  packages/components/src/Divider/Divider.stories.tsx
  packages/components/src/Divider/Divider.test.tsx
  packages/components/src/Divider/Divider.tsx
  packages/components/src/theme.ts
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Divider.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/Divider.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Divider.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:feature

#2000 refa: remove unsued elements from <Aspect>
  .changeset/brown-emus-pretend.md
  packages/components/src/Aspect/Aspect.stories.tsx
  packages/components/src/Aspect/Aspect.test.tsx
  packages/components/src/Aspect/Aspect.tsx
Labels: type:feature

#2008 refa: <Checkbox> (uses new styling)
  .changeset/giant-eyes-tap.md
  packages/components/package.json
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxIcon.tsx
  packages/components/src/theme.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Checkbox.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/Checkbox.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Checkbox.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:feature

#2009 feat: don't collect coverage by default
  .changeset/wild-sheep-attend.md
  config/jest/index.js
  package.json
Labels: type:infrastructure

#2013 feat:Footer component
  .changeset/few-gifts-doubt.md
  docs/content/components/footer.mdx
  packages/components/src/Footer/Footer.stories.tsx
  packages/components/src/Footer/Footer.test.tsx
  packages/components/src/Footer/Footer.tsx
  packages/components/src/Footer/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
Labels: type:docs, type:feature

#2012 feat: Header component
  .changeset/slow-bees-taste.md
  docs/content/components/header.mdx
  packages/components/src/Header/Header.stories.tsx
  packages/components/src/Header/Header.test.tsx
  packages/components/src/Header/Header.tsx
  packages/components/src/Header/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
Labels: type:docs, type:feature

#2014 refa:Text component restructure
  .changeset/shy-cats-retire.md
  docs/content/components/text.mdx
  docs/src/mdx.tsx
  docs/src/theme/components/Text.style.ts
  docs/src/theme/components/index.ts
  docs/src/theme/index.ts
  docs/src/theme/typography.ts
  packages/components/src/Text/Text.stories.tsx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
  packages/components/src/theme.ts
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Text.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/index.ts
  themes/theme-b2b/src/typography.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/Text.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-core/src/index.ts
  themes/theme-core/src/typography.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Text.style.ts
  themes/theme-unicorn/src/components/index.ts
  themes/theme-unicorn/src/index.ts
  themes/theme-unicorn/src/typography.ts
Labels: type:docs, type:feature

#2015 docs: remove theme section
  .changeset/gentle-cooks-fry.md
  docs/content/themes/b2b.mdx
  docs/content/themes/core.mdx
  docs/content/themes/unicorn.mdx
  docs/gatsby-config.js
Labels: type:docs

#2017 refa: button use new styling
  .changeset/chilly-dryers-chew.md
  docs/content/components/button.mdx
  docs/src/theme/component.ts
  docs/src/theme/components/Button.style.ts
  docs/src/theme/components/index.ts
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/Tooltip/Tooltip.test.tsx
  packages/components/src/theme.ts
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Button.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/Button.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Button.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2020 fix: <Button> supports ref again! yay!
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
  themes/theme-b2b/src/components/Button.style.ts
Labels: type:feature

#2016 refa: <Checkbox> and <CheckboxGroup>
  .changeset/chatty-peaches-explode.md
  docs/content/components/checkbox.mdx
  docs/content/components/text-field.mdx
  packages/components/package.json
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/Checkbox/index.ts
  packages/components/src/TextField/TextField.tsx
  packages/components/src/theme.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Checkbox.style.ts
  themes/theme-b2b/src/components/CheckboxGroup.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-unicorn/src/components/Checkbox.style.ts
  themes/theme-unicorn/src/components/CheckboxGroup.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2018 refa: <Menu> component restructure
  .changeset/curvy-scissors-smash.md
  docs/content/components/menu-item.mdx
  docs/content/components/menu.mdx
  packages/components/package.json
  packages/components/src/Menu/Context.ts
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/Menu/MenuItem.tsx
  packages/components/src/Menu/MenuTrigger.tsx
  packages/components/src/MenuItem/MenuItem.stories.tsx
  packages/components/src/MenuItem/MenuItem.test.tsx
  packages/components/src/MenuItem/MenuItem.tsx
  packages/components/src/MenuItem/index.ts
  packages/components/src/Overlay/Overlay.tsx
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Overlay/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Button.style.ts
  themes/theme-b2b/src/components/Menu.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/component.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Button.style.ts
  themes/theme-unicorn/src/components/Menu.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2025 fix: <TextField>/<TextArea> support variant/size
  .changeset/slow-meals-drop.md
  docs/content/components/text-area.mdx
  packages/components/src/Field/FieldBase.test.tsx
  packages/components/src/Field/FieldBase.tsx
  packages/components/src/Field/HelpText.tsx
  packages/components/src/TextArea/TextArea.test.tsx
  packages/components/src/TextArea/TextArea.tsx
  packages/components/src/TextField/TextField.test.tsx
  packages/components/src/TextField/TextField.tsx
Labels: type:docs, type:feature

#2028 fix: add forgotten Divider new styling to docs theme
  docs/src/theme/component.ts
  docs/src/theme/components/Divider.style.ts
  docs/src/theme/components/index.ts
Labels: type:docs

#2033 fix: Typo in Do/Don't
  .changeset/nasty-avocados-move.md
  docs/src/components/DoAndDont.tsx
Labels: type:docs

#2031 chore: Remove unused flatten-child utils
  packages/components/src/utils/flatten-children.test.tsx
  packages/components/src/utils/flatten-children.ts
  packages/components/src/utils/index.ts
Labels: type:feature

#2030 feat: use <OverlayContainer> from `react-aria`
  packages/components/src/Overlay/Overlay.tsx
Labels: type:feature

#2032 feat: Update <Stack> types to work with React 18 typings
  packages/components/src/Stack/Stack.tsx
Labels: type:feature

#2035 fix: button coverage to 100%
  packages/components/src/Button/Button.test.tsx
Labels: type:feature

#2036 refa: remove align prop from Table
  .changeset/eighty-goats-return.md
  docs/content/components/table.mdx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/Table.test.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableCell.tsx
  packages/components/src/Table/TableColumnHeader.tsx
Labels: type:docs, type:feature

#2034 feat(comp): Slider rewrite with react-aria and new styling
  .changeset/neat-insects-shake.md
  docs/content/components/slider.mdx
  packages/components/package.json
  packages/components/src/Slider/Slider.stories.tsx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Slider/Thumb.tsx
  packages/components/src/theme.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Slider.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/Slider.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Slider.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2044 docs: fixs icon page
  docs/src/components/CopySVGIcon.tsx
  docs/src/theme/components/Button.style.ts
Labels: type:docs
