Repository marigold-ui/marigold, pull requests merged in 2022-09, with the labels that each got.

#2389 feat: Add scroll to top button
  .changeset/ten-olives-prove.md
  docs/src/components/ScrollToTop.tsx
  docs/src/pages/[[...slug]].tsx
  docs/src/theme/components/Button.style.ts
  docs/src/theme/components/ScrollToTop.style.ts
  docs/src/theme/components/index.ts
Labels: type:docs

#2391 fix: remove responsivness from SVGs by default
  .changeset/four-pugs-notice.md
  packages/icons/src/Icon.test.tsx
  packages/system/src/components/Global/normalize.ts
  packages/system/src/components/SVG/SVG.test.tsx
  packages/system/src/components/SVG/SVG.tsx
Labels: type:feature

#2394 docs: bugfix for aside to remove the gap when toc is set to display none
  docs/src/components/Toc.tsx
Labels: type:docs

#2396 docs: navigation resets when clicked and active state
  .changeset/shy-hornets-hang.md
  docs/src/components/Layout.tsx
  docs/src/components/Link.tsx
  docs/src/components/Navigation/Navigation.tsx
  docs/src/components/Navigation/NavigationLayout.tsx
Labels: type:docs

#2399 feat: Make text in non-interactive tables selectable
  .changeset/plenty-goats-rescue.md
  packages/components/src/Table/Context.tsx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/Table.test.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableCell.tsx
  packages/components/src/Table/TableColumnHeader.tsx
  packages/components/src/Table/TableRow.tsx
  themes/theme-b2b/src/components/Table.style.ts
  themes/theme-core/src/components/Table.style.ts
  themes/theme-unicorn/src/components/Table.style.ts
Labels: type:feature

#2400 refa: improve useResponsiveStyle and add story
  .changeset/late-worms-speak.md
  packages/system/src/hooks/useResponiveValue.stories.tsx
  packages/system/src/hooks/useResponsiveValue.test.tsx
  packages/system/src/hooks/useResponsiveValue.ts
Labels: type:feature

#2404 docs: make navigation use config from next.config.mjs
  docs/next.config.mjs
  docs/plugins/navigation.mjs
  docs/src/components/Layout.tsx
  docs/src/components/Navigation/Navigation.tsx
  docs/src/components/Navigation/NavigationLayout.tsx
  docs/src/config.ts
  docs/src/globals.d.ts
Labels: type:docs

#2406 feat: eslint-config can handle import assertions
  .changeset/tall-news-doubt.md
  config/eslint/index.js
  docs/next.config.mjs
Labels: type:docs, type:infrastructure

#2412 refa: table scrollable
  .changeset/swift-tables-sip.md
  docs/src/components/PropsTable.tsx
  packages/components/src/Table/Table.tsx
Labels: type:docs, type:feature

#2401 docs: fix content width
  docs/src/pages/_app.tsx
  docs/src/theme/components/Headline.style.ts
Labels: type:docs

#2415 refa: Improve `<Container>` API and make it reponsive
  .changeset/witty-lobsters-hug.md
  docs/src/demos/components/Breakout/basic-breakout.demo.tsx
  docs/src/demos/components/Breakout/iframe-breakout.demo.tsx
  docs/src/demos/components/Breakout/text-breakout.demo.tsx
  docs/src/demos/components/Container/basic-container.demo.tsx
  docs/src/demos/components/Container/full-container.demo.tsx
  docs/src/demos/components/Container/large-content-container.demo.tsx
  docs/src/demos/components/Container/small-content-container.demo.tsx
  docs/src/pages/components/container.mdx
  packages/components/src/Breakout/Breakout.stories.tsx
  packages/components/src/Container/Container.stories.tsx
  packages/components/src/Container/Container.test.tsx
  packages/components/src/Container/Container.tsx
Labels: type:docs, type:feature

#2416 fix: correctly interpret design tokens in `<SVG>`
  .changeset/friendly-moons-enjoy.md
  packages/system/src/components/SVG/SVG.tsx
Labels: type:feature

#2438 fix: `Columns` work with complex and different children types
  .changeset/young-readers-switch.md
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/Columns/Columns.test.tsx
  packages/components/src/Columns/Columns.tsx
Labels: type:feature

#2441 docs: type sortable table demo
  docs/src/demos/components/Table/table-sorting.demo.tsx
Labels: type:docs

#2443 fix: downgrade aria-focus version
  .changeset/eleven-insects-greet.md
  packages/components/package.json
  packages/components/src/Tooltip/Tooltip.test.tsx
  pnpm-lock.yaml
Labels: type:feature

#2440 fix: use useLocalizedStringFormatter instead of depricated useMessage…
  .changeset/eleven-waves-chew.md
  packages/components/src/Select/Select.tsx
Labels: type:feature

#2449 docs: fix grammer in docs
  docs/src/components/AppearanceTable.tsx
  docs/src/components/PropsTable.tsx
  docs/src/components/index.ts
  docs/src/pages/components/badge.mdx
  docs/src/pages/components/button.mdx
  docs/src/pages/components/card.mdx
  docs/src/pages/components/checkbox.mdx
  docs/src/pages/components/content.mdx
  docs/src/pages/components/dialog.mdx
  docs/src/pages/components/divider.mdx
  docs/src/pages/components/footer.mdx
  docs/src/pages/components/header.mdx
  docs/src/pages/components/headline.mdx
  docs/src/pages/components/image.mdx
  docs/src/pages/components/input.mdx
  docs/src/pages/components/label.mdx
  docs/src/pages/components/link.mdx
  docs/src/pages/components/list.mdx
  docs/src/pages/components/menu.mdx
  docs/src/pages/components/message.mdx
  docs/src/pages/components/number-field.mdx
  docs/src/pages/components/radio.mdx
  docs/src/pages/components/select.mdx
  docs/src/pages/components/slider.mdx
  docs/src/pages/components/switch.mdx
  docs/src/pages/components/table.mdx
  docs/src/pages/components/tooltip.mdx
Labels: type:docs

#2451 fix: typo
  docs/src/theme/components/Button.style.ts
Labels: type:docs

#2439 docs: add links to github, figma to docs
  .changeset/warm-frogs-compete.md
  docs/src/components/AppearanceTable.tsx
  docs/src/components/FigmaLink.tsx
  docs/src/components/IconLinks.tsx
  docs/src/components/Icons/BlankCanvas.tsx
  docs/src/components/Icons/FigmaIcon.tsx
  docs/src/components/Icons/GithubIcon.tsx
  docs/src/components/Icons/index.ts
  docs/src/components/PropsTable.tsx
  docs/src/components/ThemeSelect.tsx
  docs/src/components/index.ts
  docs/src/pages/_app.tsx
  docs/src/pages/components/aside.mdx
  docs/src/pages/components/aspect.mdx
  docs/src/pages/components/badge.mdx
  docs/src/pages/components/box.mdx
  docs/src/pages/components/breakout.mdx
  docs/src/pages/components/button.mdx
  docs/src/pages/components/card.mdx
  docs/src/pages/components/center.mdx
  docs/src/pages/components/checkbox.mdx
  docs/src/pages/components/columns.mdx
  docs/src/pages/components/container.mdx
  docs/src/pages/components/content.mdx
  docs/src/pages/components/dialog.mdx
  docs/src/pages/components/divider.mdx
  docs/src/pages/components/footer.mdx
  docs/src/pages/components/header.mdx
  docs/src/pages/components/headline.mdx
  docs/src/pages/components/icon.mdx
  docs/src/pages/components/image.mdx
  docs/src/pages/components/inline.mdx
  docs/src/pages/components/input.mdx
  docs/src/pages/components/label.mdx
  docs/src/pages/components/link.mdx
  docs/src/pages/components/list.mdx
  docs/src/pages/components/menu.mdx
  docs/src/pages/components/message.mdx
  docs/src/pages/components/number-field.mdx
  docs/src/pages/components/provider.mdx
  docs/src/pages/components/radio.mdx
  docs/src/pages/components/select.mdx
  docs/src/pages/components/slider.mdx
  docs/src/pages/components/split.mdx
  docs/src/pages/components/stack.mdx
  docs/src/pages/components/switch.mdx
  docs/src/pages/components/table.mdx
  docs/src/pages/components/text-area.mdx
  docs/src/pages/components/text-field.mdx
  docs/src/pages/components/text.mdx
  docs/src/pages/components/tiles.mdx
  docs/src/pages/components/tooltip.mdx
  docs/src/pages/components/visually-hidden.mdx
  docs/src/theme/components/Link.style.ts
  docs/src/theme/components/Select.style.ts
Labels: type:docs

#2444 docs: Add styles for focus and active state to navigation
  docs/src/theme/components/Link.style.ts
Labels: type:docs

#2397 feat: toc intersection observer
  docs/src/components/Toc.tsx
  docs/src/theme/components/List.style.ts
  docs/src/theme/components/Toc.style.ts
  docs/src/theme/components/index.ts
Labels: type:docs

#2454 docs: refactor aside docs
  docs/src/demos/components/Aside/space.demo.tsx
  docs/src/pages/components/aside.mdx
Labels: type:docs

#2458 fix: style props override theme in `<Text>`
  .changeset/chilly-spies-change.md
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
Labels: type:feature

#2446 feat: losen peer deps for usage with npm
  .changeset/bright-ghosts-tap.md
  config/eslint/package.json
  config/jest/package.json
Labels: type:infrastructure

#2461 docs: refactor container docs page and demos
  docs/src/demos/components/Container/basic-container.demo.tsx
  docs/src/demos/components/Container/full-container.demo.tsx
  docs/src/demos/components/Container/index.ts
  docs/src/demos/components/Container/large-content-container.demo.tsx
  docs/src/demos/components/Container/large-header-container.demo.tsx
  docs/src/demos/components/Container/medium-header-container.demo.tsx
  docs/src/demos/components/Container/small-container.demo.tsx
  docs/src/demos/components/Container/small-content-container.demo.tsx
  docs/src/demos/components/Container/small-header-container.demo.tsx
  docs/src/pages/components/container.mdx
  packages/components/src/Container/Container.stories.tsx
Labels: type:docs, type:feature

#2460 chore: add height prop to Breakout and refactor docs page
  .changeset/fair-carpets-share.md
  docs/src/demos/components/Breakout/basic-breakout.demo.tsx
  docs/src/demos/components/Breakout/horizontal-breakout.demo.tsx
  docs/src/demos/components/Breakout/iframe-breakout.demo.tsx
  docs/src/demos/components/Breakout/text-breakout.demo.tsx
  docs/src/demos/components/Breakout/vertical-breakout.demo.tsx
  docs/src/pages/components/breakout.mdx
  packages/components/src/Breakout/Breakout.stories.tsx
  packages/components/src/Breakout/Breakout.test.tsx
  packages/components/src/Breakout/Breakout.tsx
Labels: type:docs, type:feature

#2467 chore: rename Content to Body and write docs
  docs/src/demos/components/Body/index.ts
  docs/src/demos/components/Body/simple-body.demo.tsx
  docs/src/demos/components/Headline/headline.demo.tsx
  docs/src/demos/components/index.ts
  docs/src/pages/components/body.mdx
  docs/src/pages/components/content.mdx
  docs/src/pages/index.mdx
  packages/components/src/Body/Body.stories.tsx
  packages/components/src/Body/Body.test.tsx
  packages/components/src/Body/Body.tsx
  packages/components/src/Body/index.ts
  packages/components/src/Content/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
Labels: type:docs, type:feature

#2463 refa: Improve behavior of `<Stack>` and remove option to render it as a list (use `<List>` instead)
  .changeset/strong-buses-jog.md
  docs/src/pages/components/stack.mdx
  packages/components/src/Stack/Stack.stories.tsx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
Labels: type:docs, type:feature

#2462 fix: use 'initial' for default `Container` item alignment
  .changeset/heavy-items-hang.md
  packages/components/src/Container/Container.stories.tsx
  packages/components/src/Container/Container.test.tsx
  packages/components/src/Container/Container.tsx
Labels: type:feature

#2468 feat: improve `&:hover` selector to adhere CSS specificity
  .changeset/rich-elephants-attend.md
  packages/system/src/components/Box/selector.test.ts
  packages/system/src/components/Box/selector.ts
Labels: type:feature

#2469 docs: rewrite divider docs
  docs/src/demos/components/Divider/divider-bold.demo.tsx
  docs/src/demos/components/Divider/divider-section.demo.tsx
  docs/src/demos/components/Divider/divider.demo.tsx
  docs/src/demos/components/Divider/index.ts
  docs/src/pages/components/divider.mdx
Labels: type:docs

#2464 docs: add <Box> docs
  docs/src/demos/components/Box/box-basic.demo.tsx
  docs/src/demos/components/Box/box-text.demo.tsx
  docs/src/demos/components/Box/button-box.demo.tsx
  docs/src/demos/components/Box/index.ts
  docs/src/pages/components/box.mdx
Labels: type:docs

#2471 docs: rewrite the documentation for <Split>
  docs/src/pages/components/split.mdx
Labels: type:docs

#2474 fix: add string replacement to toc
  docs/src/components/Toc.tsx
Labels: type:docs

#2473 docs: set maxHeight for code demos
  docs/src/theme/root.ts
Labels: type:docs

#2477 docs: correctly order navigation groups
  docs/plugins/navigation.mjs
Labels: type:docs

#2478 feat: improve `&:hover` selector to adhere CSS specificity
  .changeset/selfish-sheep-confess.md
  packages/system/src/components/Box/selector.test.ts
  packages/system/src/components/Box/selector.ts
Labels: type:feature

#2476 docs: refactor tiles docs
  docs/src/demos/components/Tiles/tiles-complex.demo.tsx
  docs/src/demos/components/Tiles/tiles-itemwidth.demo.tsx
  docs/src/pages/components/tiles.mdx
Labels: type:docs

#2481 docs: refa stack docs
  docs/src/pages/components/stack.mdx
Labels: type:docs

#2470 feat: introduce `extendTheme` helper
  .changeset/tough-books-wonder.md
  docs/src/demos/index.ts
  docs/src/demos/theming-extend.demo.tsx
  docs/src/pages/introduction/theming.mdx
  packages/components/package.json
  packages/components/src/theme.test.tsx
  packages/components/src/theme.ts
  pnpm-lock.yaml
Labels: type:docs, type:feature

#2465 docs: refactor columns
  docs/src/demos/components/Columns/basic-columns.demo.tsx
  docs/src/demos/components/Columns/breadcrumb-columns.demo.tsx
  docs/src/demos/components/Columns/collapse-columns.demo.tsx
  docs/src/demos/components/Columns/index.ts
  docs/src/demos/components/Columns/layout-columns.demo.tsx
  docs/src/demos/components/Columns/space-columns.demo.tsx
  docs/src/pages/components/columns.mdx
Labels: type:docs

#2459 docs: refactor center docs
  docs/src/pages/components/center.mdx
Labels: type:docs

#2482 docs: refactor badge docs
  docs/src/demos/components/Badge/icon-badge.demo.tsx
  docs/src/demos/components/Badge/index.ts
  docs/src/pages/components/badge.mdx
Labels: type:docs

#2491 refa: change table hover to `gray20`
  .changeset/cuddly-cherries-rush.md
  themes/theme-b2b/src/components/Table.style.ts
Labels: type:feature

#2492 refa: Change focus color to orange60
  .changeset/shiny-camels-happen.md
  themes/theme-b2b/src/components/Select.style.ts
Labels: type:feature

#2495 feat: darken text and ghost butotn hover
  .changeset/nervous-terms-vanish.md
  themes/theme-b2b/src/components/Button.style.ts
Labels: type:feature

#2493 feat: better `Logout` icon
  .changeset/famous-fireants-notice.md
  packages/icons/src/action/Logout.tsx
Labels: type:feature

#2480 docs: refactor inline docs
  docs/src/pages/components/inline.mdx
Labels: type:docs

#2494 docs: table docs
  docs/src/pages/components/table.mdx
Labels: type:docs

#2498 chore: update issue templates
  .github/ISSUE_TEMPLATE/1.feature.md
  .github/ISSUE_TEMPLATE/1.issue.md
  .github/ISSUE_TEMPLATE/2.bug.md
  .github/ISSUE_TEMPLATE/3.design-update.md
Labels: type:infrastructure

#2487 docs: headline docs
  docs/src/demos/components/Headline/headline.demo.tsx
  docs/src/pages/components/headline.mdx
Labels: type:docs

#2496 chore: change property names in breakout to alignX and alignY
  .changeset/unlucky-papayas-tell.md
  docs/src/demos/components/Breakout/basic-breakout.demo.tsx
  docs/src/demos/components/Breakout/horizontal-breakout.demo.tsx
  docs/src/demos/components/Breakout/vertical-breakout.demo.tsx
  docs/src/pages/components/breakout.mdx
  packages/components/src/Breakout/Breakout.stories.tsx
  packages/components/src/Breakout/Breakout.test.tsx
  packages/components/src/Breakout/Breakout.tsx
Labels: type:docs, type:feature

#2488 docs: icon page
  docs/src/demos/components/Icon/icon-list.demo.tsx
  docs/src/pages/components/icon.mdx
Labels: type:docs

#2490 feat: `Columns` can stretch to available height via `stretch` prop + don't collapse by default
  .changeset/old-drinks-relax.md
  docs/src/demos/components/Columns/index.ts
  docs/src/demos/components/Columns/stretch-columns.demo.tsx
  docs/src/pages/components/columns.mdx
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/Columns/Columns.test.tsx
  packages/components/src/Columns/Columns.tsx
Labels: type:docs, type:feature

#2497 chore: add async sorting table
  docs/src/demos/components/Table/index.ts
  docs/src/demos/components/Table/table-async.demo.tsx
  docs/src/pages/components/table.mdx
Labels: type:docs

#2455 docs: refactor aspect docs
  docs/src/demos/components/Aspect/golden-aspect.demo.tsx
  docs/src/demos/components/Aspect/index.ts
  docs/src/demos/components/Aspect/simple-aspect.demo.tsx
  docs/src/pages/components/aside.mdx
  docs/src/pages/components/aspect.mdx
Labels: type:docs

#2501 docs: fix column stretch demo
  docs/src/components/Block.tsx
  docs/src/components/index.ts
  docs/src/demos/components/Columns/stretch-columns.demo.tsx
Labels: type:docs

#2499 docs: refa MarigoldProvider
  docs/src/pages/components/provider.mdx
Labels: type:docs

#2506 docs: add Dialog docs
  docs/src/components/PropsTable.tsx
  docs/src/demos/components/Dialog/dialog-dismiss.demo.tsx
  docs/src/demos/components/Dialog/index.ts
  docs/src/pages/components/dialog.mdx
Labels: type:docs

#2510 update: @react-aria/focus
  .changeset/blue-mangos-grab.md
  docs/next.config.mjs
  packages/components/package.json
  pnpm-lock.yaml
Labels: type:docs, type:feature

#2512 docs: example how to controll tooltip
  docs/src/demos/components/Tooltip/index.ts
  docs/src/demos/components/Tooltip/tooltip-pressed.demo.tsx
  docs/src/pages/components/tooltip.mdx
Labels: type:docs

#2507 docs: menu docs
  docs/src/pages/components/menu.mdx
Labels: type:docs

#2513 docs: writing docu for textfield
  docs/src/demos/components/TextField/textfield-types.demo.tsx
  docs/src/pages/components/text-field.mdx
Labels: type:docs

#2405 docs: document ideas behind layouts
  docs/next.config.mjs
  docs/src/components/IconList/IconList.tsx
  docs/src/components/Placeholder/Rectangle.tsx
  docs/src/components/Placeholder/Squircle.tsx
  docs/src/components/Placeholder/index.ts
  docs/src/components/Placeholder/styles.ts
  docs/src/components/index.ts
  docs/src/demos/concepts-layouts.demo.tsx
  docs/src/demos/index.ts
  docs/src/pages/concepts/box-primitive.mdx
  docs/src/pages/concepts/css-in-js.mdx
  docs/src/pages/concepts/icons.mdx
  docs/src/pages/concepts/layouts.mdx
  docs/src/pages/concepts/themes-variants.mdx
  docs/src/pages/introduction/concepts.mdx
  docs/src/pages/introduction/principles.mdx
  docs/src/theme/colors.ts
  docs/src/theme/components/Card.style.ts
  docs/src/theme/components/Text.style.ts
Labels: type:docs

#2489 docs: refactor footer and header
  docs/src/demos/components/Footer/basic-footer.demo.tsx
  docs/src/demos/components/Footer/copyright-footer.demo.tsx
  docs/src/demos/components/Footer/footer.demo.tsx
  docs/src/demos/components/Footer/index.ts
  docs/src/demos/components/Footer/list-footer.demo.tsx
  docs/src/demos/components/Header/basic-header.demo.tsx
  docs/src/demos/components/Header/index.ts
  docs/src/demos/components/Header/simple-header.demo.tsx
  docs/src/pages/components/footer.mdx
  docs/src/pages/components/header.mdx
Labels: type:docs

#2524 docs: switch docs
  docs/src/pages/components/switch.mdx
Labels: type:docs

#2522 docs: textarea documentation
  docs/src/demos/components/TextArea/text-area-req.demo.tsx
  docs/src/pages/components/text-area.mdx
Labels: type:docs

#2514 docs: refactor link
  docs/src/demos/components/Link/index.ts
  docs/src/demos/components/Link/link-anchor.demo.tsx
  docs/src/demos/components/Link/link-target.demo.tsx
  docs/src/pages/components/link.mdx
Labels: type:docs

#2527 refa: change all focus colors to orange
  .changeset/three-cherries-sing.md
  themes/theme-b2b/src/components/Checkbox.style.ts
  themes/theme-b2b/src/components/Input.style.ts
  themes/theme-b2b/src/components/NumberField.style.ts
  themes/theme-b2b/src/components/Radio.style.ts
  themes/theme-b2b/src/components/Slider.style.ts
  themes/theme-b2b/src/components/Switch.style.ts
  themes/theme-b2b/src/components/TextArea.style.ts
Labels: type:feature

#2509 docs: refactor image component
  .changeset/thirty-bobcats-warn.md
  docs/src/demos/components/Image/basic-image.demo.tsx
  docs/src/demos/components/Image/image-fit-position.demo.tsx
  docs/src/demos/components/Image/index.ts
  docs/src/pages/components/image.mdx
  packages/components/src/Image/Image.tsx
Labels: type:docs, type:feature

#2528 docs: add Select demo and docs
  docs/src/demos/components/Select/index.ts
  docs/src/demos/components/Select/select-section.demo.tsx
  docs/src/pages/components/select.mdx
Labels: type:docs

#2531 docs: add radio docs
  docs/src/demos/components/Radio/radio-required.demo.tsx
  docs/src/demos/components/Radio/radio.demo.tsx
  docs/src/pages/components/radio.mdx
Labels: type:docs

#2525 docs: slider docs
  docs/src/demos/components/Slider/index.ts
  docs/src/demos/components/Slider/slider-cur.demo.tsx
  docs/src/demos/components/Slider/slider-format.demo.tsx
  docs/src/demos/components/Slider/slider-per.demo.tsx
  docs/src/pages/components/slider.mdx
Labels: type:docs

#2532 docs: Text docs
  docs/src/demos/components/Text/index.ts
  docs/src/demos/components/Text/text-heading.demo.tsx
  docs/src/pages/components/text.mdx
Labels: type:docs

#2534 docs: refactor list
  docs/src/demos/components/List/index.ts
  docs/src/demos/components/List/list-unorded-stacked.demo.tsx
  docs/src/demos/components/List/simple-list.demo.tsx
  docs/src/pages/components/list.mdx
Labels: type:docs

#2535 docs: add Label docs
  docs/src/demos/components/Label/index.ts
  docs/src/demos/components/Label/label-input.demo.tsx
  docs/src/pages/components/label.mdx
Labels: type:docs

#2536 docs: add Input docs
  docs/src/demos/components/Input/input-type.demo.tsx
  docs/src/pages/components/input.mdx
Labels: type:docs

#2538 docs: checkbox docs
  docs/src/demos/components/Checkbox/checkbox-indeterminate.demo.tsx
  docs/src/demos/components/Checkbox/checkbox.demo.tsx
  docs/src/demos/components/Checkbox/index.ts
  docs/src/pages/components/checkbox.mdx
Labels: type:docs

#2542 docs: greatly improve the checkbox demo! 🤓
  docs/public/fight-club.gif
  docs/src/demos/components/Checkbox/checkbox.demo.tsx
Labels: type:docs

#2540 docs: visuallyHidden docs
  docs/src/pages/components/visually-hidden.mdx
Labels: type:docs

#2541 docs: add Button docs
  docs/src/demos/components/Button/button-ghost.demo.tsx
  docs/src/demos/components/Button/button-primary.demo.tsx
  docs/src/demos/components/Button/button-secondary.demo.tsx
  docs/src/demos/components/Button/button-size.demo.tsx
  docs/src/demos/components/Button/button-text.demo.tsx
  docs/src/demos/components/Button/index.ts
  docs/src/pages/components/button.mdx
Labels: type:docs
