Repository marigold-ui/marigold, pull requests merged in 2022-01, with the labels that each got.

#1591 feat(jest): Improve snapshot readability
  .changeset/eight-panthers-travel.md
  config/jest/index.js
  packages/system/src/useTheme.test.tsx
Labels: type:feature, type:infrastructure

#1614 remove all purple color things
  .changeset/poor-swans-taste.md
  .changeset/twenty-dolls-move.md
  packages/system/src/Colors.stories.mdx
  themes/theme-b2b/src/colors.ts
Labels: type:feature

#1610 feat(core-theme): split theme + make more consistent
  .changeset/moody-phones-brush.md
  themes/theme-core/src/components.ts
  themes/theme-core/src/index.ts
  themes/theme-core/src/typography.ts
Labels: type:feature

#1611 feat(unicorn-theme): split theme + make more consistent
  .changeset/moody-deers-accept.md
  themes/theme-unicorn/src/components.ts
  themes/theme-unicorn/src/index.ts
  themes/theme-unicorn/src/typography.ts
Labels: type:feature

#1616 feat(comp): remove hardcoded variants in <Dialog>
  .changeset/hip-schools-compare.md
  docs/content/components/dialog.mdx
  packages/components/src/Dialog/Dialog.stories.mdx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Dialog/ModalDialog.tsx
  packages/components/src/theme.ts
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1623 feat(docs): cleanup theme + make more consistent
  .changeset/odd-weeks-bake.md
  docs/src/components/DoAndDont.tsx
  docs/src/components/Link.tsx
  docs/src/mdx.tsx
  docs/src/theme/colors.ts
  docs/src/theme/components.ts
  docs/src/theme/index.ts
  docs/src/theme/root.ts
  docs/src/theme/typography.ts
Labels: type:docs

#1626 feat(docs): add doAndDont example to Card
  .changeset/cold-pianos-decide.md
  docs/content/components/card.mdx
Labels: type:docs

#1630 feat(docs): Update Box documentation
  .changeset/purple-readers-rest.md
  docs/content/components/box.mdx
  docs/content/foundation/box-primitive.mdx
Labels: type:docs

#1620 feat(comp): extend Box to handle __default variants
  .changeset/nervous-mice-yawn.md
  packages/system/src/Box.tsx
Labels: type:feature

#1617 feat(comp): change Slider default variant
  .changeset/thick-mails-bow.md
  docs/content/components/slider.mdx
  packages/components/src/Slider/Slider.stories.mdx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1618 feat(comp): change Input default variant
  .changeset/friendly-deers-sneeze.md
  docs/content/components/input.mdx
  packages/components/src/Input/Input.stories.mdx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/Input/Input.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1622 feat(comp): change Card default variant
  .changeset/odd-carpets-nail.md
  docs/content/components/card.mdx
  docs/src/theme/components.ts
  packages/components/src/Card/Card.stories.mdx
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Card/Card.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1621 feat(comp): change Badge default variant
  .changeset/thick-otters-occur.md
  docs/content/components/badge.mdx
  packages/components/src/Badge/Badge.stories.mdx
  packages/components/src/Badge/Badge.test.tsx
  packages/components/src/Badge/Badge.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1619 feat(comp): change Textarea default variant
  .changeset/orange-jeans-change.md
  docs/content/components/textarea.mdx
  packages/components/src/Textarea/Textarea.stories.mdx
  packages/components/src/Textarea/Textarea.test.tsx
  packages/components/src/Textarea/Textarea.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1631 feat(comp): improve Label and add color prop
  .changeset/famous-foxes-travel.md
  docs/content/components/input.mdx
  docs/content/components/label.mdx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Field/Field.tsx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/Radio/Radio.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1636 feat(comp): Field fix default variant + remove hardcoded variants
  .changeset/tidy-mice-return.md
  docs/content/components/field.mdx
  packages/components/src/Field/Field.stories.mdx
  packages/components/src/Field/Field.test.tsx
  packages/components/src/Field/Field.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1633 feat(comp): remove hard coded label variant in radio
  .changeset/spotty-mirrors-shave.md
  docs/content/components/radio.mdx
  packages/components/src/Radio/Radio.stories.mdx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/Radio.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1632 feat(comp): remove hard coded label variant in checkbox
  .changeset/wild-snails-live.md
  docs/content/components/checkbox.mdx
  packages/components/src/Checkbox/Checkbox.stories.mdx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
Labels: type:docs, type:feature

#1647 feat(system): conditional helper to allow state in variants
  .changeset/fresh-beds-float.md
  packages/system/src/Box.tsx
  packages/system/src/conditional.test.tsx
  packages/system/src/conditional.tsx
  packages/system/src/index.ts
Labels: type:feature

#1652 refa(system): Group variant related fns in own file
  .changeset/shy-moons-wash.md
  packages/system/src/Box.tsx
  packages/system/src/conditional.test.tsx
  packages/system/src/conditional.tsx
  packages/system/src/index.ts
  packages/system/src/variant.test.ts
  packages/system/src/variant.ts
Labels: type:feature

#1639 feat(comp): remove hard coded label from Select
  .changeset/hungry-eyes-draw.md
  docs/content/components/select.mdx
  packages/components/src/Select/Select.stories.mdx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
Labels: type:docs, type:feature

#1658 feat(comp): refa + react-aria Hidden component
  .changeset/eighty-peas-marry.md
  docs/content/components/hidden.mdx
  docs/content/components/visually-hidden.mdx
  packages/components/package.json
  packages/components/src/Hidden/Hidden.stories.mdx
  packages/components/src/Hidden/Hidden.test.tsx
  packages/components/src/Hidden/Hidden.tsx
  packages/components/src/Hidden/index.ts
  packages/components/src/VisuallyHidden/VisuallyHidden.stories.tsx
  packages/components/src/VisuallyHidden/VisuallyHidden.test.tsx
  packages/components/src/VisuallyHidden/VisuallyHidden.tsx
  packages/components/src/VisuallyHidden/index.ts
  packages/components/src/index.ts
  yarn.lock
Labels: type:docs, type:feature

#1662 feat(docs): Make tooltip more clear
  docs/src/components/CopySVGIcon.tsx
Labels: type:docs

#1660 feat(storybook): rewrite stories from mdx to tsx
  .changeset/gentle-sheep-fry.md
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Card/Card.stories.tsx
  packages/components/src/Column/Column.stories.tsx
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/Container/Container.stories.mdx
  packages/components/src/Container/Container.stories.tsx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Divider/Divider.stories.tsx
  packages/components/src/Field/Field.stories.tsx
  packages/components/src/Image/Image.stories.mdx
  packages/components/src/Image/Image.stories.tsx
  packages/components/src/Inline/Inline.stories.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Label/Label.stories.tsx
  packages/components/src/Link/Link.stories.mdx
  packages/components/src/Link/Link.stories.tsx
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/MenuItem/MenuItem.stories.mdx
  packages/components/src/MenuItem/MenuItem.stories.tsx
  packages/components/src/Message/Message.stories.mdx
  packages/components/src/Message/Message.stories.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Slider/Slider.stories.tsx
  packages/components/src/Stack/Stack.stories.tsx
  packages/components/src/Text/Text.stories.tsx
  packages/components/src/Textarea/Textarea.stories.tsx
  packages/components/src/ValidationMessage/ValidationMessage.stories.tsx
Labels: type:feature

#1651 feat(comp): Checkbox component rewrite
  .changeset/dry-mangos-begin.md
  .changeset/sharp-shrimps-bake.md
  docs/content/components/checkbox.mdx
  packages/components/package.json
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxIcons.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
  yarn.lock
Labels: type:docs, type:feature

#1673 chore: delete unused image package
  packages/images/README.md
  packages/images/package.json
  packages/images/src/Logo_Light.png
  packages/images/src/Marigold_Logo_Hotelstyle.png
  packages/images/src/type_logo.png
  yarn.lock
Labels: type:feature

#1676 remove the last mdx stories
  .changeset/green-cats-fold.md
  packages/components/src/Checkbox/Checkbox.stories.mdx
  packages/icons/src/Icons.stories.mdx
  packages/system/src/Colors.stories.mdx
  packages/system/src/SVG.stories.tsx
  packages/system/src/concepts-principles.mdx
Labels: type:feature

#1677 feat(docs): Add prerequisite to release page
  docs/content/develop/release.md
Labels: type:docs

#1683 feat(docs): Add info about releasing docs page
  docs/content/develop/release.mdx
  docs/content/develop/scripts.mdx
  package.json
Labels: type:docs

#1685 feat(docs): navigate to installation to fix bug
  .changeset/afraid-buses-travel.md
  docs/gatsby-node.js
  docs/src/pages/index.tsx
Labels: type:docs

#1702 fix(docs): set correct site url
  docs/gatsby-config.js
Labels: type:docs

#1701 feat(comp): rewrite Divider and add react-aria
  .changeset/cuddly-lizards-yell.md
  docs/content/components/divider.mdx
  docs/src/theme/components.ts
  packages/components/package.json
  packages/components/src/Divider/Divider.stories.tsx
  packages/components/src/Divider/Divider.test.tsx
  packages/components/src/Divider/Divider.tsx
  themes/theme-b2b/src/components.ts
  themes/theme-core/src/components.ts
  themes/theme-unicorn/src/components.ts
  yarn.lock
Labels: type:docs, type:feature

#1705 chore: move CNAME file to correct folder
  docs/static/CNAME
Labels: type:docs

#1706 feat(docs): awesome 404!
  .changeset/thick-books-vanish.md
  docs/src/pages/404.tsx
Labels: type:docs

#1710 chore: fallback to yarn for publishing
  packages/components/package.json
  packages/icons/package.json
  packages/system/package.json
  scripts/release.mjs
  themes/theme-b2b/package.json
  themes/theme-core/package.json
  themes/theme-unicorn/package.json
  yarn.lock
Labels: type:feature

#1711 feat(docs): Update release + scripts documentation
  .changeset/witty-houses-fetch.md
  docs/content/develop/release.mdx
  docs/content/develop/scripts.mdx
  package.json
Labels: type:docs

#1708 feat(comp): rewrite Field component with react-aria
  .changeset/tricky-clouds-attend.md
  docs/content/components/field.mdx
  packages/components/package.json
  packages/components/src/Field/Field.test.tsx
  packages/components/src/Field/Field.tsx
  yarn.lock
Labels: type:docs, type:feature

#1712 feat(comp): Rewrite Textarea with react-aria
  .changeset/lazy-baboons-end.md
  docs/content/components/textarea.mdx
  packages/components/src/Textarea/Textarea.test.tsx
  packages/components/src/Textarea/Textarea.tsx
  themes/theme-b2b/src/components.ts
Labels: type:docs, type:feature

#1713 chore: Improve publishing by limiting to build files
  .changeset/itchy-flies-work.md
  config/eslint/package.json
  config/jest/package.json
  config/prettier/package.json
  config/storybook/package.json
  config/tsconfig/package.json
  packages/components/package.json
  packages/icons/package.json
  packages/system/package.json
  packages/types/package.json
  themes/theme-b2b/package.json
  themes/theme-core/package.json
  themes/theme-unicorn/package.json
Labels: type:feature, type:infrastructure

#1715 chore: add TypeScript to codeql
  .github/workflows/codeql-analysis.yml
Labels: type:infrastructure

#1717 chore: Use `tsup` to build packages
  .changeset/chilly-ants-approve.md
  config/tsconfig/base.json
  config/tsconfig/package.json
  config/tsconfig/react.json
  package.json
  packages/components/package.json
  packages/components/tsconfig.build.json
  packages/components/tsup.config.json
  packages/icons/package.json
  packages/icons/tsconfig.build.json
  packages/icons/tsup.config.json
  packages/system/package.json
  packages/system/src/SVG.tsx
  packages/system/tsconfig.build.json
  packages/system/tsup.config.json
  themes/theme-b2b/package.json
  themes/theme-b2b/tsconfig.build.json
  themes/theme-b2b/tsup.config.json
  themes/theme-core/package.json
  themes/theme-core/tsconfig.build.json
  themes/theme-core/tsup.config.json
  themes/theme-unicorn/package.json
  themes/theme-unicorn/tsconfig.build.json
  themes/theme-unicorn/tsup.config.json
  tsconfig.json
  yarn.lock
Labels: type:infrastructure
