Repository marigold-ui/marigold, pull requests merged in 2022-05, with the labels that each got.

#2043 refa: Message new styling
  .changeset/four-llamas-cough.md
  docs/content/components/message.mdx
  packages/components/src/Message/Message.stories.tsx
  packages/components/src/Message/Message.test.tsx
  packages/components/src/Message/Message.tsx
  packages/components/src/theme.ts
  packages/icons/src/info/Exclamation.tsx
  themes/theme-b2b/src/colors.ts
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Message.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/Message.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Message.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2048 refa: <Select>
  .changeset/kind-countries-shop.md
  .eslintignore
  config/storybook/preview.tsx
  docs/content/components/select.mdx
  docs/src/components/Layout.tsx
  docs/src/components/ThemeSelect.tsx
  docs/src/theme/component.ts
  docs/src/theme/components/ListBox.style.ts
  docs/src/theme/components/Select.style.ts
  docs/src/theme/components/index.ts
  docs/src/theme/index.ts
  package.json
  packages/components/src/Columns/Columns.tsx
  packages/components/src/Field/FieldBase.tsx
  packages/components/src/ListBox/Context.ts
  packages/components/src/ListBox/ListBox.tsx
  packages/components/src/ListBox/ListBoxOption.tsx
  packages/components/src/ListBox/ListBoxSection.tsx
  packages/components/src/ListBox/index.ts
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Select/ListBox.tsx
  packages/components/src/Select/ListBoxSection.tsx
  packages/components/src/Select/Option.tsx
  packages/components/src/Select/Popover.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Select/intl.ts
  packages/components/src/theme.ts
  packages/icons/src/ui/ArrowDown.tsx
  packages/system/src/components/Box/utils.test.ts
  packages/system/src/components/Box/utils.ts
  packages/system/src/hooks/useStateProps.test.tsx
  packages/system/src/hooks/useStateProps.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/HelpText.style.ts
  themes/theme-b2b/src/components/Input.style.ts
  themes/theme-b2b/src/components/ListBox.style.ts
  themes/theme-b2b/src/components/Select.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/ListBox.style.ts
  themes/theme-core/src/components/Select.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/ListBox.style.ts
  themes/theme-unicorn/src/components/Select.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature, type:infrastructure

#2049 refa: switch with new styling
  .changeset/lemon-wombats-crash.md
  docs/content/components/switch.mdx
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
  packages/components/src/theme.ts
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Switch.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/components/Switch.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Switch.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2052 refa: Remove <ValidationMessage>
  .changeset/lazy-oranges-add.md
  docs/src/components/ThemeSelect.tsx
  packages/components/src/ValidationMessage/ValidationMessage.stories.tsx
  packages/components/src/ValidationMessage/ValidationMessage.test.tsx
  packages/components/src/ValidationMessage/ValidationMessage.tsx
  packages/components/src/ValidationMessage/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
Labels: type:docs, type:feature

#2054 refa: Move <Label> and <HelpText> to components root
  .changeset/real-paws-watch.md
  docs/content/components/label.mdx
  docs/content/components/validation-message.mdx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/Field/Label.stories.tsx
  packages/components/src/Field/Label.test.tsx
  packages/components/src/Field/Label.tsx
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/FieldBase/FieldBase.test.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/FieldBase/index.ts
  packages/components/src/HelpText/HelpText.stories.tsx
  packages/components/src/HelpText/HelpText.test.tsx
  packages/components/src/HelpText/HelpText.tsx
  packages/components/src/HelpText/index.ts
  packages/components/src/Label/Label.stories.tsx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/Radio/RadioGroup.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/TextArea/TextArea.tsx
  packages/components/src/TextField/TextField.tsx
  packages/components/src/theme.ts
Labels: type:docs, type:feature

#2053 refa: <Dialog>
  .changeset/old-apricots-burn.md
  docs/content/components/dialog.mdx
  packages/components/src/Dialog/Context.ts
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Dialog/DialogTrigger.tsx
  packages/components/src/Dialog/ModalDialog.tsx
  packages/components/src/Overlay/Modal.tsx
  packages/components/src/Overlay/Underlay.tsx
  packages/components/src/Overlay/index.ts
  packages/components/src/theme.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Dialog.style.ts
  themes/theme-b2b/src/components/Underlay.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/Dialog.style.ts
  themes/theme-core/src/components/Underlay.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/components/Dialog.style.ts
  themes/theme-unicorn/src/components/Underlay.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2063 feat: Add shorthands for group selectors
  .changeset/odd-pens-flash.md
  packages/system/src/components/Box/utils.test.ts
  packages/system/src/components/Box/utils.ts
Labels: type:feature

#2065 chore: fix deps for config packages
  config/eslint/package.json
  config/jest/package.json
  config/storybook/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#2066 chore: add peer deps for docs
  docs/package.json
  pnpm-lock.yaml
Labels: type:docs

#2067 chore: add peer deps for packages
  packages/components/package.json
  packages/system/package.json
  pnpm-lock.yaml
Labels: type:feature

#2068 feat(storybook): Store selected theme + remove docgen
  .changeset/sixty-squids-complain.md
  config/storybook/main.ts
  config/storybook/preview.tsx
Labels: type:infrastructure

#2069 refa: `<Tooltip>`
  .changeset/serious-garlics-pretend.md
  docs/content/components/tooltip.mdx
  packages/components/src/Tooltip/Context.ts
  packages/components/src/Tooltip/Tooltip.stories.tsx
  packages/components/src/Tooltip/Tooltip.test.tsx
  packages/components/src/Tooltip/Tooltip.tsx
  packages/components/src/Tooltip/TooltipTrigger.tsx
  packages/components/src/Tooltip/index.ts
  packages/components/src/theme.ts
  themes/theme-b2b/src/component.ts
  themes/theme-b2b/src/components/Tooltip.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/component.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/component.ts
  themes/theme-unicorn/src/components/Tooltip.style.ts
  themes/theme-unicorn/src/components/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:docs, type:feature

#2070 feat: Add `width` prop to fields to control width
  .changeset/thin-keys-cheer.md
  docs/content/components/checkbox.mdx
  docs/content/components/number-field.mdx
  docs/content/components/radio.mdx
  docs/content/components/select.mdx
  docs/content/components/slider.mdx
  docs/content/components/switch.mdx
  docs/content/components/text-area.mdx
  docs/content/components/text-field.mdx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/Checkbox/Context.ts
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/FieldBase/FieldBase.test.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/NumberField/NumberField.stories.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/Radio/Context.ts
  packages/components/src/Radio/Radio.stories.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Radio/RadioGroup.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Slider/Slider.stories.tsx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
  packages/components/src/TextArea/TextArea.stories.tsx
  packages/components/src/TextArea/TextArea.test.tsx
  packages/components/src/TextArea/TextArea.tsx
  packages/components/src/TextField/TextField.stories.tsx
  packages/components/src/TextField/TextField.test.tsx
  packages/components/src/TextField/TextField.tsx
Labels: type:docs, type:feature

#2079 fix: Indeterminate is visual only + correctly render with checkbox only
  .changeset/healthy-turtles-appear.md
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
Labels: type:feature

#2074 refa: Remove "variant" prop from <Box>
  .changeset/thin-pens-warn.md
  docs/src/components/Navigation/Navigation.tsx
  docs/src/theme/components/Navigation.style.ts
  docs/src/theme/components/Tooltip.style.ts
  docs/src/theme/components/index.ts
  docs/src/theme/index.ts
  packages/components/src/Divider/Divider.tsx
  packages/system/src/components/Box/Box.test.tsx
  packages/system/src/components/Box/Box.tsx
  packages/system/src/index.ts
  packages/system/src/variant.test.ts
  packages/system/src/variant.ts
Labels: type:docs, type:feature

#2092 feat: <Inline> can align on x and y axis
  .changeset/seven-toes-bake.md
  docs/content/components/inline.mdx
  packages/components/src/Inline/Inline.stories.tsx
  packages/components/src/Inline/Inline.tsx
Labels: type:docs, type:feature

#2096 feat: <Stack> can align on x and y axis
  .changeset/cuddly-bikes-reflect.md
  docs/content/components/stack.mdx
  docs/src/pages/index.tsx
  packages/components/src/Stack/Stack.stories.tsx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
  packages/components/src/Tiles/Tiles.stories.tsx
  packages/tokens/src/shadow.stories.tsx
  packages/tokens/src/typography.stories.tsx
Labels: type:docs, type:feature

#2097 fix: storybook deps
  .changeset/nine-queens-sort.md
  config/storybook/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#2098 fix: package all files in types package
  .changeset/tidy-pumpkins-beam.md
  packages/types/package.json
Labels: type:feature

#2101 feat: add `size` prop to `<Image>`
  .changeset/moody-seahorses-mate.md
  packages/components/src/Image/Image.tsx
Labels: type:feature

#2102 feat: Remove all occurances of `React.FC`
  .changeset/slimy-coins-raise.md
  docs/src/components/CopyButton.tsx
  docs/src/components/CopySVGIcon.tsx
  docs/src/components/DoAndDont.tsx
  docs/src/components/Layout.tsx
  docs/src/components/Link.tsx
  docs/src/components/MarigoldTheme.tsx
  docs/src/components/Navigation/Navigation.tsx
  docs/src/components/Preview.tsx
  docs/src/components/ShowHideButton.tsx
  docs/src/components/ThemeSwitch.tsx
  docs/src/mdx.tsx
  packages/components/src/Breakout/Breakout.tsx
  packages/components/src/Center/Center.tsx
  packages/components/src/Container/Container.tsx
  packages/components/src/Tiles/Tiles.tsx
  packages/system/src/hooks/useComponentStyles.test.tsx
  packages/system/src/hooks/useResponsiveValue.test.tsx
  packages/system/src/hooks/useTheme.test.tsx
  packages/types/src/example.tsx
Labels: type:docs, type:feature

#2106 feat: Introduce `<Split>`
  .changeset/chilly-suits-explain.md
  docs/content/components/split.mdx
  packages/components/src/Split/Split.stories.tsx
  packages/components/src/Split/Split.test.tsx
  packages/components/src/Split/Split.tsx
  packages/components/src/Split/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#2113 feat: Show sorting in `<Table>`
  .changeset/late-glasses-lay.md
  docs/content/components/table.mdx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/Table.test.tsx
  packages/components/src/Table/TableColumnHeader.tsx
Labels: type:docs, type:feature

#2116 feat: Add option to stretch `<Table>`
  .changeset/wet-onions-love.md
  docs/content/components/table.mdx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/Table.test.tsx
  packages/components/src/Table/Table.tsx
Labels: type:docs, type:feature
