Repository marigold-ui/marigold, pull requests merged in 2022-10, with the labels that each got.

#2548 docs: update component template
  docs/_templates_/component.mdx
Labels: type:docs

#2549 fix: typo
  docs/src/pages/components/select.mdx
Labels: type:docs

#2551 chore: improve core theme
  .changeset/violet-cheetahs-beg.md
  docs/src/pages/components/table.mdx
  packages/components/src/Label/Label.tsx
  packages/system/src/components/Box/selector.ts
  themes/theme-core/src/components/Button.style.ts
  themes/theme-core/src/components/Dialog.style.ts
  themes/theme-core/src/components/Input.style.ts
  themes/theme-core/src/components/Label.style.ts
  themes/theme-core/src/components/Link.style.ts
  themes/theme-core/src/components/ListBox.style.ts
  themes/theme-core/src/components/Menu.style.ts
  themes/theme-core/src/components/Message.style.ts
  themes/theme-core/src/components/Radio.style.ts
  themes/theme-core/src/components/Table.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-core/src/index.ts
Labels: type:docs, type:feature

#2560 fix: allow `<NumberField>` with little width
  .changeset/rare-bears-dance.md
  packages/components/src/NumberField/NumberField.tsx
Labels: type:feature

#2564 chore: add card, text style for core
  .changeset/bright-moons-study.md
  packages/components/src/Card/Card.stories.tsx
  themes/theme-core/src/components/Card.style.ts
  themes/theme-core/src/components/Link.style.ts
  themes/theme-core/src/components/Text.style.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2568 feat: improve headline with align and color property
  .changeset/quick-trains-cough.md
  docs/src/pages/components/headline.mdx
  packages/components/src/Headline/Headline.stories.tsx
  packages/components/src/Headline/Headline.test.tsx
  packages/components/src/Headline/Headline.tsx
Labels: type:docs, type:feature

#2566 fix: core text button border none
  themes/theme-core/src/components/Button.style.ts
Labels: type:feature

#2570 chore: add more core theme styles
  .changeset/thick-apricots-judge.md
  themes/theme-core/src/components/Button.style.ts
  themes/theme-core/src/components/Card.style.ts
  themes/theme-core/src/components/Dialog.style.ts
  themes/theme-core/src/components/Link.style.ts
  themes/theme-core/src/components/Message.style.ts
  themes/theme-core/src/components/Text.style.ts
Labels: type:feature

#2574 chore: more Core theme styles
  .changeset/moody-humans-press.md
  themes/theme-b2b/src/components/Text.style.ts
  themes/theme-core/src/components/Card.style.ts
  themes/theme-core/src/components/Checkbox.style.ts
  themes/theme-core/src/components/Dialog.style.ts
  themes/theme-core/src/components/Footer.style.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2575 feat: <XLoader> component for loading states
  .changeset/eighty-fans-approve.md
  docs/src/demos/components/XLoader/XLoader-props.demo.tsx
  docs/src/demos/components/XLoader/XLoader.demo.tsx
  docs/src/demos/components/XLoader/index.ts
  docs/src/demos/components/index.ts
  docs/src/pages/components/xloader.mdx
  packages/components/src/XLoader/XLoader.stories.tsx
  packages/components/src/XLoader/XLoader.test.tsx
  packages/components/src/XLoader/XLoader.tsx
  packages/components/src/XLoader/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#2550 docs: hooks docs and gradientheadline fix
  docs/next.config.mjs
  docs/src/demos/components/SVG/index.ts
  docs/src/demos/components/SVG/svg.demo.tsx
  docs/src/demos/components/index.ts
  docs/src/demos/hooks/index.ts
  docs/src/demos/hooks/useResponsiveValue.demo.tsx
  docs/src/demos/hooks/useTheme.demo.tsx
  docs/src/demos/index.ts
  docs/src/pages/components/svg.mdx
  docs/src/pages/hooks/useAsyncList.mdx
  docs/src/pages/hooks/useResponsiveValue.mdx
  docs/src/pages/hooks/useTheme.mdx
  docs/src/theme/components/Headline.style.ts
  packages/system/src/hooks/useResponiveValue.stories.tsx
  packages/system/src/hooks/useTheme.stories.tsx
Labels: type:docs, type:feature

#2585 fix: remove duplicated key in `Card` styles
  .changeset/shaggy-ducks-agree.md
  themes/theme-core/src/components/Card.style.ts
Labels: type:feature

#2573 chore: update bug template with repl.it template
  .github/ISSUE_TEMPLATE/2.bug.md
Labels: type:infrastructure

#2586 docs: add another `Columns` demo for `stretch`
  docs/src/demos/components/Columns/index.ts
  docs/src/demos/components/Columns/stretch-columns-switch.demo.tsx
  docs/src/pages/components/columns.mdx
  packages/components/src/Columns/Columns.stories.tsx
Labels: type:docs, type:feature

#2588 chore: more core style (Card/Button/Link)
  themes/theme-core/src/components/Button.style.ts
  themes/theme-core/src/components/Card.style.ts
  themes/theme-core/src/components/Link.style.ts
Labels: type:feature

#2604 chore: more core style (Card/Button/Link)
  .changeset/calm-jokes-hope.md
  themes/theme-core/src/components/Body.style.ts
  themes/theme-core/src/components/Button.style.ts
  themes/theme-core/src/components/Card.style.ts
  themes/theme-core/src/components/Headline.style.ts
  themes/theme-core/src/components/Link.style.ts
  themes/theme-core/src/components/Text.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-core/src/index.ts
Labels: type:feature

#2605 chore: add hover color for close button in dialog (core theme)
  themes/theme-core/src/components/Dialog.style.ts
Labels: type:feature
