Repository marigold-ui/marigold, pull requests merged in 2022-02, with the labels that each got.

#1744 feat(docs): Update "Getting Started"
  .changeset/eighty-monkeys-worry.md
  docs/content/components/provider.mdx
  docs/content/guides/installation.mdx
  docs/content/introduction/getting-started.mdx
  docs/gatsby-config.js
Labels: type:docs

#1745 feat(docs): improve gettings started docs
  docs/content/introduction/getting-started.mdx
  docs/src/pages/index.tsx
Labels: type:docs

#1746 feat(docs): use no placeholder for logo
  docs/src/components/Logo/Logo.tsx
Labels: type:docs

#1752 feat(docs): Initial about page
  .changeset/early-cows-work.md
  docs/content/introduction/00-getting-started.mdx
  docs/content/introduction/01-about.mdx
Labels: type:docs

#1753 feat(docs): add padding to paragraphs
  .changeset/short-scissors-jam.md
  docs/src/theme/typography.ts
Labels: type:docs

#1761 docs: first version of about page
  docs/content/introduction/00-getting-started.mdx
  docs/content/introduction/01-about.mdx
  docs/content/introduction/02-concepts.mdx
  docs/content/introduction/99-faq.mdx
Labels: type:docs

#1763 docs: fix typos
  docs/content/introduction/01-about.mdx
Labels: type:docs

#1762 fix: use gatsby link in mdx
  docs/src/mdx.tsx
Labels: type:docs

#1723 feat(system): add hook that allows to use values based on screen size
  .changeset/rare-seahorses-add.md
  packages/system/src/index.ts
  packages/system/src/useResponsiveValue.ssr.test.tsx
  packages/system/src/useResponsiveValue.test.tsx
  packages/system/src/useResponsiveValue.ts
Labels: type:feature

#1726 feat(docs): Add version and short hash
  .changeset/real-pens-warn.md
  docs/gatsby-config.js
  docs/package.json
  docs/src/components/Layout.tsx
  docs/src/components/Version.tsx
  docs/src/theme/typography.ts
  yarn.lock
Labels: type:docs

#1774 feat(comp): Radio remove label prop and add children + refa
  .changeset/cyan-roses-heal.md
  docs/content/components/checkbox.mdx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxIcon.tsx
Labels: type:docs, type:feature

#1775 feat(comp): Checkbox remove label prop and add children + refa
  .changeset/smart-forks-worry.md
  docs/content/components/radio.mdx
  packages/components/src/Radio/Radio.stories.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Radio/RadioIcon.tsx
Labels: type:docs, type:feature

#1785 refa(docs): use interface instead of type
  .changeset/silent-books-explode.md
  docs/src/components/CopyButton.tsx
  docs/src/components/DoAndDont.tsx
  docs/src/components/Navigation/Navigation.tsx
  docs/src/components/Navigation/useNavigation.ts
  docs/src/components/Preview.tsx
  docs/src/components/ShowHideButton.tsx
  docs/src/components/ThemeSwitch.tsx
Labels: type:docs

#1784 refa(comp): use interface instead of type
  .changeset/five-fans-lick.md
  packages/components/src/ActionGroup/ActionGroup.tsx
  packages/components/src/Alert/Alert.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/Card/Card.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Column/Column.tsx
  packages/components/src/Columns/Columns.tsx
  packages/components/src/Container/Container.test.tsx
  packages/components/src/Container/Container.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Divider/Divider.tsx
  packages/components/src/Image/Image.tsx
  packages/components/src/Inline/Inline.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/MenuItem/MenuItem.test.tsx
  packages/components/src/MenuItem/MenuItem.tsx
  packages/components/src/Message/Message.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Stack/Stack.tsx
  packages/components/src/Text/Text.tsx
  packages/components/src/ValidationMessage/ValidationMessage.tsx
Labels: type:feature

#1727 feat(components): <Text> change font size via style props
  .changeset/fresh-moles-applaud.md
  docs/content/components/text.mdx
  packages/components/src/Text/Text.stories.tsx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
Labels: type:docs, type:feature

#1802 chore: add yarn install for locally release script
  .changeset/poor-pianos-act.md
  scripts/release.mjs
Labels: type:infrastructure

#1795 refa: use interface instead of type
  .changeset/five-bags-rest.md
  packages/components/src/Checkbox/CheckboxIcon.tsx
  packages/components/src/Dialog/ModalDialog.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/Radio/RadioIcon.tsx
  packages/system/src/Box.tsx
  packages/system/src/SVG.tsx
  packages/system/src/useTheme.tsx
  packages/system/src/variant.ts
Labels: type:feature

#1798 fix(components): Use own `flattenChildren` helper to fix ESM build
  .changeset/poor-gifts-hug.md
  packages/components/package.json
  packages/components/src/Columns/Columns.tsx
  packages/components/src/Inline/Inline.tsx
  packages/components/src/Stack/Stack.tsx
  packages/components/src/utils/flatten-children.test.tsx
  packages/components/src/utils/flatten-children.ts
  packages/components/src/utils/index.ts
  yarn.lock
Labels: type:feature
