Repository marigold-ui/marigold, pull requests merged in 2022-08, with the labels that each got.

#2245 chore: code demos
  docs-next/content/components/aside.mdx
  docs-next/content/components/badge.mdx
  docs-next/content/components/text-field.mdx
  docs-next/content/highlight.mdx
  docs-next/package.json
  docs-next/src/components/CopyButton.tsx
  docs-next/src/components/Demo.tsx
  docs-next/src/components/Layout.tsx
  docs-next/src/components/ThemeSwitch.tsx
  docs-next/src/components/index.ts
  docs-next/src/demos/components/_test_.tsx
  docs-next/src/demos/components/_test_hook_.tsx
  docs-next/src/demos/components/index.ts
  docs-next/src/demos/index.ts
  docs-next/src/mdx.tsx
  docs-next/src/mdx/components.tsx
  docs-next/src/mdx/index.ts
  docs-next/src/mdx/remark-code-demo.ts
  docs-next/src/pages/[[...slug]].tsx
  docs-next/src/pages/_app.tsx
  docs-next/src/theme/components/Button.style.ts
  docs-next/src/theme/components/Demo.style.ts
  docs-next/src/theme/components/Header.style.ts
  docs-next/src/theme/components/Headline.style.ts
  docs-next/src/theme/components/List.style.ts
  docs-next/src/theme/components/Navigation.style.ts
  docs-next/src/theme/components/Table.style.ts
  docs-next/src/theme/components/Text.style.ts
  docs-next/src/theme/components/index.ts
  docs-next/src/theme/root.ts
  docs-next/src/theme/space.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/index.ts
Labels: type:feature

#2228 chore: update labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: type:infrastructure

#2238 chore: fix docs deployment
  .github/workflows/release.yml
  package.json
Labels: type:infrastructure

#2255 feat: export `useAsyncList` and `useListData`
  .changeset/metal-jokes-judge.md
  packages/components/package.json
  packages/components/src/hooks.ts
  packages/components/src/index.ts
  pnpm-lock.yaml
Labels: type:feature

#2262 feat: Load web fonts GDPR compliant
  docs-next/src/pages/_document.tsx
  docs-next/src/theme/typography.ts
  themes/theme-b2b/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:feature

#2277 chore: don't run chromatic when docs change
  .github/workflows/chromatic.yml
Labels: type:infrastructure

#2280 feat: Improve naming of arrow icons
  .changeset/warm-carrots-pay.md
  docs/src/components/ShowHideButton.tsx
  packages/icons/src/ui/ArrowDown.tsx
  packages/icons/src/ui/ArrowDownA.tsx
  packages/icons/src/ui/ArrowLeft.tsx
  packages/icons/src/ui/ArrowLeftA.tsx
  packages/icons/src/ui/ArrowRight.tsx
  packages/icons/src/ui/ArrowRightA.tsx
  packages/icons/src/ui/ArrowUp.tsx
  packages/icons/src/ui/ArrowUpA.tsx
  packages/icons/src/ui/ChevronDown.tsx
  packages/icons/src/ui/ChevronLeft.tsx
  packages/icons/src/ui/ChevronRight.tsx
  packages/icons/src/ui/ChevronUp.tsx
  packages/icons/src/ui/index.ts
Labels: type:docs, type:feature

#2285 feat: `<Button>` correctly pass through all native props and option to take full width
  .changeset/tender-swans-fly.md
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
  themes/theme-b2b/src/components/Button.style.ts
Labels: type:feature

#2281 fix: shadow tokens need to have a "none" value
  .changeset/funny-cats-fix.md
  packages/tokens/src/index.test.ts
  packages/tokens/src/shadow.ts
Labels: type:feature

#2290 chore: Themeswitch on component mdx page
  .changeset/quick-snails-joke.md
  docs-next/content/components/aside.mdx
  docs-next/content/components/badge.mdx
  docs-next/content/components/button.mdx
  docs-next/content/components/card.mdx
  docs-next/content/components/checkbox.mdx
  docs-next/content/components/dialog.mdx
  docs-next/content/components/headline.mdx
  docs-next/content/components/input.mdx
  docs-next/content/components/label.mdx
  docs-next/content/components/link.mdx
  docs-next/content/components/list.mdx
  docs-next/content/components/message.mdx
  docs-next/content/components/number-field.mdx
  docs-next/content/components/radio.mdx
  docs-next/content/components/select.mdx
  docs-next/content/components/slider.mdx
  docs-next/content/components/table.mdx
  docs-next/content/components/text-area.mdx
  docs-next/content/components/text-field.mdx
  docs-next/content/components/text.mdx
  docs-next/src/components/Link.tsx
  docs-next/src/components/Preview.tsx
  docs-next/src/components/ThemeSelect.tsx
  docs-next/src/pages/[[...slug]].tsx
  docs-next/src/theme/colors.ts
  docs-next/src/theme/components/ListBox.style.ts
  docs-next/src/theme/components/Select.style.ts
  docs-next/src/theme/components/index.ts
  pnpm-lock.yaml
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:feature

#2299 docs: use json for navigation data
  .gitignore
  docs/navigation.mjs
  docs/package.json
  docs/src/pages/[[...slug]].tsx
  docs/src/pages/_app.tsx
  pnpm-lock.yaml
Labels: type:docs

#2300 chore: fix storybook build
  docs/package.json
  pnpm-lock.yaml
Labels: type:docs

#2303 Revert "docs: use json for navigation data (#2299)"
  .gitignore
  docs/navigation.mjs
  docs/package.json
  docs/src/pages/[[...slug]].tsx
  docs/src/pages/_app.tsx
Labels: type:docs

#2304 docs: add public folder with CNAME
  .gitignore
  docs/public/CNAME
Labels: type:docs

#2305 docs: trim whitespace when reading code demo from file
  docs/src/mdx/remark-code-demo.ts
Labels: type:docs

#2306 docs: fixs home link
  docs/src/components/Navigation/NavigationLayout.tsx
Labels: type:docs

#2307 docs: update release documentation
  docs/content/develop/release.mdx
Labels: type:docs

#2296 docs: update aside and aspect proptable, preview
  docs/content/components/aside.mdx
  docs/content/components/aspect.mdx
  docs/src/demos/components/Aside/index.ts
  docs/src/demos/components/Aside/rightside.demo.tsx
  docs/src/demos/components/Aside/simple-aside.demo.tsx
  docs/src/demos/components/Aside/space.demo.tsx
  docs/src/demos/components/Aspect/index.ts
  docs/src/demos/components/Aspect/map.demo.tsx
  docs/src/demos/components/Aspect/ratio-square.demo.tsx
  docs/src/demos/components/Aspect/simple-aspect.demo.tsx
  docs/src/demos/components/Aspect/video.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2308 docs: update box demos and proptable
  docs/content/components/box.mdx
  docs/src/demos/components/Box/box-basic.demo.tsx
  docs/src/demos/components/Box/box-success.demo.tsx
  docs/src/demos/components/Box/box-text.demo.tsx
  docs/src/demos/components/Box/button-box.demo.tsx
  docs/src/demos/components/Box/index.ts
  docs/src/demos/components/index.ts
  docs/src/theme/components/Table.style.ts
Labels: type:docs

#2320 fix: remove deprecated type from `<Aside>`
  .changeset/bright-buses-cry.md
  packages/components/src/Aside/Aside.tsx
Labels: type:feature

#2317 docs: update header and footer propstable and demos
  docs/content/components/footer.mdx
  docs/content/components/header.mdx
  docs/src/demos/components/Footer/footer.demo.tsx
  docs/src/demos/components/Footer/index.ts
  docs/src/demos/components/Header/header.demo.tsx
  docs/src/demos/components/Header/index.ts
  docs/src/demos/components/index.ts
Labels: type:docs

#2309 docs: update breakout demos and proptable
  docs/content/components/breakout.mdx
  docs/src/demos/components/Breakout/basic-breakout.demo.tsx
  docs/src/demos/components/Breakout/horizontal-breakout.demo.tsx
  docs/src/demos/components/Breakout/iframe-breakout.demo.tsx
  docs/src/demos/components/Breakout/index.ts
  docs/src/demos/components/Breakout/text-breakout.demo.tsx
  docs/src/demos/components/Breakout/vertical-breakout.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2310 docs: center, columns and container with proptable and demos
  docs/content/components/center.mdx
  docs/content/components/columns.mdx
  docs/content/components/container.mdx
  docs/src/demos/components/Center/basic-center.demo.tsx
  docs/src/demos/components/Center/box-center.demo.tsx
  docs/src/demos/components/Center/index.ts
  docs/src/demos/components/Center/space-center.demo.tsx
  docs/src/demos/components/Center/text-center.demo.tsx
  docs/src/demos/components/Center/width-center.demo.tsx
  docs/src/demos/components/Columns/basic-columns.demo.tsx
  docs/src/demos/components/Columns/breadcrumb-columns.demo.tsx
  docs/src/demos/components/Columns/collapse-columns.demo.tsx
  docs/src/demos/components/Columns/index.ts
  docs/src/demos/components/Columns/layout-columns.demo.tsx
  docs/src/demos/components/Columns/space-columns.demo.tsx
  docs/src/demos/components/Container/basic-container.demo.tsx
  docs/src/demos/components/Container/full-container.demo.tsx
  docs/src/demos/components/Container/index.ts
  docs/src/demos/components/Container/large-content-container.demo.tsx
  docs/src/demos/components/Container/large-header-container.demo.tsx
  docs/src/demos/components/Container/medium-header-container.demo.tsx
  docs/src/demos/components/Container/small-content-container.demo.tsx
  docs/src/demos/components/Container/small-header-container.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2322 fix: set viewbox for `<Exlamation>`
  .changeset/sour-mirrors-talk.md
  packages/icons/src/info/Exclamation.tsx
Labels: type:feature

#2323 feat: clean up `<Slider>` base styles
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Slider/Thumb.tsx
Labels: type:feature

#2324 chore: Action that test if everything still builds
  .github/workflows/build.yml
  .github/workflows/storybook.yml
  docs/content/components/footer.mdx
  docs/content/components/header.mdx
  docs/package.json
  package.json
Labels: type:docs, type:infrastructure

#2326 fix: correctly apply read only state to `<Checkbox>`
  .changeset/small-gorillas-dance.md
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.tsx
Labels: type:feature

#2328 feat: add `fit` and `potision` props to `<Image>`
  .changeset/light-windows-shop.md
  docs/content/components/image.mdx
  packages/components/src/Image/Image.stories.tsx
  packages/components/src/Image/Image.test.tsx
  packages/components/src/Image/Image.tsx
Labels: type:docs, type:feature

#2333 fix: justify content in `<Button>`
  .changeset/chilly-needles-move.md
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
Labels: type:feature

#2334 feat: add breakpoints to all themes
  .changeset/two-trees-cheer.md
  themes/theme-b2b/src/index.ts
  themes/theme-core/src/index.ts
  themes/theme-unicorn/src/index.ts
Labels: type:feature

#2335 docs: divider propstable and demos
  docs/content/components/divider.mdx
  docs/src/demos/components/Divider/divider-bold.demo.tsx
  docs/src/demos/components/Divider/divider-text.demo.tsx
  docs/src/demos/components/Divider/divider.demo.tsx
  docs/src/demos/components/Divider/index.ts
  docs/src/demos/components/index.ts
Labels: type:docs

#2336 docs: Headline demos and propTable
  docs/content/components/headline.mdx
  docs/src/demos/components/Headline/headline.demo.tsx
  docs/src/demos/components/Headline/index.ts
  docs/src/demos/components/index.ts
Labels: type:docs

#2338 docs: Image and Inline demos
  docs/content/components/image.mdx
  docs/content/components/inline.mdx
  docs/src/demos/components/Image/image.demo.tsx
  docs/src/demos/components/Image/index.ts
  docs/src/demos/components/Inline/index.ts
  docs/src/demos/components/Inline/inline-alignments.demo.tsx
  docs/src/demos/components/Inline/inline-elements.demo.tsx
  docs/src/demos/components/Inline/inline-nested.demo.tsx
  docs/src/demos/components/Inline/inline-spacing.demo.tsx
  docs/src/demos/components/Inline/inline.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2337 docs: icon demos
  docs/content/components/icon.mdx
  docs/src/demos/components/Icon/icon-fill.demo.tsx
  docs/src/demos/components/Icon/icon-list.demo.tsx
  docs/src/demos/components/Icon/icon-size.demo.tsx
  docs/src/demos/components/Icon/icon-ticket.demo.tsx
  docs/src/demos/components/Icon/index.ts
  docs/src/demos/components/index.ts
Labels: type:docs

#2339 docs: Input, Label and Link demos
  docs/content/components/input.mdx
  docs/content/components/label.mdx
  docs/content/components/link.mdx
  docs/src/demos/components/Input/index.ts
  docs/src/demos/components/Input/input-disabled.demo.tsx
  docs/src/demos/components/Input/input-type.demo.tsx
  docs/src/demos/components/Input/input.demo.tsx
  docs/src/demos/components/Label/index.ts
  docs/src/demos/components/Label/label-req.demo.tsx
  docs/src/demos/components/Link/index.ts
  docs/src/demos/components/Link/link-disabled.demo.tsx
  docs/src/demos/components/Link/link-standard.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2343 docs: proptable and demos for Radio
  docs/content/components/radio.mdx
  docs/src/demos/components/Radio/index.ts
  docs/src/demos/components/Radio/radio-disabled.demo.tsx
  docs/src/demos/components/Radio/radio-required.demo.tsx
  docs/src/demos/components/Radio/radio.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2342 docs: Demos for VisuallyHidden, Message, List, Provider
  docs/content/components/list.mdx
  docs/content/components/message.mdx
  docs/content/components/provider.mdx
  docs/content/components/visually-hidden.mdx
  docs/src/demos/components/List/index.ts
  docs/src/demos/components/List/list-ordered.demo.tsx
  docs/src/demos/components/List/list.demo.tsx
  docs/src/demos/components/Message/index.ts
  docs/src/demos/components/Message/message-error.demo.tsx
  docs/src/demos/components/Message/message-info.demo.tsx
  docs/src/demos/components/Message/message-warn.demo.tsx
  docs/src/demos/components/VisuallyHidden/index.ts
  docs/src/demos/components/VisuallyHidden/visually-hidden.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2341 docs: Menu Demos
  docs/content/components/menu.mdx
  docs/src/demos/components/Menu/index.ts
  docs/src/demos/components/Menu/menu-disabled.demo.tsx
  docs/src/demos/components/Menu/menu-selected.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2345 docs: NumberField Demos and PropTable
  docs/content/components/number-field.mdx
  docs/src/demos/components/NumberField/index.ts
  docs/src/demos/components/NumberField/number-field-amount.demo.tsx
  docs/src/demos/components/NumberField/number-field-cur.demo.tsx
  docs/src/demos/components/NumberField/number-field-dec.demo.tsx
  docs/src/demos/components/NumberField/number-field-disabled.demo.tsx
  docs/src/demos/components/NumberField/number-field-error.demo.tsx
  docs/src/demos/components/NumberField/number-field-hide.demo.tsx
  docs/src/demos/components/NumberField/number-field-per.demo.tsx
  docs/src/demos/components/NumberField/number-field-required.demo.tsx
  docs/src/demos/components/NumberField/number-field-simple.demo.tsx
  docs/src/demos/components/NumberField/number-field-unit.demo.tsx
  docs/src/demos/components/NumberField/number-field-values.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2346 docs: select and slider demos
  docs/content/components/content.mdx
  docs/content/components/select.mdx
  docs/content/components/slider.mdx
  docs/src/demos/components/Select/index.ts
  docs/src/demos/components/Select/select-basic.demo.tsx
  docs/src/demos/components/Select/select-default-selected.demo.tsx
  docs/src/demos/components/Select/select-diabled-keys.demo.tsx
  docs/src/demos/components/Select/select-disabled.demo.tsx
  docs/src/demos/components/Slider/index.ts
  docs/src/demos/components/Slider/slider-controlled.demo.tsx
  docs/src/demos/components/Slider/slider-cur.demo.tsx
  docs/src/demos/components/Slider/slider-disabled.demo.tsx
  docs/src/demos/components/Slider/slider-max.demo.tsx
  docs/src/demos/components/Slider/slider-per.demo.tsx
  docs/src/demos/components/Slider/slider-steps.demo.tsx
  docs/src/demos/components/Slider/slider-uncontrolled.demo.tsx
  docs/src/demos/components/Slider/slider-width.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2347 docs: Switch, Table, Tiles, Split, Stack demos
  docs/content/components/split.mdx
  docs/content/components/stack.mdx
  docs/content/components/switch.mdx
  docs/content/components/table.mdx
  docs/content/components/tiles.mdx
  docs/src/demos/components/Split/index.ts
  docs/src/demos/components/Split/split-inline.demo.tsx
  docs/src/demos/components/Split/split-stack.demo.tsx
  docs/src/demos/components/Stack/index.ts
  docs/src/demos/components/Stack/stack-basic.demo.tsx
  docs/src/demos/components/Stack/stack-horizontal.demo.tsx
  docs/src/demos/components/Stack/stack-nested.demo.tsx
  docs/src/demos/components/Stack/stack-spacing.demo.tsx
  docs/src/demos/components/Stack/stack-vertical.demo.tsx
  docs/src/demos/components/Switch/index.ts
  docs/src/demos/components/Switch/switch-active-disabled.demo.tsx
  docs/src/demos/components/Switch/switch-active.demo.tsx
  docs/src/demos/components/Switch/switch-basic.demo.tsx
  docs/src/demos/components/Switch/switch-disabled.demo.tsx
  docs/src/demos/components/Table/index.ts
  docs/src/demos/components/Table/table-basic.demo.tsx
  docs/src/demos/components/Table/table-disabled.demo.tsx
  docs/src/demos/components/Table/table-dynamic.demo.tsx
  docs/src/demos/components/Table/table-multi-mode.demo.tsx
  docs/src/demos/components/Table/table-nested.demo.tsx
  docs/src/demos/components/Table/table-single-mode.demo.tsx
  docs/src/demos/components/Table/table-sorting.demo.tsx
  docs/src/demos/components/Tiles/index.ts
  docs/src/demos/components/Tiles/tiles-complex.demo.tsx
  docs/src/demos/components/Tiles/tiles-itemwidth.demo.tsx
  docs/src/demos/components/Tiles/tiles-spacing.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2348 docs: demos for tooltip, textfield, textarea, text
  docs/content/components/text-area.mdx
  docs/content/components/text-field.mdx
  docs/content/components/text.mdx
  docs/content/components/tooltip.mdx
  docs/src/demos/components/Text/index.ts
  docs/src/demos/components/Text/text-color.demo.tsx
  docs/src/demos/components/Text/text-default.demo.tsx
  docs/src/demos/components/Text/text-heading.demo.tsx
  docs/src/demos/components/TextArea/index.ts
  docs/src/demos/components/TextArea/text-area-basic.demo.tsx
  docs/src/demos/components/TextArea/text-area-disabled.demo.tsx
  docs/src/demos/components/TextArea/text-area-error.demo.tsx
  docs/src/demos/components/TextArea/text-area-req.demo.tsx
  docs/src/demos/components/TextField/index.ts
  docs/src/demos/components/TextField/textfield-basic.demo.tsx
  docs/src/demos/components/TextField/textfield-disabled.demo.tsx
  docs/src/demos/components/TextField/textfield-error.demo.tsx
  docs/src/demos/components/TextField/textfield-number.demo.tsx
  docs/src/demos/components/TextField/textfield-req.demo.tsx
  docs/src/demos/components/TextField/textfield-types.demo.tsx
  docs/src/demos/components/Tooltip/index.ts
  docs/src/demos/components/Tooltip/tooltip-basic.demo.tsx
  docs/src/demos/components/Tooltip/tooltip-custom.demo.tsx
  docs/src/demos/components/Tooltip/tooltip-focus.demo.tsx
  docs/src/demos/components/index.ts
Labels: type:docs

#2349 docs: add message style to docs and yellow color
  .changeset/wet-bulldogs-pump.md
  docs/content/introduction/getting-started.mdx
  docs/src/theme/colors.ts
  docs/src/theme/components/Headline.style.ts
  docs/src/theme/components/Message.style.ts
  docs/src/theme/components/index.ts
Labels: type:docs

#2351 docs: content for landingpage
  .changeset/selfish-papayas-try.md
  docs/content/index.mdx
  docs/src/theme/components/Card.style.ts
Labels: type:docs

#2352 docs: add a title to each page
  docs/src/components/Title.tsx
  docs/src/components/index.ts
  docs/src/pages/[[...slug]].tsx
Labels: type:docs

#2356 docs: heading order for accessibility
  docs/src/components/Navigation/Navigation.tsx
  docs/src/theme/components/Navigation.style.ts
Labels: type:docs

#2357 docs: darker color secondary color accessibility
  docs/src/theme/colors.ts
Labels: type:docs

#2354 docs: add roles to navigation for accessibility
  .changeset/giant-lies-divide.md
  docs/src/components/Navigation/Navigation.tsx
Labels: type:docs

#2360 docs: bugfix for tooltip preview demo
  docs/content/components/tooltip.mdx
Labels: type:docs

#2359 docs: table of contents supports h3
  .changeset/chilly-rings-end.md
  docs/src/mdx/rehype-toc.ts
Labels: type:docs

#2362 feat: new icon for logout
  .changeset/lazy-countries-act.md
  docs/content/foundation/icons.mdx
  packages/icons/src/action/Logout.tsx
  packages/icons/src/action/index.ts
Labels: type:docs, type:feature

#2370 feat: add eye icon
  .changeset/cuddly-eggs-pump.md
  docs/content/foundation/icons.mdx
  packages/icons/src/ui/Eye.tsx
  packages/icons/src/ui/index.ts
Labels: type:docs, type:feature

#2361 chore: update table with compact and expanded variants
  .changeset/strong-cups-sort.md
  docs/content/components/table.mdx
  docs/src/demos/components/Table/index.ts
  docs/src/demos/components/Table/table-compact.demo.tsx
  docs/src/demos/components/Table/table-dynamic.demo.tsx
  docs/src/demos/components/Table/table-sorting.demo.tsx
  packages/components/src/Table/Table.stories.tsx
  themes/theme-b2b/src/components/Table.style.ts
Labels: type:docs, type:feature

#2371 fix: fix the links
  .changeset/good-tomatoes-pull.md
  packages/components/src/Link/Link.stories.tsx
  packages/components/src/Link/Link.tsx
Labels: type:feature

#2376 docs: add Figma links to docs
  .changeset/strong-knives-juggle.md
  docs/content/components/card.mdx
  docs/content/components/content.mdx
  docs/content/components/footer.mdx
  docs/content/components/header.mdx
  docs/content/components/headline.mdx
  docs/content/components/icon.mdx
  docs/content/components/list.mdx
  docs/content/components/number-field.mdx
  docs/content/components/tooltip.mdx
  docs/src/components/FigmaLink.tsx
  docs/src/components/index.ts
  docs/src/pages/[[...slug]].tsx
  docs/src/theme/colors.ts
  docs/src/theme/components/Link.style.ts
Labels: type:docs

#2378 docs: fix responsive layout and table
  .changeset/unlucky-carpets-divide.md
  docs/src/components/FigmaLink.tsx
  docs/src/components/Layout.tsx
  docs/src/components/Navigation/Navigation.tsx
  docs/src/components/Navigation/NavigationLayout.tsx
  docs/src/components/PropsTable.tsx
  docs/src/components/Toc.tsx
  docs/src/demos/components/Table/table-dynamic.demo.tsx
  docs/src/pages/[[...slug]].tsx
  docs/src/theme/components/Table.style.ts
  docs/src/theme/index.ts
  packages/components/src/Table/Table.tsx
Labels: type:docs, type:feature

#2381 fix: fix breaking navigation
  docs/src/components/Navigation/NavigationLayout.tsx
Labels: type:docs

#2382 docs: add title to logo for accessibility
  .changeset/fifty-tigers-decide.md
  docs/src/components/Logo/Logo.tsx
Labels: type:docs

#2383 docs: add right link to gettingstarted
  docs/content/introduction/getting-started.mdx
Labels: type:docs
