Repository marigold-ui/marigold, pull requests merged in 2022-11, with the labels that each got.

#2607 fix: add missing values for one point and set begin of first dot to 0.0s
  .changeset/shaggy-nails-fry.md
  packages/components/src/XLoader/XLoader.tsx
Labels: type:feature

#2615 chore: add no padding to variant link in core theme
  .changeset/rude-vans-laugh.md
  themes/theme-core/src/components/Button.style.ts
Labels: type:feature

#2613 fix: icons support stroke currentColor
  .changeset/breezy-ghosts-cough.md
  packages/icons/src/info/AutoRenew.tsx
  packages/icons/src/ui/ExternalLink.tsx
Labels: type:feature

#2612 chore: add hover color and flex property
  .changeset/stupid-keys-grab.md
  packages/components/src/Checkbox/Checkbox.tsx
  themes/theme-core/src/components/Checkbox.style.ts
Labels: type:feature

#2610 feat: `<Tiles>` can switch between responsive and static modes
  .changeset/wicked-clocks-smoke.md
  docs/src/components/IconList/IconList.tsx
  docs/src/demos/components/Tiles/index.ts
  docs/src/demos/components/Tiles/tiles-autoRows.demo.tsx
  docs/src/demos/components/Tiles/tiles-complex.demo.tsx
  docs/src/demos/components/Tiles/tiles-itemwidth.demo.tsx
  docs/src/demos/components/Tiles/tiles-spacing.demo.tsx
  docs/src/demos/components/Tiles/tiles-stretch.demo.tsx
  docs/src/demos/concepts-layouts.demo.tsx
  docs/src/pages/components/tiles.mdx
  packages/components/src/Card/Card.stories.tsx
  packages/components/src/Tiles/Tiles.stories.tsx
  packages/components/src/Tiles/Tiles.test.tsx
  packages/components/src/Tiles/Tiles.tsx
Labels: type:docs, type:feature

#2619 fix: set `<Switch>` width in flex so it doesn't shrink below a certain threshold
  .changeset/quiet-countries-reflect.md
  packages/components/src/Switch/Switch.tsx
Labels: type:feature

#2622 chore: group mdx/remark/rehypye in rennovate updates
  .github/renovate.json
Labels: type:infrastructure

#2631 fix: revert nextjs version
  docs/package.json
  pnpm-lock.yaml
Labels: type:docs

#2635 chore: add table cell test
  packages/components/src/Table/Table.test.tsx
Labels: type:feature

#2636 chore: add columns test
  packages/components/src/Columns/Columns.test.tsx
  packages/components/src/Columns/Columns.tsx
Labels: type:feature

#2637 chore: added overlay,popover, underlay tests
  packages/components/src/Overlay/overlay.test.tsx
Labels: type:feature

#2638 chore: remove duplicate code for context in checkboxgroup
  packages/components/src/Checkbox/Context.ts
Labels: type:feature

#2576 feat: core label on the left side
  .changeset/metal-insects-decide.md
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/TextArea/TextArea.stories.tsx
  packages/components/src/TextField/TextField.stories.tsx
  packages/components/src/theme.ts
  themes/theme-core/src/components/Field.style.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2649 docs: Add some story that shows the usage of regular mapping in a `<Table>`
  packages/components/src/Table/Table.stories.tsx
Labels: type:feature

#2647 feat: add `fontWeight` style prop to `<Text>` component
  .changeset/hungry-flowers-kiss.md
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
Labels: type:feature

#2653 docs: Add docs for `fontWeight` prop
  docs/src/pages/components/text.mdx
Labels: type:docs

#2652 feat: Improve `<Message>` look
  .changeset/empty-cherries-lick.md
  packages/components/src/Message/Message.stories.tsx
  packages/components/src/Message/Message.tsx
  themes/theme-b2b/src/components/Message.style.ts
Labels: type:feature

#2654 fix: Revert base `Text` size to 16px
  .changeset/wild-cougars-notice.md
  themes/theme-b2b/src/components/Text.style.ts
Labels: type:feature

#2655 fix: fix fieldbase width
  .changeset/pink-maps-hug.md
  packages/components/src/FieldBase/FieldBase.tsx
Labels: type:feature

#2657 feat: add restart icon
  .changeset/gorgeous-colts-agree.md
  docs/src/pages/concepts/icons.mdx
  packages/icons/src/action/Restart.tsx
  packages/icons/src/action/index.ts
Labels: type:docs, type:feature

#2659 fix: icon size in button
  .changeset/twelve-timers-fly.md
  packages/system/src/components/SVG/SVG.tsx
Labels: type:feature
