Repository marigold-ui/marigold, pull requests merged in 2022-12, with the labels that each got.

#2663 fix: set height to 25vh and overflow to auto for select box and menu
  .changeset/cool-knives-rhyme.md
  themes/theme-b2b/src/components/ListBox.style.ts
  themes/theme-b2b/src/components/Menu.style.ts
  themes/theme-core/src/components/ListBox.style.ts
  themes/theme-core/src/components/Menu.style.ts
  themes/theme-unicorn/src/components/ListBox.style.ts
  themes/theme-unicorn/src/components/Menu.style.ts
Labels: type:feature

#2666 chore: change menu/select height to 75vh
  .changeset/thick-bears-occur.md
  themes/theme-b2b/src/components/ListBox.style.ts
  themes/theme-b2b/src/components/Menu.style.ts
  themes/theme-core/src/components/ListBox.style.ts
  themes/theme-core/src/components/Menu.style.ts
  themes/theme-unicorn/src/components/ListBox.style.ts
  themes/theme-unicorn/src/components/Menu.style.ts
Labels: type:feature

#2672 change menu/select height to mobile 75vh and desktop 45vh
  .changeset/funny-pianos-applaud.md
  .changeset/thick-bears-occur.md
  themes/theme-b2b/src/components/ListBox.style.ts
  themes/theme-b2b/src/components/Menu.style.ts
  themes/theme-core/src/components/ListBox.style.ts
  themes/theme-core/src/components/Menu.style.ts
  themes/theme-unicorn/src/components/ListBox.style.ts
  themes/theme-unicorn/src/components/Menu.style.ts
Labels: type:feature

#2674 refa: refactoring Popover with usePopover
  .changeset/wet-moons-listen.md
  config/tsconfig/base.json
  packages/components/package.json
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/DialogTrigger.tsx
  packages/components/src/Menu/Context.ts
  packages/components/src/Menu/Menu.tsx
  packages/components/src/Menu/MenuTrigger.tsx
  packages/components/src/Overlay/Modal.tsx
  packages/components/src/Overlay/Overlay.tsx
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Overlay/index.ts
  packages/components/src/Overlay/overlay.test.tsx
  packages/components/src/Select/Select.tsx
  packages/types/package.json
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Underlay.style.ts
  themes/theme-core/src/components/Underlay.style.ts
  themes/theme-unicorn/src/components/Underlay.style.ts
Labels: type:feature, type:infrastructure

#2677 docs: add theme switcher to menu docs
  docs/src/pages/components/menu.mdx
Labels: type:docs

#2678 docs: refa theme select as menu
  docs/src/components/ThemeMenu.tsx
  docs/src/components/ThemeSelect.tsx
  docs/src/components/index.ts
  docs/src/pages/_app.tsx
  docs/src/theme/components/Button.style.ts
  docs/src/theme/components/ListBox.style.ts
  docs/src/theme/components/Menu.style.ts
  docs/src/theme/components/Select.style.ts
  docs/src/theme/components/index.ts
Labels: type:docs

#2681 docs: print table example
  docs/next.config.mjs
  docs/src/demos/components/Table/core-table-print.demo.tsx
  docs/src/demos/components/Table/index.ts
  docs/src/pages/recipes/table-recipes.mdx
  themes/theme-core/src/components/Table.style.ts
Labels: type:docs, type:feature

#2682 docs: improve table recipe for core
  docs/src/demos/components/Table/core-table-print.demo.tsx
  packages/components/src/Table/Context.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableRow.tsx
  themes/theme-core/src/components/Table.style.ts
Labels: type:docs, type:feature

#2686 fix: required label
  .changeset/modern-maps-do.md
  packages/components/src/Label/Label.tsx
Labels: type:feature

#2688 feat: add <Fieldbase> to <RadioGroup> and <CheckboxGroup>
  .changeset/real-papayas-leave.md
  docs/src/demos/components/Checkbox/checkbox-group.demo.tsx
  docs/src/demos/components/Radio/index.ts
  docs/src/demos/components/Radio/radio-error.demo.tsx
  docs/src/pages/components/checkbox.mdx
  docs/src/pages/components/radio.mdx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/Radio/Radio.stories.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/RadioGroup.test.tsx
  packages/components/src/Radio/RadioGroup.tsx
  packages/components/src/Radio/index.ts
  packages/components/src/theme.ts
  themes/theme-b2b/src/components/CheckboxGroup.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-unicorn/src/components/CheckboxGroup.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2689 fix: add in FieldBase component position relative to fix position absolute bug in HiddenSelect component
  .changeset/afraid-cheetahs-boil.md
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/Table/Table.stories.tsx
Labels: type:feature

#2690 chore: add <Badge> variant dark.
  .changeset/witty-frogs-agree.md
  docs/src/demos/components/Badge/badge-dark.demo.tsx
  docs/src/demos/components/Badge/index.ts
  docs/src/pages/components/badge.mdx
  themes/theme-b2b/src/components/Badge.style.ts
  themes/theme-core/src/components/Badge.style.ts
  themes/theme-unicorn/src/components/Badge.style.ts
Labels: type:docs, type:feature

#2687 fix: <Radio> tabs in default selected value instead of first
  .changeset/proud-plants-cover.md
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/Radio/Context.ts
  packages/components/src/Radio/Radio.stories.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Radio/RadioGroup.tsx
Labels: type:feature

#2694 fix: fix on pointer event for menu and select
  .changeset/slow-dancers-sin.md
  packages/components/src/ListBox/ListBoxOption.tsx
  packages/components/src/Menu/MenuItem.tsx
Labels: type:feature

#2691 feat: explicitly set strict rules in tsconfig
  .changeset/few-tigers-sell.md
  config/tsconfig/base.json
Labels: type:infrastructure

#2696 feat: add FieldBaseGroup component
  docs/src/demos/components/TextField/index.ts
  docs/src/demos/components/TextField/textfield-group.demo.tsx
  docs/src/pages/components/label.mdx
  docs/src/pages/components/text-field.mdx
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/FieldBase/FieldGroup.test.tsx
  packages/components/src/FieldBase/FieldGroup.tsx
  packages/components/src/FieldBase/index.ts
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/index.ts
  themes/theme-b2b/src/components/Field.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/Label.style.ts
  themes/theme-unicorn/src/components/Field.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2698 docs: add examples for forms
  docs/src/demos/components/FieldGroup/bookings-form.demo.tsx
  docs/src/demos/components/FieldGroup/index.ts
  docs/src/demos/components/FieldGroup/organization-search.demo.tsx
  docs/src/demos/components/index.ts
  docs/src/pages/recipes/form-recipes.mdx
  docs/src/pages/recipes/table-recipes.mdx
Labels: type:docs

#2711 docs: fix typo
  docs/src/pages/components/button.mdx
Labels: type:docs

#2710 docs: added text demo in docs
  docs/src/demos/components/Text/index.ts
  docs/src/demos/components/Text/text-simple.demo.tsx
  docs/src/pages/components/text.mdx
Labels: type:docs
