Repository marigold-ui/marigold, pull requests merged in 2023-04, with the labels that each got.

#2877 Components/menu section
  .changeset/twelve-hats-push.md
  docs/src/demos/components/Menu/index.ts
  docs/src/demos/components/Menu/menu-section.demo.tsx
  docs/src/pages/components/menu.mdx
  docs/src/theme/components/Menu.style.ts
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/Menu/MenuItem.tsx
  packages/components/src/Menu/MenuSection.tsx
  themes/theme-b2b/src/components/Menu.style.ts
Labels: type:docs, type:feature

#2915 feat: new Accordion Component
  .changeset/quick-houses-jog.md
  README.md
  docs/src/demos/components/Accordion/basic-accordion.tsx
  docs/src/demos/components/Accordion/index.ts
  docs/src/demos/components/Accordion/multi-select-accordion.demo.tsx
  docs/src/demos/components/Accordion/single-select-accordion.demo.tsx
  docs/src/demos/components/index.ts
  docs/src/pages/components/accordion.mdx
  jest.config.js
  packages/components/package.json
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Accordion/Accordion.test.tsx
  packages/components/src/Accordion/Accordion.tsx
  packages/components/src/Accordion/AccordionItem.tsx
  packages/components/src/Accordion/index.ts
  packages/components/src/Accordion/useAccordionItem.ts
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/index.ts
  packages/components/src/theme.ts
  pnpm-lock.yaml
  themes/theme-core/src/components/Accordion.style.ts
  themes/theme-core/src/components/index.ts
Labels: type:docs, type:feature

#2939 feat: add new package for creating tailwind presets
  jest.config.js
  packages/system/src/defaultTheme.ts
  packages/system/src/index.ts
  packages/theme-preset/README.md
  packages/theme-preset/package.json
  packages/theme-preset/src/create-preset.test.tsx
  packages/theme-preset/src/create-preset.ts
  packages/theme-preset/src/index.ts
  packages/theme-preset/tsconfig.build.json
  packages/theme-preset/tsup.config.json
  pnpm-lock.yaml
Labels: type:feature

#2946 chore: remove unused package create-theme
  packages/create-theme/CHANGELOG.md
  packages/create-theme/README.md
  packages/create-theme/package.json
  packages/create-theme/src/__snapshots__/create-theme.test.ts.snap
  packages/create-theme/src/create-theme.test.ts
  packages/create-theme/src/create-theme.ts
  packages/create-theme/src/index.ts
  packages/create-theme/tsconfig.build.json
  packages/create-theme/tsup.config.json
  pnpm-lock.yaml
Labels: type:feature

#2944 chore: run renovate only monthly
  .github/renovate.json
Labels: type:infrastructure

#2949 chore: fontSize to 13px in core theme
  .changeset/purple-eggs-grow.md
  themes/theme-core/src/index.ts
Labels: type:feature

#2951 Add tag group component
  .changeset/rare-olives-accept.md
  docs/src/demos/components/Tag/basic-tag.demo.tsx
  docs/src/demos/components/Tag/index.ts
  docs/src/demos/components/Tag/label-tag.demo.tsx
  docs/src/demos/components/Tag/remove-tag.demo.tsx
  docs/src/demos/components/index.ts
  docs/src/pages/components/tag.mdx
  docs/src/theme/components/Tag.style.ts
  packages/components/package.json
  packages/components/src/Button/Button.tsx
  packages/components/src/TagGroup/Tag.tsx
  packages/components/src/TagGroup/TagGroup.stories.tsx
  packages/components/src/TagGroup/TagGroup.test.tsx
  packages/components/src/TagGroup/TagGroup.tsx
  packages/components/src/TagGroup/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Tag.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/Tag.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/components/Tag.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature
