Repository marigold-ui/marigold, pull requests merged in 2023-08, with the labels that each got.

#3235 docs: remove groups frontmatter
  docs/content/components/application/provider/provider.mdx
  docs/content/components/collection/accordion/accordion.mdx
  docs/content/components/collection/table/table.mdx
  docs/content/components/content/badge/badge.mdx
  docs/content/components/content/body/body.mdx
  docs/content/components/content/card/card.mdx
  docs/content/components/content/divider/divider.mdx
  docs/content/components/content/footer/footer.mdx
  docs/content/components/content/header/header.mdx
  docs/content/components/content/headline/headline.mdx
  docs/content/components/content/icon/icon.mdx
  docs/content/components/content/image/image.mdx
  docs/content/components/content/link/link.mdx
  docs/content/components/content/list/list.mdx
  docs/content/components/content/message/message.mdx
  docs/content/components/content/svg/svg.mdx
  docs/content/components/content/text/text.mdx
  docs/content/components/content/visually-hidden/visually-hidden.mdx
  docs/content/components/content/xloader/xloader.mdx
  docs/content/components/form/autocomplete/autocomplete.mdx
  docs/content/components/form/button/button.mdx
  docs/content/components/form/calendar/calendar.mdx
  docs/content/components/form/checkbox/checkbox.mdx
  docs/content/components/form/combobox/combobox.mdx
  docs/content/components/form/datefield/datefield.mdx
  docs/content/components/form/datepicker/datepicker.mdx
  docs/content/components/form/number-field/number-field.mdx
  docs/content/components/form/radio/radio.mdx
  docs/content/components/form/search-field/search-field.mdx
  docs/content/components/form/select/select.mdx
  docs/content/components/form/slider/slider.mdx
  docs/content/components/form/switch/switch.mdx
  docs/content/components/form/tag/tag.mdx
  docs/content/components/form/text-area/text-area.mdx
  docs/content/components/form/textfield/textfield.mdx
  docs/content/components/layout/aside/aside.mdx
  docs/content/components/layout/aspect/aspect.mdx
  docs/content/components/layout/breakout/breakout.mdx
  docs/content/components/layout/center/center.mdx
  docs/content/components/layout/columns/columns.mdx
  docs/content/components/layout/container/container.mdx
  docs/content/components/layout/inline/inline.mdx
  docs/content/components/layout/inset/inset.mdx
  docs/content/components/layout/split/split.mdx
  docs/content/components/layout/stack/stack.mdx
  docs/content/components/layout/tiles/tiles.mdx
  docs/content/components/navigation/tabs/tabs.mdx
  docs/content/components/overlay/dialog/dialog.mdx
  docs/content/components/overlay/menu/menu.mdx
  docs/content/components/overlay/tooltip/tooltip.mdx
Labels: type:docs

#3236 docs: respect order of section pages
  docs/app/_components/Navigation.tsx
Labels: type:docs

#3238 chore: remove logging all demos
  docs/scripts/build-registry.mjs
Labels: type:docs

#3239 docs: add missing `key` prop, add aria for current page + adjust layout a tiny bit
  docs/app/_components/NavLink.tsx
  docs/app/_components/Navigation.tsx
Labels: type:docs

#3245 [DST-107]: Update-readme
  README.md
  docs/public/Marigold-Logo.svg
Labels: type:docs

#3244 [DST-92]: fix styles for `Input` of type `file` & `color`
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Input/Input.tsx
  themes/theme-core/src/components/Input.styles.ts
Labels: type:feature

#3247 docs: new getting started page!
  docs/content/introduction/getting-started.mdx
  docs/next.config.js
  docs/ui/mdx.tsx
Labels: type:docs

#3240 docs: simple docs footer
  docs/app/_components/SiteFooter.tsx
  docs/app/layout.tsx
  docs/lib/config.ts
  docs/next.config.js
Labels: type:docs

#3228 [DST-64]: Ref: unify the used chev icon over all components
  packages/components/src/Accordion/AccordionItem.tsx
  packages/components/src/Chevron/ChevronDown.tsx
  packages/components/src/Chevron/ChevronLeft.tsx
  packages/components/src/Chevron/ChevronRight.tsx
  packages/components/src/Chevron/ChevronUp.tsx
  packages/components/src/Chevron/index.ts
  packages/components/src/ComboBox/ComboBox.tsx
  packages/components/src/Select/Select.tsx
  pnpm-lock.yaml
Labels: type:feature

#3248 [DST-110]: Share `Field` Styles across multiple Components
  themes/theme-b2b/src/components/DateField.styles.ts
  themes/theme-b2b/src/components/Input.styles.ts
  themes/theme-b2b/src/components/Select.styles.ts
  themes/theme-b2b/src/components/TextArea.styles.ts
Labels: type:feature

#3249 feat([DST-120]): expose `preset` from themes
  pnpm-lock.yaml
  themes/theme-b2b/package.json
  themes/theme-b2b/src/preset.ts
  themes/theme-b2b/src/screens.ts
  themes/theme-b2b/src/theme.ts
  themes/theme-b2b/tsup.config.ts
  themes/theme-core/package.json
  themes/theme-core/src/preset.ts
  themes/theme-core/src/screens.ts
  themes/theme-core/src/theme.ts
  themes/theme-core/tsup.config.ts
Labels: type:feature

#3253 docs: increase whitespace between nav and main content
  docs/app/layout.tsx
Labels: type:docs

#3254 docs([DST-116]): Add action to deploy docs to production
  .github/workflows/build.yml
  .github/workflows/release.yml
  package.json
Labels: type:infrastructure

#3251 docs[DST-49]: Theme token page
  docs/content/introduction/design-tokens.mdx
  docs/theme/components/Table.styles.ts
  docs/ui/AppearanceTable.tsx
  docs/ui/ColorTokens.tsx
  docs/ui/PropsTable.tsx
  docs/ui/Token.tsx
  docs/ui/Typography.tsx
  docs/ui/mdx.tsx
  packages/components/src/Table/Table.tsx
  packages/system/src/style-props.tsx
  packages/system/src/types/theme.ts
Labels: type:docs, type:feature

#3252 docs[DST-112]: add link to old docs and remove deploy docs script
  .github/workflows/docs.yml
  .github/workflows/release.yml
  docs/app/_components/SiteNavigation.tsx
Labels: type:docs, type:infrastructure

#3256 unify calendar radius like other inputs
  packages/components/src/Calendar/Calendar.tsx
Labels: type:feature

#3257 fix: small button in core theme needs padding
  themes/theme-core/src/components/Button.styles.ts
Labels: type:feature

#3258 feat: always merge and clean tailwind classes when using `cva`
  packages/system/src/utils.test.ts
  packages/system/src/utils.ts
Labels: type:feature

#3259 docs: fix label widths on forms receipe page
  docs/content/concepts/building-forms-hook-form.demo.tsx
  docs/content/concepts/building-forms-zod.demo.tsx
  docs/content/concepts/error-handling.demo.tsx
  docs/content/concepts/layout-forms.demo.tsx
  docs/content/concepts/logical-interaction.demo.tsx
Labels: type:docs

#3260 fix[DST-125]: select section story
  packages/components/src/Select/Select.stories.tsx
Labels: type:feature

#3262 chore: manually deploy docs
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: type:infrastructure

#3263 chore: remove delpoyment actions
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: type:infrastructure

#3267 fix: adjust import for CJS and correctly generate DTS
  .changeset/dull-berries-matter.md
  config/storybook/.storybook/preview.tsx
  docs/app/layout.tsx
  docs/content/introduction/getting-started.mdx
  docs/tsconfig.json
  themes/theme-b2b/package.json
  themes/theme-b2b/src/index.ts
  themes/theme-b2b/src/styles.css
  themes/theme-b2b/tsup.config.ts
  themes/theme-core/package.json
  themes/theme-core/src/index.ts
  themes/theme-core/src/styles.css
  themes/theme-core/tsup.config.ts
Labels: type:docs, type:feature

#3232 [DST-65]: Adding Space for Popover based on theme
  .changeset/smooth-snakes-speak.md
  packages/components/src/Autocomplete/Autocomplete.test.tsx
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Overlay/Popover.test.tsx
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Select/Select.test.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Popover.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/Popover.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#3265 chore[DST-119]: add active state to buttons and active tokens b2b theme
  .changeset/itchy-teachers-argue.md
  themes/theme-b2b/src/components/Button.styles.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3269 chore[DST-121]: add font to theme
  .changeset/rude-adults-attend.md
  themes/theme-b2b/src/theme.ts
  themes/theme-core/src/theme.ts
Labels: type:feature

#3271 chore: release docs with changesets (again)
  .github/workflows/release.yml
Labels: type:infrastructure

#3272 chore: don't run build and CQL when changeset or github files change
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
Labels: type:infrastructure

#3270 [DST-132]: Control `Table.Column` width
  .changeset/bright-garlics-smell.md
  docs/content/components/collection/table/table-column-width.demo.tsx
  docs/content/components/collection/table/table.mdx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableColumnHeader.tsx
  packages/components/src/Table/TableSelectAllCell.tsx
Labels: type:docs, type:feature

#3289 feat: support conditional imports for bundlers like vite
  .changeset/seven-poets-give.md
  themes/theme-b2b/package.json
  themes/theme-core/package.json
Labels: type:feature

#3278 fix: support ESM only modules better
  .changeset/blue-jars-remember.md
  config/jest/index.js
Labels: type:infrastructure

#3294 docs: remove marigold file in docs and used index
  docs/ui/ComponentDemo.tsx
  docs/ui/marigold.tsx
Labels: type:docs

#3250 [DST-111]: enhance styling tabs
  .changeset/itchy-spies-greet.md
  packages/components/src/Tabs/Context.ts
  packages/components/src/Tabs/TabPanel.tsx
  packages/components/src/Tabs/Tabs.test.tsx
  packages/components/src/Tabs/Tabs.tsx
  packages/components/src/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Tabs.styles.ts
  themes/theme-core/src/components/Tabs.styles.ts
Labels: type:feature

#3280 chore: remove unused deps from storybook config
  .changeset/thin-crews-double.md
  config/storybook/package.json
  docs/app/layout.tsx
  docs/ui/ComponentDemo.tsx
  packages/components/src/Tabs/TabPanel.tsx
  packages/components/src/Tabs/Tabs.test.tsx
  packages/components/src/Tabs/Tabs.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature, type:infrastructure

#3277 chore: Update `find-up` to latest version
  config/storybook/.storybook/preview.tsx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxField.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableColumnHeader.tsx
  packages/components/src/Table/TableSelectAllCell.tsx
  packages/theme-preset/package.json
  packages/theme-preset/src/create-preset.ts
  pnpm-lock.yaml
Labels: type:feature

#3292 refa[DST-128]: refa rehype pretty code plugin and some improvements
  docs/contentlayer.config.ts
  docs/lib/mdx/rehype-component-demo.tsx
  docs/theme/tokens.ts
  docs/ui/ComponentDemo.tsx
  docs/ui/mdx.tsx
  packages/theme-preset/src/create-preset.ts
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3295 chore[DST-145]:update fontsize
  .changeset/thirty-humans-speak.md
  packages/system/src/style-props.tsx
  themes/theme-b2b/src/components/Headline.styles.ts
Labels: type:feature

#3297 chore[DST-143]: rename token name
  .changeset/eleven-games-try.md
  packages/system/src/style-props.tsx
Labels: type:feature

#3293 [DST-122]: Fix checkbox distance in table
  .changeset/funny-swans-flash.md
  docs/contentlayer.config.ts
  docs/lib/mdx/rehype-component-demo.tsx
  docs/ui/mdx.tsx
  packages/components/src/Table/Table.tsx
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-core/src/components/Table.styles.ts
Labels: type:docs, type:feature

#3300 fix: let typescript resolve types for preset imports
  .changeset/fluffy-laws-eat.md
  themes/theme-b2b/package.json
  themes/theme-core/package.json
Labels: type:feature

#3301 feat: improve content glob for themes
  .changeset/big-dragons-protect.md
  packages/theme-preset/package.json
  packages/theme-preset/src/create-preset.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/preset.ts
  themes/theme-b2b/tailwind.config.ts
  themes/theme-core/src/preset.ts
  themes/theme-core/tailwind.config.ts
Labels: type:feature

#3306 [DST-82]: Fixing docs link
  docs/content/introduction/getting-started.mdx
Labels: type:docs

#3311 [DST-96]: Improve sorting table
  .changeset/fast-coins-explain.md
  packages/components/src/Table/TableColumnHeader.tsx
Labels: type:feature

#3308 [DST-82]: Documention: <FieldGroup>
  docs/content/components/form/fieldgroup/field-group-basic.demo.tsx
  docs/content/components/form/fieldgroup/field-group.mdx
  packages/components/src/Radio/index.ts
Labels: type:docs, type:feature

#3304 chore: update linting/formatting + switch to lint-staged
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  config/eslint/package.json
  config/prettier/index.js
  config/prettier/package.json
  config/storybook/package.json
  docs/package.json
  jest.config.js
  package.json
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/system/package.json
  packages/theme-preset/package.json
  pnpm-lock.yaml
  themes/theme-b2b/package.json
  themes/theme-core/package.json
Labels: type:docs, type:feature, type:infrastructure

#3309 [DST-142]: Docs -> Adding style props page
  docs/content/concepts/style-props.mdx
Labels: type:docs

#3305 chore[DST-152]: fix warnings in tests
  packages/components/src/Accordion/Accordion.test.tsx
  packages/components/src/Accordion/AccordionItem.tsx
  packages/components/src/Accordion/useAccordionItem.ts
  packages/components/src/Button/Button.tsx
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/Menu/MenuSection.tsx
Labels: type:feature

#3312 chore[DST-155]: update headline level 6 in b2b theme
  themes/theme-b2b/src/components/Headline.styles.ts
Labels: type:feature

#3307 [DST-147]: Status to indicated updated/new/... Pages
  docs/app/_components/Navigation.tsx
  docs/content/components/collection/table/table.mdx
  docs/content/components/form/calendar/calendar.mdx
  docs/content/components/form/datefield/datefield.mdx
  docs/content/components/form/datepicker/datepicker.mdx
  docs/content/components/form/fieldgroup/field-group.mdx
  docs/content/components/form/search-field/search-field.mdx
  docs/contentlayer.config.ts
  docs/theme/components/Badge.styles.ts
  docs/theme/components/index.ts
  docs/theme/tokens.ts
Labels: type:docs

#3316 docs[DST-153]: fix view in Safari
  .changeset/curvy-grapes-fetch.md
  docs/ui/ComponentDemo.tsx
Labels: type:docs

#3317 chore[DST-173]: update helptext line-height
  themes/theme-b2b/src/components/HelpText.styles.ts
Labels: type:feature

#3319 chore[DST-179]: update switch style
  .changeset/chilly-cats-destroy.md
  themes/theme-b2b/src/components/Switch.styles.ts
Labels: type:feature

#3310 [DST-159]: Remove "@testing-library/react-hooks"
  docs/ui/ThemeSwitch.test.tsx
  package.json
  packages/system/src/hooks/useClassNames.test.tsx
  packages/system/src/hooks/useResponsiveValue.ssr.test.tsx
  packages/system/src/hooks/useResponsiveValue.test.tsx
  packages/system/src/hooks/useResponsiveValue.ts
  packages/system/src/hooks/useSmallScreen.test.tsx
  packages/system/src/hooks/useStateProps.test.tsx
  packages/system/src/hooks/useTheme.test.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature
