Repository marigold-ui/marigold, pull requests merged in 2023-05, with the labels that each got.

#2932 feat: Introduce <Calendar> component
  .changeset/tidy-melons-promise.md
  docs/src/demos/components/Calendar/basic-calendar.demo.tsx
  docs/src/demos/components/Calendar/disabled-calendar.demo.tsx
  docs/src/demos/components/Calendar/index.ts
  docs/src/demos/components/Calendar/range-calendar.demo.tsx
  docs/src/demos/components/Calendar/readOnly-calendar.demo.tsx
  docs/src/demos/components/index.ts
  docs/src/pages/components/calendar.mdx
  package.json
  packages/components/src/Calendar/Calendar.stories.tsx
  packages/components/src/Calendar/Calendar.test.tsx
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/Calendar/CalendarCell.tsx
  packages/components/src/Calendar/CalendarGrid.tsx
  packages/components/src/Calendar/MonthDropdown.tsx
  packages/components/src/Calendar/YearDropdown.tsx
  packages/components/src/Calendar/index.ts
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/index.ts
  packages/components/src/theme.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Calendar.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/Calendar.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/components/Calendar.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2947 feat: Introduce <DatePicker> Component
  .changeset/happy-cycles-sit.md
  docs/src/demos/components/DatePicker/date-picker-basic.demo.tsx
  docs/src/demos/components/DatePicker/date-picker-disabled.demo.tsx
  docs/src/demos/components/DatePicker/date-picker-error.demo.tsx
  docs/src/demos/components/DatePicker/date-picker-min-max.demo.tsx
  docs/src/demos/components/DatePicker/date-picker-required.demo.tsx
  docs/src/demos/components/DatePicker/index.ts
  docs/src/demos/components/index.ts
  docs/src/pages/components/date-picker.mdx
  jest.config.js
  packages/components/src/Calendar/MonthDropdown.tsx
  packages/components/src/DateField/DateField.test.tsx
  packages/components/src/DateField/DateField.tsx
  packages/components/src/DatePicker/DatePicker.stories.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/DatePicker/DatePicker.tsx
  packages/components/src/DatePicker/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.ts
  themes/theme-b2b/src/components/DateField.style.ts
  themes/theme-b2b/src/components/DatePicker.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/DatePicker.style.ts
  themes/theme-core/src/components/index.ts
  themes/theme-unicorn/src/components/DatePicker.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:docs, type:feature

#2960 feat(jest): Automatically insert `React` runtime in tests
  config/jest/index.js
  packages/components/src/Badge/Badge.test.tsx
Labels: type:feature, type:infrastructure

#2955 Introducing <ComboBox> Component
  .changeset/twelve-needles-retire.md
  docs/src/demos/components/ComboBox/combobox-async.demo.tsx
  docs/src/demos/components/ComboBox/combobox-basic.demo.tsx
  docs/src/demos/components/ComboBox/combobox-controlled.demo.tsx
  docs/src/demos/components/ComboBox/index.ts
  docs/src/demos/components/index.ts
  docs/src/pages/components/combo-box.mdx
  package.json
  packages/components/src/ComboBox/ComboBox.stories.tsx
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/ComboBox/ComboBox.tsx
  packages/components/src/ComboBox/index.ts
  packages/components/src/index.ts
  pnpm-lock.yaml
Labels: type:docs, type:feature

#2962 docs: delete some badges
  docs/src/pages/components/box.mdx
  docs/src/pages/components/dialog.mdx
  docs/src/pages/components/inset.mdx
  docs/src/pages/components/menu.mdx
  docs/src/pages/components/select.mdx
  docs/src/pages/concepts/building-forms.mdx
  docs/src/pages/concepts/icons.mdx
  docs/src/pages/concepts/styling.mdx
Labels: type:docs

#2964 chore: remove chromatic
  .github/workflows/chromatic.yml
  config/storybook/package.json
  config/storybook/preview.tsx
  package.json
  packages/components/src/Aside/Aside.stories.tsx
  packages/components/src/Aspect/Aspect.stories.tsx
  packages/components/src/Breakout/Breakout.stories.tsx
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Card/Card.stories.tsx
  packages/components/src/Center/Center.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/Container/Container.stories.tsx
  packages/components/src/Divider/Divider.stories.tsx
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/Footer/Footer.stories.tsx
  packages/components/src/Header/Header.stories.tsx
  packages/components/src/HelpText/HelpText.stories.tsx
  packages/components/src/Image/Image.stories.tsx
  packages/components/src/Inline/Inline.stories.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Inset/Inset.stories.tsx
  packages/components/src/Label/Label.stories.tsx
  packages/components/src/Link/Link.stories.tsx
  packages/components/src/List/List.stories.tsx
  packages/components/src/Message/Message.stories.tsx
  packages/components/src/NumberField/NumberField.stories.tsx
  packages/components/src/Overlay/Overlay.stories.tsx
  packages/components/src/Radio/Radio.stories.tsx
  packages/components/src/Slider/Slider.stories.tsx
  packages/components/src/Split/Split.stories.tsx
  packages/components/src/Stack/Stack.stories.tsx
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/TagGroup/TagGroup.stories.tsx
  packages/components/src/Text/Text.stories.tsx
  packages/components/src/TextArea/TextArea.stories.tsx
  packages/components/src/TextField/TextField.stories.tsx
  packages/components/src/Tiles/Tiles.stories.tsx
  packages/components/src/XLoader/XLoader.stories.tsx
  pnpm-lock.yaml
Labels: type:feature, type:infrastructure

#2971 Refa Card component
  packages/components/src/Card/Card.stories.tsx
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Card/Card.tsx
  packages/system/src/style-props.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/components/Card.styles.ts
  themes/theme-core/src/components/Text.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2972 TextArea + FieldBase fix
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/TextArea/TextArea.test.tsx
  packages/components/src/TextArea/TextArea.tsx
  packages/components/src/test.utils.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/components/Field.styles.ts
  themes/theme-core/src/components/HelpText.styles.ts
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/TextArea.styles.ts
  themes/theme-core/src/components/index.ts
  themes/theme-core/tailwind.config.ts
Labels: type:feature

#2974 listbox
  packages/components/src/ListBox/ListBox.stories.tsx
  packages/components/src/ListBox/ListBox.tsx
  packages/components/src/ListBox/ListBoxOption.tsx
  packages/components/src/ListBox/ListBoxSection.tsx
  packages/components/src/Select/Select.tsx
  packages/system/src/types/theme.ts
  packages/theme-preset/src/create-preset.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/components/ListBox.styles.ts
  themes/theme-core/src/components/Select.styles.ts
  themes/theme-core/src/preset.ts
Labels: type:feature

#2976 Adjust TextField tests
  packages/components/src/TextField/TextField.test.tsx
Labels: type:feature

#2975 Select + Listbox fixes
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/TextArea/TextArea.test.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/ListBox.styles.ts
  themes/theme-core/src/components/Select.styles.ts
Labels: type:feature

#2978 Tailwind: Link Component
  packages/components/src/Link/Link.stories.tsx
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Link/Link.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/components/Link.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2979 Tailwind: List component
  packages/components/src/List/Context.ts
  packages/components/src/List/List.stories.tsx
  packages/components/src/List/List.test.tsx
  packages/components/src/List/List.tsx
  packages/components/src/List/ListItem.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/components/List.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2977 tailwind: Message Component
  packages/components/src/Message/Message.stories.tsx
  packages/components/src/Message/Message.test.tsx
  packages/components/src/Message/Message.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Text/Text.tsx
  packages/system/src/style-props.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/components/Message.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2984 Refactoring Slider component
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Slider/Thumb.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/components/Slider.style.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2983 Tailwind: Tooltip component
  packages/components/src/Tooltip/Tooltip.stories.tsx
  packages/components/src/Tooltip/Tooltip.test.tsx
  packages/components/src/Tooltip/Tooltip.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/components/Tooltip.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2988 Fix tests for loooots of stuff + HelpText adjustment
  packages/components/src/Autocomplete/Autocomplete.test.tsx
  packages/components/src/FieldBase/FieldBase.test.tsx
  packages/components/src/HelpText/HelpText.test.tsx
  packages/components/src/HelpText/HelpText.tsx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/TextField/TextField.test.tsx
  packages/system/src/components/SVG/SVG.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/components/HelpText.styles.ts
Labels: type:feature

#2982 Tailwind: dialog component
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/components/Dialog.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2980 Tailwind/switch
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
  packages/system/src/types/theme.ts
  packages/theme-preset/src/create-preset.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/components/Switch.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2986 Tailwind number field
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/NumberField/StepButton.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/components/NumberField.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2973 refactoring checkbox component
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/system/src/types/theme.ts
  packages/theme-preset/src/create-preset.ts
  themes/theme-core/src/components/Checkbox.styles.ts
Labels: type:feature

#2996 Refactoring Tabs
  packages/components/src/Tabs/Context.ts
  packages/components/src/Tabs/Tab.tsx
  packages/components/src/Tabs/TabPanel.tsx
  packages/components/src/Tabs/Tabs.test.tsx
  packages/components/src/Tabs/Tabs.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/components/Tabs.style.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2997 Tailwind calendar
  packages/components/src/Calendar/Calendar.test.tsx
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/Calendar/CalendarCell.tsx
  packages/components/src/Calendar/CalendarGrid.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/components/Calendar.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature
