Repository marigold-ui/marigold, pull requests merged in 2023-06, with the labels that each got.

#2998 tailwind: datefield
  packages/components/src/DateField/DateField.stories.tsx
  packages/components/src/DateField/DateField.test.tsx
  packages/components/src/DateField/DateField.tsx
  packages/components/src/DateField/DateSegment.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/components/DateField.styles.ts
  themes/theme-core/src/components/Field.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#2999 Tailwind: Added `eslint-plugin-tailwindcss` to repo
  config/eslint/index.js
  config/eslint/package.json
  config/prettier/package.json
  packages/components/src/Body/Body.test.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Footer/Footer.test.tsx
  packages/components/src/Header/Header.test.tsx
  packages/components/src/Headline/Headline.test.tsx
  packages/components/src/HelpText/HelpText.test.tsx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Table/TableColumnHeader.tsx
  packages/components/src/Tabs/Tabs.test.tsx
  packages/system/src/components/Box/Box.stories.tsx
  packages/system/src/hooks/useClassNames.test.tsx
  packages/system/src/hooks/useComponentStyles.test.tsx
  packages/system/src/hooks/useTheme.test.tsx
  packages/system/src/types/theme.test.ts
  pnpm-lock.yaml
  themes-old/tailwind-core/src/components/Accordion.styles.ts
  themes-old/tailwind-core/src/components/Badge.styles.ts
  themes-old/tailwind-core/src/components/Button.styles.ts
  themes-old/tailwind-core/src/components/Checkbox.styles.ts
  themes-old/tailwind-core/src/components/Field.styles.ts
  themes-old/tailwind-core/src/components/Input.styles.ts
  themes-old/tailwind-core/src/components/ListBox.styles.ts
  themes-old/tailwind-core/src/components/Select.styles.ts
  themes-old/tailwind-core/src/components/Table.styles.ts
  themes-old/tailwind-core/src/root.ts
  themes-old/theme-core/src/components/Badge.style.ts
  themes-old/theme-unicorn/src/components/Badge.style.ts
  themes/theme-core/src/components/Accordion.styles.ts
  themes/theme-core/src/components/Badge.styles.ts
  themes/theme-core/src/components/Button.styles.ts
  themes/theme-core/src/components/Card.styles.ts
  themes/theme-core/src/components/Checkbox.styles.ts
  themes/theme-core/src/components/Dialog.styles.ts
  themes/theme-core/src/components/Divider.styles.ts
  themes/theme-core/src/components/Headline.styles.ts
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/Link.styles.ts
  themes/theme-core/src/components/ListBox.styles.ts
  themes/theme-core/src/components/Menu.styles.ts
  themes/theme-core/src/components/Message.styles.ts
  themes/theme-core/src/components/Radio.styles.ts
  themes/theme-core/src/components/Slider.style.ts
  themes/theme-core/src/components/Switch.styles.ts
  themes/theme-core/src/components/Table.styles.ts
  themes/theme-core/src/components/Tabs.style.ts
  themes/theme-core/src/components/TextArea.styles.ts
  themes/theme-core/src/root.ts
Labels: type:feature, type:infrastructure

#2992 Tailwind Table
  packages/components/src/Table/Context.tsx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/Table.test.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableCell.tsx
  packages/components/src/Table/TableCheckboxCell.tsx
  packages/components/src/Table/TableColumnHeader.tsx
  packages/components/src/Table/TableRow.tsx
  packages/components/src/Table/TableSelectAllCell.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/components/Table.styles.ts
Labels: type:feature

#2994 Tailwind: Tag Component
  packages/components/src/TagGroup/Tag.tsx
  packages/components/src/TagGroup/TagGroup.stories.tsx
  packages/components/src/TagGroup/TagGroup.test.tsx
  packages/components/src/TagGroup/TagGroup.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/components/Tag.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#3006 Tailwind: fixed some lints
  packages/components/src/Calendar/Calendar.test.tsx
  packages/components/src/DateField/DateField.test.tsx
  packages/components/src/Select/Select.tsx
  themes/theme-core/src/components/Calendar.styles.ts
  themes/theme-core/src/components/DateField.styles.ts
  themes/theme-core/src/components/Field.styles.ts
  themes/theme-core/src/components/Table.styles.ts
  themes/theme-core/src/components/Tag.styles.ts
Labels: type:feature

#3008 add outline and border tokens and
  themes/theme-core/src/theme.ts
  themes/theme-core/src/tokens.ts
Labels: type:docs, type:feature, type:infrastructure

#3011 Tailwind: Styling with tokens
  themes/theme-core/src/components/Accordion.styles.ts
  themes/theme-core/src/components/Badge.styles.ts
  themes/theme-core/src/components/Button.styles.ts
  themes/theme-core/src/components/Calendar.styles.ts
  themes/theme-core/src/components/Card.styles.ts
  themes/theme-core/src/components/Checkbox.styles.ts
  themes/theme-core/src/components/Dialog.styles.ts
  themes/theme-core/src/components/Divider.styles.ts
  themes/theme-core/src/components/HelpText.styles.ts
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/Label.styles.ts
  themes/theme-core/src/components/Link.styles.ts
  themes/theme-core/src/components/ListBox.styles.ts
  themes/theme-core/src/components/Menu.styles.ts
  themes/theme-core/src/components/Message.styles.ts
  themes/theme-core/src/components/Radio.styles.ts
  themes/theme-core/src/components/Slider.style.ts
  themes/theme-core/src/components/Switch.styles.ts
  themes/theme-core/src/components/Table.styles.ts
  themes/theme-core/src/components/Tabs.style.ts
  themes/theme-core/src/components/Tag.styles.ts
  themes/theme-core/src/components/Text.styles.ts
  themes/theme-core/src/components/TextArea.styles.ts
  themes/theme-core/src/components/Underlay.styles.ts
  themes/theme-core/src/root.ts
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3010 Fixing tests in tailwind
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Calendar/Calendar.test.tsx
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Center/Center.test.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/DateField/DateField.tsx
  packages/components/src/FieldBase/FieldGroup.test.tsx
  packages/components/src/Headline/__snapshots__/Headline.test.tsx.snap
  packages/components/src/HelpText/HelpText.test.tsx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/Overlay/Popover.test.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Table/Table.test.tsx
  packages/components/src/Tabs/Tabs.test.tsx
  packages/components/src/TextArea/TextArea.test.tsx
  packages/system/src/hooks/useClassNames.test.tsx
  packages/tokens/src/index.test.ts
Labels: type:feature

#3009 Refactoring date picker
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/DateField/DateField.tsx
  packages/components/src/DatePicker/DatePicker.stories.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/DatePicker/DatePicker.tsx
  packages/system/src/types/theme.ts
  themes/theme-core/src/colors.ts
  themes/theme-core/src/components/DatePicker.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#3014 Tailwind: add useClassNames tests for coverage
  packages/system/src/hooks/useClassNames.test.tsx
Labels: type:feature

#3013 fixing calendar focus state
  packages/components/src/Calendar/CalendarCell.tsx
  themes/theme-b2b/src/components/Calendar.style.ts
  themes/theme-core/src/components/Calendar.style.ts
  themes/theme-unicorn/src/components/Calendar.style.ts
Labels: type:feature

#3016 Tailwind: remove unreachable case where type is number
  packages/components/src/Tiles/Tiles.tsx
Labels: type:feature

#3019 Tailwind: fix breakout align types + coverage
  packages/components/src/Breakout/Breakout.test.tsx
  packages/components/src/Breakout/Breakout.tsx
Labels: type:docs, type:feature, type:infrastructure

#3018 Tailwind: Radio coverage test
  packages/components/src/Radio/Radio.test.tsx
Labels: type:feature

#3021 Tailwind: remove deprecated selector
  packages/components/src/Calendar/Calendar.test.tsx
  packages/components/src/Calendar/CalendarCell.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/NumberField/StepButton.tsx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Tabs/Tab.tsx
  packages/components/src/Tabs/Tabs.test.tsx
  packages/theme-preset/src/create-preset.ts
  pnpm-lock.yaml
  themes/theme-core/src/components/Button.styles.ts
  themes/theme-core/src/components/Calendar.styles.ts
  themes/theme-core/src/components/DatePicker.styles.ts
  themes/theme-core/src/components/Slider.style.ts
  themes/theme-core/src/components/Tabs.style.ts
Labels: type:feature

#3020 Adjust datefield
  packages/components/src/DateField/DateField.test.tsx
  packages/components/src/DateField/DateField.tsx
  packages/components/src/DateField/DateSegment.tsx
  packages/components/src/DatePicker/DatePicker.tsx
  themes/theme-core/src/components/Button.styles.ts
  themes/theme-core/src/components/DateField.styles.ts
  themes/theme-core/src/components/DatePicker.styles.ts
  themes/theme-core/src/components/Input.styles.ts
Labels: type:feature

#3025 chore: throw eslint error if classnames are not correctly applied
  config/eslint/index.js
  themes/theme-core/src/components/Button.styles.ts
  themes/theme-core/src/components/DatePicker.styles.ts
Labels: type:feature, type:infrastructure

#3027 Tailwind: Label and HelpText, Field b2b styles
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/TextField/TextField.stories.tsx
  themes/theme-b2b/src/components/Field.styles.ts
  themes/theme-b2b/src/components/HelpText.styles.ts
  themes/theme-b2b/src/components/Label.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3031 add test for getting color from theme for coverage
  packages/components/src/Headline/Headline.test.tsx
  packages/components/src/Text/Text.test.tsx
Labels: type:feature

#3028 Tailwind: Underlay+dialog b2b style
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-b2b/src/components/Underlay.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3030 Tailwind: Message b2b
  themes/theme-b2b/src/components/Message.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3029 Tailwind: add text and headline b2b style
  themes/theme-b2b/src/components/Headline.styles.ts
  themes/theme-b2b/src/components/Text.styles.ts
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

#3034 Tailwind: add Badge for b2b styles
  themes/theme-b2b/src/components/Badge.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3035 Tailwind: Card b2b styles
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Card/Card.tsx
  themes/theme-b2b/src/components/Card.styles.ts
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

#3036 Adding b2b `theme` to link component
  themes/theme-b2b/src/components/Link.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3041 Adding b2b theme for `NumberField` component
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/NumberField/NumberField.tsx
  themes/theme-b2b/src/components/NumberField.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3039 Tailwind: add listbox b2b styles
  themes/theme-b2b/src/components/ListBox.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3042 tailwind: textarea b2b styles
  themes/theme-b2b/src/components/TextArea.styles.ts
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

#3037 Tailwind: Checkbox b2b styles
  themes/theme-b2b/src/components/Checkbox.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3043 Tailwind: b2b styles
  themes/theme-b2b/src/components/Tabs.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/Tabs.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#3049 Tailwind:button stlyes
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Button.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3046 Tailwind: Improve border style from textarea
  themes/theme-b2b/src/components/TextArea.styles.ts
Labels: type:feature

#3050 Tailwind: `Switch` b2b styles
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
  packages/system/src/types/theme.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Switch.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
  themes/theme-core/src/components/Switch.styles.ts
Labels: type:feature

#3052 Tailwind: Table b2b styles
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3045 Tailwind: add radio b2b style
  themes/theme-b2b/src/components/Radio.styles.ts
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

#3056 Tailwind Accordion file b2b
  themes/theme-b2b/src/components/Accordion.styles.ts
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

#3033 Tailwind: remove function cannot be used
  packages/system/src/components/SVG/SVG.tsx
Labels: type:feature

#3054 Tailwind: `Slider` b2b styles
  packages/components/src/Slider/Slider.tsx
  themes/theme-b2b/src/components/Slider.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/Slider.styles.ts
  themes/theme-core/src/components/index.ts
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3051 Tailwind: `Calendar` b2b styles
  packages/components/src/Calendar/Calendar.tsx
  themes/theme-b2b/src/components/Calendar.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3059 changed input styles for datefield
  packages/components/src/DateField/DateField.tsx
  packages/components/src/Input/Input.tsx
  themes/theme-b2b/src/components/DateField.styles.ts
Labels: type:feature

#3057 Tailwind: add size to icon in autocomplete
  packages/components/src/Autocomplete/Autocomplete.tsx
  packages/components/src/Autocomplete/ClearButton.tsx
  themes/theme-b2b/src/components/Input.styles.ts
Labels: type:feature

#3055 Tailwind: Tooltip b2b
  packages/components/src/Tooltip/Tooltip.test.tsx
  packages/components/src/Tooltip/Tooltip.tsx
  packages/theme-preset/src/create-preset.ts
  themes-old/theme-b2b/src/components/Tooltip.style.ts
  themes/theme-b2b/src/components/Tooltip.styles.ts
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

#3058 Tailwind: add b2b styles for Tag
  packages/components/src/TagGroup/Tag.tsx
  themes/theme-b2b/src/components/Tag.styles.ts
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

#3061 Tailwind: `DatePicker` b2b styles
  packages/components/src/DatePicker/DatePicker.tsx
  themes/theme-b2b/src/components/DatePicker.styles.ts
  themes/theme-b2b/src/components/index.ts
Labels: type:feature

#3063 fix: underlay base styles
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-b2b/src/components/Underlay.styles.ts
Labels: type:feature

#3062 fix: breakout grid columns style
  packages/components/src/Breakout/Breakout.test.tsx
  packages/components/src/Breakout/Breakout.tsx
Labels: type:feature

#3060 chore: Remove `<Box>` from system
  packages/components/src/Aside/Aside.tsx
  packages/components/src/Body/Body.tsx
  packages/components/src/Box.ts
  packages/components/src/Center/Center.test.tsx
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/Columns/Columns.test.tsx
  packages/components/src/Footer/Footer.tsx
  packages/components/src/Header/Header.tsx
  packages/components/src/Headline/Headline.tsx
  packages/components/src/Image/Image.tsx
  packages/components/src/Stack/Stack.stories.tsx
  packages/components/src/index.ts
  packages/system/src/components/Box/Box.stories.tsx
  packages/system/src/components/Box/Box.test.tsx
  packages/system/src/components/Box/Box.tsx
  packages/system/src/components/Box/index.ts
  packages/system/src/components/Box/selector.test.ts
  packages/system/src/components/Box/selector.ts
  packages/system/src/components/index.ts
  packages/system/src/hooks/useResponiveValue.stories.tsx
  packages/system/src/hooks/useTheme.stories.tsx
Labels: type:feature

#3066 chore: remove usetheme story
  packages/system/src/hooks/useTheme.stories.tsx
Labels: type:feature

#3065 chore: deleted tokens package
  packages/components/package.json
  packages/tokens/CHANGELOG.md
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/src/aspect.ts
  packages/tokens/src/border.ts
  packages/tokens/src/color.ts
  packages/tokens/src/index.test.ts
  packages/tokens/src/index.ts
  packages/tokens/src/layer.ts
  packages/tokens/src/opacity.ts
  packages/tokens/src/shadow.ts
  packages/tokens/src/size.ts
  packages/tokens/src/space.ts
  packages/tokens/src/typography.ts
  packages/tokens/tsconfig.build.json
  packages/tokens/tsup.config.json
  pnpm-lock.yaml
Labels: type:feature

#3070 chore: remove tailwind-variants package
  config/storybook/package.json
  packages/components/package.json
  packages/system/package.json
  pnpm-lock.yaml
  themes/theme-b2b/package.json
  themes/theme-core/package.json
Labels: type:feature, type:infrastructure

#3071 chore: remove emotion packages
  .npmrc
  config/storybook/package.json
  packages/system/package.json
  pnpm-lock.yaml
Labels: type:feature, type:infrastructure

#3072 chore: remove csstype and theme-ui
  packages/system/package.json
  pnpm-lock.yaml
Labels: type:feature

#3083 chore[DST-61]: add vercel for docs
  docs-old/package.json
  docs/.eslintrc.json
  docs/app/page.tsx
  docs/next.config.js
  docs/package.json
  docs/tailwind.config.ts
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: type:docs

#3076 chore[DST-62]: remove dependency from root and add to components package
  package.json
  packages/components/package.json
  pnpm-lock.yaml
Labels: type:feature

#3082 [DST-58] setup contentlayer
  .gitignore
  docs/app/[...slug]/page.tsx
  docs/components/mdx.tsx
  docs/content/home.mdx
  docs/content/lala.mdx
  docs/contentlayer.config.ts
  docs/next.config.js
  docs/package.json
  docs/tsconfig.json
  pnpm-lock.yaml
Labels: type:docs

#3084 chore: some small changes for content layer
  docs/app/[...slug]/page.tsx
  docs/components/mdx.tsx
  docs/tsconfig.json
Labels: type:docs

#3088 fix: b2b theme working in storybook again
  themes/theme-b2b/src/theme.ts
Labels: type:feature

#3085 chore[DST-54]: setup code doc pages
  docs/app/components/[...slug]/page.tsx
  docs/app/layout.tsx
  docs/app/page.tsx
  docs/app/something.tsx
  docs/app/test/layout.tsx
  docs/app/test/page.tsx
  docs/content/components/button/button-variant-demo.tsx
  docs/content/components/button/button.mdx
  docs/content/home.mdx
  docs/content/lala.mdx
  docs/contentlayer.config.ts
  docs/package.json
  docs/ui/index.ts
  docs/ui/mdx.tsx
  pnpm-lock.yaml
Labels: type:docs
