Repository marigold-ui/marigold, pull requests merged in 2023-10, with the labels that each got.

#3384 fix[DST-217]: fix Appearance Table in docs
  docs/app/[...slug]/page.tsx
  docs/ui/mdx.tsx
Labels: type:docs

#3385 fix[DST-180]: fix string for variants in storybook in message
  packages/components/src/Message/Message.stories.tsx
Labels: type:feature

#3383 feat: remove className prop from all components
  .changeset/tidy-buckets-watch.md
  docs/content/recipes/core-table-print.demo.tsx
  packages/components/src/Accordion/Accordion.test.tsx
  packages/components/src/Aspect/Aspect.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Body/Body.tsx
  packages/components/src/Breakout/Breakout.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/Card/Card.tsx
  packages/components/src/Center/Center.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/Container/Container.tsx
  packages/components/src/Footer/Footer.tsx
  packages/components/src/Header/Header.tsx
  packages/components/src/Headline/Headline.tsx
  packages/components/src/HelpText/HelpText.tsx
  packages/components/src/Image/Image.tsx
  packages/components/src/Inline/Inline.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/List/List.tsx
  packages/components/src/List/ListItem.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/Message/Message.tsx
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Split/Split.tsx
  packages/components/src/Switch/Switch.tsx
  packages/components/src/TagGroup/Tag.tsx
  packages/components/src/Text/Text.tsx
  packages/components/src/TextArea/TextArea.stories.tsx
  packages/components/src/TextArea/TextArea.tsx
  packages/components/src/TextField/TextField.tsx
  packages/components/src/Tooltip/Tooltip.tsx
  packages/types/src/react.test.tsx
  packages/types/src/react.ts
Labels: type:docs, type:feature

#3376 docs: new navigation pattern
  .changeset/late-jars-end.md
  docs/app/_components/NavLink.tsx
  docs/content/recipes/NavItem.tsx
  docs/content/recipes/ReservixLogo.tsx
  docs/content/recipes/navigation-recipes.mdx
  docs/content/recipes/topnavigation.demo.tsx
Labels: type:docs

#3387 fix: fix links in docs navigation
  docs/app/_components/SiteNavigation.tsx
Labels: type:docs

#3394 fix: width props for switch and slider
  .changeset/little-wolves-stare.md
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
Labels: type:feature

#3393 feat: remove headline font from b2b theme
  .changeset/rude-rats-admire.md
  themes/theme-b2b/src/preset.ts
Labels: type:feature

#3397 fix: root directory in vercel
  docs/next.config.js
  package.json
  turbo.json
Labels: type:docs

#3402 fix[DST-222]: Select width by item
  .changeset/wicked-donkeys-relax.md
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Select/Select.tsx
Labels: type:feature

#3401 fix: fix watch script
  scripts/watch-tailwind.mjs
  themes/theme-b2b/package.json
  themes/theme-core/package.json
Labels: type:feature

#3399 fix[DST-221]: button active disabled state
  .changeset/silly-elephants-wonder.md
  themes/theme-b2b/src/components/Button.styles.ts
Labels: type:feature

#3398 fix: docs underlined headlines
  docs/theme/components/Headline.styles.ts
Labels: type:docs

#3404 docs: fix typo in getting started
  docs/content/introduction/getting-started.mdx
Labels: type:docs

#3405 RAC: updated `Button` to react aria components
  .changeset/chilly-wolves-learn.md
  packages/components/package.json
  packages/components/src/Accordion/Accordion.test.tsx
  packages/components/src/Accordion/AccordionItem.tsx
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/ComboBox/ComboBox.tsx
  pnpm-lock.yaml
Labels: type:feature

#3407 RAC: `<Divider>` as React Aria Component
  .changeset/tame-brooms-jog.md
  packages/components/src/Divider/Divider.test.tsx
  packages/components/src/Divider/Divider.tsx
Labels: type:feature

#3406 RAC: `<Label>` as React aria Component
  .changeset/honest-points-agree.md
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Label/Label.tsx
  packages/components/src/Radio/RadioGroup.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
Labels: type:feature

#3392 RAC: `<Link>` as react aria component
  .changeset/wild-bikes-end.md
  docs/content/components/content/link/link.mdx
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Link/Link.tsx
Labels: type:docs, type:feature

#3408 RAC: `<Headline>` as React Aria Component
  .changeset/plenty-cups-attend.md
  docs/app/[...slug]/page.tsx
  docs/content/components/collection/accordion/accordion-basic.demo.tsx
  docs/content/components/content/body/simple-body.demo.tsx
  docs/content/components/content/card/card-form.demo.tsx
  docs/content/components/content/card/card-infos.demo.tsx
  docs/content/components/content/header/simple-header.demo.tsx
  docs/content/components/content/headline/headline.demo.tsx
  docs/content/components/content/headline/headline.mdx
  docs/content/components/layout/center/text-center.demo.tsx
  docs/content/components/layout/container/full-container.demo.tsx
  docs/content/components/layout/container/small-container.demo.tsx
  docs/content/components/layout/inline/inline-alignments.demo.tsx
  docs/content/components/layout/inline/inline-nested.demo.tsx
  docs/content/components/layout/stack/stack-nested.demo.tsx
  docs/content/components/layout/stack/stack-spacing.demo.tsx
  docs/content/components/layout/tiles/tiles-complex.demo.tsx
  docs/content/components/overlay/dialog/dialog-dismiss.demo.tsx
  docs/content/components/overlay/dialog/dialog-form.demo.tsx
  docs/content/concepts/building-forms-hook-form.demo.tsx
  docs/content/concepts/building-forms-zod.demo.tsx
  docs/content/concepts/error-handling.demo.tsx
  docs/content/concepts/layout-forms.demo.tsx
  docs/content/concepts/logical-interaction.demo.tsx
  docs/content/recipes/core-table-print.demo.tsx
  docs/ui/ColorTokens.tsx
  docs/ui/mdx.tsx
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Center/Center.stories.tsx
  packages/components/src/Headline/Headline.stories.tsx
  packages/components/src/Headline/Headline.test.tsx
  packages/components/src/Headline/Headline.tsx
  packages/components/src/Stack/Stack.stories.tsx
  packages/components/src/Tiles/Tiles.stories.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3417 refa: Move `useFieldGroupContext` into the `<Label>` component
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/Label/Label.stories.tsx
  packages/components/src/Label/Label.test.tsx
  packages/components/src/Label/Label.tsx
Labels: type:feature

#3418 refa: `<HelpText>` to RAC
  .changeset/giant-deers-divide.md
  packages/components/src/HelpText/HelpText.stories.tsx
  packages/components/src/HelpText/HelpText.test.tsx
  packages/components/src/HelpText/_HelpText.tsx
Labels: type:feature

#3419 fix: storybook select story
  packages/components/src/Select/Select.stories.tsx
Labels: type:feature

#3420 docs: add extra infos to component guidelines
  docs/content/develop/component-guidelines.mdx
Labels: type:docs

#3424 feat: add styles to checkbox and radio groups
  .changeset/wet-dolphins-sit.md
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/Checkbox/_Checkbox.test.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/RadioGroup.test.tsx
  packages/components/src/Radio/RadioGroup.tsx
  packages/components/src/Table/Table.test.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Checkbox.styles.ts
  themes/theme-b2b/src/components/Radio.styles.ts
  themes/theme-core/src/components/Checkbox.styles.ts
  themes/theme-core/src/components/Radio.styles.ts
Labels: type:feature

#3425 fix: numberfield width
  .changeset/thirty-moose-wink.md
  packages/components/src/Input/Input.tsx
  packages/components/src/NumberField/NumberField.tsx
Labels: type:feature

#3423 fix: add gap in checkbox group
  .changeset/nasty-peaches-care.md
  packages/components/src/Checkbox/CheckboxGroup.tsx
  themes/theme-core/src/components/Field.styles.ts
Labels: type:feature

#3428 chore: fix renovate "minimumReleaseAge"
  .github/renovate.json
Labels: type:infrastructure

#3427 feat[DST-209]: add `<PDF>` as icon to marigold/icons
  docs/content/concepts/icons.mdx
  packages/icons/src/info/PDF.tsx
  packages/icons/src/info/index.ts
Labels: type:docs, type:feature

#3429 feat: adjust `<SliderOutput>` position
  .changeset/fuzzy-teachers-unite.md
  packages/components/src/Slider/Slider.stories.tsx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Slider.styles.ts
  themes/theme-core/src/components/Slider.styles.ts
Labels: type:feature

#3431 fix: adjust label size of checkbox and radios in b2b theme
  .changeset/hungry-moose-flash.md
  themes/theme-b2b/src/components/Checkbox.styles.ts
  themes/theme-b2b/src/components/Radio.styles.ts
Labels: type:feature

#3433 fix: underlay in b2b theme is transparent again
  .changeset/cyan-buses-wave.md
  themes/theme-b2b/src/components/Underlay.styles.ts
Labels: type:feature

#3430 RAC: refa <Radio> as react-aria-components
  .changeset/sixty-cars-wonder.md
  packages/components/src/Radio/Context.ts
  packages/components/src/Radio/Radio.stories.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Radio/RadioGroup.test.tsx
  packages/components/src/Radio/RadioGroup.tsx
  themes/theme-b2b/src/components/Radio.styles.ts
  themes/theme-core/src/components/Radio.styles.ts
Labels: type:feature

#3434 fix([DST-228]): Hotfix `react-aria` so space works inside forms in an accordion
  .changeset/breezy-plants-draw.md
  packages/components/src/Accordion/Accordion.tsx
Labels: type:feature

#3436 fix: `FieldBase` renders empty element when no label is given
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/FieldBase/_FieldBase.tsx
Labels: type:feature

#3446 RAC: `Header`
  packages/components/src/Header/Header.tsx
Labels: type:feature

#3448 fix: nested lists
  .changeset/afraid-tigers-prove.md
  packages/components/src/List/List.stories.tsx
  themes/theme-b2b/src/components/List.styles.ts
  themes/theme-core/src/components/List.styles.ts
Labels: type:feature

#3416 [DST-38]: Implement mobile optimization for `DatePicker`
  .changeset/plenty-islands-double.md
  packages/components/src/Calendar/Calendar.test.tsx
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/Calendar/MonthDropdown.tsx
  packages/components/src/Calendar/YearDropdown.tsx
  packages/components/src/DatePicker/DatePicker.tsx
  themes/theme-b2b/src/components/Calendar.styles.ts
  themes/theme-b2b/src/components/DatePicker.styles.ts
  themes/theme-core/src/components/DatePicker.styles.ts
Labels: type:feature

#3453 fix: fix button again
  packages/components/src/Button/Button.tsx
  packages/components/src/ComboBox/ComboBox.test.tsx
Labels: type:feature

#3452 feat[DST-224]: expose `RouterProvider`
  .changeset/perfect-meals-trade.md
  docs/content/components/application/routerprovider/routerprovider.mdx
  packages/components/src/RouterProvider/RouterProvider.stories.tsx
  packages/components/src/RouterProvider/RouterProvider.test.tsx
  packages/components/src/RouterProvider/RouterProvider.tsx
  packages/components/src/RouterProvider/index.ts
Labels: type:docs, type:feature

#3455 fix: link props type
  .changeset/big-coats-flash.md
  packages/components/src/Link/Link.tsx
Labels: type:feature

#3454 docs: update badges in docs
  docs/content/components/form/datefield/datefield.mdx
  docs/content/components/form/fieldgroup/field-group.mdx
  docs/content/components/form/search-field/search-field.mdx
  docs/content/hooks-and-utils/cn/cn.mdx
  docs/content/hooks-and-utils/cva/cva.mdx
  docs/content/hooks-and-utils/useResponsiveValue/useResponsiveValue.mdx
  docs/content/recipes/navigation-recipes.mdx
Labels: type:docs

#3461 chore: add button core styles
  .changeset/gold-jobs-report.md
  themes/theme-core/src/components/Button.styles.ts
Labels: type:feature
