Repository marigold-ui/marigold, pull requests merged in 2023-12, with the labels that each got.

#3537 feat: Make `Popover` at least as wide as trigger element
  .changeset/calm-toys-collect.md
  packages/components/src/Overlay/Popover.tsx
Labels: type:feature

#3527 chore[DST-258] `<Checkbox>` storybook improvements
  .changeset/small-eels-move.md
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
Labels: type:feature

#3535 RAC: `<Select>` component
  .changeset/loud-sheep-lay.md
  docs/content/components/form/select/select-section.demo.tsx
  docs/content/components/form/select/select.mdx
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Overlay/Underlay.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
Labels: type:docs, type:feature

#3547 docs: make badges a bit smaller so they don't break that often
  docs/theme/components/Badge.styles.ts
Labels: type:docs

#3415 RAC: `<Table>` as react aria component
  .changeset/cuddly-pants-deny.md
  docs/content/components/collection/table/table-async.demo.tsx
  docs/content/components/collection/table/table-column-width.demo.tsx
  docs/content/components/collection/table/table-compact.demo.tsx
  docs/content/components/collection/table/table-disabled.demo.tsx
  docs/content/components/collection/table/table-dynamic.demo.tsx
  docs/content/components/collection/table/table-empty-state.demo.tsx
  docs/content/components/collection/table/table-links.demo.tsx
  docs/content/components/collection/table/table-multi-mode.demo.tsx
  docs/content/components/collection/table/table-nested.demo.tsx
  docs/content/components/collection/table/table-single-mode.demo.tsx
  docs/content/components/collection/table/table-sorting.demo.tsx
  docs/content/components/collection/table/table.mdx
  docs/ui/AppearanceTable.tsx
  docs/ui/PropsTable.tsx
  packages/components/src/Table/Context.tsx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/Table.test.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableBody.tsx
  packages/components/src/Table/TableCell.tsx
  packages/components/src/Table/TableCheckboxCell.tsx
  packages/components/src/Table/TableColumnHeader.tsx
  packages/components/src/Table/TableHeader.tsx
  packages/components/src/Table/TableHeaderRow.tsx
  packages/components/src/Table/TableRow.tsx
  packages/components/src/Table/TableSelectAllCell.tsx
  packages/components/src/Table/utils.ts
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-core/src/components/Table.styles.ts
Labels: type:docs, type:feature

#3544 feat[DST-245]: new table variant borderedTable for b2b theme
  .changeset/empty-jokes-tickle.md
  docs/content/components/collection/table/table-compact.demo.tsx
  docs/content/components/collection/table/table.mdx
  packages/components/src/Table/Table.stories.tsx
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-core/src/components/Table.styles.ts
Labels: type:docs, type:feature

#3546 refa: Migrate `ComboBox` to RAC
  .changeset/loud-tips-rescue.md
  docs/content/components/form/combobox/combobox-async.demo.tsx
  docs/content/components/form/combobox/combobox-basic.demo.tsx
  docs/content/components/form/combobox/combobox-controlled.demo.tsx
  docs/content/components/form/combobox/combobox.mdx
  packages/components/src/ComboBox/ComboBox.stories.tsx
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/ComboBox/ComboBox.tsx
  packages/components/src/ListBox/Context.ts
  packages/components/src/ListBox/ListBox.tsx
  packages/components/src/ListBox/ListBoxOption.tsx
Labels: type:docs, type:feature

#3542 RAC: Menu react aria components
  .changeset/cyan-ants-exercise.md
  docs/app/_components/ThemeMenu.tsx
  docs/content/components/overlay/menu/kebab-menu.demo.tsx
  docs/content/components/overlay/menu/menu-action.demo.tsx
  docs/content/components/overlay/menu/menu-disabled.demo.tsx
  docs/content/components/overlay/menu/menu-open-dialog.demo.tsx
  docs/content/components/overlay/menu/menu-open.demo.tsx
  docs/content/components/overlay/menu/menu-section.demo.tsx
  docs/content/components/overlay/menu/menu-selection.demo.tsx
  docs/content/components/overlay/menu/menu.mdx
  docs/theme/components/Button.styles.ts
  docs/theme/components/Menu.styles.ts
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Menu/ActionMenu.tsx
  packages/components/src/Menu/Context.ts
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/Menu/MenuItem.tsx
  packages/components/src/Menu/MenuSection.tsx
  packages/components/src/Menu/MenuTrigger.tsx
  packages/components/src/Overlay/Popover.tsx
  themes/theme-b2b/src/components/Menu.styles.ts
  themes/theme-core/src/components/Menu.styles.ts
Labels: type:docs, type:feature

#3540 RAC: migrate `<Calendar>` component
  .changeset/spotty-emus-explode.md
  packages/components/src/Calendar/Calendar.test.tsx
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/Calendar/CalendarCell.tsx
  packages/components/src/Calendar/CalendarGrid.tsx
  packages/components/src/Calendar/CalendarGridHeader.tsx
  packages/components/src/Calendar/CalendarListBox.tsx
  packages/components/src/Calendar/MonthControls.tsx
  packages/components/src/Calendar/MonthListBox.tsx
  packages/components/src/Calendar/YearListBox.tsx
  packages/components/src/Calendar/index.ts
  packages/components/src/Calendar/useFormattedMonths.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Calendar.styles.ts
  themes/theme-core/src/components/Calendar.styles.ts
Labels: type:feature

#3552 [DSTSUP-4] accordion item do not collapse and hide after first click
  .changeset/tricky-poems-relax.md
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Accordion/AccordionItem.tsx
Labels: type:bug, type:feature

#3556 docs: fix `Menu Selection` demo
  .changeset/witty-monkeys-love.md
  docs/content/components/overlay/menu/menu-selection.demo.tsx
Labels: type:docs

#3558 chore[DST-267]: `<Columns>` storybook improvments
  packages/components/src/Columns/Columns.stories.tsx
Labels: type:feature

#3559 chore[DST-268]: `<Center>` storybook improvements
  packages/components/src/Center/Center.stories.tsx
Labels: type:feature

#3554 RAC: DatePicker as react aria component
  .changeset/fair-otters-eat.md
  packages/components/src/Calendar/MonthControls.tsx
  packages/components/src/DateField/DateField.stories.tsx
  packages/components/src/DateField/DateField.test.tsx
  packages/components/src/DateField/DateField.tsx
  packages/components/src/DateField/DateInput.tsx
  packages/components/src/DateField/DateSegment.tsx
  packages/components/src/DateField/_DateField.tsx
  packages/components/src/DateField/_DateSegment.tsx
  packages/components/src/DatePicker/DatePicker.stories.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/DatePicker/DatePicker.tsx
  themes/theme-b2b/src/components/DateField.styles.ts
  themes/theme-b2b/src/components/DatePicker.styles.ts
  themes/theme-core/src/components/DateField.styles.ts
  themes/theme-core/src/components/DatePicker.styles.ts
Labels: type:feature

#3563 fix: add placeholder property to autocomplete
  .changeset/gold-pugs-call.md
  packages/components/src/Autocomplete/Autocomplete.stories.tsx
  packages/components/src/Autocomplete/Autocomplete.tsx
Labels: type:feature

#3565 FixDocs [DSTSUP-6]: Update Badge-Demo
  docs/content/components/content/badge/badge-dark.demo.tsx
Labels: type:docs

#3564 refa: remov cloning children in `<Columns>`
  .changeset/ninety-onions-give.md
  packages/components/src/Columns/Columns.tsx
Labels: type:feature

#3555 chore: remove old Popover, HelpText and FieldBase
  packages/components/src/Autocomplete/Autocomplete.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/ComboBox/ComboBox.tsx
  packages/components/src/DateField/DateField.tsx
  packages/components/src/DatePicker/DatePicker.stories.tsx
  packages/components/src/DatePicker/DatePicker.tsx
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/FieldBase/FieldBase.test.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/FieldBase/_FieldBase.tsx
  packages/components/src/HelpText/HelpText.stories.tsx
  packages/components/src/HelpText/HelpText.test.tsx
  packages/components/src/HelpText/HelpText.tsx
  packages/components/src/HelpText/_HelpText.tsx
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/Overlay/Overlay.stories.tsx
  packages/components/src/Overlay/Overlay.tsx
  packages/components/src/Overlay/Tray.test.tsx
  packages/components/src/Overlay/Tray.tsx
  packages/components/src/Overlay/Underlay.test.tsx
  packages/components/src/Overlay/_Popover.test.tsx
  packages/components/src/Overlay/_Popover.tsx
  packages/components/src/Overlay/_Underlay.tsx
  packages/components/src/Overlay/index.ts
  packages/components/src/Overlay/overlay.test.tsx
  packages/components/src/Radio/RadioGroup.tsx
  packages/components/src/SearchField/SearchField.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/TagGroup/TagGroup.tsx
  packages/components/src/TextArea/TextArea.tsx
  packages/components/src/TextField/TextField.tsx
Labels: type:feature

#3548 [DST-254]: use new tokens in core theme
  .changeset/thick-sheep-run.md
  jest.config.js
  packages/system/src/types/theme.ts
  packages/theme-preset/src/utils.test.tsx
  packages/theme-preset/src/utils.ts
  themes/theme-b2b/src/components/Button.styles.ts
  themes/theme-b2b/src/tokens.ts
  themes/theme-core/src/_tokens.ts
  themes/theme-core/src/components/Badge.styles.ts
  themes/theme-core/src/components/Button.styles.ts
  themes/theme-core/src/components/Calendar.styles.ts
  themes/theme-core/src/components/Checkbox.styles.ts
  themes/theme-core/src/components/DateField.styles.ts
  themes/theme-core/src/components/DatePicker.styles.ts
  themes/theme-core/src/components/Dialog.styles.ts
  themes/theme-core/src/components/Divider.styles.ts
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/Link.styles.ts
  themes/theme-core/src/components/ListBox.styles.ts
  themes/theme-core/src/components/Menu.styles.ts
  themes/theme-core/src/components/Radio.styles.ts
  themes/theme-core/src/components/Slider.styles.ts
  themes/theme-core/src/components/Switch.styles.ts
  themes/theme-core/src/components/Table.styles.ts
  themes/theme-core/src/components/Tabs.styles.ts
  themes/theme-core/src/components/Tag.styles.ts
  themes/theme-core/src/components/Text.styles.ts
  themes/theme-core/src/components/TextArea.styles.ts
  themes/theme-core/src/components/Tooltip.styles.ts
  themes/theme-core/src/components/Underlay.styles.ts
  themes/theme-core/src/preset.ts
  themes/theme-core/src/root.ts
  themes/theme-core/src/theme.ts
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3574 Update action/labeler@v5 to new structure
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: type:infrastructure

#3571 fix[DSTSUP-10]: add min/max props to textfield
  .changeset/bright-icons-remain.md
  packages/components/src/TextField/TextField.tsx
Labels: type:feature

#3576 feat: expose form from `react-aria-components`
  .changeset/three-tools-add.md
  packages/components/src/Form/Form.tsx
  packages/components/src/Form/index.ts
  packages/components/src/index.ts
Labels: type:feature

#3577 Fixing scrollable table story
  .changeset/shy-colts-hammer.md
  packages/components/src/Table/Table.stories.tsx
Labels: type:feature

#3557 [DSTSUP-5]: hide section when collapsed
  .changeset/serious-crews-smile.md
  packages/components/src/Accordion/Accordion.test.tsx
  packages/components/src/Accordion/Accordion.tsx
  packages/components/src/Accordion/AccordionItem.tsx
  packages/components/src/Accordion/useAccordionItem.ts
Labels: type:feature

#3573 [DST-264]: update token guidelines component height
  .changeset/angry-elephants-wait.md
  docs/content/components/content/icon/icon.mdx
  docs/content/introduction/design-token-guidelines.mdx
Labels: type:docs

#3575 feat[DST-263]: new component <Scrollable>
  .changeset/unlucky-boats-doubt.md
  docs/content/components/layout/scrollable/scroll-card.demo.tsx
  docs/content/components/layout/scrollable/scroll-horizontal.demo.tsx
  docs/content/components/layout/scrollable/scroll-table.demo.tsx
  docs/content/components/layout/scrollable/scroll-vertical.demo.tsx
  docs/content/components/layout/scrollable/scrollable.mdx
  packages/components/src/Scrollable/Scrollable.stories.tsx
  packages/components/src/Scrollable/Scrollable.test.tsx
  packages/components/src/Scrollable/Scrollable.tsx
  packages/components/src/Scrollable/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#3578 feat[DSTSUP-8]:add new button variant icon to b2b theme
  .changeset/small-pans-provide.md
  themes/theme-b2b/src/components/Button.styles.ts
Labels: type:feature

#3585 fix: add key prop to Theme Menu in docs
  docs/app/_components/ThemeMenu.tsx
Labels: type:docs

#3580 chore[DST-272]: `<Combobox>` storybook control improvments
  packages/components/src/ComboBox/ComboBox.stories.tsx
Labels: type:feature

#3582 chore: add open to dialog stories
  packages/components/src/Dialog/Dialog.stories.tsx
Labels: type:feature

#3581 chore[DST-274]: datepicker controls storybook
  packages/components/src/DatePicker/DatePicker.stories.tsx
Labels: type:feature

#3583 chore[DST-275]:FieldBase control improvements
  packages/components/src/FieldBase/FieldBase.stories.tsx
Labels: type:feature

#3584 fix[DST-276]:Image link in Image storys and improve controls
  packages/components/src/Image/Image.stories.tsx
Labels: type:feature

#3586 chore[DST-277]: add better description to storybooks
  packages/components/src/Inline/Inline.stories.tsx
Labels: type:feature

#3566 [DST-241]: Improve navigation in Docs
  .changeset/ninety-vans-sin.md
  docs/app/_components/Navigation.tsx
  docs/app/_components/SectionNavigation.tsx
  docs/app/_components/SiteHeader.tsx
  docs/app/_components/SiteNavigation.tsx
  docs/app/_components/ThemeMenu.tsx
  docs/app/layout.tsx
Labels: type:docs

#3589 chore: Update `react-aria-components` to v1.0.0
  .changeset/stupid-mirrors-smoke.md
  docs/package.json
  packages/components/package.json
  packages/components/src/Calendar/Calendar.stories.tsx
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3590 chore: Update `tailwindcss-react-aria-components` to v.1.0.0
  .changeset/sour-actors-dream.md
  packages/theme-preset/package.json
  packages/theme-preset/src/create-preset.ts
  pnpm-lock.yaml
Labels: type:feature
