Repository marigold-ui/marigold, pull requests merged in 2023-01, with the labels that each got.

#2714 fix: set max-height to ul instead of div
  .changeset/odd-gorillas-drum.md
  packages/components/src/Select/Select.stories.tsx
  themes/theme-b2b/src/components/ListBox.style.ts
  themes/theme-core/src/components/ListBox.style.ts
  themes/theme-unicorn/src/components/ListBox.style.ts
Labels: type:feature

#2716 Add icon for kebab menu in docu and fix typo in stories
  docs/src/demos/components/Menu/index.ts
  docs/src/demos/components/Menu/menu-kebab-icon.demo.tsx
  docs/src/pages/components/menu.mdx
  packages/components/src/Menu/Menu.stories.tsx
Labels: type:docs, type:feature

#2720 chore: remove docs next from github action (chromatic)
  .github/workflows/chromatic.yml
Labels: type:infrastructure

#2732 chore: add turbosnap setting to github ci
  .github/workflows/chromatic.yml
  config/storybook/package.json
Labels: type:infrastructure

#2727 chore: test responsiveness in Chromatic
  config/storybook/preview.tsx
  package.json
  packages/components/src/Aside/Aside.stories.tsx
  packages/components/src/Aspect/Aspect.stories.tsx
  packages/components/src/Breakout/Breakout.stories.tsx
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Card/Card.stories.tsx
  packages/components/src/Center/Center.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/Container/Container.stories.tsx
  packages/components/src/Divider/Divider.stories.tsx
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/Footer/Footer.stories.tsx
  packages/components/src/Header/Header.stories.tsx
  packages/components/src/HelpText/HelpText.stories.tsx
  packages/components/src/Image/Image.stories.tsx
  packages/components/src/Inline/Inline.stories.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Label/Label.stories.tsx
  packages/components/src/Link/Link.stories.tsx
  packages/components/src/List/List.stories.tsx
  packages/components/src/Message/Message.stories.tsx
  packages/components/src/NumberField/NumberField.stories.tsx
  packages/components/src/Overlay/Overlay.stories.tsx
  packages/components/src/Overlay/Tray.tsx
  packages/components/src/Radio/Radio.stories.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Slider/Slider.stories.tsx
  packages/components/src/Split/Split.stories.tsx
  packages/components/src/Stack/Stack.stories.tsx
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Text/Text.stories.tsx
  packages/components/src/TextArea/TextArea.stories.tsx
  packages/components/src/TextField/TextField.stories.tsx
  packages/components/src/Tiles/Tiles.stories.tsx
  packages/components/src/XLoader/XLoader.stories.tsx
  pnpm-lock.yaml
Labels: type:feature, type:infrastructure

#2733 chore: change prop onSelectionChange to onChange for select component
  .changeset/seven-moose-guess.md
  docs/src/demos/components/Table/core-table-print.demo.tsx
  docs/src/pages/components/select.mdx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
Labels: type:docs, type:feature
