Repository marigold-ui/marigold, pull requests merged in 2023-07, with the labels that each got.

#3094 chore[DST-54]: add simple ThemeSwitch Menu
  docs/app/components/[...slug]/page.tsx
  docs/app/components/components/ThemeMenu.tsx
  docs/app/components/components/ThemeSwitch.test.tsx
  docs/app/components/components/ThemeSwitch.tsx
  docs/app/components/components/icons/BlankCanvas.tsx
  docs/app/components/components/icons/index.ts
  docs/app/components/components/index.ts
  docs/tailwind.config.ts
  docs/theme/components/Button.styles.ts
  docs/theme/components/Menu.styles.ts
  docs/theme/components/Underlay.styles.ts
  docs/theme/components/index.ts
  docs/theme/index.ts
  docs/theme/preset.ts
  docs/ui/index.ts
Labels: type:docs

#3095 docs([DST-48]): Setup regular pages + introduction pages
  docs/app/[...slug]/page.tsx
  docs/app/layout.tsx
  docs/content/pages/introduction/about.mdx
  docs/content/pages/introduction/faq.mdx
  docs/content/pages/introduction/getting-started.mdx
  docs/contentlayer.config.ts
  docs/next.config.js
  docs/theme/components/Message.styles.ts
  docs/theme/components/index.ts
  docs/theme/fonts.ts
  docs/theme/index.ts
  docs/theme/preset.ts
  docs/theme/root.ts
  docs/theme/tokens.ts
  docs/ui/marigold.tsx
  docs/ui/mdx.tsx
  themes/theme-b2b/src/tokens.ts
Labels: type:docs, type:feature

#3104 chore[DST-54]: refa AppearanceTable
  docs/app/components/[...slug]/page.tsx
  docs/app/components/components/AppearanceTable.tsx
  docs/app/components/components/index.ts
  docs/content/components/accordion/accordion.mdx
  docs/content/components/button/button.mdx
  docs/content/components/table/table.mdx
  docs/theme/components/Card.styles.ts
  docs/theme/components/Menu.styles.ts
  docs/theme/components/Table.styles.ts
  docs/theme/components/Text.styles.ts
  docs/theme/components/index.ts
  docs/theme/tokens.ts
  docs/ui/mdx.tsx
  packages/system/src/hooks/useClassNames.test.tsx
  packages/system/src/types/theme.ts
  packages/system/src/utils.ts
Labels: type:docs, type:feature

#3107 fix: correct path of content property in docs
  docs/tailwind.config.ts
Labels: type:docs

#3108 feat: add base styles to underlay
  docs/theme/components/Underlay.styles.ts
  packages/components/src/Overlay/Underlay.tsx
  themes/theme-b2b/src/components/Underlay.styles.ts
  themes/theme-core/src/components/Underlay.styles.ts
Labels: type:docs, type:feature

#3110 fix: adjust <Modal> zIndex
  packages/components/src/Overlay/Modal.tsx
Labels: type:feature

#3106 chore: remove file
  packages/system/src/hooks/useClassNames.md
Labels: type:feature

#3105 chore[DST-54]: refa <PropsTable> and added in button
  docs/app/components/components/PropsTable.tsx
  docs/app/components/components/index.ts
  docs/content/components/button/button.mdx
Labels: type:docs

#3103 Update `react-aria`
  .changeset/violet-schools-scream.md
  packages/components/package.json
  packages/components/src/DatePicker/DatePicker.test.tsx
  pnpm-lock.yaml
Labels: type:feature

#3115 chore[DST-94]:add color pallets and rename dark to secondary b2b theme
  themes/theme-b2b/src/components/Button.styles.ts
  themes/theme-b2b/src/components/DatePicker.styles.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3114 feat: typography for docs
  docs/theme/components/Headline.styles.ts
  docs/theme/components/Link.styles.ts
  docs/theme/components/Text.styles.ts
  docs/theme/components/index.ts
  docs/theme/tokens.ts
  docs/ui/mdx.tsx
Labels: type:docs

#3118 fix: Underlay Color and Backdrop for Docs
  docs/theme/components/Underlay.styles.ts
  docs/theme/tokens.ts
  themes/theme-b2b/src/components/Underlay.styles.ts
Labels: type:docs, type:feature

#3120 chore[DST-51]: add Iconogrphy to Docs
  docs/app/components/IconList.tsx
  docs/app/components/index.ts
  docs/content/pages/concepts/icons.mdx
  docs/package.json
  docs/theme/components/Card.styles.ts
  docs/ui/index.ts
  docs/ui/mdx.tsx
  pnpm-lock.yaml
Labels: type:docs

#3124 chore(docs): fix "likely not portable" TS error
  docs/tsconfig.json
Labels: type:docs

#3123 docs: Navigation
  config/eslint/index.js
  docs/app/_components/Logo.tsx
  docs/app/_components/MobileNavigation.tsx
  docs/app/_components/NavLink.tsx
  docs/app/_components/Navigation.tsx
  docs/app/_components/SiteHeader.tsx
  docs/app/_components/SiteNavigation.tsx
  docs/app/components/[...slug]/_components/AppearanceTable.tsx
  docs/app/components/[...slug]/_components/PropsTable.tsx
  docs/app/components/[...slug]/_components/ThemeMenu.tsx
  docs/app/components/[...slug]/_components/ThemeSwitch.test.tsx
  docs/app/components/[...slug]/_components/ThemeSwitch.tsx
  docs/app/components/[...slug]/_components/icons/BlankCanvas.tsx
  docs/app/components/[...slug]/_components/icons/index.ts
  docs/app/components/[...slug]/_components/index.ts
  docs/app/components/[...slug]/page.tsx
  docs/app/layout.tsx
  docs/content/components/accordion/accordion.mdx
  docs/content/components/button/button.mdx
  docs/content/components/checkbox/checkbox.mdx
  docs/content/components/table/table.mdx
  docs/content/components/text-field/text-field.mdx
  docs/contentlayer.config.ts
  docs/lib/config.ts
  docs/next.config.js
  docs/public/logo.svg
  docs/tailwind.config.ts
  docs/theme/components/Button.styles.ts
  docs/theme/components/Dialog.styles.ts
  docs/theme/components/Header.styles.ts
  docs/theme/components/Headline.styles.tsx
  docs/theme/components/Underlay.styles.ts
  docs/theme/components/index.ts
  docs/theme/tokens.ts
  docs/ui/mdx.tsx
  packages/components/src/Header/Header.tsx
  packages/system/src/utils.ts
Labels: type:docs, type:feature, type:infrastructure

#3127 Fixing `ComboBox` chev spacing
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/ComboBox/ComboBox.tsx
Labels: type:feature

#3126 fix `Aside` story
  packages/components/src/Aside/Aside.stories.tsx
Labels: type:feature

#3125 fix icon button
  packages/components/src/Accordion/Accordion.test.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/ComboBox/ComboBox.test.tsx
  themes/theme-core/src/components/Button.styles.ts
Labels: type:feature

#3130 chore:[DST-42]: rename selected token to selected-input b2b theme
  themes/theme-b2b/src/components/Calendar.styles.ts
  themes/theme-b2b/src/components/Checkbox.styles.ts
  themes/theme-b2b/src/components/ListBox.styles.ts
  themes/theme-b2b/src/components/Radio.styles.ts
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3129 chore: fix `Stack` alignment and improve alignX , alignY types
  packages/components/src/Breakout/Breakout.test.tsx
  packages/components/src/Breakout/Breakout.tsx
  packages/components/src/Inline/Inline.tsx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
  packages/system/src/style-props.tsx
Labels: type:feature

#3128 docs: load demos
  docs/content/components/.eslintrc.js
  docs/content/components/button/button-variant-demo.tsx
  docs/content/components/button/button-variant.demo.tsx
  docs/content/components/button/button.mdx
  docs/contentlayer.config.ts
  docs/lib/mdx/rehype-component-demo.tsx
  docs/lib/registry.ts
  docs/package.json
  docs/ui/ComponentDemo.tsx
  docs/ui/mdx.tsx
  pnpm-lock.yaml
Labels: type:docs

#3132 chore[DST-42]: new outline focus color
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3134 chore: rename text primary colors b2b theme
  themes/theme-b2b/src/components/Button.styles.ts
  themes/theme-b2b/src/components/DatePicker.styles.ts
  themes/theme-b2b/src/components/ListBox.styles.ts
  themes/theme-b2b/src/components/Menu.styles.ts
  themes/theme-b2b/src/components/NumberField.styles.ts
  themes/theme-b2b/src/components/Slider.styles.ts
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-b2b/src/components/Tabs.styles.ts
  themes/theme-b2b/src/components/TextArea.styles.ts
  themes/theme-b2b/src/root.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3137 fix: `<Text>` component doesn't enforce defaults
  .changeset/nervous-rules-admire.md
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
Labels: type:feature

#3140 chore: change bg-focus token b2b theme
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3139 chore: add divider variant to menuSection
  packages/components/src/Menu/MenuSection.tsx
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3133 fix: focus state if readonly (Input components) b2b theme
  packages/components/src/DateField/DateField.tsx
  themes/theme-b2b/src/components/DateField.styles.ts
  themes/theme-b2b/src/components/Input.styles.ts
  themes/theme-b2b/src/components/NumberField.styles.ts
  themes/theme-b2b/src/components/TextArea.styles.ts
Labels: type:feature

#3138 chore: move colors
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3142 feat: remove `SSRProvider` no longer needed in React 18
  docs/app/components/[...slug]/page.tsx
  packages/components/package.json
  packages/components/src/Provider/index.ts
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3141 docs: Improve typography of content
  docs/app/[...slug]/page.tsx
  docs/app/components/[...slug]/page.tsx
  docs/contentlayer.config.ts
  docs/package.json
  docs/tailwind.config.ts
  docs/theme/components/Headline.styles.tsx
  docs/tsconfig.json
  docs/ui/mdx.tsx
  pnpm-lock.yaml
Labels: type:docs

#3135 fix: numberfield hover
  themes/theme-b2b/src/components/NumberField.styles.ts
Labels: type:feature

#3131 chore[DST-42]: added gray and white and black to b2b theme
  themes/theme-b2b/src/tokens.ts
Labels: type:feature

#3087 [DST-63]: Adding`useSmallScreen` hook
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Menu/MenuTrigger.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
  packages/system/src/hooks/index.ts
  packages/system/src/hooks/useSmallScreen.test.tsx
  packages/system/src/hooks/useSmallScreen.ts
Labels: type:feature

#3145 chore: optimize build of `theme-preset`
  docs/next.config.js
  packages/theme-preset/package.json
  packages/theme-preset/src/create-preset.test.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3146 docs: add more spacing between nav and content on large screens
  docs/app/layout.tsx
Labels: type:docs

#3148 chore[DST-72]: build script for getting all demo paths
  docs/content/components/accordion/basic-accordion.demo.tsx
  docs/lib/registry.ts
  docs/package.json
  docs/registry/index.tsx
  docs/scripts/build-registry.mjs
  docs/tsconfig.json
  docs/ui/ComponentDemo.tsx
  package.json
  pnpm-lock.yaml
Labels: type:docs

#3143 docs([DST-53]): add Vercel Analytics
  docs/app/_components/Analytics.tsx
  docs/app/layout.tsx
  docs/package.json
  pnpm-lock.yaml
Labels: type:docs

#3149 chore[DST-29]: headline styles b2b theme
  packages/components/src/Headline/Headline.stories.tsx
  themes/theme-b2b/src/components/Headline.styles.ts
Labels: type:feature

#3121 [DST-29]DESIGN-REVIEW-b2b
  packages/components/src/Badge/Badge.stories.tsx
Labels: type:feature

#3136 chore: remove shadow tokens
  themes/theme-b2b/src/components/Select.styles.ts
  themes/theme-b2b/src/components/Switch.styles.ts
Labels: type:feature

#3152 docs: aside new docs
  docs/content/components/aside/aside.mdx
  docs/content/components/aside/rightside.demo.tsx
  docs/content/components/aside/space.demo.tsx
  docs/registry/index.tsx
Labels: type:docs

#3155 docs: generate CSS classes for demos
  docs/tailwind.config.ts
Labels: type:docs

#3156 fix aside demo
  docs/content/components/aside/rightside.demo.tsx
  docs/content/components/aside/space.demo.tsx
  docs/registry/index.tsx
Labels: type:docs

#3161 docs: some color adjustments for docs (no white bg anymore)
  docs/app/_components/SiteHeader.tsx
  docs/registry/index.tsx
  docs/theme/components/Message.styles.ts
  docs/theme/root.ts
  docs/theme/tokens.ts
Labels: type:docs

#3168 docs: have to switch to es6 for fixing appearancetable
  docs/tsconfig.json
Labels: type:docs

#3166 docs: theme menu on top of page
  docs/app/_components/MobileNavigation.tsx
  docs/app/_components/SiteNavigation.tsx
  docs/app/_components/ThemeMenu.tsx
  docs/app/_components/ThemeSwitch.test.tsx
  docs/app/_components/ThemeSwitch.tsx
  docs/app/components/[...slug]/_components/AppearanceTable.tsx
  docs/app/components/[...slug]/_components/index.ts
  docs/app/components/[...slug]/page.tsx
  docs/app/layout.tsx
Labels: type:docs

#3169 docs: use selected theme in code demos
  docs/app/_components/ThemeSwitch.tsx
  docs/app/layout.tsx
  docs/package.json
  docs/tsconfig.json
  docs/ui/ComponentDemo.tsx
  pnpm-lock.yaml
Labels: type:docs

#3150 Adding: Code hightligher & `MarigoldProvider`
  docs/app/[...slug]/page.tsx
  docs/content/components/accordion/accordion-basic.demo.tsx
  docs/content/components/accordion/accordion.mdx
  docs/contentlayer.config.ts
  docs/package.json
  docs/registry/index.tsx
  docs/theme/components/Tabs.styles.ts
  docs/theme/components/index.ts
  docs/theme/tokens.ts
  docs/ui/ComponentDemo.tsx
  docs/ui/CopyButton.tsx
  docs/ui/mdx.tsx
  pnpm-lock.yaml
Labels: type:docs

#3159 docs: add container site
  docs/content/components/container/container.mdx
  docs/content/components/container/full-container.demo.tsx
  docs/content/components/container/small-container.demo.tsx
  docs/registry/index.tsx
Labels: type:docs

#3151 docs: add <Accordion> page
  docs/content/components/accordion/accordion.mdx
  docs/content/components/accordion/multi-select-accordion.demo.tsx
  docs/content/components/accordion/single-select-accordion.demo.tsx
  docs/registry/index.tsx
  docs/ui/ComponentDemo.tsx
Labels: type:docs

#3170 docs: build registry on demand
  .gitignore
  docs/package.json
  docs/registry/index.tsx
  docs/scripts/build-registry.mjs
  docs/tsconfig.json
  docs/ui/ComponentDemo.tsx
Labels: type:docs

#3160 docs: add inline docs and demo
  docs/content/components/inline/inline-alignments.demo.tsx
  docs/content/components/inline/inline-elements.demo.tsx
  docs/content/components/inline/inline-nested.demo.tsx
  docs/content/components/inline/inline-spacing.demo.tsx
  docs/content/components/inline/inline.mdx
Labels: type:docs

#3171 fix: bg token for card docs
  docs/theme/components/Card.styles.ts
Labels: type:docs

#3153 docs: move aspect page
  docs/content/components/aspect/aspect.mdx
  docs/content/components/aspect/golden-aspect.demo.tsx
  docs/content/components/aspect/map.demo.tsx
  docs/content/components/aspect/ratio-square.demo.tsx
  docs/content/components/aspect/video.demo.tsx
Labels: type:docs

#3162 docs: move Inset docs
  docs/content/components/inset/inset-equal.demo.tsx
  docs/content/components/inset/inset-hv.demo.tsx
  docs/content/components/inset/inset.mdx
Labels: type:docs

#3164 docs: added stack docs and demos
  docs/content/components/stack/stack-horizontal.demo.tsx
  docs/content/components/stack/stack-nested.demo.tsx
  docs/content/components/stack/stack-spacing.demo.tsx
  docs/content/components/stack/stack-vertical.demo.tsx
  docs/content/components/stack/stack.mdx
Labels: type:docs

#3158 docs: add columns
  docs/content/components/columns/collapse-columns.demo.tsx
  docs/content/components/columns/columns.mdx
  docs/content/components/columns/layout-columns.demo.tsx
  docs/content/components/columns/space-columns.demo.tsx
  docs/content/components/columns/stretch-columns-switch.demo.tsx
  docs/content/components/columns/stretch-columns.demo.tsx
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/Columns/Columns.tsx
Labels: type:docs, type:feature

#3163 docs: add split docs and demo
  docs/app/components/[...slug]/_components/PropsTable.tsx
  docs/content/components/split/split-inline.demo.tsx
  docs/content/components/split/split-stack.demo.tsx
  docs/content/components/split/split.mdx
Labels: type:docs

#3165 docs: added tiles docs and demo
  docs/content/components/tiles/tiles-autoRows.demo.tsx
  docs/content/components/tiles/tiles-complex.demo.tsx
  docs/content/components/tiles/tiles-itemwidth.demo.tsx
  docs/content/components/tiles/tiles-spacing.demo.tsx
  docs/content/components/tiles/tiles-stretch.demo.tsx
  docs/content/components/tiles/tiles.mdx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
Labels: type:docs, type:feature

#3177 docs: button demos
  docs/content/components/button/button-ghost.demo.tsx
  docs/content/components/button/button-icon.demo.tsx
  docs/content/components/button/button-link.demo.tsx
  docs/content/components/button/button-primary.demo.tsx
  docs/content/components/button/button-secondary.demo.tsx
  docs/content/components/button/button-size.demo.tsx
  docs/content/components/button/button-text.demo.tsx
  docs/content/components/button/button-variant.demo.tsx
  docs/content/components/button/button.mdx
Labels: type:docs

#3179 docs: calendar docs and demos
  docs/content/components/calendar/basic-calendar.demo.tsx
  docs/content/components/calendar/calendar.mdx
  docs/content/components/calendar/disabled-calendar.demo.tsx
  docs/content/components/calendar/range-calendar.demo.tsx
  docs/package.json
  pnpm-lock.yaml
Labels: type:docs

#3181 docs: tabs demos and docs
  docs/content/components/tabs/tabs-disabled.demo.tsx
  docs/content/components/tabs/tabs-large.demo.tsx
  docs/content/components/tabs/tabs-selectedKey.demo.tsx
  docs/content/components/tabs/tabs.mdx
Labels: type:docs

#3167 refa: improve message css and icons
  docs/.registry/index.tsx
  docs/theme/tokens.ts
  packages/components/src/Message/Message.stories.tsx
  packages/components/src/Message/Message.test.tsx
  packages/components/src/Message/Message.tsx
  themes/theme-b2b/src/components/Message.styles.ts
  themes/theme-core/src/components/Message.styles.ts
Labels: type:docs, type:feature

#3184 docs: adjust styling of menu
  docs/app/_components/ThemeMenu.tsx
  docs/theme/components/Button.styles.ts
  docs/theme/components/Menu.styles.ts
  docs/theme/tokens.ts
Labels: type:docs

#3178 docs([DST-108]): allow scrolling in navbar
  docs/app/_components/MobileNavigation.tsx
  docs/app/layout.tsx
  docs/theme/components/Dialog.styles.ts
Labels: type:docs

#3187 docs: Card demo and docs and AppearancTable improvements
  docs/app/components/[...slug]/_components/AppearanceTable.tsx
  docs/content/components/card/card-form.demo.tsx
  docs/content/components/card/card-infos.demo.tsx
  docs/content/components/card/card.mdx
Labels: type:docs

#3188 docs: adding `DateField` docs page
  docs/content/components/datefield/date-field-basic.demo.tsx
  docs/content/components/datefield/date-field-disabled.demo.tsx
  docs/content/components/datefield/date-field-error.demo.tsx
  docs/content/components/datefield/date-field-required.demo.tsx
  docs/content/components/datefield/datefield.mdx
Labels: type:docs

#3157 docs: added center docs and demo
  docs/content/components/center/center.mdx
  docs/content/components/center/space-center.demo.tsx
  docs/content/components/center/text-center.demo.tsx
  docs/content/components/center/width-center.demo.tsx
Labels: type:docs

#3190 docs: footer docs and demos
  docs/content/components/footer/copyright-footer.demo.tsx
  docs/content/components/footer/footer.mdx
  docs/content/components/footer/list-footer.demo.tsx
Labels: type:docs

#3189 docs: divider demos and docs
  docs/content/components/divider/divider-bold.demo.tsx
  docs/content/components/divider/divider-section.demo.tsx
  docs/content/components/divider/divider-text.demo.tsx
  docs/content/components/divider/divider.mdx
Labels: type:docs

#3186 docs: Body docs page
  docs/content/components/body/body.mdx
  docs/content/components/body/simple-body.demo.tsx
Labels: type:docs

#3191 docs: header docs and demo
  docs/content/components/header/header.mdx
  docs/content/components/header/simple-header.demo.tsx
Labels: type:docs

#3202 Docs: Adding `Radio` docs page
  docs/content/components/datefield/datefield.mdx
  docs/content/components/radio/radio-disabled.demo.tsx
  docs/content/components/radio/radio-error.demo.tsx
  docs/content/components/radio/radio-required.demo.tsx
  docs/content/components/radio/radio.demo.tsx
  docs/content/components/radio/radio.mdx
Labels: type:docs

#3192 docs: headline docs and demo
  docs/content/components/headline/headline.demo.tsx
  docs/content/components/headline/headline.mdx
Labels: type:docs

#3201 docs: make scrollbars nicer
  .prettierignore
  docs/.registry/index.tsx
  docs/app/_components/MobileNavigation.tsx
  docs/app/_components/Navigation.tsx
  docs/app/layout.tsx
  docs/package.json
  docs/tailwind.config.ts
  pnpm-lock.yaml
Labels: type:docs

#3183 docs: added checkbox demos
  docs/.registry/index.tsx
  docs/content/components/checkbox/checkbox-disabled.demo.tsx
  docs/content/components/checkbox/checkbox-group.demo.tsx
  docs/content/components/checkbox/checkbox-indeterminate.demo.tsx
  docs/content/components/checkbox/checkbox.mdx
Labels: type:docs

#3193 docs: Icon docs and demos
  docs/content/components/icon/icon-fill.demo.tsx
  docs/content/components/icon/icon-size.demo.tsx
  docs/content/components/icon/icon.mdx
Labels: type:docs

#3194 docs: image docs and demos
  docs/content/components/image/image-fit-position.demo.tsx
  docs/content/components/image/image.demo.tsx
  docs/content/components/image/image.mdx
Labels: type:docs

#3195 docs: link docs and demos
  docs/content/components/link/link-anchor.demo.tsx
  docs/content/components/link/link-disabled.demo.tsx
  docs/content/components/link/link-standard.demo.tsx
  docs/content/components/link/link-target.demo.tsx
  docs/content/components/link/link.mdx
Labels: type:docs

#3196 docs: list demo and docs
  docs/content/components/list/list-ordered.demo.tsx
  docs/content/components/list/list-unorded-stacked.demo.tsx
  docs/content/components/list/list.mdx
  docs/content/components/list/simple-list.demo.tsx
Labels: type:docs

#3197 docs: message add docs and demos
  docs/content/components/message/message-error.demo.tsx
  docs/content/components/message/message-info.demo.tsx
  docs/content/components/message/message-warn.demo.tsx
  docs/content/components/message/message.mdx
Labels: type:docs

#3199 Docs: Adding `DatePicker` docs page
  docs/content/components/datepicker/date-picker-basic.demo.tsx
  docs/content/components/datepicker/date-picker-disabled.demo.tsx
  docs/content/components/datepicker/date-picker-error.demo.tsx
  docs/content/components/datepicker/date-picker-min-max.demo.tsx
  docs/content/components/datepicker/date-picker-required.demo.tsx
  docs/content/components/datepicker/datepicker.mdx
Labels: type:docs

#3209 Docs: Adding `ComboBox` docs page
  docs/content/components/combobox/combobox-async.demo.tsx
  docs/content/components/combobox/combobox-basic.demo.tsx
  docs/content/components/combobox/combobox-controlled.demo.tsx
  docs/content/components/combobox/combobox.mdx
Labels: type:docs

#3207 Docs: Adding `Slider` docs page
  docs/content/components/slider/slider-controlled.demo.tsx
  docs/content/components/slider/slider-disabled.demo.tsx
  docs/content/components/slider/slider-format.demo.tsx
  docs/content/components/slider/slider-max.demo.tsx
  docs/content/components/slider/slider-steps.demo.tsx
  docs/content/components/slider/slider-uncontrolled.demo.tsx
  docs/content/components/slider/slider-width.demo.tsx
  docs/content/components/slider/slider.mdx
Labels: type:docs

#3212 Docs: Adding `Switch` docs page
  docs/content/components/switch/switch-active-disabled.demo.tsx
  docs/content/components/switch/switch-active.demo.tsx
  docs/content/components/switch/switch-basic.demo.tsx
  docs/content/components/switch/switch-disabled.demo.tsx
  docs/content/components/switch/switch.mdx
Labels: type:docs

#3198 docs: SVG docs and demo
  docs/content/components/svg/svg.demo.tsx
  docs/content/components/svg/svg.mdx
Labels: type:docs

#3172 docs: autocomplete docs
  docs/content/components/autocomplete/autocomplete-async.demo.tsx
  docs/content/components/autocomplete/autocomplete-controlled.demo.tsx
  docs/content/components/autocomplete/autocomplete-uncontrolled.demo.tsx
  docs/content/components/autocomplete/autocomplete.mdx
  packages/components/src/Autocomplete/Autocomplete.tsx
  packages/components/src/Overlay/Overlay.tsx
Labels: type:docs, type:feature

#3200 docs: Text docs and demos
  docs/content/components/text/text-color.demo.tsx
  docs/content/components/text/text-default.demo.tsx
  docs/content/components/text/text.mdx
Labels: type:docs

#3203 docs: visually hidden docs and demos
  docs/content/components/visually-hidden/visually-hidden.demo.tsx
  docs/content/components/visually-hidden/visually-hidden.mdx
Labels: type:docs

#3204 docs: Xloader docs and demos
  docs/content/components/xloader/XLoader-props.demo.tsx
  docs/content/components/xloader/xloader.mdx
Labels: type:docs

#3208 docs: add Dialog demos and doc
  docs/content/components/dialog/dialog-dismiss.demo.tsx
  docs/content/components/dialog/dialog-form.demo.tsx
  docs/content/components/dialog/dialog.mdx
  docs/content/components/dialog/menu-open-dialog.demo.tsx
Labels: type:docs

#3210 docs: menu docs and demos
  docs/content/components/menu/kebab-menu.demo.tsx
  docs/content/components/menu/menu-action.demo.tsx
  docs/content/components/menu/menu-disabled.demo.tsx
  docs/content/components/menu/menu-open-dialog.demo.tsx
  docs/content/components/menu/menu-open.demo.tsx
  docs/content/components/menu/menu-section.demo.tsx
  docs/content/components/menu/menu.mdx
Labels: type:docs

#3211 docs: tooltip docs and demos
  docs/content/components/tooltip/tooltip-basic.demo.tsx
  docs/content/components/tooltip/tooltip-custom.demo.tsx
  docs/content/components/tooltip/tooltip-focus.demo.tsx
  docs/content/components/tooltip/tooltip-pressed.demo.tsx
  docs/content/components/tooltip/tooltip.mdx
  packages/components/src/Tooltip/Tooltip.stories.tsx
Labels: type:docs, type:feature

#3213 docs: add Table demos
  docs/content/components/table/table-async.demo.tsx
  docs/content/components/table/table-compact.demo.tsx
  docs/content/components/table/table-disabled.demo.tsx
  docs/content/components/table/table-dynamic.demo.tsx
  docs/content/components/table/table-multi-mode.demo.tsx
  docs/content/components/table/table-nested.demo.tsx
  docs/content/components/table/table-single-mode.demo.tsx
  docs/content/components/table/table-sorting.demo.tsx
  docs/content/components/table/table.mdx
Labels: type:docs

#3216 Docs: Adding `Tag` docs page
  docs/content/components/tag/basic-tag.demo.tsx
  docs/content/components/tag/label-tag.demo.tsx
  docs/content/components/tag/remove-tag.demo.tsx
  docs/content/components/tag/tag.mdx
Labels: type:docs

#3217 Docs: Adding `TextField` docs page
  docs/content/components/text-field/text-field.mdx
  docs/content/components/textfield/textfield-basic.demo.tsx
  docs/content/components/textfield/textfield-disabled.demo.tsx
  docs/content/components/textfield/textfield-error.demo.tsx
  docs/content/components/textfield/textfield-group.demo.tsx
  docs/content/components/textfield/textfield-number.demo.tsx
  docs/content/components/textfield/textfield-req.demo.tsx
  docs/content/components/textfield/textfield-types.demo.tsx
  docs/content/components/textfield/textfield.mdx
Labels: type:docs

#3219 Docs: Add `NumberField` docs page
  docs/content/components/number-field/number-field-amount.demo.tsx
  docs/content/components/number-field/number-field-disabled.demo.tsx
  docs/content/components/number-field/number-field-error.demo.tsx
  docs/content/components/number-field/number-field-format.demo.tsx
  docs/content/components/number-field/number-field-hide.demo.tsx
  docs/content/components/number-field/number-field-required.demo.tsx
  docs/content/components/number-field/number-field-simple.demo.tsx
  docs/content/components/number-field/number-field-values.demo.tsx
  docs/content/components/number-field/number-field.mdx
Labels: type:docs

#3221 docs: add recipes to navigation
  docs/content/pages/recipes/bookings-form.demo.tsx
  docs/content/pages/recipes/core-table-print.demo.tsx
  docs/content/pages/recipes/form-recipes.mdx
  docs/content/pages/recipes/organization-search.demo.tsx
  docs/content/pages/recipes/table-recipes.mdx
  docs/scripts/build-registry.mjs
Labels: type:docs

#3223 docs: use `'material-theme-palenight'` as code theme
  docs/contentlayer.config.ts
Labels: type:docs

#3220 docs: small tweaks to the nav spacing and y overflow of previews
  docs/app/_components/Navigation.tsx
  docs/theme/components/Card.styles.ts
  docs/theme/components/Tabs.styles.ts
  docs/theme/tokens.ts
  docs/ui/ComponentDemo.tsx
Labels: type:docs

#3225 docs: added caption on pages
  docs/app/[...slug]/page.tsx
  docs/app/components/[...slug]/page.tsx
Labels: type:docs

#3226 chore[DST-106]: remove transitions
  packages/components/package.json
  packages/components/src/Overlay/Overlay.tsx
  pnpm-lock.yaml
Labels: type:feature

#3119 Components: Introducing `SearchField`
  docs/content/components/search-field/search-field-basic.demo.tsx
  docs/content/components/search-field/search-field-disabled.demo.tsx
  docs/content/components/search-field/search-field-error.demo.tsx
  docs/content/components/search-field/search-field-readoOnly.demo.tsx
  docs/content/components/search-field/search-field-req.demo.tsx
  docs/content/components/search-field/search-field.mdx
  package.json
  packages/components/src/Autocomplete/Autocomplete.tsx
  packages/components/src/SearchField/SearchField.stories.tsx
  packages/components/src/SearchField/SearchField.test.tsx
  packages/components/src/SearchField/SearchField.tsx
  packages/components/src/SearchField/index.ts
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3215 docs: add Hook docs pages
  docs/app/_components/Navigation.tsx
  docs/app/hooks/[...slug]/page.tsx
  docs/content/hooks/.eslintrc.js
  docs/content/hooks/useAsyncListData/async.demo.tsx
  docs/content/hooks/useAsyncListData/useAsyncListData.mdx
  docs/content/hooks/useTheme/useTheme.demo.tsx
  docs/content/hooks/useTheme/useTheme.mdx
  docs/contentlayer.config.ts
  docs/scripts/build-registry.mjs
Labels: type:docs

#3214 docs: add provider docs
  docs/content/components/provider/provider.mdx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/system/src/hooks/useTheme.tsx
Labels: type:docs, type:feature

#3227 chore[DST-68]: unify switch api
  .changeset/forty-toes-dress.md
  docs/content/components/switch/switch.mdx
  packages/components/src/Switch/Switch.tsx
Labels: type:docs, type:feature

#3224 docs: add develop docs
  docs/content/pages/develop/release.mdx
  docs/content/pages/develop/scripts.mdx
Labels: type:docs

#3229 chore[DST-60]: change depricated API
  .changeset/spicy-countries-watch.md
  packages/components/src/ListBox/ListBoxOption.tsx
  packages/components/src/ListBox/ListBoxSection.tsx
  packages/components/src/Menu/MenuItem.tsx
  packages/components/src/Menu/MenuSection.tsx
  packages/components/src/Table/Table.test.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableRow.tsx
Labels: type:feature

#3233 chore[DST-69]: added width as style prop from tailwind
  docs/content/components/form/autocomplete/autocomplete.mdx
  docs/content/components/form/checkbox/checkbox.mdx
  docs/content/components/form/combobox/combobox.mdx
  docs/content/components/form/datefield/datefield.mdx
  docs/content/components/form/number-field/number-field.mdx
  docs/content/components/form/radio/radio.mdx
  docs/content/components/form/search-field/search-field.mdx
  docs/content/components/form/select/select.mdx
  docs/content/components/form/slider/slider.mdx
  docs/content/components/form/switch/switch.mdx
  docs/content/components/form/tag/tag.mdx
  docs/content/components/form/text-area/text-area.mdx
  docs/content/components/form/textfield/textfield.mdx
  docs/ui/PropsTable.tsx
  packages/components/src/Autocomplete/Autocomplete.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/ComboBox/ComboBox.tsx
  packages/components/src/DateField/DateField.stories.tsx
  packages/components/src/DateField/DateField.tsx
  packages/components/src/FieldBase/FieldBase.test.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/Radio/Context.ts
  packages/components/src/Radio/RadioGroup.tsx
  packages/components/src/SearchField/SearchField.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/TagGroup/TagGroup.tsx
  packages/components/src/TextArea/TextArea.tsx
  packages/components/src/TextField/TextField.test.tsx
  packages/components/src/TextField/TextField.tsx
  packages/system/src/style-props.tsx
Labels: type:docs, type:feature

#3231 docs: add missing appearance tables
  docs/content/components/form/combobox/combobox.mdx
  docs/content/components/form/datefield/datefield.mdx
  docs/content/components/form/datepicker/datepicker.mdx
  docs/content/components/form/number-field/number-field.mdx
  docs/content/components/form/radio/radio.mdx
  docs/content/components/form/search-field/search-field.mdx
  docs/content/components/form/select/select.mdx
  docs/content/components/form/slider/slider.mdx
  docs/content/components/form/switch/switch.mdx
  docs/content/components/form/tag/tag.mdx
  docs/content/components/form/text-area/text-area.mdx
  docs/content/components/form/textfield/textfield.mdx
Labels: type:docs
