Repository marigold-ui/marigold, pull requests merged in 2023-02, with the labels that each got.

#2736 fix: fix lint warning in stories
  packages/components/src/Overlay/Overlay.stories.tsx
Labels: type:feature

#2739 feat: add round radius to b2b-theme
  .changeset/young-shrimps-buy.md
  themes/theme-b2b/src/index.ts
Labels: type:feature

#2740 chore: rename onSelect to onAction in Menu component
  .changeset/happy-rabbits-drive.md
  docs/src/components/ThemeMenu.tsx
  docs/src/demos/components/Menu/index.ts
  docs/src/demos/components/Menu/menu-action.demo.tsx
  docs/src/demos/components/Menu/menu-selected.demo.tsx
  docs/src/pages/components/menu.mdx
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Menu/Menu.tsx
Labels: type:docs, type:feature

#2735 docs: building forms with Marigold (examples + documentation)
  docs/package.json
  docs/src/demos/concepts/building-forms-hook-form.demo.tsx
  docs/src/demos/concepts/building-forms-zod.demo.tsx
  docs/src/demos/concepts/concepts-layouts.demo.tsx
  docs/src/demos/concepts/error-handling.demo.tsx
  docs/src/demos/concepts/index.ts
  docs/src/demos/concepts/layout-forms.demo.tsx
  docs/src/demos/concepts/logical-interaction.demo.tsx
  docs/src/demos/index.ts
  docs/src/pages/concepts/building-forms.mdx
  pnpm-lock.yaml
Labels: type:docs

#2746 fix: fix flags for codecov
  .github/codecov.yml
  .github/workflows/test.yml
Labels: type:infrastructure

#2756 fix: <Link> whitespace
  .changeset/sixty-apples-change.md
  docs/src/demos/components/Link/link-standard.demo.tsx
  docs/src/demos/components/Link/link-target.demo.tsx
  packages/components/src/Link/Link.tsx
Labels: type:docs, type:feature

#2758 feat: add default color to body
  .changeset/plenty-penguins-drum.md
  themes/theme-b2b/src/index.ts
Labels: type:feature

#2760 feat: add new component Dialog.Controller
  .changeset/fifty-ravens-hope.md
  docs/src/demos/components/Menu/index.ts
  docs/src/demos/components/Menu/menu-open-dialog.demo.tsx
  docs/src/pages/components/dialog.mdx
  docs/src/pages/components/menu.mdx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Dialog/DialogController.tsx
Labels: type:docs, type:feature

#2761 docs: improve `<Badge>` styles
  docs/src/components/Navigation/Navigation.tsx
  docs/src/pages/_app.tsx
  docs/src/theme/colors.ts
  docs/src/theme/components/Badge.style.ts
Labels: type:docs

#2762 docs: add badge also on other menu items (concepts)
  docs/src/components/Navigation/Navigation.tsx
Labels: type:docs

#2763 docs: add updated badge to docs
  docs/src/pages/components/select.mdx
Labels: type:docs

#2766 feat: add `open` prop to `Dialog.Controller`
  .changeset/dull-paws-fry.md
  docs/src/demos/components/Menu/menu-open-dialog.demo.tsx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/DialogController.tsx
Labels: type:docs, type:feature

#2769 test Chromatic
  packages/components/src/Button/Button.stories.tsx
Labels: type:feature

#2770 revert button story for chromatic testing
  packages/components/src/Button/Button.stories.tsx
Labels: type:feature

#2788 feat: add new icons for battery status and wifi/mobile signal
  .changeset/popular-turtles-pull.md
  docs/src/pages/concepts/icons.mdx
  packages/icons/src/info/BatteryCharging.tsx
  packages/icons/src/info/BatteryEmpty.tsx
  packages/icons/src/info/BatteryFull.tsx
  packages/icons/src/info/BatteryHalf.tsx
  packages/icons/src/info/MobileSignal.tsx
  packages/icons/src/info/Wifi.tsx
  packages/icons/src/info/index.ts
Labels: type:docs, type:feature

#2773 fix: `<Global>` selector prop applies styles from `body`
  .changeset/wise-houses-accept.md
  packages/system/src/components/Global/Global.stories.tsx
  packages/system/src/components/Global/Global.tsx
Labels: type:feature

#2801 refa: remove ts-jest dependency
  .changeset/kind-months-run.md
  config/jest/index.js
  config/jest/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#2805 feat: introduce `<Inset>` component
  .changeset/perfect-camels-watch.md
  docs/src/demos/components/Inset/index.ts
  docs/src/demos/components/Inset/inset-basic.demo.tsx
  docs/src/demos/components/Inset/inset-equal.demo.tsx
  docs/src/demos/components/Inset/inset-hv.demo.tsx
  docs/src/demos/components/index.ts
  docs/src/pages/components/inset.mdx
  packages/components/src/Inset/Inset.stories.tsx
  packages/components/src/Inset/Inset.test.tsx
  packages/components/src/Inset/Inset.tsx
  packages/components/src/Inset/index.ts
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
  packages/components/src/index.ts
Labels: type:docs, type:feature

#2806 feat: expose `keyframes` helper
  .changeset/heavy-lizards-camp.md
  packages/system/src/index.ts
  packages/system/src/keyframes.ts
Labels: type:feature

#2809 docs: Update `<Box>` docs
  docs/src/demos/components/Box/box-as-button.demo.tsx
  docs/src/demos/components/Box/box-as-component.demo.tsx
  docs/src/demos/components/Box/box-basic.demo.tsx
  docs/src/demos/components/Box/box-css-prop.demo.tsx
  docs/src/demos/components/Box/box-success.demo.tsx
  docs/src/demos/components/Box/box-text.demo.tsx
  docs/src/demos/components/Box/button-box.demo.tsx
  docs/src/demos/components/Box/index.ts
  docs/src/pages/components/box.mdx
  docs/src/pages/concepts/box-primitive.mdx
Labels: type:docs

#2810 chore: fix codecov yml
  .github/codecov.yml
  .github/workflows/test.yml
Labels: type:infrastructure

#2824 chore: refa <Input> and <Input.Field> components and support icons
  .changeset/healthy-dancers-explode.md
  docs/src/demos/components/FieldGroup/bookings-form.demo.tsx
  docs/src/demos/components/Input/index.ts
  docs/src/demos/components/Input/input-disabled.demo.tsx
  docs/src/demos/components/Input/input-type.demo.tsx
  docs/src/demos/components/Input/input.demo.tsx
  docs/src/demos/components/Label/label-input.demo.tsx
  docs/src/demos/components/index.ts
  docs/src/pages/components/number-field.mdx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/Input/InputField.tsx
  packages/components/src/Input/index.ts
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/TextField/TextField.test.tsx
  packages/components/src/TextField/TextField.tsx
Labels: type:docs, type:feature
