Repository marigold-ui/marigold, pull requests merged in 2023-03, with the labels that each got.

#2835 chore: don't use cache when running tests in CI
  .github/workflows/test.yml
  package.json
Labels: type:infrastructure

#2826 fix: clicking on icon and focus input
  .changeset/calm-mugs-sneeze.md
  docs/src/demos/components/Label/label-input.demo.tsx
  packages/components/src/Autocomplete/Autocomplete.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/Input/InputField.tsx
  packages/components/src/Input/index.ts
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/TextField/TextField.test.tsx
  packages/components/src/TextField/TextField.tsx
  packages/system/src/components/Box/selector.test.ts
  packages/system/src/components/Box/selector.ts
  packages/system/src/hooks/useStateProps.ts
  themes/theme-b2b/src/components/Input.style.ts
  themes/theme-core/src/components/Input.style.ts
  themes/theme-unicorn/src/components/Input.style.ts
Labels: type:docs, type:feature

#2845 refa: `<SVG>` css prop can overrde size (height/width)
  .changeset/calm-tools-jump.md
  packages/system/src/components/SVG/SVG.test.tsx
  packages/system/src/components/SVG/SVG.tsx
Labels: type:feature

#2842 chore: update issue template with stackblitz playground
  .github/ISSUE_TEMPLATE/2.bug.md
Labels: type:infrastructure

#2844 chore: fix background in storybook + small improvements to stacked layout in dark mode
  config/storybook/preview.tsx
Labels: type:infrastructure

#2846 feat: Styles for `<Autocomplete>`
  .changeset/perfect-crabs-joke.md
  packages/components/src/Autocomplete/Autocomplete.tsx
  packages/components/src/Autocomplete/ClearButton.tsx
  packages/components/src/ListBox/ListBox.stories.tsx
  packages/components/src/theme.ts
  themes/theme-b2b/src/components/Autocomplete.style.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/ListBox.style.ts
  themes/theme-core/src/components/Select.style.ts
  themes/theme-unicorn/src/components/Autocomplete.style.ts
  themes/theme-unicorn/src/components/index.ts
Labels: type:feature

#2851 docs: Introduce "Styling" docs
  .changeset/stupid-peaches-yell.md
  docs/src/demos/concepts/index.ts
  docs/src/demos/concepts/simple-styling.demo.tsx
  docs/src/demos/concepts/tokens.demo.tsx
  docs/src/pages/concepts/styling.mdx
  docs/src/pages/concepts/themes-variants.mdx
  docs/src/theme/components/Table.style.ts
Labels: type:docs

#2892 chore: add fontStyle to <Text> component
  .changeset/mighty-moons-travel.md
  docs/src/pages/components/text.mdx
  packages/components/src/Text/Text.tsx
Labels: type:docs, type:feature

#2896 feat: explicitly set tabWidth so it is not overriden by editorconfigs
  .changeset/ten-readers-switch.md
  config/prettier/index.json
Labels: type:infrastructure

#2885 fixing border of NumberField component
  .changeset/twenty-spiders-sneeze.md
  themes/theme-b2b/src/components/NumberField.style.ts
  themes/theme-unicorn/src/components/NumberField.style.ts
Labels: type:feature

#2880 docs: add example how to use the Button as different element
  docs/public/rx-logo.png
  docs/src/demos/components/Button/button-link.demo.tsx
  docs/src/demos/components/Button/index.ts
  docs/src/pages/components/button.mdx
  packages/components/src/Button/Button.stories.tsx
Labels: type:docs, type:feature
