Repository marigold-ui/marigold, pull requests merged in 2023-09, with the labels that each got.

#3318 fix[DST-178]: correct error state in form fields
  .changeset/wet-seals-compare.md
  themes/theme-b2b/src/components/Input.styles.ts
  themes/theme-b2b/src/components/Select.styles.ts
Labels: type:feature

#3321 fix[DST-185]: add react aria table types
  package.json
  packages/components/package.json
  packages/components/src/Table/Table.tsx
  pnpm-lock.yaml
Labels: type:feature

#3324 chore: adjust repo info so our slack message works again
  themes/theme-b2b/package.json
  themes/theme-core/package.json
Labels: type:feature

#3329 feat: add theme types to `package.exports" field
  .changeset/happy-lies-heal.md
  themes/theme-b2b/package.json
  themes/theme-b2b/src/preset.ts
  themes/theme-core/package.json
  themes/theme-core/src/preset.ts
Labels: type:feature

#3331 fix: correctly apply spacing in `<Inset>`
  .changeset/bright-forks-sparkle.md
  packages/components/src/Inset/Inset.test.tsx
  packages/components/src/Inset/Inset.tsx
Labels: type:feature

#3339 chore: add <Card> size to b2b theme
  .changeset/tame-gifts-sneeze.md
  packages/components/src/Card/Card.stories.tsx
  themes/theme-b2b/src/components/Card.styles.ts
Labels: type:feature

#3341 fix: story for Dialog
  packages/components/src/Dialog/Dialog.stories.tsx
Labels: type:feature

#3335 docs: update "getting started" with tsconfig when using typescript
  docs/content/introduction/getting-started.mdx
Labels: type:docs

#3342 docs[DST-192]: add postcss config info
  docs/content/introduction/getting-started.mdx
Labels: type:docs

#3343 docs: fix links in layout mdx
  docs/content/concepts/layouts.mdx
Labels: type:docs

#3345 docs: add tailwind config in CJS
  docs/content/introduction/getting-started.mdx
Labels: type:docs

#3340 docs[DST-189]: write utils documentation
  .changeset/silver-coats-report.md
  docs/app/_components/Navigation.tsx
  docs/content/hooks-and-utils/cn/cn.mdx
  docs/content/hooks-and-utils/cva/cva.demo.tsx
  docs/content/hooks-and-utils/cva/cva.mdx
  docs/content/hooks-and-utils/useAsyncListData/async.demo.tsx
  docs/content/hooks-and-utils/useAsyncListData/useAsyncListData.mdx
  docs/content/hooks-and-utils/useTheme/useTheme.demo.tsx
  docs/content/hooks-and-utils/useTheme/useTheme.mdx
  docs/lib/config.ts
  package.json
Labels: type:docs

#3366 fix: allow width on datepicker
  .changeset/lucky-candles-drum.md
  docs/content/components/form/datepicker/datepicker.mdx
  packages/components/src/DatePicker/DatePicker.stories.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/DatePicker/DatePicker.tsx
Labels: type:docs, type:feature

#3368 Make docs logo link-able
  docs/app/_components/SiteNavigation.tsx
Labels: type:docs

#3354 chore: clean up
  LICENSE
  README.md
  contributing.md
  package.json
  packages/components/package.json
  pnpm-lock.yaml
  tsconfig.check.json
Labels: type:feature

#3365 fix: typescript error message in fields (props)
  packages/components/src/FieldBase/FieldBase.tsx
Labels: type:feature

#3373 [DST-40]: delete hover state
  .changeset/curly-feet-yawn.md
  themes/theme-b2b/src/components/DatePicker.styles.ts
Labels: type:feature

#3377 fix: react types
  docs/package.json
  packages/components/package.json
  packages/types/package.json
  pnpm-lock.yaml
Labels: type:docs, type:feature
