Repository marigold-ui/marigold, pull requests merged in 2023-11, with the labels that each got.

#3395 [DST-213]: Adding `tailwindcss-react-aria-components` plugin
  .changeset/strong-pianos-pay.md
  packages/theme-preset/package.json
  packages/theme-preset/src/create-preset.ts
  pnpm-lock.yaml
  themes/theme-core/tailwind.config.ts
Labels: type:feature

#3466 chore: adjust core switch
  .changeset/eight-pens-brush.md
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
  themes/theme-core/src/components/Switch.styles.ts
Labels: type:feature

#3468 Adding property selected to component
  .changeset/ten-clouds-watch.md
  packages/components/src/Switch/Switch.tsx
Labels: type:feature

#3473 refa: Update `react-aria-components` to `rc.0`, `CheckboxGroup` and `HelpText`
  .changeset/strong-bees-reply.md
  packages/components/package.json
  packages/components/src/Autocomplete/Autocomplete.tsx
  packages/components/src/Checkbox/CheckboxField.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/Checkbox/_Checkbox.test.tsx
  packages/components/src/Checkbox/_Checkbox.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/FieldBase/_FieldBase.tsx
  packages/components/src/HelpText/HelpText.tsx
  packages/components/src/HelpText/_HelpText.tsx
  packages/components/src/TagGroup/TagGroup.tsx
  packages/theme-preset/package.json
  packages/theme-preset/src/create-preset.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/components/HelpText.styles.ts
  themes/theme-core/src/components/HelpText.styles.ts
Labels: type:feature

#3472 docs add storybook for controleld radio
  packages/components/src/Radio/Radio.stories.tsx
Labels: type:feature

#3471 adding fixed height scrollable table example
  .changeset/moody-frogs-bake.md
  packages/components/src/Table/Table.stories.tsx
Labels: type:feature

#3477 RAC: migrate input
  .changeset/tiny-cobras-matter.md
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Input/_Input.test.tsx
  packages/components/src/Input/_Input.tsx
Labels: type:feature

#3480 RAC: add `FieldError` in `HelpText`
  .changeset/smart-seals-buy.md
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/FieldBase/FieldBase.test.tsx
  packages/components/src/HelpText/HelpText.test.tsx
  packages/components/src/HelpText/_HelpText.tsx
Labels: type:feature

#3483 chore: add data-required attribute for label
  .changeset/odd-cats-design.md
  packages/components/src/FieldBase/_FieldBase.tsx
Labels: type:feature

#3481 RAC: migrate TextField component
  .changeset/silly-points-mate.md
  packages/components/src/FieldBase/_FieldBase.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Input/_Input.tsx
  packages/components/src/TextField/TextField.test.tsx
  packages/components/src/TextField/TextField.tsx
Labels: type:feature

#3498 RAC: migrate `<SearchField />`
  .changeset/selfish-squids-develop.md
  packages/components/src/SearchField/SearchField.stories.tsx
  packages/components/src/SearchField/SearchField.test.tsx
  packages/components/src/SearchField/SearchField.tsx
Labels: type:feature

#3486 RAC: migrate `<Textarea>` to react-aria components
  .changeset/sixty-experts-begin.md
  packages/components/src/FieldBase/_FieldBase.tsx
  packages/components/src/TextArea/TextArea.stories.tsx
  packages/components/src/TextArea/TextArea.test.tsx
  packages/components/src/TextArea/TextArea.tsx
Labels: type:feature

#3500 RAC: migrate `<NumberField />`
  .changeset/happy-papayas-nail.md
  packages/components/src/Input/_Input.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/NumberField/StepButton.tsx
  packages/components/src/SearchField/SearchField.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/NumberField.styles.ts
  themes/theme-core/src/components/NumberField.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#3487 RAC: `<Tooltip>` to react aria components
  .changeset/tricky-dryers-cry.md
  docs/content/components/overlay/tooltip/tooltip.mdx
  packages/components/src/Tooltip/Context.ts
  packages/components/src/Tooltip/Tooltip.stories.tsx
  packages/components/src/Tooltip/Tooltip.test.tsx
  packages/components/src/Tooltip/Tooltip.tsx
  packages/components/src/Tooltip/TooltipTrigger.stories.tsx
  packages/components/src/Tooltip/TooltipTrigger.tsx
  themes/theme-b2b/src/components/Tooltip.styles.ts
  themes/theme-core/src/components/Tooltip.styles.ts
Labels: type:docs, type:feature

#3482 RAC: `Modal` & `Dialog`
  .changeset/hot-cars-turn.md
  docs/app/layout.tsx
  docs/content/components/overlay/dialog/menu-open-dialog.demo.tsx
  docs/content/components/overlay/menu/menu-open-dialog.demo.tsx
  packages/components/src/Dialog/Context.ts
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Dialog/DialogController.tsx
  packages/components/src/Dialog/DialogTrigger.tsx
  packages/components/src/Overlay/Modal.tsx
  packages/components/src/Overlay/Tray.tsx
  packages/components/src/Overlay/Underlay.test.tsx
  packages/components/src/Overlay/Underlay.tsx
  packages/components/src/Overlay/_Underlay.tsx
Labels: type:docs, type:feature

#3502 fix: add data-theme to Modal
  packages/components/src/Overlay/Modal.tsx
Labels: type:feature

#3499 RAC: `DateField` to react-aria-components
  .changeset/spotty-bananas-grab.md
  packages/components/src/DateField/DateField.stories.tsx
  packages/components/src/DateField/DateField.test.tsx
  packages/components/src/DateField/_DateField.tsx
  packages/components/src/DateField/_DateSegment.tsx
  packages/components/src/TextField/TextField.test.tsx
  themes/theme-b2b/src/components/DateField.styles.ts
  themes/theme-core/src/components/DateField.styles.ts
Labels: type:feature

#3503 docs: change dialog docs
  docs/content/components/overlay/dialog/dialog.mdx
Labels: type:docs

#3504 chore: update favicon for docs and storybook
  config/storybook/.storybook/assets/favicon.ico
  config/storybook/.storybook/main.ts
  docs/public/favicon.ico
Labels: type:docs

#3505 feat: add a success message variant
  .changeset/honest-baboons-punch.md
  packages/components/src/Message/Message.stories.tsx
  packages/components/src/Message/Message.tsx
  themes/theme-b2b/src/components/Message.styles.ts
  themes/theme-b2b/src/tokens.ts
  themes/theme-core/src/components/Message.styles.ts
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3507 docs: don't override default `pre` classnames
  docs/ui/mdx.tsx
Labels: type:docs

#3508 chore: fix core print demo example
  .changeset/forty-numbers-sneeze.md
  docs/content/recipes/core-table-print.demo.tsx
Labels: type:docs

#3506 chore: new core token structure
  .changeset/eighty-cougars-happen.md
  themes/theme-core/src/_tokens.ts
  themes/theme-core/src/preset.ts
  themes/theme-core/src/theme.ts
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3484 docs: design token spec page
  docs/content/develop/component-guidelines.mdx
  docs/content/introduction/design-token-guidelines.mdx
  docs/public/token-naming.png
  docs/ui/mdx.tsx
  packages/components/src/DateField/_DateSegment.tsx
Labels: type:docs, type:feature

#3501 RAC: migrate `<Tabs>`
  .changeset/big-cycles-add.md
  docs/content/components/navigation/tabs/tabs-disabled.demo.tsx
  docs/content/components/navigation/tabs/tabs-large.demo.tsx
  docs/content/components/navigation/tabs/tabs-selectedKey.demo.tsx
  docs/content/components/navigation/tabs/tabs.mdx
  docs/content/develop/component-guidelines.mdx
  docs/content/introduction/design-tokens.mdx
  docs/content/introduction/getting-started.mdx
  docs/theme/components/Tabs.styles.ts
  docs/ui/ComponentDemo.tsx
  packages/components/src/Tabs/Context.ts
  packages/components/src/Tabs/Tab.tsx
  packages/components/src/Tabs/TabList.tsx
  packages/components/src/Tabs/TabPanel.tsx
  packages/components/src/Tabs/Tabs.stories.tsx
  packages/components/src/Tabs/Tabs.test.tsx
  packages/components/src/Tabs/Tabs.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Tabs.styles.ts
  themes/theme-core/src/components/Tabs.styles.ts
Labels: type:docs, type:feature

#3515 fix: SearchField is missing from export index
  .changeset/sharp-seahorses-yawn.md
  packages/components/src/index.ts
Labels: type:feature

#3516 chore: remove some unnecessary exports
  .changeset/smart-crews-tease.md
  packages/components/src/Input/_Input.tsx
  packages/components/src/SearchField/SearchField.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/TextArea/TextArea.tsx
Labels: type:feature

#3512 fix([DST-243]): Fix `<Listbox>` overflowing the `<Popover>`
  .changeset/gentle-kids-yell.md
  packages/components/src/ListBox/ListBox.tsx
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Select/Select.stories.tsx
  themes/theme-b2b/src/components/ListBox.styles.ts
  themes/theme-core/src/components/Select.styles.ts
Labels: type:feature

#3518 chore[DST-251]: improve Accordion stories
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Accordion/AccordionItems.stories.tsx
Labels: type:feature

#3519 chore: remove unused `stretch` prop and improve storybook story
  .changeset/sour-laws-deny.md
  packages/components/src/Aside/Aside.stories.tsx
  packages/components/src/Aside/Aside.test.tsx
  packages/components/src/Aside/Aside.tsx
Labels: type:feature

#3524 chore[DST-238]: remove rounded borders from numberfield
  themes/theme-b2b/src/components/NumberField.styles.ts
Labels: type:feature

#3520 RAC: `<Popover>` component
  .changeset/lazy-clouds-glow.md
  packages/components/src/DateField/_DateSegment.tsx
  packages/components/src/Dialog/DialogTrigger.tsx
  packages/components/src/Overlay/Popover.test.tsx
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Overlay/_Popover.test.tsx
  packages/components/src/Overlay/_Popover.tsx
  packages/components/src/Overlay/index.ts
Labels: type:feature

#3522 chore[DST-255]: `<Button>` storybook improvements
  .changeset/brown-shirts-accept.md
  packages/components/src/Button/Button.stories.tsx
Labels: type:feature

#3525 chore[DST-257]: `<Card>`storybook improvements
  .changeset/proud-readers-add.md
  packages/components/src/Card/Card.stories.tsx
Labels: type:feature

#3521 chore[DST-256]: `<XLoader>` storybook improvements
  .changeset/many-impalas-melt.md
  packages/components/src/XLoader/XLoader.stories.tsx
Labels: type:feature

#3531 chore: add placeholder to Input components
  .changeset/fast-hats-wash.md
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/SearchField/SearchField.tsx
  packages/components/src/TextField/TextField.tsx
Labels: type:feature
