Repository marigold-ui/marigold, pull requests merged in 2024-02, with the labels that each got.

#3683 fix: `placeholder` prop was missing on `TextArea`
  .changeset/chilled-shrimps-switch.md
  packages/components/src/TextArea/TextArea.stories.tsx
  packages/components/src/TextArea/TextArea.tsx
Labels: type:feature

#3687 [DST-278]: remove `<FocusRing>` on AccordionItem
  packages/components/src/Accordion/AccordionItem.tsx
Labels: type:feature

#3688 fix lint in docs
  docs/app/_components/ThemeMenu.tsx
  docs/ui/ComponentDemo.tsx
Labels: type:docs

#3689 [DST-150]: adjust release workflow to publish package with provenance
  .changeset/dull-panthers-hang.md
  .github/workflows/release.yml
Labels: type:infrastructure

#3695 [DST-150]: use access option
  .github/workflows/release.yml
Labels: type:infrastructure

#3696 [DST-150]: remove provenance flag
  .changeset/dull-panthers-hang.md
  .github/workflows/release.yml
Labels: type:infrastructure

#3697 [DST-150]: add provenance for marigold/components
  packages/components/package.json
Labels: type:feature

#3698 [DST-150]: add permissions to provenance generation
  .changeset/curly-onions-fold.md
  .github/workflows/release.yml
Labels: type:infrastructure

#3690 fix(DSTSUP-24): unify clear buttons in search fields
  .changeset/curvy-llamas-pump.md
  packages/components/src/Autocomplete/Autocomplete.test.tsx
  packages/components/src/Autocomplete/Autocomplete.tsx
  packages/components/src/Autocomplete/ClearButton.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/Input/SearchInput.tsx
  packages/components/src/SearchField/SearchField.tsx
  themes/theme-b2b/src/components/Input.styles.ts
  themes/theme-core/src/components/Input.styles.ts
Labels: type:feature

#3699 [DST-150]: undo provenance
  .changeset/curly-onions-fold.md
  .changeset/spicy-windows-tell.md
  .github/workflows/release.yml
  packages/components/package.json
Labels: type:feature, type:infrastructure

#3701 docs: use `id` in `Autocomplete` docu and tests
  docs/content/components/form/autocomplete/autocomplete-controlled.demo.tsx
  docs/content/components/form/autocomplete/autocomplete-uncontrolled.demo.tsx
  docs/content/components/form/autocomplete/autocomplete.mdx
  packages/components/src/Autocomplete/Autocomplete.test.tsx
Labels: type:docs, type:feature

#3702 [DST-279]: remove overlay provider
  .changeset/brown-comics-greet.md
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Overlay/Underlay.test.tsx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
  packages/components/src/Provider/OverlayContainerProvider.test.tsx
  packages/components/src/Select/Select.test.tsx
Labels: type:feature

#3674 docs: Add docs for `<Form>`
  .changeset/moody-humans-yawn.md
  docs/app/api/demo/subscribe/route.ts
  docs/content/components/form/form/form-base.demo.tsx
  docs/content/components/form/form/form-focus-management.demo.tsx
  docs/content/components/form/form/form-submission.demo.tsx
  docs/content/components/form/form/form-validation-errors.demo.tsx
  docs/content/components/form/form/form.mdx
  docs/content/concepts/validation-server-error.demo.tsx
  docs/content/concepts/validation.mdx
  docs/content/recipes/bookings-form.demo.tsx
  docs/content/recipes/organization-search.demo.tsx
  docs/lib/fetch.ts
  docs/package.json
  packages/components/src/Message/Message.test.tsx
  packages/components/src/Message/Message.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3709 [DSTSUP-37]fix: badge text color in b2b theme
  .changeset/quick-tomatoes-repeat.md
  themes/theme-b2b/src/components/Badge.styles.ts
Labels: type:feature

#3716 docs: remove false token demo from svg demo
  docs/content/components/content/svg/svg-color.demo.tsx
Labels: type:docs

#3713 feat: Render empty state of `<Tag>`
  .changeset/khaki-beers-beam.md
  docs/content/components/collection/tag/tag.mdx
  packages/components/src/TagGroup/TagGroup.tsx
Labels: type:docs, type:feature

#3718 fix: surface raised color in core theme and card
  .changeset/sharp-goats-share.md
  themes/theme-core/src/components/Card.styles.ts
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3719 fix[DSTSUP-36]: fix demo in divider
  docs/content/components/content/divider/divider-section.demo.tsx
Labels: type:docs

#3717 fix[DSTSUP-39]: remove max-width from core themed card
  .changeset/sweet-bugs-love.md
  themes/theme-core/src/components/Card.styles.ts
Labels: type:feature

#3721 feat: improve `<Tag>` responsive behavior and core theme styles
  .changeset/tender-countries-reply.md
  themes/theme-b2b/src/components/Tag.styles.ts
  themes/theme-core/src/components/Tag.styles.ts
Labels: type:feature

#3710 Adding docs for `Listbox` component
  .changeset/empty-mangos-yell.md
  docs/content/components/collection/Listbox/listbox-basic.demo.tsx
  docs/content/components/collection/Listbox/listbox-multiselection.demo.tsx
  docs/content/components/collection/Listbox/listbox-sections.demo.tsx
  docs/content/components/collection/Listbox/listbox.mdx
  packages/components/src/index.ts
Labels: type:docs, type:feature

#3720 fix[DSTSUP-41]: Combobox styles for icon
  .changeset/rotten-brooms-complain.md
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/ComboBox/ComboBox.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/ComboBox.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/ComboBox.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:feature

#3722 fix: core `linedTable` variant works again
  .changeset/great-horses-hope.md
  packages/components/src/Table/Table.stories.tsx
  themes/theme-core/src/components/Table.styles.ts
Labels: type:feature

#3711 [DST-285]: restructure forms and validation section
  .changeset/tasty-crews-join.md
  docs/content/concepts/building-forms-submit.demo.tsx
  docs/content/concepts/building-forms.mdx
  docs/content/concepts/validation-zod.demo.tsx
  docs/content/concepts/validation.mdx
Labels: type:docs

#3750 fix([DSTSUP-31]): prevent immediately selection is Select/Combobox/Autocomplete
  .changeset/calm-gifts-love.md
  packages/components/src/ListBox/ListBox.tsx
Labels: type:feature

#3753 [DSTSUP-48]: add more padding-right when action is used
  .changeset/smart-roses-deliver.md
  themes/theme-b2b/src/components/Input.styles.ts
  themes/theme-core/src/components/Input.styles.ts
Labels: type:feature

#3756 chore: group RAC with other react-aria packages
  .github/renovate.json
Labels: type:infrastructure

#3759 [DSTSUP-50]: Table Column Props errors
  docs/content/components/collection/table/table.mdx
  packages/components/src/Table/TableColumn.stories.tsx
Labels: type:docs, type:feature

#3757 chore(deps): update react-aria packages
  docs/package.json
  packages/components/package.json
  packages/system/package.json
  packages/theme-preset/package.json
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3760 [DST-364]feat: update sunken token color in both themes
  themes/theme-b2b/src/tokens.ts
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3749 [DST-280]: Check the styles from the `<ListBox>`
  .changeset/large-dancers-matter.md
  themes/theme-b2b/src/components/ListBox.styles.ts
  themes/theme-core/src/components/ListBox.styles.ts
Labels: type:feature

#3761 docs: fix mobile nav
  docs/theme/components/Dialog.styles.ts
Labels: type:docs

#3751 [DST-288]: Crosslink Formatting Helper-Page
  .changeset/chatty-camels-fry.md
  docs/content/components/collection/table/table-formatters.demo.tsx
  docs/content/components/collection/table/table.mdx
  docs/content/components/content/formatters/formatters.mdx
  docs/content/components/formatters/dateformat/dateFormat.mdx
  docs/content/components/formatters/dateformat/long-date-format.demo.tsx
  docs/content/components/formatters/dateformat/short-date-format.demo.tsx
  docs/content/components/formatters/numericformat/currency-format.demo.tsx
  docs/content/components/formatters/numericformat/numeric-format.demo.tsx
  docs/content/components/formatters/numericformat/numericFormat.mdx
  docs/content/components/formatters/numericformat/percent-format.demo.tsx
  docs/content/introduction/design-tokens.mdx
  docs/lib/config.ts
Labels: type:docs

#3762 docs: add example for `menuTrigger` in `ComboBox`
  docs/content/components/form/combobox/combobox-menu-trigger.demo.tsx
  docs/content/components/form/combobox/combobox.mdx
Labels: type:docs

#3767 [DSTSUP-53]:feat: text variant muted for b2b theme
  .changeset/rich-hotels-argue.md
  packages/components/src/Text/Text.stories.tsx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
  themes/theme-b2b/src/components/Text.styles.ts
Labels: type:feature

#3766 fix: remove and update `Switch` styles for themes
  .changeset/quiet-pants-kneel.md
  themes/theme-b2b/src/components/Switch.styles.ts
  themes/theme-core/src/components/Switch.styles.ts
Labels: type:feature

#3768 [DSTSUP-51]:fix: core message background
  .changeset/eighty-pianos-itch.md
  themes/theme-core/src/components/Message.styles.ts
Labels: type:feature

#3770 [DSTSUP-44]:fix: disabled Textarea in core theme
  .changeset/three-doors-nail.md
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/TextArea.styles.ts
Labels: type:feature

#3765 fix: remove unused styles from `Slider` and clean up
  .changeset/pretty-apes-obey.md
  themes/theme-b2b/src/components/Slider.styles.ts
  themes/theme-core/src/components/Slider.styles.ts
Labels: type:feature

#3764 [DSTSUP-54]: feat: update link token in core theme
  .changeset/late-parrots-provide.md
  packages/components/src/Link/Link.stories.tsx
  themes/theme-core/src/components/Link.styles.ts
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3774 feat: remove normalization from themes when using CSS files
  .changeset/quick-books-peel.md
  themes/theme-b2b/tailwind.config.ts
  themes/theme-core/tailwind.config.ts
Labels: type:feature

#3772 [DST-283]: Fix select component into small screens
  .changeset/small-glasses-impress.md
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Overlay/Popover.test.tsx
  packages/components/src/Overlay/Popover.tsx
Labels: type:feature

#3773 [DSTSUP-55]: Fix checkbox styles for core theme
  .changeset/orange-hats-push.md
  themes/theme-core/src/components/Checkbox.styles.ts
Labels: type:feature

#3748 [DST-216]: Customizing components outside the Design System
  .changeset/forty-games-compete.md
  docs/content/hooks-and-utils/extendTheme/button-variant.demo.tsx
  docs/content/hooks-and-utils/extendTheme/card-bg.demo.tsx
  docs/content/hooks-and-utils/extendTheme/extendTheme.mdx
  docs/content/hooks-and-utils/extendTheme/tabs-slots.demo.tsx
  packages/system/src/hooks/extendTheme.test.tsx
  packages/system/src/hooks/extendTheme.tsx
  packages/system/src/hooks/index.ts
Labels: type:docs, type:feature

#3776 [DSTSUP-56]: Fixing table header with variant grid
  .changeset/empty-moose-scream.md
  themes/theme-b2b/src/components/Table.styles.ts
Labels: type:feature

#3778 Fixing table header
  .changeset/new-onions-bow.md
  themes/theme-b2b/src/components/Table.styles.ts
Labels: type:feature

#3780 docs: removed some old props
  docs/content/components/content/icon/icon.mdx
  docs/content/components/form/button/button.mdx
Labels: type:docs
