Repository marigold-ui/marigold, pull requests merged in 2024-08, with the labels that each got.

#4063 Revert "chore(deps): update react-aria (#4062)"
  docs/package.json
  packages/components/package.json
  packages/system/package.json
  pnpm-lock.yaml
Labels: type:docs, type:feature

#4060 docs: make Dos and Donts less prominent
  docs/ui/DosAndDonts.tsx
  themes/theme-docs/src/tokens.ts
Labels: type:docs, type:feature

#4061 docs: fix table margin in content
  themes/theme-docs/src/components/Table.styles.ts
Labels: type:feature

#4068 docs: update table anatomy image
  docs/public/table/table-anatomy.jpg
Labels: type:docs

#4064 chore: Update `react-aria` July release
  docs/package.json
  packages/components/package.json
  packages/components/src/Table/Table.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature

#4066 docs: move OG image to /api
  docs/app/[...slug]/page.tsx
  docs/app/api/og.png/route.tsx
  docs/content/components/collection/table/table-action.demo.tsx
  docs/content/components/collection/table/table-appearance.demo.tsx
  docs/content/components/collection/table/table-badge.demo.tsx
  docs/content/components/collection/table/table-fixed-header.demo.tsx
  docs/content/components/collection/table/table-input.demo.tsx
  docs/content/components/collection/table/table-numeric.demo.tsx
  docs/content/components/collection/table/table-secondary-content.demo.tsx
Labels: type:docs

#4072 docs: remove badges from last big release a month ago
  docs/content/components/content/section-message/section-message.mdx
  docs/content/components/formatters/numericformat/numericFormat.mdx
  docs/content/components/layout/grid/grid.mdx
  docs/content/introduction/design-principles.mdx
  docs/content/introduction/governance-principles.mdx
  docs/content/introduction/governance-process.mdx
  docs/content/patterns/feedback-messages/feedback-messages.mdx
Labels: type:docs

#4069 docs: add disabled states for appearancedemo
  docs/ui/AppearanceDemo.tsx
  themes/theme-docs/src/components/Input.styles.ts
  themes/theme-docs/src/components/Select.styles.ts
  themes/theme-docs/src/tokens.ts
Labels: type:docs, type:feature

#4076 docs: fix `getApperance` helper
  docs/lib/utils.tsx
Labels: type:docs

#4073 docs: add link to rapp apps
  docs/app/_components/SiteHeader.tsx
  themes/theme-docs/src/components/Link.styles.ts
Labels: type:docs, type:feature

#4067 docs: make props table more awesome
  docs/scripts/build-component-props.mjs
  docs/ui/PropsTable.tsx
  packages/components/src/Card/Card.tsx
  packages/components/src/Headline/Headline.tsx
  packages/components/src/Inset/Inset.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableBody.tsx
  packages/system/src/style-props.tsx
  themes/theme-docs/src/components/Table.styles.ts
Labels: type:docs, type:feature

#4045 docs([DST-498]): revise `Button` page
  docs/content/components/form/button/button-disabled.demo.tsx
  docs/content/components/form/button/button-full-width.demo.tsx
  docs/content/components/form/button/button-ghost.demo.tsx
  docs/content/components/form/button/button-icon.demo.tsx
  docs/content/components/form/button/button-press.demo.tsx
  docs/content/components/form/button/button-primary.demo.tsx
  docs/content/components/form/button/button-secondary.demo.tsx
  docs/content/components/form/button/button-size.demo.tsx
  docs/content/components/form/button/button-text.demo.tsx
  docs/content/components/form/button/button.mdx
  docs/public/button/button-anatomy.jpg
  docs/public/button/button-disabled-do.jpg
  docs/public/button/button-disabled-dont.jpg
  docs/public/button/button-hierachy-do.jpg
  docs/public/button/button-hierachy-dont.jpg
  docs/public/button/button-icon-do.jpg
  docs/public/button/button-icon-dont.jpg
Labels: type:docs

#4086 remove some table props
  packages/components/src/Table/Table.tsx
Labels: type:feature

#4065 feat: add `secondary` variant to links and the introduce a secondary core button
  .changeset/cuddly-ears-drive.md
  packages/components/src/Link/Link.stories.tsx
  themes/theme-b2b/src/components/Link.styles.ts
  themes/theme-core/src/components/Button.styles.ts
  themes/theme-core/src/components/Link.styles.ts
Labels: type:feature

#4074 docs: adjust no props/appearances
  docs/content/components/content/body/body.mdx
  docs/content/components/content/divider/divider.mdx
  docs/content/components/content/footer/footer.mdx
  docs/content/components/content/header/header.mdx
  docs/content/components/content/list/list.mdx
  docs/content/components/content/section-message/section-message.mdx
  docs/content/components/layout/grid/grid.mdx
  docs/content/components/layout/split/split.mdx
  docs/ui/AppearanceDemo.tsx
  docs/ui/AppearanceTable.tsx
  docs/ui/PropsTable.tsx
  packages/components/src/Grid/GridArea.tsx
  packages/components/src/List/ListItem.tsx
  packages/components/src/SectionMessage/SectionMessageContent.tsx
  packages/components/src/SectionMessage/SectionMessageTitle.tsx
Labels: type:docs, type:feature

#4085 docs: adjust select width in appearance demos based on content
  docs/ui/AppearanceDemo.tsx
Labels: type:docs

#4087 docs: add `key` prop to teaser list
  docs/ui/TeaserCard.tsx
Labels: type:docs

#4090 docs: make CTA button more clean on smaller screens
  docs/app/_components/SiteHeader.tsx
Labels: type:docs

#4089 docs: add button link demo
  docs/content/components/form/button/button-link.demo.tsx
  docs/content/components/form/button/button-press.demo.tsx
  docs/content/components/form/button/button.mdx
Labels: type:docs

#4093 chore: make <Rectangle> more placeholder like and remove <Squircle>
  docs/content/concepts/concepts-layouts.demo.tsx
  docs/ui/Rectangle.tsx
  docs/ui/Squircle.tsx
Labels: type:docs

#4095 docs: make disabled apperance selection message more direct
  docs/ui/AppearanceDemo.tsx
Labels: type:docs

#4094 docs: make the layout demo prettier
  docs/content/concepts/concepts-layouts.demo.tsx
Labels: type:docs

#4099 Revert "chore(deps): update storybook"
  config/storybook/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#4092 docs: cards in teaser list take full width and the cards will be of equal height
  docs/lib/utils.tsx
  docs/ui/TeaserCard.tsx
  themes/theme-docs/src/components/Card.styles.ts
Labels: type:docs, type:feature

#4100 chore(deps): update storybook
  config/storybook/package.json
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/ComboBox/ComboBox.stories.tsx
  packages/components/src/DateField/DateField.stories.tsx
  packages/components/src/DatePicker/DatePicker.stories.tsx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/Inline/Inline.stories.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Link/Link.stories.tsx
  packages/components/src/List/List.stories.tsx
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/NumberField/NumberField.stories.tsx
  packages/components/src/Radio/Radio.stories.tsx
  packages/components/src/SearchField/SearchField.stories.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Slider/Slider.stories.tsx
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/TextArea/TextArea.stories.tsx
  packages/components/src/TextField/TextField.stories.tsx
  packages/components/src/Tooltip/Tooltip.stories.tsx
  packages/components/src/Tooltip/TooltipTrigger.stories.tsx
  packages/components/src/XLoader/XLoader.stories.tsx
  packages/system/src/components/SVG/SVG.stories.tsx
  pnpm-lock.yaml
Labels: type:feature, type:infrastructure

#4088 docs: persist theme when using cmdk
  docs/app/_components/CommandItems.tsx
Labels: type:docs

#4096 docs: add a storybook hint before props table
  docs/content/components/collection/table/table.mdx
  docs/content/components/form/button/button.mdx
  docs/ui/PropsTable.tsx
  docs/ui/StorybookHintMessage.tsx
  docs/ui/icons/ExternalLink.tsx
  docs/ui/mdx.tsx
  packages/components/src/Button/Button.stories.tsx
  themes/theme-docs/src/components/Card.styles.ts
  themes/theme-docs/src/components/SectionMessage.styles.ts
  themes/theme-docs/src/components/index.ts
Labels: type:docs, type:feature

#4103 docs[DST-507]: revise `<Inline>` page
  .changeset/wicked-shrimps-whisper.md
  docs/content/components/layout/inline/inline-alignments.demo.tsx
  docs/content/components/layout/inline/inline-elements.demo.tsx
  docs/content/components/layout/inline/inline-horizontally.demo.tsx
  docs/content/components/layout/inline/inline-nested.demo.tsx
  docs/content/components/layout/inline/inline-spacing.demo.tsx
  docs/content/components/layout/inline/inline-vertically.demo.tsx
  docs/content/components/layout/inline/inline.mdx
  docs/ui/Rectangle.tsx
  packages/components/src/Inline/Inline.tsx
Labels: type:docs, type:feature

#4075 docs: revise `Link` page
  .vscode/settings.json
  docs/content/components/content/link/link-appearance.demo.tsx
  docs/content/components/content/link/link-download.demo.tsx
  docs/content/components/content/link/link-target.demo.tsx
  docs/content/components/content/link/link.mdx
  docs/content/components/form/button/button.mdx
  docs/public/link/link-anatomy.jpg
  docs/public/link/link-contact-do.jpg
  docs/public/link/link-contact-dont.jpg
  docs/public/link/link-download-do.jpg
  docs/public/link/link-download-dont.jpg
  docs/public/link/link-label-do.jpg
  docs/public/link/link-label-dont.jpg
  docs/public/link/tickets-yakari-gustav-gans.pdf
  packages/components/src/Link/Link.tsx
Labels: type:docs, type:feature

#4104 docs: add missing storybook hints
  docs/content/components/content/link/link.mdx
  docs/content/components/form/select/select.mdx
  docs/content/components/layout/inline/inline.mdx
Labels: type:docs

#4106 fix: fix command item types
  docs/app/_components/CommandItems.tsx
Labels: type:docs

#4107 [DST-508]: revise text field component
  .changeset/small-oranges-beam.md
  docs/content/components/form/textfield/textfield-appearance.demo.tsx
  docs/content/components/form/textfield/textfield-disabled.demo.tsx
  docs/content/components/form/textfield/textfield-error.demo.tsx
  docs/content/components/form/textfield/textfield-group.demo.tsx
  docs/content/components/form/textfield/textfield-number.demo.tsx
  docs/content/components/form/textfield/textfield-req.demo.tsx
  docs/content/components/form/textfield/textfield-types.demo.tsx
  docs/content/components/form/textfield/textfield.mdx
  docs/public/textfield/textfield-anatomy.jpg
  docs/public/textfield/textfield-do-clear-error-message.jpg
  docs/public/textfield/textfield-do-helptext-email.jpg
  docs/public/textfield/textfield-do-helptext-explanation.jpg
  docs/public/textfield/textfield-do-placeholder.jpg
  docs/public/textfield/textfield-do-short-label.jpg
  docs/public/textfield/textfield-dont-blame-user.jpg
  docs/public/textfield/textfield-dont-long-label.jpg
  docs/public/textfield/textfield-dont-placeholder.jpg
  docs/public/textfield/textfield-dont-use-unnecessary-words.jpg
  packages/components/src/TextField/TextField.tsx
Labels: type:docs, type:feature

#4070 [DST-505]: Revise "Radio" Examples
  .changeset/chilled-worms-work.md
  docs/content/components/form/radio/radio-disabled.demo.tsx
  docs/content/components/form/radio/radio-error.demo.tsx
  docs/content/components/form/radio/radio.demo.tsx
  docs/content/components/form/radio/radio.mdx
  docs/public/radio/dosAndDonts_checkbox_select.jpg
  docs/public/radio/dosAndDonts_long_options.jpg
  docs/public/radio/dosAndDonts_multiple_lines.jpg
  docs/public/radio/dosAndDonts_radio_select.jpg
  docs/public/radio/dosAndDonts_select_long_options.jpg
  docs/public/radio/dosAndDonts_trunc_multiple_lines.jpg
  docs/public/radio/radio-anatomy.jpg
Labels: type:docs

#4109 docs: add alternative components
  docs/content/components/form/button/button.mdx
  docs/content/components/form/select/select.mdx
Labels: type:docs

#4105 docs[DST-509]:Revise `<Stack>` page
  .changeset/nervous-toys-kick.md
  docs/content/components/layout/stack/stack-horizontal.demo.tsx
  docs/content/components/layout/stack/stack-nested.demo.tsx
  docs/content/components/layout/stack/stack-spacing.demo.tsx
  docs/content/components/layout/stack/stack-vertical.demo.tsx
  docs/content/components/layout/stack/stack.mdx
  packages/components/src/Breakout/Breakout.test.tsx
  packages/components/src/Stack/Stack.tsx
  packages/system/src/style-props.tsx
Labels: type:docs, type:feature

#4115 fix: fix SelectListItem layout
  .changeset/twelve-eyes-boil.md
  packages/components/src/SelectList/SelectList.tsx
  packages/components/src/SelectList/SelectListItem.tsx
Labels: type:feature

#4051 updating eslint
  .eslintignore
  .eslintrc
  config/eslint/index.js
  config/eslint/package.json
  docs/content/components/form/textfield/textfield.mdx
  docs/scripts/build-component-props.mjs
  eslint.config.mjs
  package.json
  packages/components/src/Table/utils.ts
  pnpm-lock.yaml
Labels: type:docs, type:feature, type:infrastructure

#4111 docs[DST-512]: Revise `<Split>` Page
  .changeset/fluffy-bikes-float.md
  docs/content/components/layout/split/split-inline.demo.tsx
  docs/content/components/layout/split/split-stack.demo.tsx
  docs/content/components/layout/split/split.mdx
Labels: type:docs

#4110 docs[DST-511]: revise switch component
  .changeset/seven-ads-kiss.md
  docs/content/components/form/button/button.mdx
  docs/content/components/form/switch/switch-active-disabled.demo.tsx
  docs/content/components/form/switch/switch-active.demo.tsx
  docs/content/components/form/switch/switch-appearance.demo.tsx
  docs/content/components/form/switch/switch-disabled.demo.tsx
  docs/content/components/form/switch/switch.mdx
  docs/public/switch/switch-anatomy.jpg
  docs/public/switch/switch-do-settings.jpg
  docs/public/switch/switch-dont-opposing-options.jpg
  docs/public/switch/switch-dont-settings.jpg
  packages/components/src/Switch/Switch.tsx
Labels: type:docs, type:feature

#4117 [DST-515]: added a sort function for the prop tables
  .changeset/moody-impalas-explode.md
  docs/scripts/build-component-props.mjs
Labels: type:docs

#4108 [DST-510]: Revise-checkbox-page
  .changeset/silly-bottles-sniff.md
  docs/content/components/form/checkbox/checkbox-appearance.demo.tsx
  docs/content/components/form/checkbox/checkbox-group.demo.tsx
  docs/content/components/form/checkbox/checkbox.mdx
  docs/public/checkbox/checkbox-anatomy.jpg
  docs/public/checkbox/checkbox-do-long-options.jpg
  docs/public/checkbox/checkbox-do-multipleline.jpg
  docs/public/checkbox/checkbox-do-select.jpg
  docs/public/checkbox/checkbox-dont-long-options.jpg
  docs/public/checkbox/checkbox-dont-multipleline.jpg
  docs/public/checkbox/checkbox-dont-select.jpg
Labels: type:docs

#4116 docs[DST-513]: revise `<Autocomplete>` component page
  .changeset/clever-humans-cry.md
  docs/content/components/form/autocomplete/autocomplete-appearance.demo.tsx
  docs/content/components/form/autocomplete/autocomplete-controlled.demo.tsx
  docs/content/components/form/autocomplete/autocomplete.mdx
  docs/public/autocomplete/autocomplete-anatomy.jpg
  docs/public/autocomplete/autocomplete-do-content.jpg
  docs/public/autocomplete/autocomplete-do-label.jpg
  docs/public/autocomplete/autocomplete-dont-content.jpg
  docs/public/autocomplete/autocomplete-dont-label.jpg
  packages/components/src/Autocomplete/Autocomplete.tsx
Labels: type:docs, type:feature

#4123 docs[DST-516]: revise `<NumberField>` component page
  .changeset/orange-days-move.md
  docs/content/components/form/number-field/number-field-amount.demo.tsx
  docs/content/components/form/number-field/number-field-disabled.demo.tsx
  docs/content/components/form/number-field/number-field-error.demo.tsx
  docs/content/components/form/number-field/number-field-format.demo.tsx
  docs/content/components/form/number-field/number-field-hide.demo.tsx
  docs/content/components/form/number-field/number-field-required.demo.tsx
  docs/content/components/form/number-field/number-field-stepper.demo.tsx
  docs/content/components/form/number-field/number-field-values.demo.tsx
  docs/content/components/form/number-field/number-field.mdx
  docs/content/components/form/number-field/numberfield-appearance.demo.tsx
  docs/public/number-field/number-field-anatomy.jpg
  docs/public/number-field/number-field-do-clear-error-message.jpg
  docs/public/number-field/number-field-do-helptext-email.jpg
  docs/public/number-field/number-field-do-helptext-explanation.jpg
  docs/public/number-field/number-field-do-placeholder.jpg
  docs/public/number-field/number-field-do-short-label.jpg
  docs/public/number-field/number-field-dont-blame-user.jpg
  docs/public/number-field/number-field-dont-long-label.jpg
  docs/public/number-field/number-field-dont-placeholder.jpg
  docs/public/number-field/number-field-dont-use-unnecessary-words.jpg
Labels: type:docs

#4134 fix: fix DOM tree for empty tables
  .changeset/proud-radios-joke.md
  packages/components/src/Table/TableBody.tsx
  packages/components/src/test.utils.tsx
Labels: type:feature

#4125 docs[DST-517]: revise `<Tabs>` component
  .changeset/long-donkeys-sell.md
  docs/content/components/navigation/tabs/tabs-appearance.demo.tsx
  docs/content/components/navigation/tabs/tabs-basic.demo.tsx
  docs/content/components/navigation/tabs/tabs-disabled.demo.tsx
  docs/content/components/navigation/tabs/tabs-selectedKey.demo.tsx
  docs/content/components/navigation/tabs/tabs.mdx
  docs/public/tabs/tabs-anatomy.jpg
  packages/components/src/Tabs/Tabs.tsx
Labels: type:docs, type:feature

#4124 [DST-518]: Revise "menu" Page
  .changeset/afraid-donuts-search.md
  docs/content/components/overlay/menu/menu-action-table.demo.tsx
  docs/content/components/overlay/menu/menu-action.demo.tsx
  docs/content/components/overlay/menu/menu-appearance.demo.tsx
  docs/content/components/overlay/menu/menu-disabled.demo.tsx
  docs/content/components/overlay/menu/menu-section.demo.tsx
  docs/content/components/overlay/menu/menu-selection.demo.tsx
  docs/content/components/overlay/menu/menu.mdx
  docs/public/menu/menu-anatomy.jpg
Labels: type:docs

#4137 docs: adjust rectangles in tokens page so its more fitting with new r…
  docs/ui/Token.tsx
Labels: type:docs

#4143 Bugfix: fix datepicker storybook example
  .changeset/new-rockets-talk.md
  packages/components/src/DatePicker/DatePicker.stories.tsx
Labels: type:feature

#4135 fix: adjust some tests
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Select/Select.test.tsx
Labels: type:feature

#4136 docs: remove cards around tables in docs
  docs/ui/ColorTokens.tsx
  docs/ui/Token.tsx
  docs/ui/Typography.tsx
Labels: type:docs
