Repository marigold-ui/marigold, pull requests merged in 2024-03, with the labels that each got.

#3779 fix([DSTSUP-52]): only allow vertical resizing of textareas in core theme
  .changeset/smooth-coins-begin.md
  themes/theme-core/src/components/TextArea.styles.ts
Labels: type:feature

#3784 docs: update badges from pages
  docs/content/components/application/routerprovider/routerprovider.mdx
  docs/content/components/collection/table/table.mdx
  docs/content/components/collection/tag/tag.mdx
  docs/content/components/form/calendar/calendar.mdx
  docs/content/components/form/combobox/combobox.mdx
  docs/content/components/form/datepicker/datepicker.mdx
  docs/content/components/layout/scrollable/scrollable.mdx
  docs/content/components/overlay/menu/menu.mdx
  docs/content/concepts/validation.mdx
  docs/content/develop/component-guidelines.mdx
  docs/content/introduction/design-token-guidelines.mdx
Labels: type:docs

#3785 chore: added half space tokens
  .changeset/large-masks-grin.md
  docs/ui/Token.tsx
  packages/system/src/style-props.tsx
Labels: type:docs, type:feature

#3783 feat: add `line-height` (browser default) to the core theme
  .changeset/eighty-parents-burn.md
  themes/theme-core/src/root.ts
Labels: type:feature

#3786 fix: MenuItem disabled state core theme
  .changeset/spotty-cups-eat.md
  themes/theme-core/src/components/Menu.styles.ts
Labels: type:feature

#3787 fix: Switch remove Selected border core theme
  .changeset/new-peaches-kneel.md
  themes/theme-core/src/components/Switch.styles.ts
Labels: type:feature

#3777 [DST-271]:feat: Column allow fit width of item
  .changeset/good-apricots-relax.md
  docs/content/components/layout/columns/columns.mdx
  docs/content/components/layout/columns/fit-width-columns.demo.tsx
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/Columns/Columns.test.tsx
  packages/components/src/Columns/Columns.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3801 chore(docs): expose router provider
  docs/content/components/application/routerprovider/routerprovider.mdx
  packages/components/src/index.ts
Labels: type:docs, type:feature

#3797 Fix checkbox disabled state
  .changeset/flat-grapes-cough.md
  themes/theme-core/src/components/Checkbox.styles.ts
Labels: type:feature

#3802 [DSTSUP-57]fix: changing the token back to z-40 from underlay
  .changeset/funny-pandas-move.md
  packages/components/src/Overlay/Underlay.tsx
Labels: type:feature

#3763 docs: add command menu
  docs/app/_components/Navigation.tsx
  docs/app/_components/SiteHeader.tsx
  docs/app/_components/SiteNavigation.tsx
  docs/app/_components/ThemeMenu.tsx
  docs/app/layout.tsx
  docs/lib/config.ts
  docs/package.json
  docs/theme/components/Button.styles.ts
  docs/theme/components/Dialog.styles.ts
  docs/theme/tokens.ts
  docs/ui/Commandk.tsx
  docs/ui/icons/Search.tsx
  docs/ui/icons/Theme.tsx
  docs/ui/useHasMounted.tsx
  pnpm-lock.yaml
Labels: type:docs

#3803 [DST-382]fix: add possibility to align Checkbox to FieldGroups
  .changeset/poor-garlics-repeat.md
  packages/components/src/Checkbox/CheckBoxField.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/Checkbox/Context.tsx
Labels: type:feature

#3789 [DSTSUP-43]: improve button icon variant for both themes
  .changeset/swift-beans-worry.md
  themes/theme-b2b/src/components/Button.styles.ts
  themes/theme-core/src/components/Button.styles.ts
Labels: type:feature

#3809 Preventing to Override our theme variants via `extendTheme`
  .changeset/sharp-rice-rule.md
  docs/content/hooks-and-utils/extendTheme/extendTheme.mdx
  packages/system/src/hooks/extendTheme.test.tsx
  packages/system/src/hooks/extendTheme.tsx
Labels: type:docs, type:feature

#3790 [DSTSUP-34]: change bg color in textarea if read-only core theme
  .changeset/grumpy-mayflies-fold.md
  themes/theme-core/src/components/TextArea.styles.ts
Labels: type:feature

#3811 docs: move hooks and utils under components
  .changeset/eight-masks-tan.md
  docs/content/components/hooks-and-utils/cn/cn.mdx
  docs/content/components/hooks-and-utils/cva/cva.demo.tsx
  docs/content/components/hooks-and-utils/cva/cva.mdx
  docs/content/components/hooks-and-utils/extendTheme/button-variant.demo.tsx
  docs/content/components/hooks-and-utils/extendTheme/card-bg.demo.tsx
  docs/content/components/hooks-and-utils/extendTheme/extendTheme.mdx
  docs/content/components/hooks-and-utils/extendTheme/tabs-slots.demo.tsx
  docs/content/components/hooks-and-utils/useAsyncListData/async.demo.tsx
  docs/content/components/hooks-and-utils/useAsyncListData/useAsyncListData.mdx
  docs/content/components/hooks-and-utils/useResponsiveValue/tailwind-screen-size-with-hook.demo.tsx
  docs/content/components/hooks-and-utils/useResponsiveValue/useResponsiveValue.mdx
  docs/content/components/hooks-and-utils/useTheme/useTheme.demo.tsx
  docs/content/components/hooks-and-utils/useTheme/useTheme.mdx
  docs/lib/config.ts
  docs/public/logo.png
Labels: type:docs

#3807 chore: diverify favicons (more colors!)
  config/storybook/.storybook/assets/favicon.ico
  config/storybook/.storybook/assets/favicon.png
  config/storybook/.storybook/assets/favicon.svg
  config/storybook/.storybook/manager-head.html
  docs/app/layout.tsx
  docs/public/favicon.ico
  docs/public/logo-dev.svg
  docs/public/logo-preview.svg
Labels: type:docs, type:infrastructure

#3812 [DSTSUP-59]:fix if no label no gap style
  .changeset/lemon-days-agree.md
  packages/components/src/FieldBase/FieldBase.tsx
Labels: type:feature

#3810 [DSTSUP-60]: table state with input fields
  .changeset/lazy-meals-glow.md
  docs/content/components/collection/table/table-input.demo.tsx
  docs/content/components/collection/table/table.mdx
  docs/content/components/hooks-and-utils/useListData/useListData.mdx
  docs/content/components/hooks-and-utils/useListData/useListData.table.demo.tsx
  packages/components/src/Table/Table.stories.tsx
Labels: type:docs, type:feature

#3825 chore: update the dev guidelines
  docs/content/develop/component-guidelines.mdx
Labels: type:docs

#3819 [DSTSUP-61]fix: add some core styles
  .changeset/rotten-cheetahs-decide.md
  themes/theme-core/src/components/NumberField.styles.ts
  themes/theme-core/src/components/Table.styles.ts
Labels: type:feature

#3828 BUGFIX: fix onClear on SearchInput.tsx
  .changeset/beige-kangaroos-brush.md
  packages/components/src/Autocomplete/Autocomplete.test.tsx
  packages/components/src/Input/SearchInput.tsx
  pnpm-lock.yaml
Labels: type:feature

#3827 fix: restore default `collapseAt` for `<Columns>`
  .changeset/wicked-experts-provide.md
  packages/components/src/Columns/Columns.test.tsx
  packages/components/src/Columns/Columns.tsx
Labels: type:feature

#3818 [DSTSUP-58]chore: Add scoped preflight plugin to normalize the core
  .changeset/sharp-dolls-fry.md
  pnpm-lock.yaml
  themes/theme-core/package.json
  themes/theme-core/tailwind.config.ts
Labels: type:feature

#3829 chore[DSTSUP-65]: fix demo and add overlayprovider to tooltip
  .changeset/ten-hats-exercise.md
  docs/content/components/overlay/tooltip/tooltip-custom.demo.tsx
  packages/components/src/Tooltip/Tooltip.tsx
Labels: type:docs, type:feature

#3831 chore: add `directory` field to components package
  packages/components/package.json
Labels: type:feature

#3833 chore: update mdx-js/react to latest version
  config/storybook/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#3824 [DST-363]: Adding Guideline-Page of how to use `Multiselection`
  .changeset/eleven-panthers-remain.md
  docs/content/concepts/multiple-selection.mdx
  docs/content/concepts/multiselect-checkbox-group.demo.tsx
  docs/content/concepts/multiselect.demo.tsx
  docs/content/concepts/tag-group-multiselect.demo.tsx
  docs/content/recipes/multiselect-basic.demo.tsx
  docs/content/recipes/multiselect-recipe.mdx
  packages/components/src/ComboBox/ComboBox.tsx
  packages/components/src/Multiselect/Multiselect.stories.tsx
  packages/components/src/Multiselect/Multiselect.tsx
  packages/components/src/Multiselect/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#3834 Adding hover cursor on tag component in multi-select mode
  .changeset/calm-roses-grab.md
  packages/components/src/TagGroup/Tag.tsx
  packages/components/src/TagGroup/TagGroup.stories.tsx
  packages/components/src/TagGroup/TagGroup.test.tsx
  themes/theme-b2b/src/components/Tag.styles.ts
  themes/theme-core/src/components/Tag.styles.ts
Labels: type:feature

#3837 docs: add note to mulitselect import from documentation
  docs/content/concepts/multiselect.demo.tsx
Labels: type:docs

#3836 fix: user dialog tokens in core theme
  .changeset/stupid-terms-wave.md
  themes/theme-core/src/components/Dialog.styles.ts
Labels: type:feature

#3832 chore: make codecov work again
  .github/workflows/test.yml
  config/jest/index.js
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Multiselect/Multiselect.tsx
  packages/system/src/hooks/extendTheme.test.tsx
  pnpm-lock.yaml
Labels: type:feature, type:infrastructure

#3800 Fixing divider component
  .changeset/nine-lamps-jam.md
  packages/components/src/Divider/Divider.tsx
Labels: type:feature

#3838 feat: add story code plugin
  .changeset/slimy-nails-run.md
  config/storybook/.storybook/main.ts
  config/storybook/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#3840 docs: change multiselect recipe
  .changeset/afraid-glasses-relax.md
  docs/content/concepts/multiple-selection.mdx
  docs/content/concepts/multiselect.demo.tsx
  docs/content/recipes/multiselect-basic.demo.tsx
  docs/content/recipes/multiselect-recipe.mdx
Labels: type:docs

#3841 feat: Allow configure position of menu popover
  .changeset/perfect-cheetahs-clean.md
  docs/app/_components/ThemeMenu.tsx
  docs/content/components/overlay/menu/menu.mdx
  docs/theme/components/Button.styles.ts
  docs/ui/icons/Theme.tsx
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/Menu/Menu.tsx
Labels: type:docs, type:feature
