Repository marigold-ui/marigold, pull requests merged in 2024-06, with the labels that each got.

#3929 docs: clarify requests
  docs/content/introduction/get-in-touch.mdx
Labels: type:docs

#3923 [DST-387]: Generate property tables in our documentation from code
  .gitignore
  docs/package.json
  docs/scripts/build-component-props.mjs
  package.json
  pnpm-lock.yaml
Labels: type:docs

#3936 Props Table: Add description to types of all components
  packages/components/src/Accordion/Accordion.tsx
  packages/components/src/Accordion/AccordionItem.tsx
  packages/components/src/Aside/Aside.tsx
  packages/components/src/Aspect/Aspect.tsx
  packages/components/src/Autocomplete/Autocomplete.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Body/Body.tsx
  packages/components/src/Breakout/Breakout.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/Card/Card.tsx
  packages/components/src/Center/Center.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.tsx
  packages/components/src/Columns/Columns.tsx
  packages/components/src/ComboBox/ComboBox.tsx
  packages/components/src/Container/Container.tsx
  packages/components/src/DateField/DateField.tsx
  packages/components/src/DatePicker/DatePicker.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Dialog/DialogTrigger.tsx
  packages/components/src/Footer/Footer.tsx
  packages/components/src/Header/Header.tsx
  packages/components/src/Headline/Headline.tsx
  packages/components/src/HelpText/HelpText.tsx
  packages/components/src/Image/Image.tsx
  packages/components/src/Inline/Inline.tsx
  packages/components/src/Inset/Inset.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/List/List.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/Message/Message.tsx
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/Radio/Radio.tsx
  packages/components/src/Radio/RadioGroup.tsx
  packages/components/src/SearchField/SearchField.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Stack/Stack.tsx
  packages/components/src/Switch/Switch.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Tabs/Tabs.tsx
  packages/components/src/TagGroup/TagGroup.tsx
  packages/components/src/Text/Text.tsx
  packages/components/src/TextArea/TextArea.tsx
  packages/components/src/TextField/TextField.tsx
  packages/components/src/Tiles/Tiles.tsx
  packages/components/src/Tooltip/Tooltip.tsx
  packages/system/src/style-props.tsx
Labels: type:feature

#3937 [DSTSUP-79]feat: add new icon for download
  .changeset/heavy-cougars-film.md
  docs/content/concepts/icons.mdx
  packages/icons/src/action/Download.tsx
  packages/icons/src/action/index.ts
Labels: type:docs, type:feature

#3941 [DSTSUP-78]fix: fix extendTheme function
  .changeset/sour-spiders-draw.md
  packages/system/src/hooks/extendTheme.test.tsx
  packages/system/src/hooks/extendTheme.tsx
Labels: type:feature

#3912 chore: remove story wrapper and add prop for demos
  config/storybook/.storybook/preview.tsx
  docs/content/components/collection/table/table.mdx
  docs/content/develop/component-guidelines.mdx
  docs/content/recipes/table-recipes.mdx
  docs/ui/ComponentDemo.tsx
  packages/components/src/NumberField/NumberField.stories.tsx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/TextArea/TextArea.stories.tsx
Labels: type:docs, type:feature, type:infrastructure

#3945 docs: fix in description also html props
  docs/content/components/form/textfield/textfield.mdx
Labels: type:docs

#3958 fix: update pokemon links
  docs/content/components/layout/tiles/tiles-autoRows.demo.tsx
  docs/content/components/layout/tiles/tiles-complex.demo.tsx
  docs/content/components/layout/tiles/tiles-itemwidth.demo.tsx
  packages/components/src/Tiles/Tiles.stories.tsx
Labels: type:docs, type:feature

#3947 docs: update some badges < 1,5 month
  docs/content/components/collection/selectlist/selectlist.mdx
  docs/content/components/hooks-and-utils/useListData/useListData.mdx
  docs/content/concepts/elevation.mdx
  docs/content/introduction/design-tokens.mdx
  docs/content/introduction/get-in-touch.mdx
  docs/content/patterns/overview.mdx
Labels: type:docs

#3920 [DST-407]: enhance command menu
  .changeset/tall-coats-call.md
  docs/app/_components/CommandItems.tsx
  docs/app/_components/SiteMenu.tsx
  docs/contentlayer.config.ts
  docs/lib/config.ts
  docs/lib/utils.tsx
  docs/package.json
  docs/ui/ColorTokens.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3959 chore: fix B2B grid variant + make github linter happy
  .changeset/eighty-clouds-call.md
  packages/components/src/Switch/Switch.test.tsx
  themes/theme-b2b/src/components/Divider.styles.ts
  themes/theme-b2b/src/components/Input.styles.ts
  themes/theme-b2b/src/components/NumberField.styles.ts
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-core/src/components/Table.styles.ts
Labels: type:feature

#3961 Revert "chore(deps): update dependency typescript to v5.5.2 (#3960)"
  config/eslint/package.json
  config/jest/package.json
  config/storybook/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Labels: type:docs, type:infrastructure

#3957 docs([DST-449]): add values and principles to documentation
  .changeset/fluffy-cheetahs-clap.md
  docs/content/introduction/faq.mdx
  docs/content/introduction/governance-values.mdx
Labels: type:docs

#3927 docs: introduce design principles page
  .changeset/breezy-mails-jump.md
  docs/content/introduction/design-principles.mdx
Labels: type:docs

#3963 chore: update renovate to weekly schedule
  .github/renovate.json
Labels: type:infrastructure

#3964 feat: add alert role to `<SectionMessage>` (a11y)
  packages/components/src/SectionMessage/SectionMessage.test.tsx
  packages/components/src/SectionMessage/SectionMessage.tsx
Labels: type:feature

#3944 [DST-446]docs: adding governance process page
  .changeset/honest-kids-sit.md
  docs/content/introduction/governance-process.mdx
  docs/public/governance-phase1.png
  docs/public/governance-phase2-1.png
  docs/public/governance-phase2-2.png
  docs/public/governance-phase2-3.png
  docs/public/governance-phase2-4.png
  docs/public/governance-phase3a.png
  docs/public/governance-phase3b.png
Labels: type:docs

#3962 docs[DST-465]: adding message pattern to documentation
  .changeset/long-horses-impress.md
  docs/content/patterns/messages/confirmation-dialog.demo.tsx
  docs/content/patterns/messages/inputfield-validation.demo.tsx
  docs/content/patterns/messages/messages.mdx
  docs/content/patterns/messages/sectionmessage-info.demo.tsx
  docs/content/patterns/overview.mdx
  docs/public/browser-dialog.png
  docs/public/dosAndDonts_clarity.png
  docs/public/dosAndDonts_message_position.png
  docs/ui/Image.tsx
  docs/ui/mdx.tsx
Labels: type:docs

#3967 refa: Update TypeScript and adjust `<NumericFormat>` props
  .changeset/fifty-seals-divide.md
  config/eslint/package.json
  config/jest/package.json
  config/storybook/package.json
  docs/content/components/formatters/numericformat/.eslintrc.json
  docs/content/components/formatters/numericformat/currency-format.demo.tsx
  docs/content/components/formatters/numericformat/numericFormat.mdx
  docs/content/components/formatters/numericformat/percent-format.demo.tsx
  docs/package.json
  package.json
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/system/src/components/Formatters/NumericFormat.test.tsx
  packages/system/src/components/Formatters/NumericFormat.tsx
  packages/types/package.json
  pnpm-lock.yaml
Labels: type:docs, type:feature, type:infrastructure, 🚨 Breacking Change

#3966 chore: update RTL and fix deprecation warnings from using `act`
  config/jest/package.json
  package.json
  packages/components/src/Radio/Radio.test.tsx
  packages/components/src/SelectList/SelectList.test.tsx
  pnpm-lock.yaml
Labels: type:feature, type:infrastructure

#3969 docs: adjust titles and headlines
  docs/content/introduction/governance-principles.mdx
  docs/content/introduction/governance-process.mdx
  docs/content/patterns/building-forms/building-forms.mdx
  docs/content/patterns/feedback-messages/confirmation-dialog.demo.tsx
  docs/content/patterns/feedback-messages/feedback-messages.mdx
  docs/content/patterns/feedback-messages/inputfield-validation.demo.tsx
  docs/content/patterns/feedback-messages/sectionmessage-info.demo.tsx
  docs/content/patterns/overview.mdx
Labels: type:docs
