Repository marigold-ui/marigold, pull requests merged in 2024-09, with the labels that each got.

#4145 fix[DSTSUP-86]: adjust select and combobox styles for core theme
  .changeset/spotty-tomatoes-cover.md
  themes/theme-core/src/components/ComboBox.styles.ts
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/Select.styles.ts
Labels: type:feature

#4146 fix: adjust visibility for autocomplete clear button
  .changeset/mean-trees-begin.md
  packages/components/src/Autocomplete/Autocomplete.tsx
Labels: type:feature

#4138 docs: update internal component guidelines
  .changeset/real-turtles-turn.md
  docs/content/develop/component-guidelines.mdx
Labels: type:docs

#4151 chore: add internal page to command menu
  .changeset/modern-keys-smell.md
  docs/app/_components/CommandItems.tsx
  docs/app/_components/SiteMenu.tsx
  docs/lib/config.ts
Labels: type:docs

#4153 fix: remove node_modules from tailwind config
  docs/tailwind.config.ts
  themes/theme-b2b/tailwind.config.ts
  themes/theme-core/tailwind.config.ts
  themes/theme-docs/tailwind.config.ts
Labels: type:docs, type:feature

#4144 [DST-537]: Revising `Tooltip` page
  docs/content/components/overlay/tooltip/tooltip-appearance.demo.tsx
  docs/content/components/overlay/tooltip/tooltip-focus.demo.tsx
  docs/content/components/overlay/tooltip/tooltip-placement.demo.tsx
  docs/content/components/overlay/tooltip/tooltip-pressed.demo.tsx
  docs/content/components/overlay/tooltip/tooltip.mdx
  docs/public/tooltip/tooltip-anatomy.jpg
  docs/public/tooltip/tooltip-dont-link.jpg
  packages/components/src/Tooltip/TooltipTrigger.tsx
Labels: type:docs, type:feature

#4175 fix: correct path to mulitselect demo
  docs/content/patterns/multiple-selection/multiple-selection.mdx
Labels: type:docs

#4177 feat(Menu): pass `aria-label` to menu button instead of menu
  .changeset/flat-bugs-sparkle.md
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Menu/Menu.tsx
Labels: type:feature
