Repository marigold-ui/marigold, pull requests merged in 2024-12, with the labels that each got.

#4325 test: Pin `<Datepicker>` i18n in tests so they don't break
  packages/components/src/DatePicker/DatePicker.test.tsx
Labels: type:feature

#4328 refa: Remove deprected `Section` APIs from RAC
  packages/components/src/ListBox/ListBoxSection.tsx
  packages/components/src/Menu/MenuSection.tsx
Labels: type:feature

#4318 feat(DST-608): Make XLoader accessible and docs update
  .changeset/serious-coins-argue.md
  docs/app/_components/landingpage/AccessibiltySection.tsx
  docs/app/api/subscribe/route.ts
  docs/app/api/venues/route.ts
  docs/content/components/content/xloader/XLoader-props.demo.tsx
  docs/content/components/content/xloader/xloader-appearance.demo.tsx
  docs/content/components/content/xloader/xloader-fullscreen.demo.tsx
  docs/content/components/content/xloader/xloader-inline.demo.tsx
  docs/content/components/content/xloader/xloader.mdx
  docs/content/foundations/accessibility/accessibility-aria-live.demo.tsx
  docs/content/foundations/form-fields/validation-server-error.demo.tsx
  docs/content/patterns/loading-states/full-section.demo.tsx
  docs/lib/data/venues.tsx
  docs/lib/utils.tsx
  docs/scripts/build-component-props.mjs
  packages/components/src/XLoader/BaseLoader.tsx
  packages/components/src/XLoader/XLoader.stories.tsx
  packages/components/src/XLoader/XLoader.test.tsx
  packages/components/src/XLoader/XLoader.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/XLoader.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/XLoader.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:docs, type:feature

#4326 fix(<Text>): prevent `elementType` prop from being passed down into the DOM
  .changeset/slow-turkeys-lay.md
  packages/components/src/Text/Text.tsx
Labels: type:feature

#4337 chore(deps): update dependency class-variance-authority to v0.7.1
  packages/system/package.json
  packages/system/src/utils.ts
  pnpm-lock.yaml
Labels: type:feature

#4333 docs([DST-622]): Revise `<Grid>` documentation page
  .changeset/wild-peaches-know.md
  docs/content/components/layout/grid/grid-holy-grail.demo.tsx
  docs/content/components/layout/grid/grid.mdx
  packages/components/src/Grid/Grid.stories.tsx
  packages/components/src/Grid/GridArea.tsx
Labels: type:docs, type:feature

#4336 bugfix([DST-627]): replace useState import from storybook
  .changeset/new-paws-carry.md
  packages/components/src/Calendar/Calendar.stories.tsx
  packages/components/src/DateField/DateField.stories.tsx
  packages/components/src/DatePicker/DatePicker.stories.tsx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/HelpText/HelpText.stories.tsx
  packages/components/src/SearchField/SearchField.stories.tsx
Labels: type:feature

#4338 docs([DST-624]): Revise `<Calendar>` page and change some properties
  .changeset/many-poets-pretend.md
  docs/content/components/form/calendar/basic-calendar.demo.tsx
  docs/content/components/form/calendar/calendar-appearance.demo.tsx
  docs/content/components/form/calendar/calendar.mdx
  docs/content/components/form/calendar/disabled-calendar.demo.tsx
  docs/public/calendar/calendar-anatomy.jpg
  packages/components/src/Calendar/Calendar.tsx
  themes/theme-b2b/src/components/Calendar.styles.ts
  themes/theme-core/src/components/Calendar.styles.ts
Labels: type:docs, type:feature

#4348 bugfix([DST-631]): fix faq redirect
  docs/content/getting-started/overview.mdx
Labels: type:docs

#4340 docs([DST-628]): Revise `<SearchField>` page
  .changeset/short-adults-drum.md
  docs/content/components/form/search-field/search-field-disabled.demo.tsx
  docs/content/components/form/search-field/search-field-error.demo.tsx
  docs/content/components/form/search-field/search-field-readoOnly.demo.tsx
  docs/content/components/form/search-field/search-field.mdx
  docs/content/components/form/search-field/searchfield-appearance.demo.tsx
  docs/content/foundations/form-fields/form-fields.mdx
  docs/public/search-field/search-field-anatomy.jpg
  docs/public/search-field/search-field-do-label.jpg
  docs/public/search-field/search-field-do-placeholder.jpg
  docs/public/search-field/search-field-do-placement.jpg
  docs/public/search-field/search-field-dont-label.jpg
  docs/public/search-field/search-field-dont-placeholder.jpg
  docs/public/search-field/search-field-dont-placement.jpg
  packages/components/src/SearchField/SearchField.stories.tsx
  packages/components/src/SearchField/SearchField.tsx
Labels: type:docs, type:feature

#4331 feat([DSTSUP-98]): introduce controlled dismissable `<SectionMessage>`
  .changeset/gorgeous-books-warn.md
  docs/content/components/content/section-message/section-message.mdx
  packages/components/src/SectionMessage/SectionMessage.stories.tsx
  packages/components/src/SectionMessage/SectionMessage.test.tsx
  packages/components/src/SectionMessage/SectionMessage.tsx
Labels: type:docs, type:feature

#4349 hotfix([DST-632]): correct labels in menu stories
  packages/components/src/Menu/Menu.stories.tsx
Labels: type:feature

#4351 infra([DST-633]): setup dependency track
  .github/workflows/dependency-track.yml
Labels: type:infrastructure
