Repository marigold-ui/marigold, pull requests merged in 2024-01, with the labels that each got.

#3591 chore: update deprecated storybook dependencies
  config/storybook/.storybook/main.ts
  config/storybook/.storybook/preview.tsx
  config/storybook/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#3614 docs: remove confusing variant names from documentation
  docs/content/components/form/button/button.mdx
Labels: type:docs

#3517 chore[DST-220]: seperate data-theme attribute and classnames on provider
  .changeset/serious-walls-judge.md
  config/storybook/.storybook/preview-body.html
  config/storybook/.storybook/preview.tsx
  docs/app/_components/PortalContainer.tsx
  docs/app/layout.tsx
  docs/theme/preset.ts
  docs/ui/ComponentDemo.tsx
  docs/ui/Typography.tsx
  packages/components/package.json
  packages/components/src/Overlay/Modal.tsx
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Overlay/Underlay.tsx
  packages/components/src/Provider/MarigoldProvider.ssr.test.tsx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
  packages/components/src/Provider/OverlayContainerProvider.tsx
  packages/components/src/Provider/index.ts
  packages/system/src/hooks/useTheme.tsx
  packages/theme-preset/src/create-preset.test.tsx
  packages/theme-preset/src/create-preset.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/preset.ts
  themes/theme-b2b/tailwind.config.ts
  themes/theme-core/src/preset.ts
  themes/theme-core/tailwind.config.ts
Labels: type:docs, type:feature, type:infrastructure

#3618 docs: stop prettier mess with our example
  docs/content/introduction/getting-started.mdx
Labels: type:docs

#3619 docs: align navigations with content
  docs/app/_components/SiteNavigation.tsx
  docs/app/_components/ThemeMenu.tsx
  docs/theme/components/Button.styles.ts
Labels: type:docs

#3592 feat: Enable built-in browser validation
  .changeset/lemon-avocados-destroy.md
  packages/components/src/DateField/DateField.test.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/FieldBase/FieldBase.test.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/HelpText/HelpText.stories.tsx
  packages/components/src/HelpText/HelpText.test.tsx
  packages/components/src/HelpText/HelpText.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/Radio/RadioGroup.test.tsx
  packages/components/src/TextArea/TextArea.test.tsx
  packages/components/src/TextField/TextField.test.tsx
Labels: type:feature

#3620 docs: fix storybook preview that wraps shit...
  config/storybook/.storybook/preview-body.html
Labels: type:infrastructure

#3593 [DST-134]:feat: Sticky Header
  .changeset/warm-squids-buy.md
  docs/content/components/collection/table/table-fixed-header.demo.tsx
  docs/content/components/collection/table/table.mdx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableHeader.tsx
  themes/theme-b2b/src/components/Table.styles.ts
Labels: type:docs, type:feature

#3624 chore: remove this old color file
  themes/theme-core/src/colors.ts
Labels: type:feature

#3623 chore: [DSTSUP-13]: add disabled also on the `<ActionMenu>`
  .changeset/shiny-pants-refuse.md
  packages/components/src/Menu/ActionMenu.tsx
Labels: type:feature

#3622 chore: add surface-overlay also in core theme to popver styles
  .changeset/ninety-dogs-hope.md
  themes/theme-core/src/components/Badge.styles.ts
  themes/theme-core/src/components/Calendar.styles.ts
  themes/theme-core/src/components/Divider.styles.ts
  themes/theme-core/src/components/Popover.styles.ts
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3596 [DST-259]: Adding Helpers for percentage, date and currency
  .changeset/silly-hats-deny.md
  docs/content/components/content/formatters/currency-format.demo.tsx
  docs/content/components/content/formatters/formatters.mdx
  docs/content/components/content/formatters/long-date-format.demo.tsx
  docs/content/components/content/formatters/numeric-format.demo.tsx
  docs/content/components/content/formatters/percent-format.demo.tsx
  docs/content/components/content/formatters/short-date-format.demo.tsx
  docs/package.json
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableCell.tsx
  packages/components/src/Table/TableCheckboxCell.tsx
  packages/components/src/Table/TableColumnHeader.tsx
  packages/system/package.json
  packages/system/src/components/Formatters/DateFormat.test.tsx
  packages/system/src/components/Formatters/DateFormat.tsx
  packages/system/src/components/Formatters/NumericFormat.test.tsx
  packages/system/src/components/Formatters/NumericFormat.tsx
  packages/system/src/components/Formatters/index.ts
  packages/system/src/components/index.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Table.styles.ts
Labels: type:docs, type:feature

#3600 docs: Documentation for using the built-in validation
  docs/app/_components/ThemeMenu.tsx
  docs/content/components/form/fieldgroup/field-group.mdx
  docs/content/concepts/building-forms.mdx
  docs/content/concepts/icons.mdx
  docs/content/concepts/layouts.mdx
  docs/content/concepts/style-props.mdx
  docs/content/concepts/validation-base.demo.tsx
  docs/content/concepts/validation-custom-message.demo.tsx
  docs/content/concepts/validation-custom-validation.demo.tsx
  docs/content/concepts/validation-realtime.demo.tsx
  docs/content/concepts/validation-submit.demo.tsx
  docs/content/concepts/validation.mdx
  docs/public/field.png
Labels: type:docs, type:feature

#3642 [DSTSUP-14]: add example on how to use `onSelectionChange` within `<ComboBox>`
  docs/content/components/form/combobox/combobox.mdx
  packages/components/src/ComboBox/ComboBox.stories.tsx
Labels: type:docs, type:feature

#3646 feat: add new bluer blue color palette to core theme
  .changeset/fresh-donuts-love.md
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3644 feat: `getColor` utils and `color` support for `SVG`
  .changeset/rotten-beers-hunt.md
  packages/components/src/Headline/Headline.tsx
  packages/components/src/Text/Text.tsx
  packages/system/src/components/SVG/SVG.stories.tsx
  packages/system/src/components/SVG/SVG.test.tsx
  packages/system/src/components/SVG/SVG.tsx
  packages/system/src/utils.test.ts
  packages/system/src/utils.ts
Labels: type:feature

#3648 [DSTSUP-20]: fix border token for input styles in core theme
  .changeset/odd-spoons-know.md
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/ListBox.styles.ts
Labels: type:feature

#3621 [DST-266]:feat: use new b2b tokens in code
  .changeset/tiny-actors-applaud.md
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/ListBox/ListBox.stories.tsx
  packages/theme-preset/src/index.ts
  themes/theme-b2b/src/_tokens.ts
  themes/theme-b2b/src/components/Badge.styles.ts
  themes/theme-b2b/src/components/Button.styles.ts
  themes/theme-b2b/src/components/Calendar.styles.ts
  themes/theme-b2b/src/components/Card.styles.ts
  themes/theme-b2b/src/components/Checkbox.styles.ts
  themes/theme-b2b/src/components/DateField.styles.ts
  themes/theme-b2b/src/components/DatePicker.styles.ts
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-b2b/src/components/Divider.styles.ts
  themes/theme-b2b/src/components/Input.styles.ts
  themes/theme-b2b/src/components/Label.styles.ts
  themes/theme-b2b/src/components/Link.styles.ts
  themes/theme-b2b/src/components/ListBox.styles.ts
  themes/theme-b2b/src/components/Menu.styles.ts
  themes/theme-b2b/src/components/NumberField.styles.ts
  themes/theme-b2b/src/components/Popover.styles.ts
  themes/theme-b2b/src/components/Radio.styles.ts
  themes/theme-b2b/src/components/Select.styles.ts
  themes/theme-b2b/src/components/Slider.styles.ts
  themes/theme-b2b/src/components/Switch.styles.ts
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-b2b/src/components/Tabs.styles.ts
  themes/theme-b2b/src/components/Tag.styles.ts
  themes/theme-b2b/src/components/TextArea.styles.ts
  themes/theme-b2b/src/components/Tooltip.styles.ts
  themes/theme-b2b/src/components/Underlay.styles.ts
  themes/theme-b2b/src/preset.ts
  themes/theme-b2b/src/root.ts
  themes/theme-b2b/src/theme.ts
  themes/theme-b2b/src/tokens.ts
  themes/theme-core/src/preset.ts
  themes/theme-core/src/theme.ts
Labels: type:feature

#3643 docs: add `onChange` documentation in dev guidelines
  docs/content/develop/component-guidelines.mdx
Labels: type:docs

#3650 fix: fix table color tokens core theme
  themes/theme-core/src/components/Table.styles.ts
Labels: type:feature

#3653 fix([DSTSUP-23]): Correctly prefix days/months with zeroes
  .changeset/green-plants-whisper.md
  packages/components/src/DateField/DateField.stories.tsx
  packages/components/src/DateField/DateSegment.tsx
Labels: type:feature

#3651 feat: Expose `I18nProvider`
  .changeset/seven-baboons-count.md
  packages/components/src/Provider/index.ts
Labels: type:feature

#3652 chore: enabl `swc` in storybook for some 🏎️💨
  config/storybook/.storybook/main.ts
Labels: type:infrastructure

#3654 fix([DSTSUP-19]): Allow Popovers to outgrow their trigger element
  .changeset/odd-teachers-prove.md
  packages/components/src/Overlay/Popover.tsx
Labels: type:feature

#3655 fix: sb preview body ... again
  config/storybook/.storybook/preview-body.html
Labels: type:infrastructure

#3649 feat([DSTSUP-22]): Disable `cmd+a` (open all items) in `<Accordion>`
  .changeset/tough-taxis-rescue.md
  packages/components/src/Accordion/Accordion.tsx
Labels: type:feature

#3656 feat[DSTSUP-17]: add placeholder text styles for b2b theme
  .changeset/tiny-plums-prove.md
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/TextField/TextField.stories.tsx
  themes/theme-b2b/src/components/DateField.styles.ts
  themes/theme-b2b/src/components/Input.styles.ts
  themes/theme-b2b/src/components/Select.styles.ts
Labels: type:feature

#3657 fix: table grid variant b2b theme
  .changeset/mean-dolphins-promise.md
  themes/theme-b2b/src/components/Table.styles.ts
Labels: type:feature

#3659 fix: fixed font styles for listbox
  .changeset/afraid-starfishes-sleep.md
  themes/theme-b2b/src/components/ListBox.styles.ts
  themes/theme-core/src/components/ListBox.styles.ts
Labels: type:feature

#3658 docs: Move recipes behind components and hooks
  docs/lib/config.ts
Labels: type:docs

#3667 [DSTSUP-29]: Fixing sticky header border while scrolling & move `stickyHeader` to props table of `Table` instead of `Table.Column`
  .changeset/calm-keys-occur.md
  docs/content/components/collection/table/table.mdx
  themes/theme-b2b/src/components/Table.styles.ts
Labels: type:docs, type:feature

#3664 [DSTSUP-28]:fix all the placeholders in both themes
  .changeset/olive-buckets-accept.md
  themes/theme-b2b/src/components/DateField.styles.ts
  themes/theme-b2b/src/components/Input.styles.ts
  themes/theme-b2b/src/components/Select.styles.ts
  themes/theme-core/src/components/DateField.styles.ts
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/Select.styles.ts
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3668 [DSTSUP-30]: Fix-select-width
  .changeset/tall-ligers-beam.md
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
Labels: type:feature

#3669 docs: fix demos in select docs page
  .changeset/seven-rules-yell.md
  docs/content/components/form/select/select-default-selected.demo.tsx
  docs/content/components/form/select/select-disabled-keys.demo.tsx
  docs/content/components/overlay/menu/menu-section.demo.tsx
Labels: type:docs

#3672 [DSTSUP-32]feat: add new icons to marigold
  .changeset/honest-goats-tickle.md
  docs/content/concepts/icons.mdx
  packages/icons/src/action/ExportFile.tsx
  packages/icons/src/action/index.ts
  packages/icons/src/ticketing/Stadium.tsx
  packages/icons/src/ticketing/index.ts
Labels: type:docs, type:feature

#3675 docs: document color prop on SVG component
  docs/content/components/content/svg/svg-color.demo.tsx
  docs/content/components/content/svg/svg.mdx
  docs/content/components/overlay/tooltip/tooltip-basic.demo.tsx
Labels: type:docs

#3676 feat: use `size-` util (also fixes linting)
  .changeset/tough-clouds-fly.md
  docs/app/_components/MobileNavigation.tsx
  docs/app/_components/SiteFooter.tsx
  docs/app/_components/SiteNavigation.tsx
  docs/app/_components/ThemeMenu.tsx
  docs/theme/components/Dialog.styles.ts
  docs/theme/components/Message.styles.ts
  docs/ui/ComponentDemo.tsx
  docs/ui/CopyButton.tsx
  docs/ui/Token.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Center/Center.stories.tsx
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/ComboBox/ComboBox.tsx
  packages/components/src/HelpText/HelpText.test.tsx
  packages/components/src/Input/Input.test.tsx
  packages/components/src/Select/Select.tsx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/TextField/TextField.test.tsx
  packages/system/src/hooks/useClassNames.test.tsx
  themes/theme-b2b/src/components/Message.styles.ts
  themes/theme-b2b/src/components/Slider.styles.ts
  themes/theme-b2b/src/components/Switch.styles.ts
  themes/theme-b2b/src/components/Tag.styles.ts
  themes/theme-core/src/components/DatePicker.styles.ts
  themes/theme-core/src/components/Dialog.styles.ts
  themes/theme-core/src/components/HelpText.styles.ts
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/Slider.styles.ts
  themes/theme-core/src/components/Switch.styles.ts
  themes/theme-core/src/components/Tag.styles.ts
Labels: type:docs, type:feature

#3671 [DSTSUP-33]fix: improve demo from accordion
  docs/content/components/collection/accordion/multi-select-accordion.demo.tsx
  packages/components/src/Accordion/Accordion.stories.tsx
Labels: type:docs, type:feature

#3660 fix: fix `Switch` positioning in themes
  .changeset/five-boxes-obey.md
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
  themes/theme-b2b/src/components/Switch.styles.ts
  themes/theme-core/src/components/Switch.styles.ts
Labels: type:feature

#3670 [DST-297]docs: fix ThemeSwitcher in docs
  .changeset/green-birds-mix.md
  config/storybook/.storybook/preview.tsx
  docs/app/_components/PortalContainer.tsx
  docs/app/_components/ThemeMenu.tsx
  docs/app/layout.tsx
  docs/ui/ComponentDemo.tsx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
  packages/components/src/Provider/OverlayContainerProvider.test.tsx
Labels: type:docs, type:feature, type:infrastructure

#3684 fix: fix tooltip core theme color
  themes/theme-core/src/components/Tooltip.styles.ts
Labels: type:feature

#3673 docs: wrap core demos with a default fieldgroup
  docs/ui/ComponentDemo.tsx
Labels: type:docs
