Repository marigold-ui/marigold, pull requests merged in 2024-05, with the labels that each got.

#3893 feat: add className to MarigoldProvider
  .changeset/strong-kiwis-check.md
  config/storybook/.storybook/preview.tsx
  docs/content/components/application/provider/provider.mdx
  docs/ui/ComponentDemo.tsx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/MarigoldProvider.tsx
Labels: type:docs, type:feature, type:infrastructure

#3898 feat[DSTSUP-72]: Ensure datepicker shows only date by default
  .changeset/sweet-rice-relax.md
  docs/content/components/form/datepicker/date-picker-basic.demo.tsx
  docs/content/components/form/datepicker/date-picker-controlled.demo.tsx
  docs/content/components/form/datepicker/date-picker-with-date.demo.tsx
  docs/content/components/form/datepicker/datepicker.mdx
  packages/components/src/DatePicker/DatePicker.tsx
Labels: type:docs, type:feature

#3897 docs: improve visibility of `<code>` on non white backgrounds (e.g. a message)
  docs/ui/mdx.tsx
Labels: type:docs

#3902 chore(deps): update react-aria + type fixes
  docs/package.json
  packages/components/package.json
  packages/components/src/ComboBox/ComboBox.stories.tsx
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Menu/MenuItem.tsx
  packages/components/src/Select/Select.test.tsx
  packages/system/package.json
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3907 refa: remove css scoping
  .changeset/empty-tips-perform.md
  pnpm-lock.yaml
  themes/theme-core/package.json
  themes/theme-core/tailwind.config.ts
Labels: type:feature

#3909 chore: add automerge config
  .github/renovate.json
Labels: type:docs, type:feature, type:infrastructure

#3908 [DSTSUP-75]: Fixing icons in our docs to be copied correctly
  .changeset/hip-coats-retire.md
  docs/ui/IconList.tsx
Labels: type:docs

#3865 [DST-379]: Docs: Persist Theme
  .changeset/small-pillows-exist.md
  docs/app/_components/NavLink.tsx
  docs/app/_components/ThemeMenu.tsx
  docs/app/layout.tsx
  docs/ui/ThemeSwitch.test.tsx
  docs/ui/ThemeSwitch.tsx
Labels: type:docs

#3889 refa[DSTSUP-73]: Improve elevation (more distinguisable)
  .changeset/swift-days-retire.md
  docs/content/concepts/elevation.mdx
  docs/public/Elevation_Mockup_B2B.png
  packages/components/src/Overlay/Overlay.stories.tsx
  themes/theme-b2b/src/components/Card.styles.ts
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-b2b/src/components/Popover.styles.ts
  themes/theme-b2b/src/mixins.ts
  themes/theme-b2b/src/tokens.ts
Labels: type:docs, type:feature

#3904 fix(core-theme): adjust disabled color for `input`
  .changeset/brave-maps-itch.md
  themes/theme-core/src/tokens.ts
Labels: type:feature

#3910 docs: make contact page more concise
  docs/content/introduction/contact-us.mdx
  docs/content/introduction/get-in-touch.mdx
Labels: type:docs

#3917 docs: improve message text on get in touch page
  docs/content/introduction/get-in-touch.mdx
Labels: type:docs

#3913 feat(DST-404): Introduce `Grid` component
  .changeset/little-insects-pull.md
  docs/content/components/layout/grid/grid-bento.demo.tsx
  docs/content/components/layout/grid/grid-holy-grail.demo.tsx
  docs/content/components/layout/grid/grid.mdx
  packages/components/src/Grid/Grid.stories.tsx
  packages/components/src/Grid/Grid.test.tsx
  packages/components/src/Grid/Grid.tsx
  packages/components/src/Grid/GridArea.tsx
  packages/components/src/Grid/index.ts
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/index.ts
  packages/system/src/style-props.tsx
Labels: type:docs, type:feature

#3921 docs([DSTSUP-77]): make sure we only have on portal container for the demos
  docs/app/_components/PortalContainer.tsx
  docs/app/layout.tsx
  docs/ui/ComponentDemo.tsx
Labels: type:docs

#3922 chore([DSTSUP-77]): update react aria
  config/jest/package.json
  config/storybook/package.json
  docs/package.json
  package.json
  packages/components/package.json
  packages/components/src/Calendar/Calendar.stories.tsx
  packages/system/package.json
  packages/types/package.json
  pnpm-lock.yaml
Labels: type:docs, type:feature, type:infrastructure

#3926 docs: images with captions
  docs/ui/Image.tsx
  docs/ui/mdx.tsx
Labels: type:docs

#3918 docs: update to `contenlayer2` + `rehype-pretty-code` galore
  docs/app/globals.css
  docs/content/components/collection/accordion/accordion.mdx
  docs/content/components/content/body/body.mdx
  docs/content/components/content/svg/svg.mdx
  docs/content/components/content/xloader/xloader.mdx
  docs/content/components/form/calendar/calendar.mdx
  docs/content/components/form/checkbox/checkbox.mdx
  docs/content/components/form/fieldgroup/field-group.mdx
  docs/content/components/form/radio/radio.mdx
  docs/content/components/form/search-field/search-field.mdx
  docs/contentlayer.config.ts
  docs/lib/mdx/rehype-component-demo.tsx
  docs/next.config.js
  docs/package.json
  docs/theme/components/Button.styles.ts
  docs/theme/components/Dialog.styles.ts
  docs/theme/tokens.ts
  docs/ui/ComponentDemo.tsx
  docs/ui/CopyButton.tsx
  docs/ui/FullsizeViewDemo.tsx
  docs/ui/mdx.tsx
  packages/components/src/Overlay/Modal.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature

#3928 docs: add caption to metadata
  docs/app/[...slug]/page.tsx
Labels: type:docs
