Repository marigold-ui/marigold, pull requests merged in 2024-04, with the labels that each got.

#3848 [DSTSUP-68] Change color token of the divider in b2b theme
  .changeset/tricky-impalas-train.md
  themes/theme-b2b/src/components/Divider.styles.ts
Labels: type:feature

#3864 [DST-365]feat: remove the margins from headline in b2b theme
  .changeset/mighty-singers-whisper.md
  themes/theme-b2b/src/components/Headline.styles.ts
Labels: type:feature

#3708 [DST-367]: rac `SelectList` component
  .changeset/thirty-yaks-build.md
  docs/content/components/collection/gridlist/selectlist-basic.demo.tsx
  docs/content/components/collection/gridlist/selectlist-multiple-selection.demo.tsx
  docs/content/components/collection/gridlist/selectlist-single-selection.demo.tsx
  docs/content/components/collection/gridlist/selectlist.mdx
  packages/components/src/SelectList/Context.ts
  packages/components/src/SelectList/SelectList.stories.tsx
  packages/components/src/SelectList/SelectList.test.tsx
  packages/components/src/SelectList/SelectList.tsx
  packages/components/src/SelectList/SelectListItem.tsx
  packages/components/src/SelectList/index.ts
  packages/components/src/index.ts
Labels: type:docs, type:feature

#3869 docs: add selectlist in guidelines
  .changeset/odd-seas-mix.md
  docs/content/concepts/multiple-selection-selectlist.demo.tsx
  docs/content/concepts/multiple-selection.mdx
Labels: type:docs

#3866 [DST-380]feat(docs): add fullscreen view for code demos
  .changeset/wicked-hats-grin.md
  docs/ui/CopyButton.tsx
  docs/ui/FullsizeViewDemo.tsx
  docs/ui/mdx.tsx
Labels: type:docs

#3870 DST-425: add missing styles to the Menu
  .changeset/pink-kangaroos-explain.md
  themes/theme-core/src/components/Menu.styles.ts
Labels: type:feature

#3867 [DST-384]chore(docs): replace color orange with slate in demos
  docs/content/components/hooks-and-utils/extendTheme/button-variant.demo.tsx
  docs/content/components/hooks-and-utils/extendTheme/card-bg.demo.tsx
  docs/content/components/hooks-and-utils/extendTheme/extendTheme.mdx
  docs/content/components/hooks-and-utils/extendTheme/tabs-slots.demo.tsx
Labels: type:docs

#3872 docs: update fullscreen demos
  docs/theme/components/Button.styles.ts
  docs/ui/FullsizeViewDemo.tsx
Labels: type:docs

#3868 [DST-235]docs: add contact us page in docs
  .changeset/light-zebras-develop.md
  docs/content/introduction/contact-us.mdx
  docs/content/introduction/faq.mdx
Labels: type:docs

#3876 docs: Show fullscreen view button only on larger examples
  docs/ui/mdx.tsx
Labels: type:docs

#3875 fix(DST-426, DST-426): remove dublicate dialog
  docs/app/_components/MobileNavigation.tsx
  docs/app/_components/SiteHeader.tsx
  docs/app/_components/SiteLogo.tsx
  docs/app/_components/SiteMenu.tsx
  docs/app/_components/SiteNavigation.tsx
  docs/app/_components/ThemeMenu.tsx
  docs/theme/components/Button.styles.ts
  docs/ui/FullsizeViewDemo.tsx
  docs/ui/icons/Theme.tsx
Labels: type:docs

#3874 docs(DST-420): add pattern section
  docs/content/patterns/building-forms/building-forms-hook-form.demo.tsx
  docs/content/patterns/building-forms/building-forms-submit.demo.tsx
  docs/content/patterns/building-forms/building-forms.mdx
  docs/content/patterns/building-forms/error-handling.demo.tsx
  docs/content/patterns/building-forms/layout-forms.demo.tsx
  docs/content/patterns/building-forms/logical-interaction.demo.tsx
  docs/content/patterns/multiple-selection/multiple-selection-selectlist.demo.tsx
  docs/content/patterns/multiple-selection/multiple-selection.mdx
  docs/content/patterns/multiple-selection/multiselect-checkbox-group.demo.tsx
  docs/content/patterns/multiple-selection/tag-group-multiselect.demo.tsx
  docs/content/patterns/overview.mdx
  docs/lib/config.ts
  docs/theme/components/Card.styles.ts
  docs/ui/TeaserCard.tsx
  docs/ui/mdx.tsx
Labels: type:docs

#3871 [DST-381]:docs: Reintroduce Table of Contents to docs
  .changeset/late-items-pretend.md
  docs/app/[...slug]/page.tsx
  docs/contentlayer.config.ts
  docs/lib/mdx/rehype-toc.tsx
  docs/package.json
  docs/theme/components/Link.styles.ts
  docs/theme/components/List.styles.ts
  docs/theme/components/index.ts
  docs/ui/Toc.tsx
  docs/ui/mdx.tsx
  pnpm-lock.yaml
Labels: type:docs

#3880 chore: cleanup peerdeeps
  .changeset/small-ducks-grin.md
  config/eslint/package.json
  config/jest/package.json
  config/storybook/package.json
  packages/components/package.json
  packages/icons/package.json
  packages/system/package.json
  packages/theme-preset/package.json
  pnpm-lock.yaml
Labels: type:feature, type:infrastructure

#3883 docs: update badges
  docs/content/components/collection/table/table.mdx
  docs/content/components/form/form/form.mdx
  docs/content/components/formatters/dateformat/dateFormat.mdx
  docs/content/components/formatters/numericformat/numericFormat.mdx
  docs/content/components/hooks-and-utils/extendTheme/extendTheme.mdx
  docs/content/components/layout/columns/columns.mdx
  docs/content/concepts/elevation.mdx
  docs/content/patterns/overview.mdx
  docs/content/recipes/multiselect-recipe.mdx
Labels: type:docs

#3882 [DSTSUP-63]: Input fields support red borders
  .changeset/pretty-zoos-move.md
  themes/theme-core/src/components/Input.styles.ts
  themes/theme-core/src/components/TextArea.styles.ts
Labels: type:feature

#3886 docs: adjust header hierachie on "multiple selection" page
  docs/content/patterns/multiple-selection/multiple-selection.mdx
Labels: type:docs

#3885 fix: `getColor` correctly works with deeply nested values
  .changeset/lazy-carrots-argue.md
  packages/system/src/hooks/extendTheme.test.tsx
  packages/system/src/utils.test.ts
  packages/system/src/utils.ts
Labels: type:feature

#3884 docs: improve page layout
  docs/app/[...slug]/page.tsx
  docs/app/_components/NavLink.tsx
  docs/app/_components/Navigation.tsx
  docs/app/_components/SectionNavigation.tsx
  docs/app/_components/SiteFooter.tsx
  docs/app/_components/SiteHeader.tsx
  docs/app/_components/SiteLogo.tsx
  docs/app/globals.css
  docs/app/layout.tsx
  docs/theme/components/Headline.styles.ts
  docs/theme/components/Link.styles.ts
  docs/theme/components/List.styles.ts
  docs/ui/Toc.tsx
  docs/ui/mdx.tsx
Labels: type:docs, type:feature

#3887 docs: remove clutter from search / site menu button
  docs/app/_components/SiteMenu.tsx
  docs/theme/components/Button.styles.ts
Labels: type:docs

#3881 [DST-405]:chore: adjust Command styles and menu
  .changeset/small-brooms-suffer.md
  docs/app/_components/SiteMenu.tsx
  docs/theme/components/Menu.styles.ts
Labels: type:docs

#3879 [DSTSUP-64]: add mastermark/adminmark as token in our system
  .changeset/shy-clouds-joke.md
  docs/content/introduction/design-token-guidelines.mdx
  docs/content/introduction/design-tokens.mdx
  themes/theme-b2b/src/tokens.ts
  themes/theme-core/src/tokens.ts
Labels: type:docs, type:feature

#3891 docs: make `core` the default theme
  .changeset/blue-kids-prove.md
  docs/app/layout.tsx
  docs/lib/config.ts
Labels: type:docs
