Repository marigold-ui/marigold, pull requests merged in 2024-11, with the labels that each got.

#4289 docs: Adjust the storybook hin to look like the props table
  themes/theme-docs/src/components/Card.styles.ts
Labels: type:feature

#4290 fix: Remove `isOpen` from `<Select>`
  .changeset/blue-scissors-admire.md
  packages/components/src/Select/Select.tsx
Labels: type:feature

#4288 docs: use correct screen sizes in theme
  themes/theme-docs/src/index.ts
  themes/theme-docs/src/preset.ts
  themes/theme-docs/src/screens.ts
Labels: type:feature

#4286 refa[DST-598]: improve range slider
  .changeset/strange-socks-battle.md
  docs/content/components/form/slider/slider-appearance.demo.tsx
  docs/content/components/form/slider/slider-controlled.demo.tsx
  docs/content/components/form/slider/slider-custom-value-scale.demo.tsx
  docs/content/components/form/slider/slider-disabled.demo.tsx
  docs/content/components/form/slider/slider-do-description.demo.tsx
  docs/content/components/form/slider/slider-do-label.demo.tsx
  docs/content/components/form/slider/slider-dont-small-steps.demo.tsx
  docs/content/components/form/slider/slider-form.demo.tsx
  docs/content/components/form/slider/slider-format.demo.tsx
  docs/content/components/form/slider/slider-max.demo.tsx
  docs/content/components/form/slider/slider-range.demo.tsx
  docs/content/components/form/slider/slider-steps.demo.tsx
  docs/content/components/form/slider/slider-uncontrolled.demo.tsx
  docs/content/components/form/slider/slider.mdx
  docs/public/slider/slider-anatomy.jpg
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Slider/Slider.stories.tsx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Slider.styles.ts
  themes/theme-core/src/components/Slider.styles.ts
Labels: type:docs, type:feature

#4271 docs([DST-587]): revise the `<DatePicker>` page
  .changeset/wicked-worms-carry.md
  docs/content/components/form/datepicker/date-picker-controlled.demo.tsx
  docs/content/components/form/datepicker/date-picker-disabled.demo.tsx
  docs/content/components/form/datepicker/date-picker-error.demo.tsx
  docs/content/components/form/datepicker/date-picker-min-max.demo.tsx
  docs/content/components/form/datepicker/date-picker-required.demo.tsx
  docs/content/components/form/datepicker/datepicker-appearance.demo.tsx
  docs/content/components/form/datepicker/datepicker.mdx
  docs/public/datepicker/datepicker-anatomy.jpg
  packages/components/src/DatePicker/DatePicker.stories.tsx
Labels: type:docs, type:feature

#4299 refa[DST-610]: revise `<Card>` page
  .changeset/honest-lobsters-taste.md
  docs/content/components/content/card/card-appearance.demo.tsx
  docs/content/components/content/card/card-elevation.demo.tsx
  docs/content/components/content/card/card-form.demo.tsx
  docs/content/components/content/card/card-infos.demo.tsx
  docs/content/components/content/card/card.mdx
  docs/public/card/card-anatomy.jpg
  docs/public/card/card-do-elevation.jpg
  docs/public/card/card-dont-elevation.jpg
  packages/components/src/Card/Card.stories.tsx
Labels: type:docs, type:feature

#4291 refa[DST-607]: revise `<Badge>` page
  .changeset/great-plums-fail.md
  docs/content/components/content/badge/badge-appearance.demo.tsx
  docs/content/components/content/badge/badge-dark.demo.tsx
  docs/content/components/content/badge/badge.mdx
  docs/content/components/content/badge/basic-badge.demo.tsx
  docs/content/components/content/badge/icon-badge.demo.tsx
  docs/public/badge/badge-anatomy.jpg
  docs/public/badge/badge-do-color.jpg
  docs/public/badge/badge-do-label-length.jpg
  docs/public/badge/badge-dont-color.jpg
  docs/public/badge/badge-dont-label-length.jpg
  packages/components/src/Badge/Badge.stories.tsx
  packages/components/src/icons/Accessible.tsx
  packages/components/src/icons/index.ts
  themes/theme-b2b/src/components/Badge.styles.ts
  themes/theme-core/src/components/Badge.styles.ts
Labels: type:docs, type:feature

#4300 docs([DST-609]): Revise `<Columns>` documentation page
  .changeset/yellow-hotels-watch.md
  docs/content/components/layout/columns/collapse-columns.demo.tsx
  docs/content/components/layout/columns/columns.mdx
  docs/content/components/layout/columns/fit-width-columns.demo.tsx
  docs/content/components/layout/columns/layout-columns.demo.tsx
  docs/content/components/layout/columns/space-columns.demo.tsx
  docs/content/components/layout/columns/stretch-columns-switch.demo.tsx
  docs/content/components/layout/columns/stretch-columns.demo.tsx
  docs/content/components/layout/columns/table-layout-columns.demo.tsx
  packages/components/src/Columns/Columns.stories.tsx
Labels: type:docs, type:feature

#4304 docs: improve displaying the variant/size in the appearance demo
  docs/ui/AppearanceDemo.tsx
  themes/theme-b2b/src/components/Button.styles.ts
  themes/theme-core/src/components/Button.styles.ts
Labels: type:docs, type:feature

#4268 feat(dialog): Introduce a dedicated button to cancel a dialog
  .changeset/few-points-vanish.md
  docs/content/components/overlay/dialog/dialog-appearance.demo.tsx
  docs/content/components/overlay/dialog/dialog-content.demo.tsx
  docs/content/components/overlay/dialog/dialog-dismiss.demo.tsx
  docs/content/components/overlay/dialog/dialog-from-menu.demo.tsx
  docs/content/components/overlay/dialog/dialog-title-only.demo.tsx
  docs/content/components/overlay/dialog/dialog.mdx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/DialogActions.tsx
  packages/components/src/Select/intl.ts
Labels: type:docs, type:feature

#4311 docs: improve code of form recipes examples a little bit
  docs/content/recipes/form-recipes/bookings-form.demo.tsx
  docs/content/recipes/form-recipes/organization-search.demo.tsx
Labels: type:docs

#4305 docs: move resources pages to introduction (and hide develoepr guidelines)
  .changeset/mighty-gorillas-smell.md
  docs/content/__internal__/component-guidelines.mdx
  docs/content/getting-started/design-principles.mdx
  docs/content/getting-started/design-token-guidelines.mdx
  docs/content/getting-started/faq.mdx
  docs/content/getting-started/get-in-touch.mdx
  docs/content/getting-started/governance-principles.mdx
  docs/content/getting-started/governance-process.mdx
  docs/content/getting-started/overview.mdx
  docs/content/resources/overview.mdx
  docs/lib/config.ts
Labels: type:docs

#4314 refa[DST-617] replace implementaion of close button
  packages/components/src/Dialog/DialogActions.tsx
Labels: type:feature

#4301 DST-611: revise `<Scrollable>` component
  .changeset/eight-sheep-invite.md
  docs/content/components/layout/scrollable/scroll-card.demo.tsx
  docs/content/components/layout/scrollable/scroll-horizontal.demo.tsx
  docs/content/components/layout/scrollable/scroll-table.demo.tsx
  docs/content/components/layout/scrollable/scroll-vertical.demo.tsx
  docs/content/components/layout/scrollable/scrollable.mdx
  packages/components/src/Scrollable/Scrollable.stories.tsx
Labels: type:docs, type:feature

#4310 docs([DST-614]): Revise `<Aside>` documentation
  .changeset/spotty-mails-accept.md
  docs/content/components/layout/aside/aside.demo.tsx
  docs/content/components/layout/aside/aside.mdx
  docs/content/components/layout/aside/rightside.demo.tsx
  docs/content/components/layout/aside/space.demo.tsx
  packages/components/src/Aside/Aside.stories.tsx
  packages/components/src/Aside/Aside.tsx
Labels: type:docs, type:feature

#4317 docs: adjust alignment of lists in props table
  docs/ui/PropsTable.tsx
Labels: type:docs

#4302 feat(DST-596): add pending indicator in `<Button>` component
  .changeset/wise-spoons-bow.md
  docs/content/components/form/button/button-loading.demo.tsx
  docs/content/components/form/button/button.mdx
  docs/content/patterns/loading-states/inline-indicator.demo.tsx
  docs/content/patterns/loading-states/loading-states.mdx
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/ProgressCycle/ProgressCycle.stories.tsx
  packages/components/src/ProgressCycle/ProgressCycle.test.tsx
  packages/components/src/ProgressCycle/ProgressCycle.tsx
  packages/components/src/ProgressCycle/index.ts
  themes/theme-b2b/src/components/Button.styles.ts
  themes/theme-b2b/src/preset.ts
  themes/theme-core/src/components/Button.styles.ts
  themes/theme-core/src/preset.ts
Labels: type:docs, type:feature

#4319 docs: remove old badges
  docs/content/components/content/section-message/section-message.mdx
  docs/content/components/form/autocomplete/autocomplete.mdx
  docs/content/components/form/checkbox/checkbox.mdx
  docs/content/components/form/combobox/combobox.mdx
  docs/content/components/form/select/select.mdx
  docs/content/components/navigation/tabs/tabs.mdx
  docs/content/foundations/accessibility/accessibility.mdx
  docs/content/foundations/form-fields/form-fields.mdx
  docs/content/releases/blog-overview.mdx
Labels: type:docs

#4303 docs[DST-613]: create release blog post 10.1.0
  docs/content/releases/blog/release-2024-11-27.mdx
Labels: type:docs

#4321 docs: adjust font size of "defaults to" to description in `<PropsTable>`
  docs/ui/PropsTable.tsx
Labels: type:docs
