Repository marigold-ui/marigold, pull requests merged in 2024-10, with the labels that each got.

#4185 style(docs): Improve whitespace of `p`
  .changeset/bright-sloths-jog.md
  themes/theme-docs/src/components/Text.styles.ts
Labels: type:feature

#4160 [DST-573]: Dialog Sizes
  .changeset/wicked-brooms-talk.md
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Overlay/Modal.tsx
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-core/src/components/Dialog.styles.ts
Labels: type:feature

#4188 feat: `CheckboxGroup` can now be used as a compound component
  .changeset/thick-masks-compete.md
  docs/content/components/form/checkbox/checkbox-appearance.demo.tsx
  docs/content/components/form/checkbox/checkbox-group.demo.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
Labels: type:docs, type:feature

#4180 docs: Update the `MarigoldProvider` page
  .changeset/tidy-needles-sort.md
  docs/content/components/application/provider/provider-root-styles.demo.tsx
  docs/content/components/application/provider/provider.mdx
Labels: type:docs

#4176 docs([DST-576]): landing page
  .changeset/serious-tables-prove.md
  docs/app/[...slug]/_components/Footer.tsx
  docs/app/[...slug]/_components/SectionNavigation.tsx
  docs/app/[...slug]/layout.tsx
  docs/app/_components/MobileNavigation.tsx
  docs/app/_components/SiteNavigation.tsx
  docs/app/_components/landingpage/AccessibiltySection.tsx
  docs/app/_components/landingpage/CollaborationSection.tsx
  docs/app/_components/landingpage/LayoutSection.tsx
  docs/app/_components/landingpage/StatusSelect.tsx
  docs/app/_components/landingpage/SupportGrid.tsx
  docs/app/_components/landingpage/SystemSection.tsx
  docs/app/layout.tsx
  docs/app/page.tsx
  docs/content/resources/overview.mdx
  docs/next.config.js
  docs/package.json
  docs/public/figma.svg
  docs/public/github.svg
  docs/public/reservix.svg
  docs/public/stackblitz.svg
  docs/public/storybook-black.svg
  docs/public/storybook-sidebar.png
  docs/public/ui-kit.jpg
  docs/public/us.jpg
  docs/ui/BlurFade.tsx
  docs/ui/Rectangle.tsx
  docs/ui/navigation/NavLink.tsx
  docs/ui/navigation/Navigation.tsx
  pnpm-lock.yaml
  themes/theme-docs/src/components/Badge.styles.ts
  themes/theme-docs/src/components/Card.styles.ts
  themes/theme-docs/src/components/Link.styles.ts
  themes/theme-docs/src/tokens.ts
Labels: type:docs, type:feature

#4194 feat(components): Make `<Text>` and `<Headline>` accessible by allowing ARIA labelling props
  .changeset/wet-parents-burn.md
  packages/components/src/Headline/Headline.tsx
  packages/components/src/Text/Text.tsx
  packages/types/src/html.ts
  packages/types/src/index.ts
Labels: type:feature

#4195 feat(components): Expose `Selection` type for easy usage with `Table` and other components
  .changeset/polite-plants-deliver.md
  packages/components/src/index.ts
  packages/components/src/types.ts
Labels: type:feature

#4197 docs: Apply root styles to overlay portal so they are displayed correctly.
  .changeset/yellow-lies-bake.md
  docs/app/_components/PortalContainer.tsx
  docs/ui/ComponentDemo.tsx
Labels: type:docs

#4203 docs: fix the badge backgroundcolor
  themes/theme-docs/src/components/Badge.styles.ts
Labels: type:feature

#4152 [DST-494]: add loading states pattern
  .changeset/large-cows-explain.md
  docs/content/components/form/number-field/number-field.mdx
  docs/content/components/form/textfield/textfield.mdx
  docs/content/patterns/feedback-messages/feedback-messages.mdx
  docs/content/patterns/loading-states/full-section.demo.tsx
  docs/content/patterns/loading-states/inline-indicator.demo.tsx
  docs/content/patterns/loading-states/loading-states.mdx
  docs/content/patterns/overview.mdx
  packages/components/src/XLoader/XLoader.stories.tsx
  packages/components/src/XLoader/XLoader.tsx
Labels: type:docs, type:feature

#4191 chore(deps): update react-aria to 1.4
  .changeset/warm-ducks-battle.md
  docs/content/components/collection/selectlist/selectlist.mdx
  docs/package.json
  packages/components/package.json
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/Overlay/Overlay.stories.tsx
  packages/components/src/SelectList/SelectList.stories.tsx
  packages/components/src/SelectList/SelectListItem.tsx
  packages/system/package.json
  pnpm-lock.yaml
Labels: type:docs, type:feature

#4205 fix: normalize story names for `<Tooltip>` so the link from the docs works
  packages/components/src/Tooltip/Tooltip.stories.tsx
Labels: type:feature

#4196 fix(components): Display `<Checkbox>` focus ring and adjust focus ring of `<Table>`
  .changeset/lovely-rivers-kiss.md
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Table/TableRow.tsx
  themes/theme-core/src/components/Checkbox.styles.ts
  themes/theme-core/src/components/Table.styles.ts
Labels: type:feature

#4164 [DST-462]Refactor <Dialog> component use Grid Areas
  .changeset/early-sloths-work.md
  docs/content/components/overlay/dialog/dialog-dismiss.demo.tsx
  docs/content/components/overlay/dialog/dialog-form.demo.tsx
  docs/content/components/overlay/dialog/dialog.mdx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-core/src/components/Dialog.styles.ts
Labels: type:docs, type:feature, 🚨 Breacking Change

#4206 docs: allow to set a custom label width in demos
  docs/ui/ComponentDemo.tsx
Labels: type:docs

#4215 docs(Combobox): add info that section headers are not included wehen filtering
  .changeset/twelve-elephants-attack.md
  docs/content/components/form/combobox/combobox.mdx
Labels: type:docs

#4207 docs([DST-586]): remove examples from checkbox page and add guidline section
  .changeset/quiet-meals-shake.md
  docs/content/components/form/checkbox/checkbox-disabled.demo.tsx
  docs/content/components/form/checkbox/checkbox-group.demo.tsx
  docs/content/components/form/checkbox/checkbox-indeterminate.demo.tsx
  docs/content/components/form/checkbox/checkbox.mdx
  docs/public/checkbox/checkbox-anatomy.jpg
  docs/public/checkbox/checkbox-do-long-options.jpg
  docs/public/checkbox/checkbox-do-submit.jpg
  docs/public/checkbox/checkbox-dont-select.jpg
  docs/public/checkbox/checkbox-dont-submit.jpg
  docs/public/checkbox/checkbox-number-of-options.jpg
  docs/scripts/build-component-props.mjs
  docs/ui/DosAndDonts.tsx
Labels: type:docs

#4214 docs: delete example blog
  docs/content/releases/blog/release-2024-09-20.mdx
Labels: type:docs

#4198 feat(components): Mark layout coponents as regions for accessibility.
  .changeset/fuzzy-terms-relax.md
  packages/components/src/Aside/Aside.tsx
  packages/components/src/Aspect/Aspect.tsx
  packages/components/src/Breakout/Breakout.tsx
  packages/components/src/Center/Center.tsx
  packages/components/src/Columns/Columns.tsx
  packages/components/src/Container/Container.tsx
  packages/components/src/Grid/Grid.tsx
  packages/components/src/Inline/Inline.tsx
  packages/components/src/Inset/Inset.tsx
  packages/components/src/Scrollable/Scrollable.tsx
  packages/components/src/Stack/Stack.tsx
  packages/components/src/Tiles/Tiles.tsx
  packages/types/src/html.ts
Labels: type:feature

#4201 docs([DST-580]): Add page about accessibility
  docs/app/page.tsx
  docs/content/components/collection/table/table-appearance.demo.tsx
  docs/content/foundations/accessibility/accessibility-aria-live.demo.tsx
  docs/content/foundations/accessibility/accessibility-focus.demo.tsx
  docs/content/foundations/accessibility/accessibility-keyboard.demo.tsx
  docs/content/foundations/accessibility/accessibility.mdx
  docs/content/foundations/design-tokens.mdx
  docs/content/foundations/elevation/elevation.mdx
  docs/content/foundations/icons.mdx
  docs/content/foundations/layouts/layouts.mdx
  docs/content/foundations/overview.mdx
  docs/content/foundations/style-props.mdx
  docs/content/foundations/validation/validation.mdx
  docs/public/venues/the-belly-laugh-ballroom.webp
  docs/public/venues/the-chuckle-barn.webp
  docs/public/venues/the-giggle-grounds.webp
  docs/public/venues/the-guffaw-gardens.webp
  docs/public/venues/the-hysterical-hive.webp
  docs/public/venues/the-jesters-junction.webp
  docs/public/venues/the-punning-pavilion.webp
  docs/public/venues/the-quirky-quay.webp
  docs/public/venues/the-snicker-sanctuary.webp
  docs/public/venues/the-wobbling-stage.webp
  packages/components/src/XLoader/XLoader.stories.tsx
  packages/components/src/index.ts
Labels: type:docs, type:feature

#4204 feat(components): add close button on `<SectionMessage>`
  .changeset/warm-worms-obey.md
  docs/content/components/content/section-message/section-message-action.demo.tsx
  docs/content/components/content/section-message/section-message-dismissable.demo.tsx
  docs/content/components/content/section-message/section-message-error.demo.tsx
  docs/content/components/content/section-message/section-message-info.demo.tsx
  docs/content/components/content/section-message/section-message-warn.demo.tsx
  docs/content/components/content/section-message/section-message.mdx
  docs/content/components/content/section-message/sectionmessage-appearance.demo.tsx
  docs/content/patterns/feedback-messages/feedback-messages.mdx
  docs/public/dosAndDonts_message_position.png
  docs/public/sectionmessage/sectionmessage-anatomy.jpg
  docs/public/sectionmessage/sectionmessage-do-placement.png
  docs/public/sectionmessage/sectionmessage-dont-placement.png
  packages/components/src/SectionMessage/SectionMessage.stories.tsx
  packages/components/src/SectionMessage/SectionMessage.test.tsx
  packages/components/src/SectionMessage/SectionMessage.tsx
  themes/theme-b2b/src/components/SectionMessage.styles.ts
  themes/theme-core/src/components/SectionMessage.styles.ts
Labels: type:docs, type:feature

#4218 docs: remove `<p>` inside `<li>`
  docs/content/components/content/section-message/section-message.mdx
Labels: type:docs

#4228 docs: remove `<Hotkey>` from a11y tree
  docs/app/_components/SiteMenu.tsx
Labels: type:docs

#4227 chore: update react-aria-components to v1.4.1
  packages/components/package.json
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  pnpm-lock.yaml
Labels: type:feature

#4216 docs: ref `<Image>` in docs ui components
  docs/content/components/overlay/dialog/menu-open-dialog.demo.tsx
  docs/ui/Image.tsx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-core/src/components/Dialog.styles.ts
  themes/theme-docs/src/components/Dialog.styles.ts
Labels: type:docs, type:feature

#4230 bugfix([DSTSUP-92]): fix broken variants in table stories
  .changeset/purple-elephants-float.md
  packages/components/src/Table/Table.stories.tsx
Labels: type:feature

#4232 style([DSTSUP-93]): Adjust disabled label color
  .changeset/mean-countries-own.md
  themes/theme-b2b/src/components/Label.styles.ts
Labels: type:feature

#4233 fix([DSTSUP-94]): Adjust date unavailable property and add styles for it on date picker
  .changeset/beige-snakes-develop.md
  packages/components/src/DatePicker/DatePicker.stories.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/DatePicker/DatePicker.tsx
  themes/theme-b2b/src/components/Calendar.styles.ts
  themes/theme-core/src/components/Calendar.styles.ts
Labels: type:feature

#4234 style(dialog): make dialog sizes responsive
  .changeset/eight-countries-sort.md
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Overlay/Modal.tsx
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-core/src/components/Dialog.styles.ts
Labels: type:feature

#4174 docs[DST-572]: Form field guidelines
  .changeset/sweet-pumpkins-cover.md
  docs/content/foundations/form-fields/form-fields-disabled-state.demo.tsx
  docs/content/foundations/form-fields/form-fields-error-state.demo.tsx
  docs/content/foundations/form-fields/form-fields-helper-text.demo.tsx
  docs/content/foundations/form-fields/form-fields-readonly-state.demo.tsx
  docs/content/foundations/form-fields/form-fields-required-state.demo.tsx
  docs/content/foundations/form-fields/form-fields.mdx
  docs/content/foundations/form-fields/validation-base.demo.tsx
  docs/content/foundations/form-fields/validation-custom-message.demo.tsx
  docs/content/foundations/form-fields/validation-custom-validation.demo.tsx
  docs/content/foundations/form-fields/validation-realtime.demo.tsx
  docs/content/foundations/form-fields/validation-server-error.demo.tsx
  docs/content/foundations/form-fields/validation-zod.demo.tsx
  docs/content/foundations/validation/validation.mdx
  docs/content/patterns/building-forms/building-forms.mdx
Labels: type:docs, type:feature

#4235 docs: update badges for pages < 2 month
  docs/content/components/collection/table/table.mdx
  docs/content/components/collection/tag/tag.mdx
  docs/content/components/content/link/link.mdx
  docs/content/components/form/button/button.mdx
  docs/content/components/form/number-field/number-field.mdx
  docs/content/components/form/radio/radio.mdx
  docs/content/components/form/switch/switch.mdx
  docs/content/components/form/textfield/textfield.mdx
  docs/content/components/layout/inline/inline.mdx
  docs/content/components/layout/split/split.mdx
  docs/content/components/layout/stack/stack.mdx
  docs/content/components/overlay/menu/menu.mdx
  docs/content/components/overlay/tooltip/tooltip.mdx
Labels: type:docs

#4229 refa: remove footer from `<Dialog>` + allow styles
  .changeset/early-sloths-work.md
  .changeset/four-pumas-worry.md
  docs/content/components/overlay/dialog/dialog-appearance.demo.tsx
  docs/content/components/overlay/dialog/dialog.mdx
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Dialog/DialogActions.tsx
  packages/components/src/Dialog/DialogContent.tsx
  packages/components/src/Dialog/DialogTitle.tsx
  packages/components/src/Header/Header.tsx
  packages/components/src/Overlay/Popover.test.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-core/src/components/Dialog.styles.ts
  themes/theme-docs/src/components/Dialog.styles.ts
Labels: type:docs, type:feature

#4231 docs: Release blog 25.10
  docs/app/releases/blog/[...slug]/layout.tsx
  docs/content/patterns/feedback-messages/confirmation-dialog.demo.tsx
  docs/content/releases/blog/release-2024-09-26.mdx
  docs/content/releases/blog/release-2024-10-25.mdx
  docs/ui/mdx.tsx
  packages/components/src/Table/Table.stories.tsx
Labels: type:docs, type:feature

#4238 style(core): adjust the underlay color to be darker
  .changeset/heavy-impalas-tie.md
  themes/theme-core/src/components/Underlay.styles.ts
Labels: type:feature

#4237 docs([DST-445]): revise the `<Dialog>` page
  .changeset/young-clocks-marry.md
  docs/content/components/form/button/button.mdx
  docs/content/components/overlay/dialog/dialog-appearance.demo.tsx
  docs/content/components/overlay/dialog/dialog-content.demo.tsx
  docs/content/components/overlay/dialog/dialog-dismiss.demo.tsx
  docs/content/components/overlay/dialog/dialog-form.demo.tsx
  docs/content/components/overlay/dialog/dialog-from-menu.demo.tsx
  docs/content/components/overlay/dialog/dialog-title-only.demo.tsx
  docs/content/components/overlay/dialog/dialog.mdx
  docs/public/dialog/dialog-anatomy.jpg
  themes/theme-core/src/components/Dialog.styles.ts
Labels: type:docs, type:feature

#4236 docs: add a hint to release notes in landing page
  docs/app/page.tsx
  docs/content/releases/config/storybook/release.mdx
  docs/content/releases/docs/release.mdx
  docs/content/releases/packages/components/release.mdx
  docs/content/releases/packages/icons/release.mdx
  docs/content/releases/packages/system/release.mdx
  docs/content/releases/packages/theme-preset/release.mdx
  docs/content/releases/themes/theme-b2b/release.mdx
  docs/content/releases/themes/theme-core/release.mdx
  docs/content/releases/themes/theme-docs/release.mdx
  docs/ui/ShinyText.tsx
  docs/ui/blog/LatestPost.tsx
  themes/theme-docs/src/components/Link.styles.ts
  themes/theme-docs/src/preset.ts
Labels: type:docs, type:feature

#4239 chore: refa `<Text>` component
  .changeset/rare-squids-shake.md
  packages/components/src/Text/Text.stories.tsx
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
Labels: type:feature

#4244 docs: fix link to `<Icon>` page
  .changeset/sixty-bottles-melt.md
  docs/content/foundations/icons.mdx
Labels: type:docs

#4243 chore: ([DST-597]): add cache delete workflow
  .github/workflows/cleanup-branch-cache.yml
Labels: type:infrastructure

#4266 docs: adjust menu demo with dialog
  .changeset/tender-beds-relate.md
  docs/content/components/overlay/menu/menu-open-dialog.demo.tsx
Labels: type:docs

#4263 docs: fix broken links (MultiSelect and Building Forms)
  .changeset/tame-actors-learn.md
  docs/content/patterns/building-forms/building-forms-zod.demo.tsx
  docs/content/patterns/building-forms/building-forms.mdx
  docs/content/recipes/multiselect-recipes/multiselect-recipes.mdx
Labels: type:docs

#4202 [DST-581]: Revise `<DateField>` page
  .changeset/fresh-zoos-vanish.md
  docs/content/components/form/datefield/date-field-basic.demo.tsx
  docs/content/components/form/datefield/date-field-disabled.demo.tsx
  docs/content/components/form/datefield/date-field-error.demo.tsx
  docs/content/components/form/datefield/date-field-required.demo.tsx
  docs/content/components/form/datefield/datefield-appearance.demo.tsx
  docs/content/components/form/datefield/datefield.mdx
  docs/content/patterns/building-forms/validation-zod.demo.tsx
  docs/public/datefield/datefield-anatomy.jpg
  packages/components/src/DateField/DateField.tsx
Labels: type:docs, type:feature

#4267 chore: add typecheck to our documentation
  .github/workflows/typecheck.yml
  docs/app/page.tsx
  docs/content/components/form/form/form-focus-management.demo.tsx
  docs/content/components/form/slider/slider-width.demo.tsx
  docs/content/components/overlay/menu/menu-open-dialog.demo.tsx
  docs/content/foundations/accessibility/accessibility-aria-live.demo.tsx
  docs/content/foundations/form-fields/form-fields-required-state.demo.tsx
  docs/content/patterns/multiple-selection/multiple-selection-selectlist.demo.tsx
  docs/content/patterns/multiple-selection/tag-group-multiselect.demo.tsx
  docs/content/releases/config/storybook/release.mdx
  docs/content/releases/docs/release.mdx
  docs/content/releases/packages/components/release.mdx
  docs/content/releases/packages/icons/release.mdx
  docs/content/releases/packages/system/release.mdx
  docs/content/releases/packages/theme-preset/release.mdx
  docs/content/releases/packages/types/release.mdx
  docs/content/releases/themes/theme-b2b/release.mdx
  docs/content/releases/themes/theme-core/release.mdx
  docs/content/releases/themes/theme-docs/release.mdx
  docs/next.config.js
  docs/ui/IconList.tsx
  docs/ui/navigation/Navigation.tsx
  package.json
  tsconfig.check.json
Labels: type:docs, type:infrastructure

#4270 fix(Text): Only apply `elementType` when RAC Text component is used.
  .changeset/dirty-flies-tan.md
  packages/components/src/Text/Text.test.tsx
  packages/components/src/Text/Text.tsx
Labels: type:feature

#4265 docs: Added/activated a11y addon to storybook
  .changeset/popular-files-destroy.md
  config/storybook/.storybook/main.ts
  config/storybook/.storybook/preview.tsx
  config/storybook/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#4273 docs: fixed some typos
  docs/content/components/form/button/button-press.demo.tsx
  docs/content/releases/blog/release-2024-10-25.mdx
Labels: type:docs

#4269 docs: make `code` in `<SectionMessage>` look nicer
  .changeset/sweet-squids-design.md
  docs/ui/mdx.tsx
  themes/theme-docs/src/components/SectionMessage.styles.ts
Labels: type:docs, type:feature

#4245 docs: fix release date in changelogs
  .changeset/spotty-wombats-relax.md
  .github/workflows/typecheck.yml
  .gitignore
  docs/content/releases/config/eslint/release.mdx
  docs/content/releases/config/jest/release.mdx
  docs/content/releases/config/prettier/release.mdx
  docs/content/releases/config/storybook/release.mdx
  docs/content/releases/config/tsconfig/release.mdx
  docs/content/releases/docs/release.mdx
  docs/content/releases/packages/components/release.mdx
  docs/content/releases/packages/icons/release.mdx
  docs/content/releases/packages/system/release.mdx
  docs/content/releases/packages/theme-preset/release.mdx
  docs/content/releases/packages/types/release.mdx
  docs/content/releases/themes/theme-b2b/release.mdx
  docs/content/releases/themes/theme-core/release.mdx
  docs/content/releases/themes/theme-docs/release.mdx
  docs/package.json
  docs/scripts/build-changelog.mjs
  pnpm-lock.yaml
Labels: type:docs, type:infrastructure

#4278 docs: track some events 🤫
  docs/app/_components/SiteMenu.tsx
  docs/app/_components/ThemeMenu.tsx
  docs/ui/ComponentDemo.tsx
  docs/ui/CopyButton.tsx
  docs/ui/StorybookHintMessage.tsx
Labels: type:docs

#4279 docs: update landing page styles
  docs/app/page.tsx
  themes/theme-docs/src/components/Link.styles.ts
Labels: type:docs, type:feature
