Repository marigold-ui/marigold, pull requests merged in 2024-07, with the labels that each got.

#3978 docs: fix missing key prop error
  docs/app/_components/SiteMenu.tsx
Labels: type:docs

#3982 fix: fix table column story
  packages/components/src/Table/TableColumn.stories.tsx
Labels: type:feature

#3983 docs: fix link in validation page
  docs/content/concepts/validation.mdx
Labels: type:docs

#3981 docs: add last updated timestamp to pages
  config/prettier/index.js
  docs/app/[...slug]/page.tsx
  docs/contentlayer.config.ts
  docs/lib/date.ts
  docs/package.json
  docs/tsconfig.json
  docs/ui/RelativeTime.tsx
  pnpm-lock.yaml
Labels: type:docs, type:infrastructure

#3984 docs: use tokens instead of hex values
  docs/content/recipes/topnavigation.demo.tsx
Labels: type:docs

#3986 fix: fix table with styleformat demos
  docs/content/components/collection/table/.eslintrc.json
  docs/content/components/collection/table/table-formatters.demo.tsx
Labels: type:docs

#3985 fix: adjust the triggerwidth of the autocomplete
  .changeset/silly-hornets-vanish.md
  packages/components/src/Autocomplete/Autocomplete.test.tsx
  packages/components/src/Autocomplete/Autocomplete.tsx
Labels: type:feature

#3993 docs: add some aria labels for a11y
  docs/app/_components/ThemeMenu.tsx
  docs/ui/CopyButton.tsx
Labels: type:docs

#3992 refa: use `FieldErrorContext` in `<HelpText>` and fix `key` issue
  .changeset/good-readers-sneeze.md
  packages/components/src/DateField/DateField.test.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/FieldBase/FieldBase.test.tsx
  packages/components/src/HelpText/HelpText.test.tsx
  packages/components/src/HelpText/HelpText.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/TextArea/TextArea.test.tsx
  packages/components/src/TextField/TextField.test.tsx
Labels: type:feature

#3997 [DST-467]: Adding a PR Template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: type:infrastructure

#4000 docs: adjust menu button height
  themes/theme-docs/src/components/Button.styles.ts
Labels: type:feature

#3999 docs: make PropsTable more readable
  docs/ui/AppearanceTable.tsx
  docs/ui/PropsTable.tsx
  packages/components/src/Table/Table.tsx
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-core/src/components/Table.styles.ts
  themes/theme-docs/src/components/Table.styles.ts
Labels: type:docs, type:feature

#4003 Orthography changes in Feedback Message demo
  docs/content/patterns/feedback-messages/confirmation-dialog.demo.tsx
Labels: type:docs

#4005 Fixing datepicker ref
  .changeset/new-glasses-stare.md
  packages/components/src/DatePicker/DatePicker.tsx
Labels: type:feature

#4013 docs: remove `style` from pops table
  docs/scripts/build-component-props.mjs
Labels: type:docs

#4012 docs: cleanup types a bit (remove paranthesis what wraps functions)
  docs/ui/PropsTable.tsx
Labels: type:docs

#4015 fix: fixed aligned column in table in b2b theme
  .changeset/three-zoos-wait.md
  themes/theme-b2b/src/components/Table.styles.ts
Labels: type:feature

#4017 Adding default template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type:infrastructure

#4020 docs: fix spacing between tabs and code block
  docs/ui/mdx.tsx
Labels: type:docs

#4021 fix: add border to table header in b2b theme
  themes/theme-b2b/src/components/Table.styles.ts
Labels: type:feature

#3968 docs([DST-485]): Create reusable component for Do's and Don'ts
  .changeset/thin-suits-complain.md
  docs/ui/DosAndDonts.tsx
  docs/ui/mdx.tsx
  themes/theme-docs/src/tokens.ts
Labels: type:docs, type:feature

#4022 docs: have the background span the whole page even if the content is not as large
  docs/app/layout.tsx
Labels: type:docs

#3995 fix: use component height token in `Switch`
  .changeset/nervous-maps-double.md
  themes/theme-core/src/components/Switch.styles.ts
Labels: type:feature

#4024 fix: update codecov token and add to ci
  .github/workflows/test.yml
Labels: type:infrastructure

#4023 docs: refa `DonAndDonts` to work without an image
  .changeset/great-rabbits-join.md
  docs/content/__internal__/index.mdx
  docs/ui/AppearanceDemo.tsx
  docs/ui/DosAndDonts.tsx
  docs/ui/mdx.tsx
Labels: type:docs

#4026 fix: correctly apply styles to `<Select>` icon
  .changeset/lucky-plums-fix.md
  packages/components/src/Select/Select.test.tsx
  packages/components/src/Select/Select.tsx
Labels: type:feature

#4019 docs: add docs theme to tailwind config
  docs/tailwind.config.ts
Labels: type:docs

#4027 fix: pass down appearance props to `FieldBase` in `Select` and `TextField`
  .changeset/two-wombats-work.md
  packages/components/src/Select/Select.tsx
  packages/components/src/TextField/TextField.tsx
Labels: type:feature

#4031 chore: add some @ mentions to our PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type:infrastructure

#4034 fix([DST-500]): fix popover placement
  .changeset/silver-lies-tease.md
  docs/package.json
  docs/tailwind.config.ts
  packages/components/src/Overlay/Popover.tsx
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Popover.styles.ts
  themes/theme-core/src/components/Popover.styles.ts
  themes/theme-docs/src/components/Popover.styles.ts
Labels: type:docs, type:feature

#4032 fix: Pass down appearance props and use context from CheckboxGroup to apply label width
  .changeset/itchy-berries-flash.md
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Checkbox/Context.tsx
Labels: type:feature

#4033 fix([DST-501]): Don't render helptext if there is no error and description.
  .changeset/sixty-bears-double.md
  packages/components/src/HelpText/HelpText.tsx
Labels: type:feature

#4035 docs: select text when site menu is opened
  docs/app/_components/SiteMenu.tsx
Labels: type:docs

#4028 docs: Introduce an appearance demo
  .changeset/many-steaks-shave.md
  docs/content/__internal__/index.mdx
  docs/content/components/form/button/button-appearance.demo.tsx
  docs/content/components/form/button/button.mdx
  docs/lib/utils.tsx
  docs/ui/AppearanceDemo.tsx
  docs/ui/AppearanceTable.tsx
  docs/ui/ComponentDemo.tsx
  docs/ui/ThemeSwitch.tsx
  docs/ui/mdx.tsx
  themes/theme-b2b/src/components/ListBox.styles.ts
  themes/theme-docs/src/components/Card.styles.ts
  themes/theme-docs/src/components/Field.styles.ts
  themes/theme-docs/src/components/HelpText.styles.ts
  themes/theme-docs/src/components/Input.styles.ts
  themes/theme-docs/src/components/Label.styles.ts
  themes/theme-docs/src/components/ListBox.styles.ts
  themes/theme-docs/src/components/Select.styles.ts
  themes/theme-docs/src/components/index.ts
Labels: type:docs, type:feature

#4037 fix: add radio test for coverage reason
  packages/components/src/Radio/Radio.test.tsx
Labels: type:feature

#4038 docs: fix slider and switch pages
  docs/content/components/form/slider/slider.mdx
  docs/content/components/form/switch/switch.mdx
Labels: type:docs

#3994 fix: remove `HTMLProps` from components
  .changeset/tame-tools-deliver.md
  docs/content/components/content/headline/headline.demo.tsx
  docs/content/components/content/list/list.mdx
  packages/components/src/Aspect/Aspect.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Breakout/Breakout.test.tsx
  packages/components/src/Breakout/Breakout.tsx
  packages/components/src/Card/Card.tsx
  packages/components/src/Center/Center.tsx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Container/Container.tsx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/FieldBase/FieldBase.tsx
  packages/components/src/Grid/Grid.tsx
  packages/components/src/Headline/Headline.tsx
  packages/components/src/Image/Image.tsx
  packages/components/src/List/List.tsx
  packages/components/src/List/ListItem.tsx
  packages/components/src/Overlay/Overlay.stories.tsx
  packages/components/src/Scrollable/Scrollable.tsx
  packages/components/src/SectionMessage/SectionMessage.tsx
  packages/components/src/Split/Split.tsx
  packages/components/src/Stack/Stack.tsx
  packages/components/src/Text/Text.tsx
Labels: type:docs, type:feature, 🚨 Breacking Change

#4040 chore: update PR template with checkbox
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type:infrastructure

#4046 docs: make it easier to correctly place Do's and Dont's
  docs/content/__internal__/index.mdx
  docs/ui/DosAndDonts.tsx
  docs/ui/mdx.tsx
Labels: type:docs

#4039 chore[DST-487]: align core styles to marigold
  .changeset/slow-cougars-grow.md
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Tabs/Tabs.stories.tsx
  themes/theme-b2b/src/components/Accordion.styles.ts
  themes/theme-core/src/components/Accordion.styles.ts
  themes/theme-core/src/components/Tabs.styles.ts
Labels: type:feature

#4052 docs: parse description in `PropsTable` as markdown
  docs/package.json
  docs/ui/PropsTable.tsx
  docs/ui/mdx.tsx
  pnpm-lock.yaml
Labels: type:docs

#4054 feat: add dedicated export for tokens to all themes
  .changeset/lucky-bugs-repair.md
  themes/theme-b2b/package.json
  themes/theme-b2b/src/tokens.ts
  themes/theme-b2b/tsup.config.ts
  themes/theme-core/package.json
  themes/theme-core/src/tokens.ts
  themes/theme-core/tsup.config.ts
  themes/theme-docs/package.json
  themes/theme-docs/src/tokens.ts
  themes/theme-docs/tsup.config.ts
Labels: type:feature

#4056 [DST-504]: Sorting indicator is always shown in table
  .changeset/big-moons-pretend.md
  packages/components/src/Table/TableColumnHeader.tsx
Labels: type:feature

#4057 chore: fix and run prettier
  .prettierignore
  config/prettier/index.js
  config/storybook/.storybook/main.ts
  docs/app/_components/SiteFooter.tsx
  docs/lib/mdx/rehype-component-demo.tsx
  docs/ui/Toc.tsx
  docs/ui/Token.tsx
  docs/ui/Typography.tsx
  package.json
  packages/components/src/Columns/Columns.stories.tsx
  packages/components/src/Overlay/Underlay.tsx
  packages/components/src/Switch/Switch.tsx
  packages/components/src/Table/TableSelectAllCell.tsx
  packages/types/src/index.ts
  packages/types/src/react.ts
  scripts/watch-tailwind.mjs
Labels: type:docs, type:feature, type:infrastructure

#4036 docs[DST-451]:Guidelines for Table component
  .changeset/purple-beds-wait.md
  .prettierignore
  docs/content/components/collection/table/table-action.demo.tsx
  docs/content/components/collection/table/table-aligned.demo.tsx
  docs/content/components/collection/table/table-appearance.demo.tsx
  docs/content/components/collection/table/table-async.demo.tsx
  docs/content/components/collection/table/table-badge.demo.tsx
  docs/content/components/collection/table/table-column-width.demo.tsx
  docs/content/components/collection/table/table-compact.demo.tsx
  docs/content/components/collection/table/table-disabled.demo.tsx
  docs/content/components/collection/table/table-dynamic.demo.tsx
  docs/content/components/collection/table/table-fixed-header.demo.tsx
  docs/content/components/collection/table/table-input.demo.tsx
  docs/content/components/collection/table/table-multi-mode.demo.tsx
  docs/content/components/collection/table/table-nested.demo.tsx
  docs/content/components/collection/table/table-numeric.demo.tsx
  docs/content/components/collection/table/table-secondary-content.demo.tsx
  docs/content/components/collection/table/table-single-mode.demo.tsx
  docs/content/components/collection/table/table.mdx
  docs/package.json
  docs/public/table/table-anatomy.jpg
  docs/public/table/table-do-content.jpg
  docs/public/table/table-do-hierarchy.jpg
  docs/public/table/table-do-names.jpg
  docs/public/table/table-do-size.jpg
  docs/public/table/table-dont-content.jpg
  docs/public/table/table-dont-hierarchy.jpg
  docs/public/table/table-dont-names.jpg
  pnpm-lock.yaml
Labels: type:docs, type:feature

#4055 docs: open graph image
  .prettierignore
  docs/app/[...slug]/page.tsx
  docs/app/_components/MobileNavigation.tsx
  docs/app/_components/SiteFooter.tsx
  docs/app/_components/SiteLogo.tsx
  docs/app/og.png/route.tsx
  docs/lib/config.ts
  docs/public/fonts/Inter-Black.ttf
  docs/ui/Logo.tsx
Labels: type:docs, type:feature, type:infrastructure
