Repository marigold-ui/marigold, pull requests merged in 2025-03, with the labels that each got.

#4464 fix([DST-709]): fix some stories again using `useState`
  packages/components/src/RouterProvider/RouterProvider.stories.tsx
  packages/components/src/Scrollable/Scrollable.stories.tsx
  packages/components/src/Table/TableColumn.stories.tsx
  packages/components/src/Tooltip/TooltipTrigger.stories.tsx
Labels: type:feature

#4465 chore[DST-710]: update storybook
  config/storybook/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#4460 fix([DST-702]): add space for multiple selection mode in `<SelectList>`
  .changeset/chatty-clouds-jump.md
  packages/components/src/SelectList/SelectListItem.tsx
Labels: type:feature

#4467 chore([DST-711]): add more channels to Get in touch page
  .changeset/nasty-students-roll.md
  docs/content/getting-started/get-in-touch.mdx
Labels: type:docs

#4473 chore(deps): update dependency tailwind-merge to v3
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/system/package.json
  pnpm-lock.yaml
Labels: type:feature

#4376 feat[DST-606]: Implement `Multiselect` component
  .changeset/stale-pens-sort.md
  docs/content/components/form/multiselect/multiselect-appearance.demo.tsx
  docs/content/components/form/multiselect/multiselect-controlled.demo.tsx
  docs/content/components/form/multiselect/multiselect.mdx
  docs/content/foundations/form-fields/form-fields.mdx
  docs/content/patterns/multiple-selection/multiple-selection.mdx
  docs/content/patterns/multiple-selection/multiselect-basic.demo.tsx
  docs/content/recipes/multiselect-recipes/multiselect-basic.demo.tsx
  docs/content/recipes/multiselect-recipes/multiselect-recipes.mdx
  docs/content/recipes/overview.mdx
  docs/next.config.js
  docs/public/multiselect/multiselect-anatomy.jpg
  docs/scripts/build-component-props.mjs
  package.json
  packages/components/src/Multiselect/Multiselect.stories.tsx
  packages/components/src/Multiselect/Multiselect.test.tsx
  packages/components/src/Multiselect/Multiselect.tsx
  packages/components/src/Multiselect/index.ts
  packages/system/src/types/theme.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Multiselect.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/Label.styles.ts
  themes/theme-core/src/components/Multiselect.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:docs, type:feature, type:infrastructure

#4477 Rui next release 0.3.0
  .changeset/blue-tools-trade.md
  .vscode/extensions.json
  .vscode/settings.json
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/DateField/DateInput.tsx
  packages/components/src/SectionMessage/SectionMessage.tsx
  pnpm-lock.yaml
  themes/theme-rui/package.json
  themes/theme-rui/src/components/Accordion.styles.ts
  themes/theme-rui/src/components/Badge.styles.ts
  themes/theme-rui/src/components/Button.styles.ts
  themes/theme-rui/src/components/Calendar.styles.ts
  themes/theme-rui/src/components/Card.styles.ts
  themes/theme-rui/src/components/Checkbox.styles.ts
  themes/theme-rui/src/components/DateField.styles.ts
  themes/theme-rui/src/components/DatePicker.styles.ts
  themes/theme-rui/src/components/Input.styles.ts
  themes/theme-rui/src/components/Link.styles.ts
  themes/theme-rui/src/components/ListBox.styles.ts
  themes/theme-rui/src/components/NumberField.styles.ts
  themes/theme-rui/src/components/Radio.styles.ts
  themes/theme-rui/src/components/Select.styles.ts
  themes/theme-rui/src/components/Tabs.styles.ts
  themes/theme-rui/src/components/TextArea.styles.ts
  themes/theme-rui/src/global.css
  themes/theme-rui/src/mixins.css
  themes/theme-rui/src/styles.css
  themes/theme-rui/src/theme.css
Labels: type:feature

#4476 Adding disabled styles for `<Tag>` component
  packages/components/src/TagGroup/Tag.tsx
  packages/components/src/TagGroup/TagGroup.stories.tsx
  themes/theme-b2b/src/components/Tag.styles.ts
  themes/theme-core/src/components/Tag.styles.ts
Labels: type:feature

#4478 docs: release blog for next release today
  docs/content/releases/blog/release-2025-03-19.mdx
Labels: type:docs

#4481 fix(rui): Correctly apply error styles in fields
  .changeset/lucky-schools-love.md
  themes/theme-rui/src/components/DateField.styles.ts
  themes/theme-rui/src/components/HelpText.styles.ts
  themes/theme-rui/src/components/Input.styles.ts
Labels: type:feature

#4479 fix(rui): Correctly apply padding when `<Input>` has an icon/action
  .changeset/breezy-mayflies-rescue.md
  themes/theme-rui/src/components/Input.styles.ts
Labels: type:feature

#4483 fix: remove center from `<SelectList>`
  packages/components/src/SelectList/SelectListItem.tsx
Labels: type:feature

#4484 fix: fix border in calendar
  themes/theme-rui/src/components/Calendar.styles.ts
Labels: type:feature

#4485 Fix mixins
  .changeset/empty-wombats-design.md
  themes/theme-rui/package.json
  themes/theme-rui/src/theme.css
Labels: type:feature

#4480 Add `tailwindcss-react-aria-components` to b2b & core themes
  pnpm-lock.yaml
  themes/theme-b2b/package.json
  themes/theme-b2b/src/theme.css
  themes/theme-core/package.json
  themes/theme-core/src/theme.css
Labels: type:feature

#4487 add missing exports for styles
  themes/theme-rui/package.json
Labels: type:feature

#4469 feat(rui): Next batch of changes!
  .changeset/thick-planes-cheer.md
  config/storybook/.storybook/preview-head.html
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/NumberField/NumberField.tsx
  packages/components/src/ProgressCycle/ProgressCycle.stories.tsx
  packages/components/src/SectionMessage/SectionMessage.stories.tsx
  packages/components/src/SectionMessage/SectionMessage.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Table/Context.tsx
  packages/components/src/Table/Table.test.tsx
  packages/components/src/Table/TableHeader.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-b2b/src/components/SectionMessage.styles.ts
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-core/src/components/Dialog.styles.ts
  themes/theme-core/src/components/SectionMessage.styles.ts
  themes/theme-core/src/components/Table.styles.ts
  themes/theme-docs/src/components/Dialog.styles.ts
  themes/theme-docs/src/components/SectionMessage.styles.ts
  themes/theme-docs/src/components/Table.styles.ts
  themes/theme-rui/src/components/Accordion.styles.ts
  themes/theme-rui/src/components/Badge.styles.ts
  themes/theme-rui/src/components/Button.styles.ts
  themes/theme-rui/src/components/Calendar.styles.ts
  themes/theme-rui/src/components/Card.styles.ts
  themes/theme-rui/src/components/Checkbox.styles.ts
  themes/theme-rui/src/components/DateField.styles.ts
  themes/theme-rui/src/components/Dialog.styles.ts
  themes/theme-rui/src/components/Input.styles.ts
  themes/theme-rui/src/components/ListBox.styles.ts
  themes/theme-rui/src/components/NumberField.styles.ts
  themes/theme-rui/src/components/Pagination.styles.ts
  themes/theme-rui/src/components/Popover.styles.ts
  themes/theme-rui/src/components/ProgressCycle.styles.ts
  themes/theme-rui/src/components/Radio.styles.ts
  themes/theme-rui/src/components/SectionMessage.styles.ts
  themes/theme-rui/src/components/Slider.styles.ts
  themes/theme-rui/src/components/Switch.styles.ts
  themes/theme-rui/src/components/Table.styles.ts
  themes/theme-rui/src/components/Tabs.styles.ts
  themes/theme-rui/src/components/Tag.styles.ts
  themes/theme-rui/src/components/Tooltip.styles.ts
  themes/theme-rui/src/components/Underlay.styles.ts
  themes/theme-rui/src/mixins.css
  themes/theme-rui/src/theme.css
Labels: type:feature, type:infrastructure
