Repository marigold-ui/marigold, pull requests merged in 2025-05, with the labels that each got.

#4575 feat([DST-801]): Allow to format ranges with `<NumericFormat>`
  .changeset/kind-candles-listen.md
  docs/content/components/formatters/numericformat/common-format.demo.tsx
  docs/content/components/formatters/numericformat/currency-format.demo.tsx
  docs/content/components/formatters/numericformat/numbering-system-format.demo.tsx
  docs/content/components/formatters/numericformat/numeric-format.demo.tsx
  docs/content/components/formatters/numericformat/numericformat.mdx
  docs/content/components/formatters/numericformat/percent-format.demo.tsx
  docs/content/components/formatters/numericformat/range-format.demo.tsx
  docs/content/components/formatters/numericformat/tabular-format.demo.tsx
  packages/components/src/hooks.ts
  packages/system/src/components/Formatters/NumericFormat.test.tsx
  packages/system/src/components/Formatters/NumericFormat.tsx
Labels: type:docs, type:feature

#4540 ref(DST-760): Extend useClassNames to Automatically Pick Up Styles from Context
  .changeset/solid-walls-relate.md
  packages/components/src/Drawer/DrawerTitle.tsx
  packages/system/src/hooks/useClassNames.test.tsx
  packages/system/src/hooks/useClassNames.tsx
Labels: type:feature

#4588 styles([DSTSUP-128]): Fix `disabled` styles for `Radio` and `Checkbox`
  .changeset/forty-cheetahs-chew.md
  themes/theme-rui/src/components/Checkbox.styles.ts
  themes/theme-rui/src/components/Radio.styles.ts
Labels: type:feature

#4590 fix([DST-811]): Add color to tabs separator
  .changeset/long-dryers-mate.md
  themes/theme-rui/src/components/Tabs.styles.ts
Labels: type:feature

#4591 feat([DSTSUP-112]): Add sizes to RUI's `<Dialog>`
  .changeset/four-rice-sort.md
  docs/content/components/overlay/dialog/dialog-from-menu.demo.tsx
  docs/content/components/overlay/dialog/dialog-title-only.demo.tsx
  docs/scripts/build-component-props.mjs
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Dialog/DialogTrigger.tsx
  packages/components/src/Drawer/Drawer.test.tsx
  packages/components/src/Overlay/Modal.tsx
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Overlay/Underlay.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Modal.styles.ts
  themes/theme-b2b/src/components/Underlay.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/Modal.styles.ts
  themes/theme-core/src/components/Underlay.styles.ts
  themes/theme-core/src/components/index.ts
  themes/theme-docs/src/components/Modal.styles.ts
  themes/theme-docs/src/components/Underlay.styles.ts
  themes/theme-docs/src/components/index.ts
  themes/theme-rui/src/components/Dialog.styles.ts
  themes/theme-rui/src/components/Modal.styles.ts
  themes/theme-rui/src/components/Underlay.styles.ts
  themes/theme-rui/src/components/index.ts
Labels: type:docs, type:feature

#4507 feat([DST-751]): Introduce a filter pattern example
  docs/app/(docs)/[...slug]/layout.tsx
  docs/app/(docs)/[...slug]/page.tsx
  docs/app/(docs)/layout.tsx
  docs/app/(docs)/releases/blog/[...slug]/layout.tsx
  docs/app/(docs)/releases/blog/[...slug]/page.tsx
  docs/app/(examples)/pattern/filter/applied-filter.tsx
  docs/app/(examples)/pattern/filter/page.tsx
  docs/app/(examples)/pattern/filter/toolbar.tsx
  docs/app/(examples)/pattern/filter/utils.tsx
  docs/app/(examples)/pattern/filter/venues-view.tsx
  docs/app/(examples)/pattern/layout.tsx
  docs/app/(examples)/pattern/wrapper.tsx
  docs/app/globals.css
  docs/app/layout.tsx
  docs/app/page.tsx
  docs/content/components/layout/inset/inset-hv.demo.tsx
  docs/content/foundations/accessibility/accessibility-aria-live.demo.tsx
  docs/lib/data/venues.ts
  docs/package.json
  packages/components/src/Headline/Headline.tsx
  pnpm-lock.yaml
Labels: type:docs, type:feature

#4584 feat([DST-804]): Allow `Tag` to be used in forms and overhaul docs
  .changeset/lemon-fireants-burn.md
  docs/content/components/collection/tag/basic-tag.demo.tsx
  docs/content/components/collection/tag/label-tag.demo.tsx
  docs/content/components/collection/tag/remove-tag.demo.tsx
  docs/content/components/collection/tag/tag-appearance.demo.tsx
  docs/content/components/collection/tag/tag-removable.demo.tsx
  docs/content/components/collection/tag/tag-selection.demo.tsx
  docs/content/components/collection/tag/tag.mdx
  docs/public/tag/c.jpg
  docs/public/tag/tag-anatomy.jpg
  docs/public/tag/tag-content-do.jpg
  docs/public/tag/tag-content-dont.jpg
  packages/components/src/TagGroup/TagGroup.stories.tsx
  packages/components/src/TagGroup/TagGroup.test.tsx
  packages/components/src/TagGroup/TagGroup.tsx
  packages/components/src/TagGroup/TagGroupHiddenInput.tsx
Labels: type:docs, type:feature

#4592 refa([DST-816]): Remove children prop, only label is now available
  .changeset/twenty-bags-buy.md
  docs/app/(examples)/pattern/filter/applied-filter.tsx
  docs/content/components/form/fieldgroup/field-group-basic.demo.tsx
  docs/content/components/layout/columns/stretch-columns-switch.demo.tsx
  docs/content/components/layout/tiles/tiles-stretch.demo.tsx
  docs/content/foundations/accessibility/accessibility-focus.demo.tsx
  docs/content/foundations/form-fields/form-fields-readonly-state.demo.tsx
  docs/content/patterns/building-forms/building-forms-hook-form.demo.tsx
  docs/content/patterns/building-forms/building-forms-zod.demo.tsx
  docs/content/patterns/building-forms/error-handling.demo.tsx
  docs/content/patterns/building-forms/layout-forms.demo.tsx
  docs/content/patterns/building-forms/logical-interaction.demo.tsx
  docs/content/patterns/building-forms/validation-zod.demo.tsx
  docs/content/patterns/multiple-selection/multiselect-checkbox-group.demo.tsx
  docs/content/recipes/form-recipes/organization-search.demo.tsx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Drawer/Drawer.stories.tsx
  packages/components/src/FieldBase/FieldBase.stories.tsx
  packages/components/src/Form/Form.stories.tsx
  packages/components/src/Slider/Slider.stories.tsx
  packages/components/src/Slider/Slider.test.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
  packages/components/src/Table/Table.stories.tsx
Labels: type:docs, type:feature

#4593 styles([DST-823]): adjust RUI `<NumberField>` styles
  .changeset/yellow-jobs-destroy.md
  themes/theme-rui/src/components/NumberField.styles.ts
Labels: type:feature

#4586 docs: Release notes for v12
  docs/content/releases/blog/release-2025-05-99.mdx
Labels: type:docs

#4603 chore([DST-853]): Refa styles for `<Menu>` button
  .changeset/breezy-roses-lick.md
  packages/components/src/Menu/ActionMenu.tsx
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/Menu/Menu.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Button.styles.ts
  themes/theme-b2b/src/components/Menu.styles.ts
  themes/theme-core/src/components/Menu.styles.ts
  themes/theme-docs/src/components/Button.styles.ts
  themes/theme-docs/src/components/Menu.styles.ts
  themes/theme-rui/src/components/Menu.styles.ts
Labels: type:feature

#4560 refa(DST-738): Adjust `<ListBox>` and `<SelectList>` styles to new standards
  .changeset/upset-dragons-shout.md
  docs/content/components/form/combobox/combobox-section.demo.tsx
  docs/content/components/form/combobox/combobox.mdx
  packages/components/src/ListBox/ListBoxItem.tsx
  packages/components/src/SelectList/SelectList.stories.tsx
  packages/components/src/SelectList/SelectListItem.tsx
  themes/theme-core/src/components/ListBox.styles.ts
  themes/theme-rui/src/components/ListBox.styles.ts
Labels: type:docs, type:feature

#4602 [DST-851]: remove @marigold/jest-config
  .changeset/blue-islands-ring.md
  config/jest/CHANGELOG.md
  config/jest/README.md
  config/jest/index.js
  config/jest/jest.setup.ts
  config/jest/package.json
  docs/content/releases/overview.mdx
  docs/tsconfig.json
  pnpm-lock.yaml
  tsconfig.check.json
  tsconfig.json
Labels: type:docs, type:infrastructure

#4606 fix([DSTSUP-135]): Use correct padding on <MultiSelect> component
  .changeset/neat-experts-pretend.md
  packages/components/src/Multiselect/Multiselect.stories.tsx
  packages/components/src/Multiselect/Multiselect.test.tsx
  packages/components/src/Multiselect/Multiselect.tsx
  packages/components/src/Tabs/__snapshots__/Tabs.test.tsx.snap
  themes/theme-rui/src/components/Multiselect.styles.ts
Labels: type:feature

#4612 refa([DST-859]): Improve `Link`styles
  themes/theme-rui/src/components/Link.styles.ts
Labels: type:feature

#4614 fix([DST-860]): Fix label alignment of `Switch` & clean up CSS
  themes/theme-rui/src/components/Switch.styles.ts
Labels: type:feature

#4615 ([DST-862]): Update RUI link styles and remove empty variants
  .changeset/rich-falcons-compete.md
  themes/theme-rui/src/components/Link.styles.ts
Labels: type:feature

#4611 refa([DST-858]): remove border and circle from badges
  .changeset/selfish-trains-act.md
  themes/theme-rui/src/components/Badge.styles.ts
Labels: type:feature

#4607 refa([DST-715]): Refactor code from Calendar Component
  .changeset/soft-hairs-rhyme.md
  packages/components/src/Calendar/Calendar.test.tsx
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/Calendar/CalendarListBox.tsx
  packages/components/src/Calendar/Context.tsx
  packages/components/src/Calendar/MonthListBox.tsx
  packages/components/src/Calendar/YearListBox.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Calendar.styles.ts
  themes/theme-core/src/components/Calendar.styles.ts
  themes/theme-rui/src/components/Calendar.styles.ts
Labels: type:feature

#4617 Update React aria components
  .changeset/chilled-panthers-fail.md
  config/storybook/package.json
  docs/package.json
  package.json
  packages/components/package.json
  packages/components/src/Pagination/Pagination.test.tsx
  packages/components/src/Select/Select.tsx
  packages/system/package.json
  packages/types/package.json
  pnpm-lock.yaml
Labels: type:docs, type:feature, type:infrastructure

#4621 feat([DST-864]): Add `full` to `size` options to `Card` so that it spans the availble width
  .changeset/nasty-lemons-argue.md
  themes/theme-rui/src/components/Card.styles.ts
Labels: type:feature

#4618 feat[DST-856]: Add TimeField Component
  .changeset/lemon-chairs-allow.md
  docs/content/components/form/timefield/timefield-appearance.demo.tsx
  docs/content/components/form/timefield/timefield-min-max.demo.tsx
  docs/content/components/form/timefield/timefield.mdx
  docs/public/timefield/timefield-anatomy.jpg
  packages/components/src/TimeField/TimeField.stories.tsx
  packages/components/src/TimeField/TimeField.test.tsx
  packages/components/src/TimeField/TimeField.tsx
  packages/components/src/TimeField/index.ts
  packages/components/src/index.ts
  themes/theme-rui/src/components/DateField.styles.ts
Labels: type:docs, type:feature

#4620 feat([DST-863]): Improve `Accordion.Header` when using additional content in the header.
  .changeset/fast-taxis-travel.md
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Accordion/AccordionHeader.tsx
Labels: type:feature

#4628 fix([DST-867]): Prevent focus ring from being cut of in `Accordion`
  themes/theme-rui/src/components/Accordion.styles.ts
Labels: type:feature

#4629 fix: `TimeField` test
  packages/components/src/TimeField/TimeField.stories.tsx
Labels: type:feature
