Repository marigold-ui/marigold, pull requests merged in 2025-04, with the labels that each got.

#4492 feat: add horizontal form example to storybook
  packages/components/src/Form/Form.stories.tsx
Labels: type:feature

#4501 chore([DSTSUP-109]): change visibility of icon to hidden when sorting…
  .changeset/calm-spoons-worry.md
  packages/components/src/Table/TableColumnHeader.tsx
Labels: type:feature

#4506 fix([DST-752]): use `rgba` instead of `alpha` value in our theme.css
  .changeset/late-crews-appear.md
  themes/theme-rui/src/theme.css
Labels: type:feature

#4508 fix: Use stone value without rgba to keep oklch color
  .changeset/spicy-pigs-beg.md
  themes/theme-rui/src/theme.css
Labels: type:feature

#4505 fix([DST-750]): Do not set styles for content in `<Accordion>`
  .changeset/sweet-points-smile.md
  packages/components/src/Accordion/Accordion.stories.tsx
  themes/theme-rui/src/components/Accordion.styles.ts
Labels: type:feature

#4511 [DST-768]: add exports to marigold packages
  docs/content/components/form/search-field/search-field-basic.demo.tsx
  docs/content/components/form/search-field/searchfield-appearance.demo.tsx
  docs/content/components/form/slider/slider-form.demo.tsx
  packages/components/package.json
  packages/icons/package.json
  packages/system/package.json
Labels: type:docs, type:feature

#4510 refa([DST-755]): Cleanup `NumberField` styles for RUI + left align when stepper is hidden
  .changeset/tidy-cars-compete.md
  packages/components/src/NumberField/NumberField.tsx
  themes/theme-b2b/src/components/NumberField.styles.ts
  themes/theme-core/src/components/NumberField.styles.ts
  themes/theme-rui/src/components/NumberField.styles.ts
Labels: type:feature

#4499 feat(733): Introduce a `<Drawer>` component
  .changeset/curly-pianos-smash.md
  docs/scripts/build-component-props.mjs
  packages/components/package.json
  packages/components/src/Dialog/DialogTrigger.tsx
  packages/components/src/Drawer/Context.tsx
  packages/components/src/Drawer/Drawer.stories.tsx
  packages/components/src/Drawer/Drawer.test.tsx
  packages/components/src/Drawer/Drawer.tsx
  packages/components/src/Drawer/DrawerActions.tsx
  packages/components/src/Drawer/DrawerContent.tsx
  packages/components/src/Drawer/DrawerModal.tsx
  packages/components/src/Drawer/DrawerTitle.tsx
  packages/components/src/Drawer/DrawerTrigger.tsx
  packages/components/src/Drawer/index.ts
  packages/components/src/Overlay/NonModal.test.tsx
  packages/components/src/Overlay/NonModal.tsx
  packages/components/src/Overlay/index.ts
  packages/components/src/Overlay/useNonModal.ts
  packages/components/src/Provider/OverlayContainerProvider.test.tsx
  packages/components/src/Provider/OverlayContainerProvider.tsx
  packages/components/src/utils/useRenderProps.tsx
  packages/system/src/hooks/useSmallScreen.test.tsx
  packages/system/src/types/theme.ts
  pnpm-lock.yaml
  themes/theme-rui/src/components/Button.styles.ts
  themes/theme-rui/src/components/Dialog.styles.ts
  themes/theme-rui/src/components/Drawer.styles.ts
  themes/theme-rui/src/components/index.ts
  themes/theme-rui/src/theme.css
Labels: type:docs, type:feature

#4520 update all minor and patch dependencies
  config/eslint/package.json
  config/jest/package.json
  config/storybook/package.json
  docs/package.json
  package.json
  packages/components/package.json
  packages/icons/package.json
  packages/system/package.json
  packages/types/package.json
  pnpm-lock.yaml
  themes/theme-b2b/package.json
  themes/theme-core/package.json
  themes/theme-docs/package.json
  themes/theme-rui/package.json
Labels: type:docs, type:feature, type:infrastructure

#4521 docs([DST-773]): Apply custom styles to global scrollbar
  docs/app/layout.tsx
Labels: type:docs

#4526 update types/node major version
  docs/package.json
  package.json
  pnpm-lock.yaml
Labels: type:docs

#4524 update eslint and prettier major versions
  config/eslint/package.json
  config/prettier/package.json
  pnpm-lock.yaml
Labels: type:infrastructure

#4525 update react-markdown major version
  docs/package.json
  docs/ui/mdx.tsx
  pnpm-lock.yaml
Labels: type:docs

#4527 update shiki major version
  docs/package.json
  pnpm-lock.yaml
Labels: type:docs

#4529 fix([DSTSUP-118]): Fix icon position in input fields
  .changeset/large-donkeys-rule.md
  themes/theme-b2b/src/components/Input.styles.ts
  themes/theme-core/src/components/Input.styles.ts
Labels: type:feature

#4489 adding multiselect rui style s
  .changeset/light-bears-trade.md
  packages/components/src/Multiselect/Multiselect.stories.tsx
  packages/components/src/Multiselect/Multiselect.tsx
  themes/theme-rui/src/components/Multiselect.styles.ts
  themes/theme-rui/src/components/index.ts
Labels: type:feature

#4531 fix([DSTSUP-114]): Make Multiselect props optional explicitly
  packages/components/src/Multiselect/Multiselect.tsx
Labels: type:feature

#4532 chore([DSTSUP-111]): Icon size in `<SectionMessage>`
  .changeset/six-fans-hug.md
  themes/theme-rui/src/components/SectionMessage.styles.ts
Labels: type:feature

#4500 refa(DST-747): Enhance Overlay Components
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Dialog/DialogTrigger.tsx
Labels: type:feature

#4541 refa([DST-720]): Rename `option` to `item` in styles for `<ListBox>`
  .changeset/afraid-steaks-hang.md
  packages/components/src/Autocomplete/Autocomplete.test.tsx
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/ListBox/ListBoxItem.tsx
  packages/components/src/Provider/OverlayContainerProvider.test.tsx
  packages/components/src/SearchField/SearchField.test.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/SelectList/SelectList.test.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/ListBox.styles.ts
  themes/theme-core/src/components/ListBox.styles.ts
  themes/theme-docs/src/components/ListBox.styles.ts
  themes/theme-rui/src/components/ListBox.styles.ts
Labels: type:feature

#4544 refa(DST-736): Convert class mixins to Tailwind utilities
  themes/theme-rui/package.json
  themes/theme-rui/src/components/Accordion.styles.ts
  themes/theme-rui/src/components/Badge.styles.ts
  themes/theme-rui/src/components/Button.styles.ts
  themes/theme-rui/src/components/Calendar.styles.ts
  themes/theme-rui/src/components/Checkbox.styles.ts
  themes/theme-rui/src/components/DateField.styles.ts
  themes/theme-rui/src/components/Dialog.styles.ts
  themes/theme-rui/src/components/Drawer.styles.ts
  themes/theme-rui/src/components/Input.styles.ts
  themes/theme-rui/src/components/ListBox.styles.ts
  themes/theme-rui/src/components/NumberField.styles.ts
  themes/theme-rui/src/components/Pagination.styles.ts
  themes/theme-rui/src/components/Radio.styles.ts
  themes/theme-rui/src/components/SectionMessage.styles.ts
  themes/theme-rui/src/components/Select.styles.ts
  themes/theme-rui/src/components/Slider.styles.ts
  themes/theme-rui/src/components/Switch.styles.ts
  themes/theme-rui/src/components/Tabs.styles.ts
  themes/theme-rui/src/components/Tag.styles.ts
  themes/theme-rui/src/components/TextArea.styles.ts
  themes/theme-rui/src/mixins.css
  themes/theme-rui/src/theme.css
  themes/theme-rui/src/utils.css
Labels: type:feature

#4543 [DST-790]: migrate to vitest
  .github/workflows/component-tests.yml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  docs/ui/ThemeSwitch.test.tsx
  jest.config.js
  package.json
  packages/components/src/Autocomplete/Autocomplete.test.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Calendar/Calendar.test.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/CheckboxGroup.test.tsx
  packages/components/src/Columns/Columns.test.tsx
  packages/components/src/ComboBox/ComboBox.test.tsx
  packages/components/src/DateField/DateField.test.tsx
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Drawer/Drawer.test.tsx
  packages/components/src/Headline/__snapshots__/Headline.test.tsx.snap
  packages/components/src/Link/Link.test.tsx
  packages/components/src/Menu/Menu.test.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/Overlay/NonModal.test.tsx
  packages/components/src/Overlay/Popover.test.tsx
  packages/components/src/Pagination/Pagination.test.tsx
  packages/components/src/Provider/MarigoldProvider.test.tsx
  packages/components/src/Provider/OverlayContainerProvider.test.tsx
  packages/components/src/Radio/RadioGroup.test.tsx
  packages/components/src/SearchField/SearchField.test.tsx
  packages/components/src/Select/Select.test.tsx
  packages/components/src/SelectList/SelectList.test.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/components/src/TagGroup/TagGroup.test.tsx
  packages/system/src/hooks/extendTheme.test.tsx
  packages/system/src/hooks/useResponsiveValue.ssr.test.tsx
  packages/system/src/hooks/useResponsiveValue.test.tsx
  packages/system/src/hooks/useSmallScreen.test.tsx
  pnpm-lock.yaml
  tsconfig.check.json
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Labels: type:docs, type:feature, type:infrastructure

#4535 infra([DST-771]): Add safelist to theme-docs
  .changeset/wise-seals-taste.md
  themes/theme-b2b/src/styles.css
  themes/theme-core/src/styles.css
  themes/theme-docs/src/safelist.txt
  themes/theme-docs/src/styles.css
Labels: type:feature

#4553 fix([DST-794]): Set correct outline on focus for input and textarea
  .changeset/eleven-kiwis-agree.md
  themes/theme-rui/src/components/Input.styles.ts
  themes/theme-rui/src/components/TextArea.styles.ts
Labels: type:feature

#4554 feat([DST-759]): Create resuable close button component
  .changeset/yellow-beans-hug.md
  docs/scripts/build-component-props.mjs
  packages/components/src/CloseButton/CloseButton.tsx
  packages/components/src/CloseButton/index.ts
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/Drawer/Drawer.test.tsx
  packages/components/src/Drawer/Drawer.tsx
  packages/components/src/SectionMessage/SectionMessage.test.tsx
  packages/components/src/SectionMessage/SectionMessage.tsx
  packages/components/src/TagGroup/Tag.tsx
  packages/components/src/TagGroup/TagGroup.test.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/CloseButton.styles.ts
  themes/theme-b2b/src/components/Dialog.styles.ts
  themes/theme-b2b/src/components/SectionMessage.styles.ts
  themes/theme-b2b/src/components/Tag.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/CloseButton.styles.ts
  themes/theme-core/src/components/SectionMessage.styles.ts
  themes/theme-core/src/components/Tag.styles.ts
  themes/theme-core/src/components/index.ts
  themes/theme-rui/src/components/CloseButton.styles.ts
  themes/theme-rui/src/components/Dialog.styles.ts
  themes/theme-rui/src/components/Drawer.styles.ts
  themes/theme-rui/src/components/SectionMessage.styles.ts
  themes/theme-rui/src/components/Tag.styles.ts
  themes/theme-rui/src/components/index.ts
Labels: type:docs, type:feature

#4549 refa([DST-754]): Add `<FocusScope>` to `<Pagination>`
  .changeset/smart-buckets-double.md
  packages/components/src/DatePicker/DatePicker.test.tsx
  packages/components/src/Pagination/NavigationButton.tsx
  packages/components/src/Pagination/PageButton.tsx
  packages/components/src/Pagination/Pagination.stories.tsx
  packages/components/src/Pagination/Pagination.test.tsx
  packages/components/src/Pagination/Pagination.tsx
  packages/components/src/Pagination/useKeyboardNavigation.tsx
Labels: type:feature

#4557 fix([DST-232]): Align icon in `<HelpText>` to the start
  .changeset/fast-bees-count.md
  packages/components/src/HelpText/HelpText.tsx
Labels: type:feature

#4561 ([DST-797]) added 'cursor-pointer' to pagination sub-components
  themes/theme-rui/src/components/Pagination.styles.ts
Labels: type:feature

#4555 doc[DST-727]: replace-pagination-images-with-real-code-examples
  .changeset/early-pants-nail.md
  config/storybook/setupTest.ts
  docs/content/components/navigation/pagination/pagination-full.demo.tsx
  docs/content/components/navigation/pagination/pagination-no-data.demo.tsx
  docs/content/components/navigation/pagination/pagination.mdx
  packages/components/src/Pagination/Pagination.stories.tsx
  packages/components/src/Pagination/Pagination.test.tsx
  packages/components/src/Pagination/Pagination.tsx
  vitest.config.ts
Labels: type:docs, type:feature, type:infrastructure

#4565 fix: Expose `<Drawer>` component
  packages/components/src/index.ts
Labels: type:feature

#4559 refa([DST-762]): Unify Label API Across Form Fields
  .changeset/tiny-feet-enjoy.md
  docs/content/components/form/checkbox/checkbox-appearance.demo.tsx
  docs/content/components/form/checkbox/checkbox-indeterminate.demo.tsx
  docs/content/components/form/switch/switch-appearance.demo.tsx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Slider/Slider.tsx
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/components/src/Switch/Switch.tsx
Labels: type:docs, type:feature

#4474 Docs: Introduce useActionState
  docs/content/patterns/building-forms/building-forms-async.demo.tsx
  docs/content/patterns/building-forms/building-forms-submit.demo.tsx
  docs/content/patterns/building-forms/building-forms.mdx
Labels: type:docs

#4570 refa([DST-800]): Simplify animation in `<Drawer>`
  .changeset/early-dogs-grow.md
  themes/theme-rui/src/components/Drawer.styles.ts
  themes/theme-rui/src/theme.css
Labels: type:feature

#4569 feat([DST-799]): Add `unstyled` and `maxWidth` to `<Form>`
  .changeset/early-jeans-approve.md
  packages/components/src/Form/Form.stories.tsx
  packages/components/src/Form/Form.tsx
  packages/system/src/style-props.tsx
Labels: type:feature

#4564 feat:([DSTSUP-110]): Add surface tokens and utils
  .changeset/khaki-badgers-rhyme.md
  themes/theme-rui/src/components/Card.styles.ts
  themes/theme-rui/src/components/Dialog.styles.ts
  themes/theme-rui/src/components/Drawer.styles.ts
  themes/theme-rui/src/components/ListBox.styles.ts
  themes/theme-rui/src/components/Menu.styles.ts
  themes/theme-rui/src/components/Multiselect.styles.ts
  themes/theme-rui/src/components/Popover.styles.ts
  themes/theme-rui/src/theme.css
  themes/theme-rui/src/utils.css
Labels: type:feature

#4573 fix([DST-802]): remove unneeded classnames from `<Modal>`
  .changeset/kind-starfishes-remember.md
  packages/components/src/Overlay/Modal.tsx
Labels: type:feature

#4572 fix([DSTSUP-127]): Keyboard dismissable in command menu
  docs/app/_components/SiteMenu.tsx
  packages/components/src/Dialog/Dialog.stories.tsx
Labels: type:docs, type:feature

#4577 fix([DST-803]): Span empty state over the whole table width.
  .changeset/hot-socks-drum.md
  packages/components/src/Table/TableBody.tsx
Labels: type:feature
