Repository marigold-ui/marigold, pull requests merged in 2025-02, with the labels that each got.

#4410 fix(b2b): Fix height of inputs so they are the same height as buttons
  .changeset/eight-games-jam.md
  themes/theme-b2b/src/components/Input.styles.ts
Labels: type:feature

#4394 feat(DST-646): Improve a11y by translation fallback loading message
  .changeset/chilled-wolves-hide.md
  packages/components/src/XLoader/BaseLoader.tsx
  packages/components/src/XLoader/XLoader.stories.tsx
  packages/components/src/XLoader/XLoader.test.tsx
  packages/components/src/XLoader/XLoader.tsx
  packages/components/src/intl/messages.ts
Labels: type:feature

#4395 fix(DST-644): Make `<XLoader>` use underlay styles from theme in docs
  .changeset/quick-jars-sparkle.md
  packages/components/src/XLoader/XLoader.tsx
Labels: type:feature

#4413 feat[DST-641]: add normalization from core tailwind v3
  .changeset/fresh-gifts-peel.md
  themes/theme-core/src/styles.css
Labels: type:feature

#4414 fix(DST-679): use correct token for B2B Underlay
  .changeset/rotten-crabs-fly.md
  themes/theme-b2b/src/components/Underlay.styles.ts
Labels: type:feature

#4416 fix(DSTSUP-102): Set dimensions of checkmark
  .changeset/fuzzy-panthers-vanish.md
  packages/components/src/Checkbox/Checkbox.tsx
Labels: type:feature

#4420 bugfix[DSTSUP-100]: Bug in pagination component
  .changeset/afraid-carrots-carry.md
  packages/components/src/Pagination/Pagination.stories.tsx
  packages/components/src/Pagination/Pagination.tsx
Labels: type:feature

#4339 refa([DST-629]): Align `<XLoader>` modes with loading pattern naming convention
  .changeset/violet-cherries-drop.md
  docs/app/_components/SiteLogo.tsx
  docs/app/_components/SiteMenu.tsx
  docs/app/_components/landingpage/AccessibiltySection.tsx
  docs/app/page.tsx
  docs/content/components/content/xloader/xloader-fullscreen.demo.tsx
  docs/content/components/content/xloader/xloader-section.demo.tsx
  docs/content/components/content/xloader/xloader.mdx
  docs/content/patterns/loading-states/full-section.demo.tsx
  docs/content/patterns/loading-states/loading-states.mdx
  docs/content/recipes/navigation-recipes/topnavigation.demo.tsx
  docs/ui/PropsTable.tsx
  docs/ui/ShinyText.tsx
  docs/ui/layout/DefaultLayout.tsx
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/Center/Center.test.tsx
  packages/components/src/Center/Center.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Dialog/Dialog.tsx
  packages/components/src/NumberField/NumberField.test.tsx
  packages/components/src/NumberField/StepButton.tsx
  packages/components/src/Overlay/Popover.test.tsx
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Overlay/Underlay.tsx
  packages/components/src/Scrollable/Scrollable.test.tsx
  packages/components/src/Scrollable/Scrollable.tsx
  packages/components/src/XLoader/XLoader.stories.tsx
  packages/components/src/XLoader/XLoader.test.tsx
  packages/components/src/XLoader/XLoader.tsx
Labels: type:docs, type:feature, 🚨 Breaking Change

#4426 style([DST-642]): Setup new blank theme for RUI
  config/storybook/.storybook/preview.tsx
  config/storybook/package.json
  config/storybook/styles.css
  pnpm-lock.yaml
  themes/theme-rui/CHANGELOG.md
  themes/theme-rui/README.md
  themes/theme-rui/package.json
  themes/theme-rui/postcss.config.js
  themes/theme-rui/src/components/Button.styles.ts
  themes/theme-rui/src/components/Card.styles.ts
  themes/theme-rui/src/components/DateField.styles.ts
  themes/theme-rui/src/components/Field.styles.ts
  themes/theme-rui/src/components/HelpText.styles.ts
  themes/theme-rui/src/components/Input.styles.ts
  themes/theme-rui/src/components/Label.styles.ts
  themes/theme-rui/src/components/NumberField.styles.ts
  themes/theme-rui/src/components/TextArea.styles.ts
  themes/theme-rui/src/components/index.ts
  themes/theme-rui/src/index.ts
  themes/theme-rui/src/styles.css
  themes/theme-rui/src/theme.css
  themes/theme-rui/src/theme.ts
  themes/theme-rui/tsconfig.build.json
  themes/theme-rui/tsup.config.ts
Labels: type:feature, type:infrastructure

#4421 refa([DST-665]): Refa Accordion
  .changeset/fifty-horses-melt.md
  docs/content/components/collection/accordion/accordion-basic.demo.tsx
  docs/content/components/collection/accordion/accordion.mdx
  docs/content/components/collection/accordion/basic-accordion.demo.tsx
  docs/content/components/collection/accordion/single-select-accordion.demo.tsx
  docs/content/components/navigation/accordion/accordion-appearance.demo.tsx
  docs/content/components/navigation/accordion/accordion-content.demo.tsx
  docs/content/components/navigation/accordion/accordion-controlled-expanded.demo.tsx
  docs/content/components/navigation/accordion/accordion-form.demo.tsx
  docs/content/components/navigation/accordion/accordion.mdx
  docs/content/components/navigation/accordion/multi-select-accordion.demo.tsx
  docs/public/accordion/accordion-anatomy.jpg
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Accordion/Accordion.test.tsx
  packages/components/src/Accordion/Accordion.tsx
  packages/components/src/Accordion/AccordionContext.tsx
  packages/components/src/Accordion/AccordionHeading.tsx
  packages/components/src/Accordion/AccordionItem.tsx
  packages/components/src/Accordion/AccordionItems.stories.tsx
  packages/components/src/Accordion/AccordionPanel.tsx
  packages/components/src/Accordion/useAccordionItem.ts
  packages/system/src/types/theme.ts
  pnpm-lock.yaml
  themes/theme-b2b/src/components/Accordion.styles.ts
  themes/theme-core/src/components/Accordion.styles.ts
Labels: type:docs, type:feature

#4429 HOTFIX: add theme-plugins as dependency
  .changeset/rude-flies-live.md
  packages/theme-plugins/package.json
  pnpm-lock.yaml
  themes/theme-b2b/package.json
  themes/theme-b2b/src/theme.css
  themes/theme-core/package.json
  themes/theme-core/src/theme.css
  themes/theme-docs/package.json
  themes/theme-docs/src/theme.css
Labels: type:feature

#4432 HOTFIX: fix links to find plugins
  themes/theme-b2b/src/theme.css
  themes/theme-core/src/theme.css
  themes/theme-docs/src/theme.css
Labels: type:feature

#4431 fix([DSTSUP-104]): mobile behaviour for popover
  .changeset/twenty-baboons-clap.md
  packages/components/src/Overlay/Popover.test.tsx
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Overlay/Underlay.tsx
Labels: type:feature

#4435 feat([DST-689]): Allow to style body and header row of a `<Table>`
  .changeset/dull-crews-wink.md
  packages/components/src/Table/Context.tsx
  packages/components/src/Table/Table.test.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableBody.tsx
  packages/components/src/Table/TableHeaderRow.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Table.styles.ts
  themes/theme-core/src/components/Table.styles.ts
  themes/theme-docs/src/components/Table.styles.ts
Labels: type:feature

#4443 feat[DST-676]: add button styles to rui theme
  docs/scripts/build-component-props.mjs
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/ProgressCycle/ProgressCycle.test.tsx
  packages/components/src/ProgressCycle/ProgressCycle.tsx
  packages/components/src/Switch/Switch.test.tsx
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/ProgressCycle.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/ProgressCycle.styles.ts
  themes/theme-core/src/components/index.ts
  themes/theme-rui/src/components/Button.styles.ts
  themes/theme-rui/src/components/ProgressCycle.styles.ts
  themes/theme-rui/src/components/index.ts
  themes/theme-rui/src/theme.css
Labels: type:docs, type:feature

#4446 feat(DST-693): Expose `theme.css` files from packages
  .changeset/sixty-parrots-build.md
  themes/theme-b2b/package.json
  themes/theme-core/package.json
  themes/theme-docs/package.json
  themes/theme-rui/package.json
Labels: type:feature

#4445 fix(DST-691): Fix regresion, allow to use custom color values with `<Text>`, `<Headline>` and `<SVG>`
  .changeset/late-squids-grab.md
  packages/components/src/Headline/Headline.tsx
  packages/components/src/Text/Text.tsx
  packages/system/src/components/SVG/SVG.tsx
  packages/system/src/utils.test.ts
  packages/system/src/utils.ts
Labels: type:feature

#4449 fix(DST-696): Make it possible to only pass in the color name without a prefix
  .changeset/clever-otters-remain.md
  packages/components/src/Headline/Headline.tsx
  packages/components/src/Text/Text.tsx
  packages/system/src/components/SVG/SVG.tsx
  packages/system/src/utils.test.ts
  packages/system/src/utils.ts
Labels: type:feature

#4458 chore[DST-700]: refactoring color table
  docs/ui/ColorTable.tsx
Labels: type:docs

#4459 feat: allow React >=17.0.0
  .changeset/chilled-jars-build.md
  .changeset/poor-insects-push.md
  packages/components/package.json
  packages/components/src/XLoader/XLoader.tsx
  packages/icons/package.json
  packages/system/package.json
  packages/types/package.json
  pnpm-lock.yaml
Labels: type:feature
