Repository marigold-ui/marigold, pull requests merged in 2025-08, with the labels that each got.

#4717 [DST-887]: put certain pagination styles into the styles file
  packages/components/src/Pagination/Ellipsis.tsx
  packages/components/src/Pagination/NavigationButton.tsx
  packages/components/src/Pagination/PageButton.tsx
  packages/components/src/Pagination/Pagination.test.tsx
  packages/components/src/Pagination/Pagination.tsx
  packages/system/src/types/theme.ts
  themes/theme-rui/src/components/Pagination.styles.ts
Labels: type:feature

#4744 refa([DST-916]): Remove `<Header>` component
  .changeset/strange-timers-brake.md
  docs/app/_components/MobileNavigation.tsx
  docs/content/components/content/body/simple-body.demo.tsx
  docs/content/components/content/header/header.mdx
  docs/content/components/content/header/simple-header.demo.tsx
  docs/content/components/form/number-field/number-field-stepper.demo.tsx
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Header/Header.stories.tsx
  packages/components/src/Header/Header.test.tsx
  packages/components/src/Header/Header.tsx
  packages/components/src/Header/index.ts
  packages/components/src/Menu/MenuSection.tsx
  packages/components/src/index.ts
Labels: type:docs, type:feature

#4743 refa([DST-919]): Remove `<Image>` component
  .changeset/rare-cycles-sip.md
  docs/content/components/content/image/image-fit-position.demo.tsx
  docs/content/components/content/image/image.demo.tsx
  docs/content/components/content/image/image.mdx
  docs/content/components/content/xloader/xloader-section.demo.tsx
  docs/content/components/layout/aspect/aspect-image.demo.tsx
  docs/content/components/layout/aspect/aspect-max-width.demo.tsx
  docs/content/components/layout/aspect/aspect-ratio.demo.tsx
  docs/content/components/layout/breakout/breakout-appearance.demo.tsx
  docs/content/components/layout/breakout/breakout-complex.demo.tsx
  docs/content/components/layout/container/container-alignment.demo.tsx
  docs/content/components/layout/tiles/tiles-complex.demo.tsx
  docs/content/foundations/accessibility/accessibility-aria-live.demo.tsx
  package.json
  packages/components/src/Aspect/Aspect.stories.tsx
  packages/components/src/Container/Container.stories.tsx
  packages/components/src/Image/Image.stories.tsx
  packages/components/src/Image/Image.test.tsx
  packages/components/src/Image/Image.tsx
  packages/components/src/Image/index.ts
  packages/components/src/Tiles/Tiles.stories.tsx
  packages/components/src/index.ts
  packages/system/src/style-props.tsx
Labels: type:docs, type:feature, run-vrt

#4753 docs([DST-1002]): Remove banner about core-theme in `Button` docs
  .changeset/wicked-nails-complain.md
  docs/content/components/form/button/button.mdx
Labels: type:docs

#4755 feat([DST-728]): Animate `<Button>` on press
  .changeset/brown-balloons-jump.md
  themes/theme-rui/src/components/Button.styles.ts
  themes/theme-rui/src/components/CloseButton.styles.ts
Labels: type:feature

#4756 docs([DST-943]): Remove "recipes" section
  .changeset/polite-cobras-unite.md
  docs/content/components/collection/table/table.mdx
  docs/content/components/form/form/form.mdx
  docs/content/components/form/number-field/number-field.mdx
  docs/content/components/form/search-field/search-field.mdx
  docs/content/components/form/slider/slider.mdx
  docs/content/components/form/textfield/textfield.mdx
  docs/content/components/layout/split/split.mdx
  docs/content/patterns/building-forms/building-forms.mdx
  docs/content/patterns/loading-states/loading-states.mdx
  docs/content/recipes/form-recipes/bookings-form.demo.tsx
  docs/content/recipes/form-recipes/form-recipes.mdx
  docs/content/recipes/form-recipes/organization-search.demo.tsx
  docs/content/recipes/navigation-recipes/NavItem.tsx
  docs/content/recipes/navigation-recipes/ReservixLogo.tsx
  docs/content/recipes/navigation-recipes/navigation-recipes.mdx
  docs/content/recipes/navigation-recipes/topnavigation.demo.tsx
  docs/content/recipes/overview.mdx
  docs/content/recipes/table-recipes/core-table-print.demo.tsx
  docs/content/recipes/table-recipes/table-recipes.mdx
  docs/lib/config.ts
  docs/next.config.js
Labels: type:docs

#4740 fix([DSTSUP-173]): Rename `noOptionsMessage` to `emptyState` in `Multiselect` component
  .changeset/lemon-dogs-tell.md
  packages/components/src/Multiselect/Multiselect.stories.tsx
  packages/components/src/Multiselect/Multiselect.tsx
Labels: type:docs, type:feature

#4760 fix: remove deprecated components from theme type
  .changeset/dirty-apples-obey.md
  docs/scripts/build-component-props.mjs
  packages/components/src/Card/Card.test.tsx
  packages/components/src/Dialog/Dialog.test.tsx
  packages/components/src/Select/Select.test.tsx
  packages/system/src/types/theme.ts
  themes/theme-docs/src/components/Header.styles.ts
  themes/theme-docs/src/components/index.ts
  themes/theme-rui/src/components/Footer.styles.ts
  themes/theme-rui/src/components/Header.styles.ts
  themes/theme-rui/src/components/Image.styles.ts
  themes/theme-rui/src/components/index.ts
Labels: type:docs, type:feature

#4759 docs([DST-938]): Update `DateField` docs to show how to display time and timezone
  .changeset/curvy-timers-hunt.md
  docs/content/components/form/datefield/datefield-appearance.demo.tsx
  docs/content/components/form/datefield/datefield-granularity.demo.tsx
  docs/content/components/form/datefield/datefield-monthyear.demo.tsx
  docs/content/components/form/datefield/datefield-usage.demo.tsx
  docs/content/components/form/datefield/datefield.mdx
  docs/public/datefield/datefield-anatomy.jpg
Labels: type:docs

#4610 docs: update top nav recipe
  .changeset/chilly-needles-kneel.md
  docs/content/patterns/navigation/Logo.tsx
  docs/content/patterns/navigation/navigation.mdx
  docs/content/patterns/navigation/topnavigation.demo.tsx
  packages/components/src/Input/Input.stories.tsx
Labels: type:docs, type:feature

#4771 chore: remove unused and code cleanup
  docs/lib/config.ts
  packages/components/src/Accordion/Accordion.stories.tsx
Labels: type:docs, type:feature

#4772 refa([DST-1007]): Rename "secondary" to "default" variant and fix appearance demo
  .changeset/shiny-roses-melt.md
  docs/content/components/overlay/menu/menu-appearance.demo.tsx
  packages/components/src/Menu/Menu.stories.tsx
  themes/theme-rui/src/components/Menu.styles.ts
Labels: type:docs, type:feature

#4767 feat([DST-1004]): Format ranges with `DateFormat`
  .changeset/clean-clouds-exist.md
  docs/content/components/formatters/dateformat/dateformat-common-format.demo.tsx
  docs/content/components/formatters/dateformat/dateformat-range-format.demo.tsx
  docs/content/components/formatters/dateformat/dateformat-tabular-format.demo.tsx
  docs/content/components/formatters/dateformat/dateformat.mdx
  docs/content/components/formatters/dateformat/long-date-format.demo.tsx
  docs/content/components/formatters/dateformat/short-date-format.demo.tsx
  docs/content/components/formatters/numericformat/numericformat-common-format.demo.tsx
  docs/content/components/formatters/numericformat/numericformat-numbering-system-format.demo.tsx
  docs/content/components/formatters/numericformat/numericformat-range-format.demo.tsx
  docs/content/components/formatters/numericformat/numericformat-tabular-format.demo.tsx
  docs/content/components/formatters/numericformat/numericformat.mdx
  packages/system/src/components/Formatters/DateFormat.test.tsx
  packages/system/src/components/Formatters/DateFormat.tsx
Labels: type:docs, type:feature

#4778 chore: VRT apply latest diffs
  .github/workflows/visual-regression-tests.yml
Labels: type:infrastructure

#4774 feat([DST-1008]): Introduce a "remove all" function for `<Tag.Group>`
  .changeset/chatty-eggs-drive.md
  docs/content/components/collection/tag/tag-remove-all.demo.tsx
  docs/content/components/collection/tag/tag.mdx
  packages/components/src/ComboBox/ComboBox.stories.tsx
  packages/components/src/TagGroup/TagGroup.stories.tsx
  packages/components/src/TagGroup/TagGroup.tsx
  packages/components/src/TagGroup/TagGroupRemoveAll.tsx
  packages/components/src/intl/messages.ts
  packages/system/src/types/theme.ts
  themes/theme-rui/src/components/Tag.styles.ts
Labels: type:docs, type:feature, run-vrt

#4780 chore([DST-939]): remove obsolete Tailwind watcher and update Storybook setup
  .github/workflows/component-tests.yml
  .github/workflows/visual-regression-tests.yml
  config/storybook/.storybook/preview-body.html
  config/storybook/styles.css
  package.json
  packages/components/src/Autocomplete/Autocomplete.stories.tsx
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Calendar/Calendar.stories.tsx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/ComboBox/ComboBox.stories.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/Multiselect/Multiselect.stories.tsx
  packages/components/src/Pagination/Pagination.stories.tsx
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/TimeField/TimeField.stories.tsx
  packages/components/src/Toast/Toast.stories.tsx
  scripts/watch-tailwind.mjs
Labels: type:feature, type:infrastructure

#4783 refa(Inline): Rename `inputBaseline` to `input`
  docs/content/components/layout/inline/inline-input-button.demo.tsx
  docs/content/components/layout/inline/inline.mdx
  packages/components/src/Inline/Inline.stories.tsx
  packages/components/src/Inline/Inline.tsx
Labels: type:docs, type:feature

#4766 fix([DSTSUP-176]): Calendar - Hide, disable, limit the MonthListBox and YearListBox depening on minValue and maxValue
  .changeset/honest-zebras-sing.md
  packages/components/src/Calendar/Calendar.stories.tsx
  packages/components/src/Calendar/Calendar.test.tsx
  packages/components/src/Calendar/Calendar.tsx
  packages/components/src/Calendar/CalendarListBox.tsx
  packages/components/src/Calendar/ListBox.tsx
  packages/components/src/Calendar/MonthListBox.tsx
  packages/components/src/Calendar/YearListBox.tsx
  packages/components/src/Calendar/calendarListBoxSelectableCheck.ts
  themes/theme-rui/src/components/Calendar.styles.ts
Labels: type:feature
