Repository marigold-ui/marigold, pull requests merged in 2025-01, with the labels that each got.

#4365 doc[DST-603]: pagination documentation
  docs/content/components/navigation/pagination/pagination-appearance.demo.tsx
  docs/content/components/navigation/pagination/pagination.mdx
  docs/content/patterns/building-forms/building-forms.mdx
  docs/public/pagination/pagination-anatomy.jpg
  docs/public/pagination/pagination-do-aria-label.jpg
  docs/public/pagination/pagination-do-usage.jpg
  docs/public/pagination/pagination-dont-results-per-page.jpg
  docs/public/pagination/pagination-dont-usage.jpg
  docs/public/pagination/pagination-dont-visible-results.jpg
  docs/public/pagination/pagination-quantity-selector.jpg
  docs/public/pagination/pagination-results-indicator.jpg
  packages/components/src/index.ts
Labels: type:docs, type:feature

#4320 feat[DST-603]: implement pagination component
  docs/content/components/navigation/pagination/pagination-appearance.demo.tsx
  docs/content/components/navigation/pagination/pagination.mdx
  docs/content/patterns/building-forms/building-forms.mdx
  docs/public/pagination/pagination-anatomy.jpg
  docs/public/pagination/pagination-do-aria-label.jpg
  docs/public/pagination/pagination-do-usage.jpg
  docs/public/pagination/pagination-dont-results-per-page.jpg
  docs/public/pagination/pagination-dont-usage.jpg
  docs/public/pagination/pagination-dont-visible-results.jpg
  docs/public/pagination/pagination-quantity-selector.jpg
  docs/public/pagination/pagination-results-indicator.jpg
  docs/scripts/build-component-props.mjs
  packages/components/src/Pagination/Ellipsis.tsx
  packages/components/src/Pagination/NavigationButton.tsx
  packages/components/src/Pagination/PageButton.tsx
  packages/components/src/Pagination/Pagination.stories.tsx
  packages/components/src/Pagination/Pagination.test.tsx
  packages/components/src/Pagination/Pagination.tsx
  packages/components/src/Pagination/index.ts
  packages/components/src/Pagination/useKeyboardNavigation.tsx
  packages/components/src/Pagination/usePageRange.tsx
  packages/components/src/index.ts
  packages/system/src/types/theme.ts
  themes/theme-b2b/src/components/Pagination.styles.ts
  themes/theme-b2b/src/components/index.ts
  themes/theme-core/src/components/Pagination.styles.ts
  themes/theme-core/src/components/index.ts
Labels: type:docs, type:feature

#4371 fix([DST-635]): fix MDX in Release Overview pages for descriptions
  docs/ui/blog/LatestPost.tsx
  docs/ui/blog/PostList.tsx
Labels: type:docs

#4370 chore: patch, minor dependency updates
  config/eslint/package.json
  config/jest/package.json
  config/storybook/package.json
  docs/package.json
  package.json
  packages/components/src/SelectList/SelectListItem.tsx
  packages/components/src/TagGroup/Tag.tsx
  packages/system/package.json
  packages/theme-preset/package.json
  packages/types/package.json
  pnpm-lock.yaml
  themes/theme-b2b/package.json
  themes/theme-core/package.json
  themes/theme-docs/package.json
Labels: type:docs, type:feature, type:infrastructure

#4372 docs([DST-637]): fixed typo and link
  docs/content/getting-started/governance-process.mdx
  pnpm-lock.yaml
Labels: type:docs

#4373 fix([DST-636]): fix tag story
  packages/components/src/TagGroup/TagGroup.stories.tsx
Labels: type:feature

#4375 chore: update to react 19
  config/eslint/package.json
  config/jest/package.json
  config/storybook/package.json
  docs/app/_components/CommandItems.tsx
  docs/package.json
  docs/ui/IconList.tsx
  docs/ui/TeaserCard.tsx
  docs/ui/Toc.tsx
  package.json
  packages/components/package.json
  packages/components/src/Accordion/Accordion.tsx
  packages/components/src/Accordion/useAccordionItem.ts
  packages/components/src/Aside/Aside.tsx
  packages/components/src/DateField/DateField.tsx
  packages/components/src/DateField/DateInput.tsx
  packages/components/src/Input/Input.tsx
  packages/components/src/SearchField/SearchField.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableCell.tsx
  packages/components/src/Table/TableSelectAllCell.tsx
  packages/components/src/test.utils.tsx
  packages/icons/package.json
  packages/system/package.json
  packages/types/package.json
  packages/types/src/react.ts
  pnpm-lock.yaml
Labels: type:docs, type:feature, type:infrastructure

#4378 docs([DST-640]): fix build error
  docs/app/_components/CommandItems.tsx
Labels: type:docs

#4374 fix([DST-638]): update package.jsons to resolve warning
  .changeset/purple-seas-thank.md
  themes/theme-b2b/package.json
  themes/theme-core/package.json
  themes/theme-docs/package.json
Labels: type:feature

#4377 docs([DST-639]): remove old badges
  docs/content/components/content/badge/badge.mdx
  docs/content/components/content/card/card.mdx
  docs/content/components/form/button/button.mdx
  docs/content/components/form/datefield/datefield.mdx
  docs/content/components/form/datepicker/datepicker.mdx
  docs/content/components/form/slider/slider.mdx
  docs/content/components/layout/aside/aside.mdx
  docs/content/components/layout/center/center.mdx
  docs/content/components/layout/columns/columns.mdx
  docs/content/components/layout/scrollable/scrollable.mdx
  docs/content/components/overlay/dialog/dialog.mdx
  docs/content/patterns/loading-states/loading-states.mdx
Labels: type:docs

#4385 chore: update peer deps of @marigold/types
  packages/types/package.json
Labels: type:feature

#4398 fix([DST-651]): adjust release action for slack notification
  .github/workflows/release.yml
Labels: type:infrastructure
