Repository marigold-ui/marigold, pull requests merged in 2025-06, with the labels that each got.

#4633 chore([DST-882]): Remove default right alignment in RUI table
  .changeset/quiet-buses-kick.md
  themes/theme-rui/src/components/Table.styles.ts
Labels: type:feature

#4634 feat([DST-883]): new variant for RUI table
  .changeset/eight-singers-kneel.md
  packages/components/src/Table/Table.stories.tsx
  themes/theme-rui/src/components/Table.styles.ts
Labels: type:feature

#4637 feat([DST-884]): add vertical alignment property to table
  .changeset/tiny-crews-prove.md
  docs/content/components/collection/table/table.mdx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/TableCell.tsx
  packages/components/src/Table/TableCheckboxCell.tsx
  themes/theme-rui/src/components/Table.styles.ts
Labels: type:docs, type:feature

#4631 feat[DST-731]: Add ContextualHelp Component with Docs
  .changeset/light-wasps-argue.md
  docs/content/components/overlay/ContextualHelp/contextualhelp-appearance.demo.tsx
  docs/content/components/overlay/ContextualHelp/contextualhelp-interactive.demo.tsx
  docs/content/components/overlay/ContextualHelp/contextualhelp-placement.demo.tsx
  docs/content/components/overlay/ContextualHelp/contextualhelp.mdx
  docs/public/contextualhelp/contextualhelp-anatomy.jpg
  docs/public/contextualhelp/contextualhelp-do.jpg
  docs/public/contextualhelp/contextualhelp-dont.jpg
  docs/scripts/build-component-props.mjs
  packages/components/src/ContextualHelp/ContextualHelp.stories.tsx
  packages/components/src/ContextualHelp/ContextualHelp.test.tsx
  packages/components/src/ContextualHelp/ContextualHelp.tsx
  packages/components/src/ContextualHelp/ContextualHelpContent.tsx
  packages/components/src/ContextualHelp/ContextualHelpTitle.tsx
  packages/components/src/ContextualHelp/index.ts
  packages/components/src/index.ts
  packages/system/src/types/theme.ts
  themes/theme-core/src/components/ContextualHelp.styles.ts
  themes/theme-core/src/components/index.ts
  themes/theme-rui/src/components/ContextualHelp.styles.ts
  themes/theme-rui/src/components/index.ts
Labels: type:docs, type:feature

#4639 fix: add token for link
  themes/theme-rui/src/components/Link.styles.ts
  themes/theme-rui/src/theme.css
Labels: type:feature

#4640 fix[DST-812]: Migrate from UNSTABLE_portalContainer to UNSAFE_PortalProvider
  .changeset/silent-garlics-battle.md
  packages/components/src/Overlay/Popover.tsx
  packages/components/src/Overlay/Underlay.tsx
  packages/components/src/Provider/OverlayContainerProvider.test.tsx
  packages/components/src/Tooltip/Tooltip.tsx
Labels: type:feature

#4668 [DST-806]: use repository-dispatch
  .github/workflows/component-tests.yml
Labels: type:infrastructure
