Repository marigold-ui/marigold, pull requests merged in 2025-09, with the labels that each got.

#4794 feat([DST-1003]): Update `variant` property to use defined types
  .changeset/all-beans-melt.md
  docs/app/_components/landingpage/AccessibiltySection.tsx
  docs/content/components/content/badge/badge-appearance.demo.tsx
  docs/content/components/content/card/card-appearance.demo.tsx
  docs/content/components/hooks-and-utils/extendTheme/button-variant.demo.tsx
  docs/content/components/layout/inset/inset-hv.demo.tsx
  docs/content/foundations/accessibility/accessibility-keyboard.demo.tsx
  docs/content/patterns/feedback-messages/confirmation-dialog.demo.tsx
  packages/components/src/Accordion/Accordion.tsx
  packages/components/src/Badge/Badge.tsx
  packages/components/src/Breadcrumbs/Breadcrumbs.tsx
  packages/components/src/Breadcrumbs/BreadcrumbsItem.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/Card/Card.stories.tsx
  packages/components/src/Card/Card.tsx
  packages/components/src/Collapsible/Collapsible.tsx
  packages/components/src/Collapsible/CollapsibleTrigger.tsx
  packages/components/src/Divider/Divider.tsx
  packages/components/src/Headline/Headline.tsx
  packages/components/src/IconButton/IconButton.tsx
  packages/components/src/Link/Link.tsx
  packages/components/src/Menu/Menu.tsx
  packages/components/src/Table/Table.tsx
  packages/components/src/Text/Text.tsx
  packages/components/src/Tooltip/Tooltip.tsx
  packages/components/src/XLoader/BaseLoader.tsx
Labels: type:docs, type:feature

#4757 docs: Release notes for Marigold v15.0.0
  .changeset/shiny-roses-melt.md
  docs/content/releases/blog/release-2025-07-22.mdx
  docs/content/releases/blog/release-2025-08-31.mdx
  docs/content/releases/blog/release-2025-09-01.mdx
  docs/public/toast/toast-anatomy.jpg
Labels: type:docs

#4817 Fix: remove empty text-area file
  docs/content/components/form/text-area/text-area.mdx
Labels: type:docs

#4821 Fix([DSTSUP-181]): Adjust Accordion.Header styles to support full width
  .changeset/loud-badgers-wave.md
  packages/components/src/Accordion/Accordion.stories.tsx
  packages/components/src/Accordion/Accordion.test.tsx
  packages/components/src/Accordion/AccordionHeader.tsx
  themes/theme-rui/src/components/Accordion.styles.ts
Labels: type:feature

#4824 chore: allow `react-aria` patch version range as dependencies
  .changeset/mighty-mugs-leave.md
  packages/components/package.json
  packages/system/package.json
  pnpm-lock.yaml
  themes/theme-rui/package.json
Labels: type:feature

#4828 feat([DST-1037]): Add `description` (help text) to `<Checkbox>` component
  .changeset/shiny-kangaroos-fry.md
  docs/content/components/form/checkbox/checkbox-description.demo.tsx
  docs/content/components/form/checkbox/checkbox.mdx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/Checkbox.test.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/SelectList/SelectList.test.tsx
  packages/components/src/Table/Table.test.tsx
  themes/theme-rui/src/components/Checkbox.styles.ts
Labels: type:docs, type:feature

#4839 docs: remove info message from pagination docs
  .changeset/dirty-owls-collect.md
  docs/content/components/navigation/pagination/pagination.mdx
Labels: type:docs

#4840 fix(Tag): Adjust tag styles (no extra padding if empty state is small, e.g. only text)
  .changeset/strong-seas-tease.md
  themes/theme-rui/src/components/Tag.styles.ts
Labels: type:feature

#4838 feat([DST-1044]): Introduce `LinkButton` component
  .changeset/pretty-spiders-admire.md
  docs/content/components/actions/button/button-appearance.demo.tsx
  docs/content/components/actions/button/button-disabled.demo.tsx
  docs/content/components/actions/button/button-full-width.demo.tsx
  docs/content/components/actions/button/button-icon.demo.tsx
  docs/content/components/actions/button/button-link.demo.tsx
  docs/content/components/actions/button/button-loading.demo.tsx
  docs/content/components/actions/button/button-press.demo.tsx
  docs/content/components/actions/button/button.mdx
  docs/content/components/actions/link-button/link-button.mdx
  docs/content/components/actions/link-button/linkbutton-appearance.demo.tsx
  docs/content/components/actions/link/link-anchor.demo.tsx
  docs/content/components/actions/link/link-appearance.demo.tsx
  docs/content/components/actions/link/link-disabled.demo.tsx
  docs/content/components/actions/link/link-download.demo.tsx
  docs/content/components/actions/link/link-standard.demo.tsx
  docs/content/components/actions/link/link.mdx
  docs/content/components/form/button/button-appearance.demo.tsx
  docs/content/components/overview.mdx
  docs/content/foundations/form-fields/form-fields.mdx
  docs/content/patterns/loading-states/loading-states.mdx
  docs/content/releases/blog/release-2024-11-27.mdx
  docs/content/releases/blog/release-2025-07-08.mdx
  docs/content/releases/blog/release-2025-07-22.mdx
  docs/content/releases/blog/release-2025-09-01.mdx
  docs/contentlayer.config.ts
  docs/lib/config.ts
  docs/lib/utils.tsx
  packages/components/src/Button/Button.tsx
  packages/components/src/LinkButton/LinkButton.stories.tsx
  packages/components/src/LinkButton/LinkButton.test.tsx
  packages/components/src/LinkButton/LinkButton.tsx
  packages/components/src/LinkButton/index.tsx
  packages/components/src/index.ts
  packages/system/src/hooks/extendTheme.test.tsx
  themes/theme-rui/src/components/Button.styles.ts
Labels: type:docs, type:feature

#4842 fix([DST-1046]): Remove extra padding at the bottom of `<Select>`.
  .changeset/wise-beans-exercise.md
  themes/theme-rui/src/components/HelpText.styles.ts
  themes/theme-rui/src/components/Select.styles.ts
Labels: type:feature

#4843 feat([DST-1047]): Improve `<List>` styles and add `small` variant
  .changeset/green-coats-search.md
  packages/components/src/List/List.stories.tsx
  themes/theme-rui/src/components/List.styles.ts
Labels: type:feature

#4844 fix([DST-1049]): Add 'text-sm' class to Link component styles
  .changeset/four-vans-kick.md
  packages/components/src/Link/Link.stories.tsx
  themes/theme-rui/src/components/Link.styles.ts
Labels: type:feature

#4850 fix([DST-1054]): Add missing font color in accordion component
  .changeset/green-ties-applaud.md
  themes/theme-rui/src/components/Accordion.styles.ts
Labels: type:feature

#4852 fix([DST-1057]): Add missing background color for master and admin badge
  .changeset/sweet-fishes-lick.md
  themes/theme-rui/src/components/Badge.styles.ts
Labels: type:feature

#4856 feat([DST-1069]): Add `noWrap` prop to `<Inline>`
  .changeset/gold-crabs-sell.md
  docs/content/components/layout/inline/inline-horizontally.demo.tsx
  docs/content/components/layout/inline/inline-nowrap.demo.tsx
  docs/content/components/layout/inline/inline-vertically.demo.tsx
  docs/content/components/layout/inline/inline.mdx
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Button/Button.test.tsx
  packages/components/src/Inline/Inline.stories.tsx
  packages/components/src/Inline/Inline.test.tsx
  packages/components/src/Inline/Inline.tsx
Labels: type:docs, type:feature, type:infrastructure

#4854 feat([DST-1061]): Add more alignment options to `<Inline>`, `<Stack>` and `<Grid>`
  .changeset/happy-ravens-provide.md
  docs/content/components/layout/inline/inline-horizontally.demo.tsx
  docs/content/components/layout/stack/stack-vertical.demo.tsx
  docs/content/components/layout/stack/stack.mdx
  docs/ui/Token.tsx
  packages/components/src/Inline/Inline.stories.tsx
  packages/components/src/Inline/Inline.tsx
  packages/components/src/Stack/Stack.stories.tsx
  packages/system/src/style-props.tsx
Labels: type:docs, type:feature

#4857 docs: Release Notes 15.3.0.
  docs/content/components/actions/link/link.mdx
  docs/content/components/collection/table/table.mdx
  docs/content/components/collection/tag/tag.mdx
  docs/content/components/content/list/list.mdx
  docs/content/components/content/text/text.mdx
  docs/content/components/form/autocomplete/autocomplete.mdx
  docs/content/components/form/combobox/combobox.mdx
  docs/content/components/form/radio/radio.mdx
  docs/content/components/form/slider/slider.mdx
  docs/content/components/form/textarea/textarea.mdx
  docs/content/components/formatters/dateformat/dateformat.mdx
  docs/content/components/formatters/numericformat/numericformat.mdx
  docs/content/components/layout/inline/inline.mdx
  docs/content/components/navigation/accordion/accordion.mdx
  docs/content/components/overlay/menu/menu.mdx
  docs/content/releases/blog/release-2025-09-01.mdx
  docs/content/releases/blog/release-2025-09-30.mdx
Labels: type:docs
