Repository marigold-ui/marigold, pull requests merged in 2025-07, with the labels that each got.

#4669 [DSTSUP-161]: adjust multiselect styles
  .changeset/great-seals-accept.md
  packages/components/src/Multiselect/Multiselect.stories.tsx
  packages/components/src/Multiselect/Multiselect.test.tsx
  packages/components/src/Multiselect/Multiselect.tsx
  themes/theme-rui/src/components/Multiselect.styles.ts
Labels: type:feature, type:infrastructure

#4673 [DST-910]: upgrade SB to v9
  config/storybook/.storybook/main.ts
  config/storybook/.storybook/preview.tsx
  config/storybook/package.json
  eslint.config.mjs
  package.json
  packages/components/src/Autocomplete/Autocomplete.stories.tsx
  packages/components/src/Button/Button.stories.tsx
  packages/components/src/Calendar/Calendar.stories.tsx
  packages/components/src/Checkbox/Checkbox.stories.tsx
  packages/components/src/Checkbox/CheckboxGroup.stories.tsx
  packages/components/src/ComboBox/ComboBox.stories.tsx
  packages/components/src/Container/Container.stories.tsx
  packages/components/src/DateField/DateField.stories.tsx
  packages/components/src/DatePicker/DatePicker.stories.tsx
  packages/components/src/Dialog/Dialog.stories.tsx
  packages/components/src/HelpText/HelpText.stories.tsx
  packages/components/src/Input/Input.stories.tsx
  packages/components/src/Menu/Menu.stories.tsx
  packages/components/src/Multiselect/Multiselect.stories.tsx
  packages/components/src/NumberField/NumberField.stories.tsx
  packages/components/src/Pagination/Pagination.stories.tsx
  packages/components/src/Radio/Radio.stories.tsx
  packages/components/src/RouterProvider/RouterProvider.stories.tsx
  packages/components/src/Scrollable/Scrollable.stories.tsx
  packages/components/src/SearchField/SearchField.stories.tsx
  packages/components/src/SectionMessage/SectionMessage.stories.tsx
  packages/components/src/Select/Select.stories.tsx
  packages/components/src/Slider/Slider.stories.tsx
  packages/components/src/Switch/Switch.stories.tsx
  packages/components/src/Table/Table.stories.tsx
  packages/components/src/Table/TableColumn.stories.tsx
  packages/components/src/TagGroup/TagGroup.stories.tsx
  packages/components/src/TextArea/TextArea.stories.tsx
  packages/components/src/TextField/TextField.stories.tsx
  packages/components/src/TimeField/TimeField.stories.tsx
  packages/components/src/Tooltip/TooltipTrigger.stories.tsx
  pnpm-lock.yaml
Labels: type:feature, type:infrastructure

#4679 docs([DST-914]): Update Divider docs
  .changeset/fluffy-rings-trade.md
  docs/content/components/content/divider/divider-appearance.demo.tsx
  docs/content/components/content/divider/divider-bold.demo.tsx
  docs/content/components/content/divider/divider-section.demo.tsx
  docs/content/components/content/divider/divider-text.demo.tsx
  docs/content/components/content/divider/divider.mdx
  docs/public/divider/divider-anatomy.jpg
  packages/components/src/Divider/Divider.tsx
  themes/theme-rui/src/components/Divider.styles.ts
Labels: type:docs, type:feature

#4672 feat([DSTSUP-158]): List accessibility for `<Stack>` component
  .changeset/perfect-bikes-hang.md
  docs/content/components/content/list/list-appearance.demo.tsx
  docs/content/components/content/list/list-ordered.demo.tsx
  docs/content/components/content/list/list-unorded-stacked.demo.tsx
  docs/content/components/content/list/list.mdx
  docs/content/components/content/list/simple-list.demo.tsx
  docs/content/components/layout/stack/stack.mdx
  docs/public/list/list-amount-do.jpg
  docs/public/list/list-amount-dont.jpg
  docs/public/list/list-anatomy.jpg
  packages/components/src/List/List.test.tsx
  packages/components/src/Stack/Stack.stories.tsx
  packages/components/src/Stack/Stack.test.tsx
  packages/components/src/Stack/Stack.tsx
Labels: type:docs, type:feature, type:infrastructure

#4680 [DST-924]: add visual regression setup
  .github/workflows/visual-regression-tests.yml
  config/storybook/chromatic.config.json
  config/storybook/package.json
  packages/components/src/Pagination/Pagination.stories.tsx
  vitest.config.ts
Labels: type:feature, type:infrastructure

#4691 feat([DST-932]): Align `<ContextualHelp>` design + fix docs variant/size selection
  docs/content/components/form/button/button-appearance.demo.tsx
  docs/content/components/overlay/ContextualHelp/contextualhelp-appearance.demo.tsx
  docs/content/components/overlay/ContextualHelp/contextualhelp-interactive.demo.tsx
  docs/content/components/overlay/contextual-help/contextual-help-interactive.demo.tsx
  docs/content/components/overlay/contextual-help/contextual-help-placement.demo.tsx
  docs/content/components/overlay/contextual-help/contextual-help.mdx
  docs/content/components/overlay/contextual-help/contextualhelp-appearance.demo.tsx
  packages/components/src/ContextualHelp/ContextualHelp.tsx
  themes/theme-rui/src/components/ContextualHelp.styles.ts
Labels: type:docs, type:feature

#4693 docs([DST-918]): Revise Icon page to match component pages
  .changeset/silent-avocados-watch.md
  docs/content/components/content/icon/icon-fill.demo.tsx
  docs/content/components/content/icon/icon.mdx
Labels: type:docs

#4697 bugfix([DST-934]): fix mobile navigation
  themes/theme-docs/src/components/CloseButton.styles.ts
  themes/theme-docs/src/components/index.ts
Labels: type:feature

#4705 fix[DSTSUP-169]: Fix width property on Calendar component
  .changeset/beige-cars-lie.md
  packages/components/src/Calendar/Calendar.stories.tsx
  packages/components/src/Calendar/Calendar.tsx
  themes/theme-rui/src/components/Calendar.styles.ts
Labels: type:feature

#4704 feat([DST-937]): Add master and admin mark variants
  .changeset/silver-games-happen.md
  packages/components/src/Badge/Badge.stories.tsx
  packages/components/src/Checkbox/Checkbox.tsx
  packages/components/src/Radio/RadioGroup.tsx
  packages/components/src/patterns/admin-master-mark.stories.tsx
  themes/theme-rui/src/components/Badge.styles.ts
  themes/theme-rui/src/components/Checkbox.styles.ts
  themes/theme-rui/src/components/Label.styles.ts
  themes/theme-rui/src/components/Table.styles.ts
  themes/theme-rui/src/theme.css
Labels: type:feature

#4703 docs([DST-936]): Update tooltip page
  .changeset/dirty-cats-repeat.md
  docs/content/components/overlay/tooltip/tooltip-appearance.demo.tsx
  docs/content/components/overlay/tooltip/tooltip-basic.demo.tsx
  docs/content/components/overlay/tooltip/tooltip-focus.demo.tsx
  docs/content/components/overlay/tooltip/tooltip-placement.demo.tsx
  docs/content/components/overlay/tooltip/tooltip-usage.demo.tsx
  docs/content/components/overlay/tooltip/tooltip.mdx
  pnpm-lock.yaml
  themes/theme-rui/src/components/Tooltip.styles.ts
Labels: type:docs, type:feature

#4712 docs: 22.07 release blog
  docs/content/releases/blog/release-2025-07-22.mdx
Labels: type:docs

#4686 feat([DST-737]): Toaster component
  .changeset/fuzzy-spiders-mix.md
  docs/app/_components/PortalContainer.tsx
  docs/app/layout.tsx
  docs/content/components/overlay/toast/toast-appearance.demo.tsx
  docs/content/components/overlay/toast/toast-auto-dismiss.demo.tsx
  docs/content/components/overlay/toast/toast-close-all.demo.tsx
  docs/content/components/overlay/toast/toast-programmatic-dismiss.demo.tsx
  docs/content/components/overlay/toast/toast-simple.demo.tsx
  docs/content/components/overlay/toast/toast.mdx
  docs/public/toast/toast-anatomy.jpg
  docs/scripts/build-component-props.mjs
  docs/scripts/build-registry.mjs
  packages/components/src/Headline/Headline.test.tsx
  packages/components/src/Toast/Toast.stories.tsx
  packages/components/src/Toast/Toast.test.tsx
  packages/components/src/Toast/Toast.tsx
  packages/components/src/Toast/ToastProvider.tsx
  packages/components/src/Toast/ToastQueue.ts
  packages/components/src/Toast/index.ts
  packages/components/src/index.ts
  packages/system/src/types/theme.ts
  themes/theme-rui/src/components/Toast.styles.ts
  themes/theme-rui/src/components/index.ts
Labels: type:docs, type:feature

#4723 refa([DST-970]): Adjusted the shadows of fields and buttons.
  themes/theme-rui/src/components/Button.styles.ts
  themes/theme-rui/src/components/Calendar.styles.ts
  themes/theme-rui/src/components/Checkbox.styles.ts
  themes/theme-rui/src/components/Input.styles.ts
  themes/theme-rui/src/components/Menu.styles.ts
  themes/theme-rui/src/components/Multiselect.styles.ts
  themes/theme-rui/src/components/NumberField.styles.ts
  themes/theme-rui/src/components/Radio.styles.ts
  themes/theme-rui/src/components/Switch.styles.ts
Labels: type:feature

#4722 refa([DST-969]): Remove obsolete "text" variant from `<Button>`
  .changeset/tall-trains-own.md
  packages/components/src/Input/Input.stories.tsx
  themes/theme-rui/src/components/Button.styles.ts
Labels: type:feature

#4698 feat([DST-899]): Breadcrumb Component
  .changeset/smart-boxes-buy.md
  docs/content/components/navigation/accordion/accordion.mdx
  docs/content/components/navigation/breadcrumbs/breadcrumbs-appearance.demo.tsx
  docs/content/components/navigation/breadcrumbs/breadcrumbs-collapsing.demo.tsx
  docs/content/components/navigation/breadcrumbs/breadcrumbs-navigation.demo.tsx
  docs/content/components/navigation/breadcrumbs/breadcrumbs.mdx
  docs/public/breadcrumbs/breadcrumbs-anatomy.jpg
  docs/scripts/build-component-props.mjs
  packages/components/src/Breadcrumbs/BreadcrumbEllipsis.tsx
  packages/components/src/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/components/src/Breadcrumbs/Breadcrumbs.test.tsx
  packages/components/src/Breadcrumbs/Breadcrumbs.tsx
  packages/components/src/Breadcrumbs/BreadcrumbsItem.tsx
  packages/components/src/Breadcrumbs/index.ts
  packages/components/src/index.ts
  packages/system/src/types/theme.ts
  themes/theme-rui/src/components/Breadcrumbs.styles.ts
  themes/theme-rui/src/components/index.ts
Labels: type:docs, type:feature

#4721 fix(DST-968): Fix `<Tag>` styles and add multiselect tag filter to filter pattern
  .changeset/nine-pans-rush.md
  docs/app/(examples)/pattern/filter/applied-filter.tsx
  docs/app/(examples)/pattern/filter/toolbar.tsx
  docs/app/(examples)/pattern/filter/utils.tsx
  docs/app/(examples)/pattern/filter/venues-view.tsx
  docs/lib/data/venues.ts
  packages/components/src/TagGroup/TagGroup.tsx
  themes/theme-rui/src/components/Tag.styles.ts
Labels: type:docs, type:feature
